docs/workflow/backup_20260325_0120_v2記事工場_文字数調整完了.json
{"updatedAt":"2026-03-25T00:33:17.536Z","createdAt":"2026-03-23T14:22:48.901Z","id":"x43i3Lzy0D46EDcS","name":"SZ_AI_Media_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5},{"triggerAtHour":17}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,304],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"sz-ai-media-v2-test","options":{}},"name":"Webhook Test Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,512],"webhookId":"sz-ai-media-v2-test","id":"trigger-webhook"},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"name":"TechCrunch AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,112],"id":"rss-techcrunch"},{"parameters":{"url":"https://wired.com/feed/tag/ai/latest/rss","options":{}},"name":"Wired AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,304],"id":"rss-wired"},{"parameters":{"url":"https://news.google.com/rss/search?q=AI+artificial+intelligence+machine+learning&hl=en-US&gl=US&ceid=US:en&when:2d","options":{}},"name":"Google News RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,512],"id":"rss-google"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // 既知ドメインのペア（new URL()を使わず文字列マッチ）\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL文字列に既知ドメインが含まれるか（エンコードURL対応）\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summaryにドメインが含まれるか（Google News RSS対応）\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // 単純なregexでホスト名抽出\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"},"name":"RSS統合＋日付フィルターCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"rss-filter-code"},{"parameters":{"jsCode":"// ソースの多様性を優先しつつ、1ソースだけでも4件取れる完全ラウンドロビン\nconst items = $input.all();\nif (items.length === 0) throw new Error('ニュースが0件です');\n\n// ソースごとにグループ化\nconst bySource = {};\nfor (const item of items) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\n// ラウンドロビンで最大4件選択（どのラウンド数でも対応）\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 4) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 4) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break; // これ以上追加できない\n  round++;\n}\n\nif (selected.length < 4) {\n  throw new Error(`ニュースが${selected.length}本しか取得できなかったため停止（4本必要）`);\n}\nreturn selected;"},"name":"情報選別Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304],"id":"agent-select"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length < 4) {\n  throw new Error(`ニュースが${items.length}本しか取得できなかったため停止（4本必要）`);\n}\nreturn items;"},"name":"件数チェックCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"id":"count-check"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リライト用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,512],"id":"gemini-rewrite","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const title = $json.title || '';\n  const source = $json.source_media || '';\n  const date = $json.pubDate || '';\n  const summary = $json.summary || '';\n  const url = $json.url || '';\n\n  const roberPatterns = [\n    '【比喩転換型】技術を読者が知っている世界の比喩に変換して説明し、洞察を展開する。',\n    '【逆説型】「一般に〜と思われているが、構造的には逆で〜」という発見的洞察を展開する。',\n    '【時間軸転換型】「このペースが続くなら2030年には〜」と未来の具体的な場面に落とす。',\n    '【構造束ね型】複数の動向を束ねて一つの大きな構造変化として位置づけ、洞察を統合する。'\n  ];\n  const exitRoles = [\n    '翻訳者になれ（複雑な技術を身近な言葉で周囲に伝える立ち位置が選択肢を増やすかもしれない）',\n    '判断設計者になれ（何をいつ採用するかの判断基準を自分で持つ立ち位置が選択肢を増やすかもしれない）',\n    '意味の場を選べ（どの文脈でAIを使うかを選択する立ち位置が選択肢を増やすかもしれない）',\n    '実験者になれ（小さく試して検証するサイクルを持つ立ち位置が選択肢を増やすかもしれない）'\n  ];\n\n  const idx = $itemIndex % 4;\n  const roberStyle = roberPatterns[idx];\n  const exitRole = exitRoles[idx];\n\n  const prompt = `あなたはAI Survival Reportの記者です。JSONのみで回答してください（\\`\\`\\`不要）。\n\n【最重要・文字数制限（超えたら全体が失敗）】\n・fact_summary: 600字以内（日本語で数えて）\n・editorial_eye: 300字以内（日本語で数えて）\n短くまとめることが最優先。情報を詰め込みすぎない。\n\n【絶対ルール】\n1. URLは入力のURLをそのままコピー（変更禁止）\n2. 固有名詞・数字は原文のまま\n3. メディア名は入力のものをそのまま使用\n4. fact_summaryは「${source}によると、」で開始\n5. 入力データの事実のみ使用（知識補完・創作禁止）\n\n【入力データ】\nタイトル: ${title}\nメディア名: ${source}\n配信日: ${date}\n要約: ${summary}\nURL: ${url}\n\n【fact_summary（600字以内・だ・である調・5W1H）】\n「${source}によると、」で始める。誰が何をいつどこでなぜどうしたかを簡潔に。600字を超えたら失敗。\n\n【editorial_eye（300字以内・です・ます調）】\n3段構成だが合計300字以内に収める：\n①記述（50-80字）：なぜこれが起きているか\n②洞察（100-120字）：${roberStyle}\n③行動（80-100字）：${exitRole}\nラベル不要。箇条書き禁止。300字超えたら失敗。\n\n【出力JSONのみ】\n{\"japanese_headline\":\"固有名詞・数字入り日本語見出し20-35字\",\"original_title\":\"英語タイトルそのままコピー\",\"fact_summary\":\"${source}によると...600字以内\",\"editorial_eye\":\"300字以内の3段文章\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.1, maxOutputTokens: 16384}\n  });\n})() }}","options":{"response":{"response":{"fullResponse":false}}}},"name":"リライトAgent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,304],"id":"agent-rewrite"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1104,304],"id":"aggregate"},{"parameters":{"jsCode":"\n// editorial_eyeを300字以内に収める\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// outputフィールドのJSONをパースするヘルパー\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // すでに展開済み\n  let raw_str = '';\n  // Gemini API HTTP Response形式\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent 出力形式\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    try {\n      const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n      return JSON.parse(raw);\n    } catch(e) { return {}; }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### ◆ ${n.japanese_headline || ''}\\n\\n`;\n  body += `**配信日：** ${dateStr}　**出典：** ${n.source_media || ''}　**原題：** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**📌 編集長の眼**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news } }];"},"name":"記事本文組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304],"id":"article-build"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リード＋総括用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,512],"id":"gemini-lead","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const prompt = `以下は「AI Survival Report」の4本のニュース記事です。\\n\\n${news_body}\\n\\nこれを読んで以下の2つを書いてください。\\n\\n【リード文のルール】\\n- です・ます調\\n- 【厳守】400字以内。超えたら失敗。\\n- 問いかけ形式で号全体のテーマを設定し、読者を引き込む導入（問いかけ）\\n- 「財布・雇用・保身」の三語セット禁止\\n- 「あなたの仕事が消える」等の煽り表現禁止\\n\\n【クロージング総括のルール】\\n- です・ます調\\n- 【厳守】1000〜1400字。1400字を超えてはいけない。800字未満も失敗。\\n- 4本のニュースを統合した洞察（なぜこれらが同じ時期に起きているか）\\n- 具体的な固有名詞を1つ以上含める\\n- 転職エージェント・求人サービス・広告的CTAは絶対禁止\\n- 読者への問いかけか、静かな展望で締めくくる\\n\\n【出力形式（JSONのみ。バッククォートやラッパー不要）】\\n{\"lead\": \"リード文（400字以内・問いかけ形式）\", \"closing\": \"クロージング総括（1000〜1400字）\"}`;\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.3, maxOutputTokens: 16384}\n  });\n})() }}"},"name":"リード＋総括 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,304],"id":"llm-lead"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":512}},"name":"Gemini Model（タイトル用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,512],"id":"gemini-title","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const prompt = `以下のニュース記事群を読んで、号全体を象徴する日本語タイトルを1つだけ生成してください。\\n\\n${news_body}\\n\\n【タイトルのルール】\\n- 必ず日本語（英語禁止）\\n- 20〜35字\\n- 記事本文に登場する固有名詞（企業名・人名・製品名）か数字を必ず1つ以上含める\\n- 「なぜ今〜」「〜が変わる」等の抽象的タイトル禁止\\n- 本文に存在しない固有名詞をタイトルに入れること禁止\\n- タイトルのみを出力。説明・引用符・番号・バッククォートは不要`;\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.1, maxOutputTokens: 2048}\n  });\n})() }}"},"name":"タイトル生成 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,304],"id":"llm-title"},{"parameters":{"jsCode":"function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('リード＋総括 LLM Chain').first().json;\nconst titleResp = $('タイトル生成 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"「]|[\"」]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closingを1400字以内に収める（文章境界で切る）\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closing = truncateAtSentence(leadJson.closing || '', 1400);\nconst newsBody = $('記事本文組立Code').first().json.news_body || '';\nconst newsData = $('記事本文組立Code').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## ◆ 総括：時代の濁流を読み解く',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\nconst dateStr = String(now.getFullYear())\n  + String(now.getMonth()+1).padStart(2,'0')\n  + String(now.getDate()).padStart(2,'0')\n  + '-'\n  + String(now.getHours()).padStart(2,'0')\n  + String(now.getMinutes()).padStart(2,'0')\n  + String(now.getSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: now.toISOString()\n  }\n}];"},"name":"最終組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,304],"id":"final-build"},{"parameters":{"jsCode":"\nconst data = $input.first().json;\nconst title = data.final_title || '';\nconst newsData = data.news_data || [];\n\nconst styleBase = 'Moebius comic style, ligne claire, detailed crosshatching, muted earth tones, cinematic composition, dramatic lighting, ultra detailed';\n\nconst prompts = [];\n\nprompts.push({ type: 'cover', prompt: `${styleBase}, futuristic technology landscape, AI neural network visualization, global network, professional editorial illustration, ${title}` });\n\nconst compositions = ['wide establishing shot', 'close-up detail shot', 'birds eye view', 'dramatic low angle'];\nconst lighting = ['dark moody', 'bright daylight', 'neon glow', 'golden hour'];\n\nfor (let i = 0; i < Math.min(newsData.length, 4); i++) {\n  const keywords = (newsData[i].japanese_headline || '').substring(0, 30);\n  prompts.push({\n    type: `news_${i}`,\n    prompt: `${styleBase}, ${compositions[i]}, ${lighting[i]}, technology concept, ${keywords}, editorial illustration`\n  });\n}\n\nprompts.push({ type: 'closing', prompt: `${styleBase}, panoramic cityscape, people and technology harmonizing, hopeful future, wide shot, blue tones` });\n\nreturn prompts.map(p => ({ json: p }));\n"},"name":"画像プロンプト生成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"img-prompt"},{"parameters":{"amount":1},"name":"API冷却Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2912,304],"id":"api-cool","webhookId":"96fb97a2-02ca-49cf-9ba9-492a25299028"},{"parameters":{"method":"POST","url":"https://fal.run/fal-ai/flux/dev","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 11d546b8-4ae3-4307-9565-406962c2a1e3:e874342c857865bdd0e581f02384e16e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt, image_size: \"landscape_4_3\", num_inference_steps: 20, guidance_scale: 3.5, num_images: 1 }) }}","options":{"response":{"response":{"neverError":true}}}},"name":"fal.ai HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,304],"id":"fal-http","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('fal.ai HTTP').item.json.images[0].url }}","additionalFields":{}},"name":"Cloudinary upload","type":"n8n-nodes-cloudinary.cloudinary","typeVersion":1,"position":[3504,304],"id":"cloudinary-upload","credentials":{"cloudinaryApi":{"id":"WP5o4htlDE9qqtsH","name":"Cloudinary account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst urls = {};\nfor (const item of items) {\n  const type = item.json.type || 'unknown';\n  const url = item.json.secure_url || item.json.url || '';\n  if (url) urls[type] = url;\n}\nreturn [{ json: { image_urls: urls } }];"},"name":"画像URL集約Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,304],"id":"img-url-collect"},{"parameters":{"jsCode":"const imageData = $input.first().json;\nconst articleData = $(\"最終組立Code\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\nif (urls.cover) {\n  article = article.replace(/^(# .+\\n\\n)/, `$1![表紙](${urls.cover})\\n\\n`);\n}\n\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    const regex = new RegExp('(### 【ニュース：[^\\\\n]+】\\\\n\\\\n)(\\\\*\\\\*配信日)');\n    article = article.replace(regex, '$1![ニュース画像](' + newsUrl + ')\\n\\n$2');\n  }\n}\n\nif (urls.closing) {\n  article = article.replace(\n    /(## 【クロージング総括[^\\n]*】\\n)/,\n    `$1\\n![総括画像](${urls.closing})\\n`\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"},"name":"画像挿入Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,304],"id":"img-insert"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"},"name":"GitHub MDX作成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,304],"id":"github-mdx"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}","options":{}},"name":"GitHub書き込みHTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,304],"id":"github-write"},{"parameters":{"url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"name":"blog-posts-data.json取得","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,208],"id":"blog-json-get"},{"parameters":{"jsCode":"const fetchResult = $('blog-posts-data.json取得').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX作成Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"},"name":"blog-posts-data.json更新Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,208],"id":"blog-json-update"},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}","options":{}},"name":"blog-posts-data.json書込HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,208],"id":"blog-json-write"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"31d457e7-0a28-8108-a987-f27725c1c5b9","mode":"id"},"title":"={{ $('最終組立Code').first().json.final_title }}","propertiesUi":{"propertyValues":[{"key":"生成日|date","date":"={{ $now.toISO() }}"},{"key":"ステータス|select","selectValue":"下書き"},{"key":"メタ情報|rich_text","textContent":"={{ $('最終組立Code').first().json.lead_text.substring(0, 1990) }}"},{"key":"画像URL|url","urlValue":"={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]},"options":{}},"name":"Notion DB保存","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[5008,512],"id":"notion-save","credentials":{"notionApi":{"id":"S1Pkv3d0mXqOwBTl","name":"Notion account 2"}}},{"parameters":{"workflowId":"6QYipyd0Zc8YWzgS","options":{}},"name":"X投稿ExecuteWorkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5312,512],"id":"x-post"},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSy***REDACTED***&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"【SZ_AI_Media_v2】 完了通知 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n記事タイトル: {{ $('最終組立Code').first().json.final_title }}\\nSlug: {{ $('最終組立Code').first().json.slug }}\"\n}","options":{}},"name":"完了通知HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,512],"id":"notify"},{"parameters":{},"name":"RSS Merge 1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-656,208],"id":"rss-merge-1"},{"parameters":{},"name":"RSS Merge 2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-496,304],"id":"rss-merge-2"},{"id":"perplexity-fetch-001","name":"Perplexityフェッチ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,304],"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: \"sonar\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a news researcher. Return ONLY a JSON object with these exact fields: title (original English title), content (full article summary in English, 400-600 words, include all key facts, numbers, names, dates), url (exact URL as given), source_media (media name), pubDate (publication date). No markdown, no explanation.\"\n    },\n    {\n      role: \"user\", \n      content: \"Research and summarize this news article. Title: \" + $json.title + \" | URL: \" + $json.url + \" | Source: \" + $json.source_media + \" | Date: \" + $json.pubDate + \" | Initial summary: \" + $json.summary\n    }\n  ],\n  max_tokens: 1024,\n  temperature: 0.1,\n  return_citations: false\n}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"EcWcQbjdQnpTCZa5","name":"Perplexity API"}}},{"id":"perplexity-parse-001","name":"Perplexity結果整形Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[972,304],"parameters":{"jsCode":"// Perplexityの4件レスポンスを全て処理して4件返す\nconst perplexityItems = $input.all();\nconst originalItems = $('件数チェックCode').all();\nconst results = [];\n\nfor (let i = 0; i < perplexityItems.length; i++) {\n  const resp = perplexityItems[i].json;\n  const original = originalItems[i] ? originalItems[i].json : {};\n  \n  // Perplexityレスポンスからテキスト取得\n  const text = resp.choices && resp.choices[0] ? resp.choices[0].message.content : '';\n  let enriched = {};\n  try {\n    const cleaned = text.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    enriched = JSON.parse(cleaned);\n  } catch(e) {\n    enriched = {};\n  }\n  \n  results.push({ json: {\n    title: enriched.title || original.title || '',\n    url: enriched.url || original.url || '',\n    source_media: original.source_media || enriched.source_media || '',\n    pubDate: enriched.pubDate || original.pubDate || '',\n    summary: (enriched.content || enriched.summary || original.summary || '').substring(0, 600)\n  }});\n}\n\nreturn results;"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"Wired AI RSS","type":"main","index":0},{"node":"Google News RSS","type":"main","index":0}]]},"Webhook Test Trigger":{"main":[[{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"Wired AI RSS","type":"main","index":0},{"node":"Google News RSS","type":"main","index":0}]]},"TechCrunch AI RSS":{"main":[[{"node":"RSS Merge 1","type":"main","index":0}]]},"Wired AI RSS":{"main":[[{"node":"RSS Merge 1","type":"main","index":1}]]},"Google News RSS":{"main":[[{"node":"RSS Merge 2","type":"main","index":1}]]},"RSS統合＋日付フィルターCode":{"main":[[{"node":"情報選別Agent","type":"main","index":0}]]},"情報選別Agent":{"main":[[{"node":"件数チェックCode","type":"main","index":0}]]},"件数チェックCode":{"main":[[{"node":"Perplexityフェッチ","type":"main","index":0}]]},"Gemini Model（リライト用）":{"ai_languageModel":[[]]},"リライトAgent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"記事本文組立Code","type":"main","index":0}]]},"記事本文組立Code":{"main":[[{"node":"リード＋総括 LLM Chain","type":"main","index":0}]]},"リード＋総括 LLM Chain":{"main":[[{"node":"タイトル生成 LLM Chain","type":"main","index":0}]]},"最終組立Code":{"main":[[{"node":"画像プロンプト生成Code","type":"main","index":0}]]},"タイトル生成 LLM Chain":{"main":[[{"node":"最終組立Code","type":"main","index":0}]]},"画像プロンプト生成Code":{"main":[[{"node":"API冷却Wait","type":"main","index":0}]]},"API冷却Wait":{"main":[[{"node":"fal.ai HTTP","type":"main","index":0}]]},"fal.ai HTTP":{"main":[[{"node":"Cloudinary upload","type":"main","index":0}]]},"Cloudinary upload":{"main":[[{"node":"画像URL集約Code","type":"main","index":0}]]},"画像URL集約Code":{"main":[[{"node":"画像挿入Code","type":"main","index":0}]]},"画像挿入Code":{"main":[[{"node":"GitHub MDX作成Code","type":"main","index":0}]]},"GitHub MDX作成Code":{"main":[[{"node":"GitHub書き込みHTTP","type":"main","index":0},{"node":"Notion DB保存","type":"main","index":0}]]},"GitHub書き込みHTTP":{"main":[[{"node":"blog-posts-data.json取得","type":"main","index":0},{"node":"完了通知HTTP","type":"main","index":0}]]},"blog-posts-data.json取得":{"main":[[{"node":"blog-posts-data.json更新Code","type":"main","index":0}]]},"blog-posts-data.json更新Code":{"main":[[{"node":"blog-posts-data.json書込HTTP","type":"main","index":0}]]},"Notion DB保存":{"main":[[{"node":"X投稿ExecuteWorkflow","type":"main","index":0}]]},"RSS Merge 1":{"main":[[{"node":"RSS Merge 2","type":"main","index":0}]]},"RSS Merge 2":{"main":[[{"node":"RSS統合＋日付フィルターCode","type":"main","index":0}]]},"Perplexityフェッチ":{"main":[[{"node":"Perplexity結果整形Code","type":"main","index":0}]]},"Perplexity結果整形Code":{"main":[[{"node":"リライトAgent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataSuccessExecution":"all","saveDataErrorExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"2aa992f3-7368-4752-b1f7-d5d7f62f6311","activeVersionId":"2aa992f3-7368-4752-b1f7-d5d7f62f6311","versionCounter":137,"triggerCount":2,"shared":[{"updatedAt":"2026-03-23T14:22:48.905Z","createdAt":"2026-03-23T14:22:48.905Z","role":"workflow:owner","workflowId":"x43i3Lzy0D46EDcS","projectId":"5d85bagaOgHmINyQ","project":{"updatedAt":"2026-02-15T08:43:18.830Z","createdAt":"2026-02-15T08:43:13.636Z","id":"5d85bagaOgHmINyQ","name":"Takafumi Suzuki <suzu@storytelling.team>","type":"personal","icon":null,"description":null,"creatorId":"90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-25T00:33:17.538Z","createdAt":"2026-03-25T00:33:17.538Z","versionId":"2aa992f3-7368-4752-b1f7-d5d7f62f6311","workflowId":"x43i3Lzy0D46EDcS","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5},{"triggerAtHour":17}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,304],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"sz-ai-media-v2-test","options":{}},"name":"Webhook Test Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,512],"webhookId":"sz-ai-media-v2-test","id":"trigger-webhook"},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"name":"TechCrunch AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,112],"id":"rss-techcrunch"},{"parameters":{"url":"https://wired.com/feed/tag/ai/latest/rss","options":{}},"name":"Wired AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,304],"id":"rss-wired"},{"parameters":{"url":"https://news.google.com/rss/search?q=AI+artificial+intelligence+machine+learning&hl=en-US&gl=US&ceid=US:en&when:2d","options":{}},"name":"Google News RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-800,512],"id":"rss-google"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // 既知ドメインのペア（new URL()を使わず文字列マッチ）\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL文字列に既知ドメインが含まれるか（エンコードURL対応）\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summaryにドメインが含まれるか（Google News RSS対応）\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // 単純なregexでホスト名抽出\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"},"name":"RSS統合＋日付フィルターCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"rss-filter-code"},{"parameters":{"jsCode":"// ソースの多様性を優先しつつ、1ソースだけでも4件取れる完全ラウンドロビン\nconst items = $input.all();\nif (items.length === 0) throw new Error('ニュースが0件です');\n\n// ソースごとにグループ化\nconst bySource = {};\nfor (const item of items) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\n// ラウンドロビンで最大4件選択（どのラウンド数でも対応）\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 4) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 4) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break; // これ以上追加できない\n  round++;\n}\n\nif (selected.length < 4) {\n  throw new Error(`ニュースが${selected.length}本しか取得できなかったため停止（4本必要）`);\n}\nreturn selected;"},"name":"情報選別Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304],"id":"agent-select"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length < 4) {\n  throw new Error(`ニュースが${items.length}本しか取得できなかったため停止（4本必要）`);\n}\nreturn items;"},"name":"件数チェックCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"id":"count-check"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リライト用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,512],"id":"gemini-rewrite","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const title = $json.title || '';\n  const source = $json.source_media || '';\n  const date = $json.pubDate || '';\n  const summary = $json.summary || '';\n  const url = $json.url || '';\n\n  const roberPatterns = [\n    '【比喩転換型】技術を読者が知っている世界の比喩に変換して説明し、洞察を展開する。',\n    '【逆説型】「一般に〜と思われているが、構造的には逆で〜」という発見的洞察を展開する。',\n    '【時間軸転換型】「このペースが続くなら2030年には〜」と未来の具体的な場面に落とす。',\n    '【構造束ね型】複数の動向を束ねて一つの大きな構造変化として位置づけ、洞察を統合する。'\n  ];\n  const exitRoles = [\n    '翻訳者になれ（複雑な技術を身近な言葉で周囲に伝える立ち位置が選択肢を増やすかもしれない）',\n    '判断設計者になれ（何をいつ採用するかの判断基準を自分で持つ立ち位置が選択肢を増やすかもしれない）',\n    '意味の場を選べ（どの文脈でAIを使うかを選択する立ち位置が選択肢を増やすかもしれない）',\n    '実験者になれ（小さく試して検証するサイクルを持つ立ち位置が選択肢を増やすかもしれない）'\n  ];\n\n  const idx = $itemIndex % 4;\n  const roberStyle = roberPatterns[idx];\n  const exitRole = exitRoles[idx];\n\n  const prompt = `あなたはAI Survival Reportの記者です。JSONのみで回答してください（\\`\\`\\`不要）。\n\n【最重要・文字数制限（超えたら全体が失敗）】\n・fact_summary: 600字以内（日本語で数えて）\n・editorial_eye: 300字以内（日本語で数えて）\n短くまとめることが最優先。情報を詰め込みすぎない。\n\n【絶対ルール】\n1. URLは入力のURLをそのままコピー（変更禁止）\n2. 固有名詞・数字は原文のまま\n3. メディア名は入力のものをそのまま使用\n4. fact_summaryは「${source}によると、」で開始\n5. 入力データの事実のみ使用（知識補完・創作禁止）\n\n【入力データ】\nタイトル: ${title}\nメディア名: ${source}\n配信日: ${date}\n要約: ${summary}\nURL: ${url}\n\n【fact_summary（600字以内・だ・である調・5W1H）】\n「${source}によると、」で始める。誰が何をいつどこでなぜどうしたかを簡潔に。600字を超えたら失敗。\n\n【editorial_eye（300字以内・です・ます調）】\n3段構成だが合計300字以内に収める：\n①記述（50-80字）：なぜこれが起きているか\n②洞察（100-120字）：${roberStyle}\n③行動（80-100字）：${exitRole}\nラベル不要。箇条書き禁止。300字超えたら失敗。\n\n【出力JSONのみ】\n{\"japanese_headline\":\"固有名詞・数字入り日本語見出し20-35字\",\"original_title\":\"英語タイトルそのままコピー\",\"fact_summary\":\"${source}によると...600字以内\",\"editorial_eye\":\"300字以内の3段文章\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.1, maxOutputTokens: 16384}\n  });\n})() }}","options":{"response":{"response":{"fullResponse":false}}}},"name":"リライトAgent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,304],"id":"agent-rewrite"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1104,304],"id":"aggregate"},{"parameters":{"jsCode":"\n// editorial_eyeを300字以内に収める\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// outputフィールドのJSONをパースするヘルパー\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // すでに展開済み\n  let raw_str = '';\n  // Gemini API HTTP Response形式\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent 出力形式\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    try {\n      const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n      return JSON.parse(raw);\n    } catch(e) { return {}; }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### ◆ ${n.japanese_headline || ''}\\n\\n`;\n  body += `**配信日：** ${dateStr}　**出典：** ${n.source_media || ''}　**原題：** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**📌 編集長の眼**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news } }];"},"name":"記事本文組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304],"id":"article-build"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リード＋総括用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,512],"id":"gemini-lead","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const prompt = `以下は「AI Survival Report」の4本のニュース記事です。\\n\\n${news_body}\\n\\nこれを読んで以下の2つを書いてください。\\n\\n【リード文のルール】\\n- です・ます調\\n- 【厳守】400字以内。超えたら失敗。\\n- 問いかけ形式で号全体のテーマを設定し、読者を引き込む導入（問いかけ）\\n- 「財布・雇用・保身」の三語セット禁止\\n- 「あなたの仕事が消える」等の煽り表現禁止\\n\\n【クロージング総括のルール】\\n- です・ます調\\n- 【厳守】1000〜1400字。1400字を超えてはいけない。800字未満も失敗。\\n- 4本のニュースを統合した洞察（なぜこれらが同じ時期に起きているか）\\n- 具体的な固有名詞を1つ以上含める\\n- 転職エージェント・求人サービス・広告的CTAは絶対禁止\\n- 読者への問いかけか、静かな展望で締めくくる\\n\\n【出力形式（JSONのみ。バッククォートやラッパー不要）】\\n{\"lead\": \"リード文（400字以内・問いかけ形式）\", \"closing\": \"クロージング総括（1000〜1400字）\"}`;\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.3, maxOutputTokens: 16384}\n  });\n})() }}"},"name":"リード＋総括 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,304],"id":"llm-lead"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":512}},"name":"Gemini Model（タイトル用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,512],"id":"gemini-title","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSy***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const prompt = `以下のニュース記事群を読んで、号全体を象徴する日本語タイトルを1つだけ生成してください。\\n\\n${news_body}\\n\\n【タイトルのルール】\\n- 必ず日本語（英語禁止）\\n- 20〜35字\\n- 記事本文に登場する固有名詞（企業名・人名・製品名）か数字を必ず1つ以上含める\\n- 「なぜ今〜」「〜が変わる」等の抽象的タイトル禁止\\n- 本文に存在しない固有名詞をタイトルに入れること禁止\\n- タイトルのみを出力。説明・引用符・番号・バッククォートは不要`;\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.1, maxOutputTokens: 2048}\n  });\n})() }}"},"name":"タイトル生成 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,304],"id":"llm-title"},{"parameters":{"jsCode":"function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('リード＋総括 LLM Chain').first().json;\nconst titleResp = $('タイトル生成 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"「]|[\"」]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closingを1400字以内に収める（文章境界で切る）\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closing = truncateAtSentence(leadJson.closing || '', 1400);\nconst newsBody = $('記事本文組立Code').first().json.news_body || '';\nconst newsData = $('記事本文組立Code').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## ◆ 総括：時代の濁流を読み解く',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\nconst dateStr = String(now.getFullYear())\n  + String(now.getMonth()+1).padStart(2,'0')\n  + String(now.getDate()).padStart(2,'0')\n  + '-'\n  + String(now.getHours()).padStart(2,'0')\n  + String(now.getMinutes()).padStart(2,'0')\n  + String(now.getSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: now.toISOString()\n  }\n}];"},"name":"最終組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,304],"id":"final-build"},{"parameters":{"jsCode":"\nconst data = $input.first().json;\nconst title = data.final_title || '';\nconst newsData = data.news_data || [];\n\nconst styleBase = 'Moebius comic style, ligne claire, detailed crosshatching, muted earth tones, cinematic composition, dramatic lighting, ultra detailed';\n\nconst prompts = [];\n\nprompts.push({ type: 'cover', prompt: `${styleBase}, futuristic technology landscape, AI neural network visualization, global network, professional editorial illustration, ${title}` });\n\nconst compositions = ['wide establishing shot', 'close-up detail shot', 'birds eye view', 'dramatic low angle'];\nconst lighting = ['dark moody', 'bright daylight', 'neon glow', 'golden hour'];\n\nfor (let i = 0; i < Math.min(newsData.length, 4); i++) {\n  const keywords = (newsData[i].japanese_headline || '').substring(0, 30);\n  prompts.push({\n    type: `news_${i}`,\n    prompt: `${styleBase}, ${compositions[i]}, ${lighting[i]}, technology concept, ${keywords}, editorial illustration`\n  });\n}\n\nprompts.push({ type: 'closing', prompt: `${styleBase}, panoramic cityscape, people and technology harmonizing, hopeful future, wide shot, blue tones` });\n\nreturn prompts.map(p => ({ json: p }));\n"},"name":"画像プロンプト生成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"img-prompt"},{"parameters":{"amount":1},"name":"API冷却Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2912,304],"id":"api-cool","webhookId":"96fb97a2-02ca-49cf-9ba9-492a25299028"},{"parameters":{"method":"POST","url":"https://fal.run/fal-ai/flux/dev","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 11d546b8-4ae3-4307-9565-406962c2a1e3:e874342c857865bdd0e581f02384e16e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt, image_size: \"landscape_4_3\", num_inference_steps: 20, guidance_scale: 3.5, num_images: 1 }) }}","options":{"response":{"response":{"neverError":true}}}},"name":"fal.ai HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,304],"id":"fal-http","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('fal.ai HTTP').item.json.images[0].url }}","additionalFields":{}},"name":"Cloudinary upload","type":"n8n-nodes-cloudinary.cloudinary","typeVersion":1,"position":[3504,304],"id":"cloudinary-upload","credentials":{"cloudinaryApi":{"id":"WP5o4htlDE9qqtsH","name":"Cloudinary account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst urls = {};\nfor (const item of items) {\n  const type = item.json.type || 'unknown';\n  const url = item.json.secure_url || item.json.url || '';\n  if (url) urls[type] = url;\n}\nreturn [{ json: { image_urls: urls } }];"},"name":"画像URL集約Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,304],"id":"img-url-collect"},{"parameters":{"jsCode":"const imageData = $input.first().json;\nconst articleData = $(\"最終組立Code\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\nif (urls.cover) {\n  article = article.replace(/^(# .+\\n\\n)/, `$1![表紙](${urls.cover})\\n\\n`);\n}\n\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    const regex = new RegExp('(### 【ニュース：[^\\\\n]+】\\\\n\\\\n)(\\\\*\\\\*配信日)');\n    article = article.replace(regex, '$1![ニュース画像](' + newsUrl + ')\\n\\n$2');\n  }\n}\n\nif (urls.closing) {\n  article = article.replace(\n    /(## 【クロージング総括[^\\n]*】\\n)/,\n    `$1\\n![総括画像](${urls.closing})\\n`\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"},"name":"画像挿入Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,304],"id":"img-insert"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"},"name":"GitHub MDX作成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,304],"id":"github-mdx"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}","options":{}},"name":"GitHub書き込みHTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,304],"id":"github-write"},{"parameters":{"url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"name":"blog-posts-data.json取得","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,208],"id":"blog-json-get"},{"parameters":{"jsCode":"const fetchResult = $('blog-posts-data.json取得').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX作成Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"},"name":"blog-posts-data.json更新Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,208],"id":"blog-json-update"},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ghp_***REDACTED***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}","options":{}},"name":"blog-posts-data.json書込HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,208],"id":"blog-json-write"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"31d457e7-0a28-8108-a987-f27725c1c5b9","mode":"id"},"title":"={{ $('最終組立Code').first().json.final_title }}","propertiesUi":{"propertyValues":[{"key":"生成日|date","date":"={{ $now.toISO() }}"},{"key":"ステータス|select","selectValue":"下書き"},{"key":"メタ情報|rich_text","textContent":"={{ $('最終組立Code').first().json.lead_text.substring(0, 1990) }}"},{"key":"画像URL|url","urlValue":"={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]},"options":{}},"name":"Notion DB保存","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[5008,512],"id":"notion-save","credentials":{"notionApi":{"id":"S1Pkv3d0mXqOwBTl","name":"Notion account 2"}}},{"parameters":{"workflowId":"6QYipyd0Zc8YWzgS","options":{}},"name":"X投稿ExecuteWorkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5312,512],"id":"x-post"},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSy***REDACTED***&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"【SZ_AI_Media_v2】 完了通知 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n記事タイトル: {{ $('最終組立Code').first().json.final_title }}\\nSlug: {{ $('最終組立Code').first().json.slug }}\"\n}","options":{}},"name":"完了通知HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,512],"id":"notify"},{"parameters":{},"name":"RSS Merge 1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-656,208],"id":"rss-merge-1"},{"parameters":{},"name":"RSS Merge 2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-496,304],"id":"rss-merge-2"},{"id":"perplexity-fetch-001","name":"Perplexityフェッチ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,304],"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: \"sonar\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a news researcher. Return ONLY a JSON object with these exact fields: title (original English title), content (full article summary in English, 400-600 words, include all key facts, numbers, names, dates), url (exact URL as given), source_media (media name), pubDate (publication date). No markdown, no explanation.\"\n    },\n    {\n      role: \"user\", \n      content: \"Research and summarize this news article. Title: \" + $json.title + \" | URL: \" + $json.url + \" | Source: \" + $json.source_media + \" | Date: \" + $json.pubDate + \" | Initial summary: \" + $json.summary\n    }\n  ],\n  max_tokens: 1024,\n  temperature: 0.1,\n  return_citations: false\n}) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"EcWcQbjdQnpTCZa5","name":"Perplexity API"}}},{"id":"perplexity-parse-001","name":"Perplexity結果整形Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[972,304],"parameters":{"jsCode":"// Perplexityの4件レスポンスを全て処理して4件返す\nconst perplexityItems = $input.all();\nconst originalItems = $('件数チェックCode').all();\nconst results = [];\n\nfor (let i = 0; i < perplexityItems.length; i++) {\n  const resp = perplexityItems[i].json;\n  const original = originalItems[i] ? originalItems[i].json : {};\n  \n  // Perplexityレスポンスからテキスト取得\n  const text = resp.choices && resp.choices[0] ? resp.choices[0].message.content : '';\n  let enriched = {};\n  try {\n    const cleaned = text.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    enriched = JSON.parse(cleaned);\n  } catch(e) {\n    enriched = {};\n  }\n  \n  results.push({ json: {\n    title: enriched.title || original.title || '',\n    url: enriched.url || original.url || '',\n    source_media: original.source_media || enriched.source_media || '',\n    pubDate: enriched.pubDate || original.pubDate || '',\n    summary: (enriched.content || enriched.summary || original.summary || '').substring(0, 600)\n  }});\n}\n\nreturn results;"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"Wired AI RSS","type":"main","index":0},{"node":"Google News RSS","type":"main","index":0}]]},"Webhook Test Trigger":{"main":[[{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"Wired AI RSS","type":"main","index":0},{"node":"Google News RSS","type":"main","index":0}]]},"TechCrunch AI RSS":{"main":[[{"node":"RSS Merge 1","type":"main","index":0}]]},"Wired AI RSS":{"main":[[{"node":"RSS Merge 1","type":"main","index":1}]]},"Google News RSS":{"main":[[{"node":"RSS Merge 2","type":"main","index":1}]]},"RSS統合＋日付フィルターCode":{"main":[[{"node":"情報選別Agent","type":"main","index":0}]]},"情報選別Agent":{"main":[[{"node":"件数チェックCode","type":"main","index":0}]]},"件数チェックCode":{"main":[[{"node":"Perplexityフェッチ","type":"main","index":0}]]},"Gemini Model（リライト用）":{"ai_languageModel":[[]]},"リライトAgent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"記事本文組立Code","type":"main","index":0}]]},"記事本文組立Code":{"main":[[{"node":"リード＋総括 LLM Chain","type":"main","index":0}]]},"リード＋総括 LLM Chain":{"main":[[{"node":"タイトル生成 LLM Chain","type":"main","index":0}]]},"最終組立Code":{"main":[[{"node":"画像プロンプト生成Code","type":"main","index":0}]]},"タイトル生成 LLM Chain":{"main":[[{"node":"最終組立Code","type":"main","index":0}]]},"画像プロンプト生成Code":{"main":[[{"node":"API冷却Wait","type":"main","index":0}]]},"API冷却Wait":{"main":[[{"node":"fal.ai HTTP","type":"main","index":0}]]},"fal.ai HTTP":{"main":[[{"node":"Cloudinary upload","type":"main","index":0}]]},"Cloudinary upload":{"main":[[{"node":"画像URL集約Code","type":"main","index":0}]]},"画像URL集約Code":{"main":[[{"node":"画像挿入Code","type":"main","index":0}]]},"画像挿入Code":{"main":[[{"node":"GitHub MDX作成Code","type":"main","index":0}]]},"GitHub MDX作成Code":{"main":[[{"node":"GitHub書き込みHTTP","type":"main","index":0},{"node":"Notion DB保存","type":"main","index":0}]]},"GitHub書き込みHTTP":{"main":[[{"node":"blog-posts-data.json取得","type":"main","index":0},{"node":"完了通知HTTP","type":"main","index":0}]]},"blog-posts-data.json取得":{"main":[[{"node":"blog-posts-data.json更新Code","type":"main","index":0}]]},"blog-posts-data.json更新Code":{"main":[[{"node":"blog-posts-data.json書込HTTP","type":"main","index":0}]]},"Notion DB保存":{"main":[[{"node":"X投稿ExecuteWorkflow","type":"main","index":0}]]},"RSS Merge 1":{"main":[[{"node":"RSS Merge 2","type":"main","index":0}]]},"RSS Merge 2":{"main":[[{"node":"RSS統合＋日付フィルターCode","type":"main","index":0}]]},"Perplexityフェッチ":{"main":[[{"node":"Perplexity結果整形Code","type":"main","index":0}]]},"Perplexity結果整形Code":{"main":[[{"node":"リライトAgent","type":"main","index":0}]]}},"authors":"Takafumi Suzuki","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-25T00:33:17.794Z","id":966,"workflowId":"x43i3Lzy0D46EDcS","versionId":"2aa992f3-7368-4752-b1f7-d5d7f62f6311","event":"activated","userId":"90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"},{"createdAt":"2026-03-25T00:33:17.687Z","id":965,"workflowId":"x43i3Lzy0D46EDcS","versionId":"2aa992f3-7368-4752-b1f7-d5d7f62f6311","event":"deactivated","userId":"90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}]}}