docs/workflow/backup_20260328_0000_reizoko.json
{"updatedAt": "2026-03-27T12:13:03.113Z", "createdAt": "2026-03-23T14:22:48.901Z", "id": "x43i3Lzy0D46EDcS", "name": "SZ_AI_Media_v2", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"triggerAtHour": 5}]}}, "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-1200, 304], "id": "trigger-schedule"}, {"parameters": {"httpMethod": "POST", "path": "sz-ai-media-v2-test", "options": {}}, "name": "Webhook Test Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1200, 512], "webhookId": "sz-ai-media-v2-test", "id": "trigger-webhook"}, {"parameters": {"jsCode": "const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // \u65e2\u77e5\u30c9\u30e1\u30a4\u30f3\u306e\u30da\u30a2\uff08new URL()\u3092\u4f7f\u308f\u305a\u6587\u5b57\u5217\u30de\u30c3\u30c1\uff09\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL\u6587\u5b57\u5217\u306b\u65e2\u77e5\u30c9\u30e1\u30a4\u30f3\u304c\u542b\u307e\u308c\u308b\u304b\uff08\u30a8\u30f3\u30b3\u30fc\u30c9URL\u5bfe\u5fdc\uff09\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summary\u306b\u30c9\u30e1\u30a4\u30f3\u304c\u542b\u307e\u308c\u308b\u304b\uff08Google News RSS\u5bfe\u5fdc\uff09\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // \u5358\u7d14\u306aregex\u3067\u30db\u30b9\u30c8\u540d\u62bd\u51fa\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"}, "name": "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-208, 304], "id": "rss-filter-code"}, {"parameters": {"jsCode": "// AI\u30ad\u30fc\u30ef\u30fc\u30c9\u30d5\u30a3\u30eb\u30bf\u30fc\uff08\u30bf\u30a4\u30c8\u30eb+\u30b5\u30de\u30ea\u30fc\u30c1\u30a7\u30c3\u30af\uff09\nconst AI_REGEX    = /\\bai\\b|artificial intelligence|openai|chatgpt|claude|gemini|anthropic|generative|genai|\\bllm\\b|large language model|deep learning|machine learning|neural network|copilot|\\bgpt[-\\s]?[0-9o]/i;\nconst AI_REGEX_JA = /\u4eba\u5de5\u77e5\u80fd|\u6a5f\u68b0\u5b66\u7fd2|\u751f\u6210[Aa][Ii]|\u5927\u898f\u6a21\u8a00\u8a9e\u30e2\u30c7\u30eb|\u30c7\u30a3\u30fc\u30d7\u30e9\u30fc\u30cb\u30f3\u30b0|\u6df1\u5c64\u5b66\u7fd2/;\nconst EXCLUDE_REGEX = /spring sale|prime day|black friday|cyber monday|best deal|\\bdiscount\\b|\\bpromo\\b|\\bcoupon\\b|\u30bb\u30fc\u30eb|\u5272\u5f15/i;\n\nconst allItems = $input.all();\nif (allItems.length === 0) throw new Error('\u30cb\u30e5\u30fc\u30b9\u304c0\u4ef6\u3067\u3059');\n\n// \u30d5\u30a3\u30eb\u30bf\u30ea\u30f3\u30b0\uff1aAI\u30ad\u30fc\u30ef\u30fc\u30c9\u3092\u542b\u307f\u3001\u9664\u5916\u30ef\u30fc\u30c9\u3092\u542b\u307e\u306a\u3044\u3082\u306e\u306e\u307f\u901a\u904e\nconst filtered = allItems.filter(item => {\n  const t = (item.json.title || '') + ' ' + (item.json.summary || '');\n  if (EXCLUDE_REGEX.test(t)) return false;\n  return AI_REGEX.test(t) || AI_REGEX_JA.test(t);\n});\n\nif (filtered.length < 5) {\n  throw new Error(`AI\u95a2\u9023\u30cb\u30e5\u30fc\u30b9\u304c${filtered.length}\u672c\u3057\u304b\u3042\u308a\u307e\u305b\u3093\uff085\u672c\u5fc5\u8981\uff09`);\n}\n\n// \u30bd\u30fc\u30b9\u3054\u3068\u306b\u30b0\u30eb\u30fc\u30d7\u5316\u3057\u3066\u30e9\u30a6\u30f3\u30c9\u30ed\u30d3\u30f3\u9078\u629e\nconst bySource = {};\nfor (const item of filtered) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 5) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 5) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break;\n  round++;\n}\n\nif (selected.length < 5) {\n  throw new Error(`\u30cb\u30e5\u30fc\u30b9\u304c${selected.length}\u672c\u3057\u304b\u53d6\u5f97\u3067\u304d\u306a\u304b\u3063\u305f\u305f\u3081\u505c\u6b62\uff085\u672c\u5fc5\u8981\uff09`);\n}\n\n// ===== \u91cd\u8907\u30cb\u30e5\u30fc\u30b9\u9664\u53bb\uff08\u540c\u4e00\u30cb\u30e5\u30fc\u30b9\u3092\u5225\u30e1\u30c7\u30a3\u30a2\u304c\u5831\u3058\u305f\u5834\u5408\u306e\u6392\u9664\uff09=====\nfunction titleJaccard(t1, t2) {\n  const stopWords = new Set(['\u304c','\u306e','\u3092','\u306b','\u3067','\u3068','\u306f','\u3082','a','an','the','to','in','of','and','for','by','on','at']);\n  const tokenize = t => {\n    const words = t.toLowerCase().replace(/[^a-zA-Z0-9\\u3040-\\u9FFF\\u30A0-\\u30FF\\u4E00-\\u9FFF]/g, ' ').split(/\\s+/).filter(w => w.length > 1 && !stopWords.has(w));\n    return new Set(words);\n  };\n  const s1 = tokenize(t1), s2 = tokenize(t2);\n  const intersection = [...s1].filter(w => s2.has(w)).length;\n  const union = new Set([...s1, ...s2]).size;\n  return union > 0 ? intersection / union : 0;\n}\n\nconst deduped = [];\nfor (const art of selected) {\n  const key = art.title || art.japanese_headline || '';\n  const isDup = deduped.some(a => titleJaccard(a.title || a.japanese_headline || '', key) > 0.35);\n  if (!isDup) deduped.push(art);\n}\n\n// \u91cd\u8907\u9664\u53bb\u5f8c5\u672c\u672a\u6e80\u306a\u3089\u6b8b\u308afiltered\u304b\u3089\u88dc\u5145\nif (deduped.length < 5) {\n  for (const art of filtered) {\n    if (deduped.length >= 5) break;\n    const key = art.title || '';\n    const isDup = deduped.some(a => titleJaccard(a.title || '', key) > 0.35);\n    if (!isDup) deduped.push(art);\n  }\n}\n\nif (deduped.length < 4) {\n  throw new Error(`\u91cd\u8907\u9664\u53bb\u5f8c\u3082\u30cb\u30e5\u30fc\u30b9\u304c${deduped.length}\u672c\u3057\u304b\u3042\u308a\u307e\u305b\u3093`);\n}\n\nreturn deduped;"}, "name": "\u60c5\u5831\u9078\u5225Agent", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [208, 304], "id": "agent-select"}, {"parameters": {"jsCode": "const items = $input.all();\nif (items.length < 5) {\n  throw new Error(`\u30cb\u30e5\u30fc\u30b9\u304c${items.length}\u672c\u3057\u304b\u53d6\u5f97\u3067\u304d\u306a\u304b\u3063\u305f\u305f\u3081\u505c\u6b62\uff085\u672c\u5fc5\u8981\uff09`);\n}\nreturn items;"}, "name": "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [512, 304], "id": "count-check"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 8192}}, "name": "Gemini Model\uff08\u30ea\u30e9\u30a4\u30c8\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [800, 512], "id": "gemini-rewrite", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const title   = $json.title        || '';\n  const source  = $json.source_media || '';\n  const date    = $json.pubDate      || '';\n  const summary = $json.summary      || '';\n  const url     = $json.url          || '';\n\n  // \u6d1e\u5bdf\u30b9\u30bf\u30a4\u30eb\uff084\u30d1\u30bf\u30fc\u30f3\u30ed\u30fc\u30c6\u30fc\u30b7\u30e7\u30f3\uff09\n  const roberPatterns = [\n    '\u3010\u6bd4\u55a9\u8ee2\u63db\u578b\u3011\u6280\u8853\u3092\u8aad\u8005\u304c\u77e5\u3063\u3066\u3044\u308b\u4e16\u754c\u306e\u6bd4\u55a9\u306b\u5909\u63db\u3057\u3066\u8aac\u660e\u3057\u3001\u6d1e\u5bdf\u3092\u5c55\u958b\u3059\u308b\u3002',\n    '\u3010\u9006\u8aac\u578b\u3011\u300c\u4e00\u822c\u306b\u301c\u3068\u601d\u308f\u308c\u3066\u3044\u308b\u304c\u3001\u69cb\u9020\u7684\u306b\u306f\u9006\u3067\u301c\u300d\u3068\u3044\u3046\u767a\u898b\u7684\u6d1e\u5bdf\u3092\u5c55\u958b\u3059\u308b\u3002',\n    '\u3010\u6642\u9593\u8ef8\u8ee2\u63db\u578b\u3011\u300c\u3053\u306e\u30da\u30fc\u30b9\u304c\u7d9a\u304f\u306a\u30892030\u5e74\u306b\u306f\u301c\u300d\u3068\u672a\u6765\u306e\u5177\u4f53\u7684\u306a\u5834\u9762\u306b\u843d\u3068\u3059\u3002',\n    '\u3010\u69cb\u9020\u675f\u306d\u578b\u3011\u8907\u6570\u306e\u52d5\u5411\u3092\u675f\u306d\u3066\u4e00\u3064\u306e\u5927\u304d\u306a\u69cb\u9020\u5909\u5316\u3068\u3057\u3066\u4f4d\u7f6e\u3065\u3051\u3001\u6d1e\u5bdf\u3092\u7d71\u5408\u3059\u308b\u3002'\n  ];\n\n  // \u7cf8\u53e3\u30b9\u30bf\u30a4\u30eb\uff088\u30d1\u30bf\u30fc\u30f3\u30fb\u65e5\u4ed8\u5076\u5947\u3067\u30bb\u30c3\u30c8\u3092\u305a\u3089\u3059\uff09\n  const itoguchiPatterns = [\n    '\u3010\u9006\u8aad\u307f\u578b\u3011\u300c\u6016\u3044\u300d\u3068\u611f\u3058\u308b\u3053\u306e\u5909\u5316\u3092\u5225\u306e\u89d2\u5ea6\u304b\u3089\u8aad\u3080\u3068\u4f55\u304c\u898b\u3048\u308b\u304b\u3002\u65ad\u8a00\u305b\u305a\u3001\u5c0f\u3055\u306a\u53ef\u80fd\u6027\u306e\u65b9\u5411\u6027\u3092\u793a\u3059\u3002',\n    '\u3010\u9078\u629e\u8ef8\u578b\u3011\u3053\u306e\u5909\u5316\u306e\u4e2d\u3067\u8aad\u8005\u306b\u300c\u3069\u3061\u3089\u3092\u9078\u3076\u304b\u300d\u3068\u3044\u3046\u5c90\u8def\u304c\u3042\u308b\u3068\u3057\u305f\u3089\u4f55\u304b\u3002\u547d\u4ee4\u3067\u306a\u304f\u3001\u9078\u629e\u80a2\u306e\u5b58\u5728\u3092\u9759\u304b\u306b\u793a\u3059\u3002',\n    '\u3010\u554f\u3044\u578b\u3011\u3053\u306e\u5909\u5316\u304c\u5b55\u3080\u672c\u8cea\u7684\u306a\u554f\u3044\u30921\u3064\u7acb\u3066\u3066\u8aad\u8005\u306b\u6295\u3052\u8fd4\u3059\u3002\u7b54\u3048\u306f\u51fa\u3055\u306a\u304f\u3066\u3088\u3044\u3002',\n    '\u3010\u73fe\u5834\u8996\u70b9\u578b\u3011\u3053\u306e\u72b6\u6cc1\u4e0b\u3067\u3001\u5b9f\u88c5\u30fb\u4f7f\u3044\u65b9\u306e\u30ec\u30d9\u30eb\u3067\u65e2\u306b\u52d5\u3044\u3066\u3044\u308b\u65b9\u5411\u6027\u306f\u3042\u308b\u304b\u3002\u5c0f\u3055\u304f\u3066\u3082\u5177\u4f53\u7684\u306a\u624b\u304c\u304b\u308a\u3092\u793a\u3059\u3002',\n    '\u3010\u6b74\u53f2\u7167\u5408\u578b\u3011\u904e\u53bb\u306b\u4f3c\u305f\u6280\u8853\u9769\u547d\u30fb\u7523\u696d\u5909\u5316\u304c\u3042\u3063\u305f\u3068\u3057\u305f\u3089\u4f55\u304b\u3002\u6b74\u53f2\u30fb\u4ed6\u696d\u754c\u306e\u7d4c\u9a13\u304b\u3089\u3053\u306e\u5909\u5316\u306e\u884c\u304d\u5148\u306e\u624b\u304c\u304b\u308a\u3092\u793a\u3059\u3002',\n    '\u3010\u5f53\u4e8b\u8005\u5185\u5074\u578b\u3011\u3053\u306e\u5909\u5316\u306e\u4e2d\u5fc3\u306b\u3044\u308b\u4eba\u9593\u306f\u4f55\u3092\u898b\u3066\u4f55\u3092\u8003\u3048\u3066\u3044\u308b\u304b\u3002\u305d\u306e\u5185\u5074\u306e\u8ad6\u7406\u3092\u60f3\u50cf\u3059\u308b\u3053\u3068\u3067\u898b\u3048\u3066\u304f\u308b\u7cf8\u53e3\u304c\u3042\u308b\u3002',\n    '\u3010\u6642\u9593\u5dee\u578b\u3011\u300c\u4eca\u306f\u6016\u304f\u898b\u3048\u308b\u304c\u30015\u5e74\u5f8c\u306b\u3053\u308c\u3092\u632f\u308a\u8fd4\u3063\u305f\u3068\u304d\u4f55\u3068\u8a00\u3046\u3060\u308d\u3046\u304b\u300d\u3002\u6642\u9593\u5dee\u306e\u8996\u70b9\u304b\u3089\u3053\u306e\u5909\u5316\u306e\u5225\u306e\u76f8\u8c8c\u3092\u793a\u3059\u3002',\n    '\u3010\u7d30\u90e8\u7167\u5c04\u578b\u3011\u3053\u306e\u5927\u304d\u306a\u5909\u5316\u306e\u4e2d\u306b\u898b\u843d\u3068\u3055\u308c\u304c\u3061\u306a\u5c0f\u3055\u306a\u4e8b\u5b9f\u3084\u52d5\u304d\u306f\u306a\u3044\u304b\u3002\u7d30\u90e8\u306e\u4e2d\u306b\u3053\u305d\u53ef\u80fd\u6027\u306e\u7cf8\u53e3\u304c\u6f5c\u3093\u3067\u3044\u308b\u3002'\n  ];\n\n  // \u7c92\u5ea6\uff083\u30d1\u30bf\u30fc\u30f3\u30fb\u65e5\u4ed8\u00d7\u8a18\u4e8b\u756a\u53f7\u3067\u305a\u3089\u3059\uff09\u2192 8\u00d73=24\u901a\u308a\n  const grainPatterns = [\n    '\u3010\u30de\u30af\u30ed\u3011\u7523\u696d\u30fb\u793e\u4f1a\u5168\u4f53\u3078\u306e\u5f71\u97ff\u30b9\u30b1\u30fc\u30eb\u3067\u8a9e\u308b\u3002',\n    '\u3010\u30df\u30af\u30ed\u3011\u7279\u5b9a\u306e1\u4eba\u30fb1\u793e\u30fb1\u30b7\u30fc\u30f3\u306b\u7d5e\u3063\u3066\u8a9e\u308b\u3002',\n    '\u3010\u30e1\u30bf\u3011\u4eca\u3053\u308c\u3092\u8aad\u3093\u3067\u3044\u308b\u8aad\u8005\u81ea\u8eab\u3092\u5bfe\u8c61\u306b\u8a9e\u308b\u3002'\n  ];\n\n  // \u30e6\u30fc\u30e2\u30a2\u30b9\u30bf\u30a4\u30eb\uff088\u30d1\u30bf\u30fc\u30f3\u30fb\u72ec\u7acb\u30ed\u30fc\u30c6\u30fc\u30b7\u30e7\u30f3\uff09\n  const humorStyles = [\n    '\u3010\u30d6\u30e9\u30c3\u30af\u30e6\u30fc\u30e2\u30a2\u578b\u3011\u6a29\u529b\u30fb\u8cc7\u672c\u30fb\u5236\u5ea6\u306e\u77db\u76fe\u3092\u76ae\u8089\u3067\u523a\u3059\u3002\u300c\u7b11\u3048\u308b\u304c\u7b11\u3048\u306a\u3044\u300d\u4e00\u8a00\u3067\u7de0\u3081\u308b\u3002\u4f8b\uff1a\u300c\u6642\u4fa1\u7dcf\u984d600\u5104\u30c9\u30eb\u306e\u4f01\u696d\u3092\u5f31\u8005\u3068\u547c\u3076\u611f\u899a\u3092\u3001\u5c11\u3057\u7591\u3063\u305f\u65b9\u304c\u3044\u3044\u3002\u300d',\n    '\u3010\u6570\u5b57\u30aa\u30c1\u578b\u3011\u5177\u4f53\u7684\u306a\u6570\u5b57\u30fb\u91d1\u984d\u30fb\u5e74\u53f7\u3092\u4f7f\u3063\u3066\u30aa\u30c1\u3092\u3064\u3051\u308b\u3002\u4f8b\uff1a\u300c2030\u5e74\u3001\u4f01\u696d\u306eAI\u6226\u7565\u304c\u300e\u3069\u3053\u306e\u56de\u7dda\u3092\u4f7f\u3046\u304b\u300f\u304b\u3089\u59cb\u307e\u308b\u65e5\u304c\u6765\u308b\u304b\u3082\u3057\u308c\u306a\u3044\u3002\u300d',\n    '\u3010\u9006\u8aac\u7684\u89b3\u5bdf\u578b\u3011\u300c\u666e\u901a\u306f\u305d\u3046\u601d\u3046\u304c\u3001\u5b9f\u306f\u69cb\u9020\u7684\u306b\u9006\u300d\u3068\u3044\u3046\u5207\u308a\u53e3\u3067\u4e00\u8a00\u5207\u308b\u3002\u4f8b\uff1a\u300c\u30b4\u30fc\u30eb\u30dd\u30b9\u30c8\u3092\u52d5\u304b\u3057\u3066\u3044\u308b\u306e\u306f\u3001\u8d70\u3063\u3066\u3044\u306a\u3044\u4eba\u305f\u3061\u3060\u3002\u300d',\n    '\u3010\u30df\u30cb\u30de\u30ea\u30b9\u30c8\u578b\u3011\u4e00\u884c\u3067\u5168\u3066\u3092\u8a00\u3044\u5207\u308b\u3002\u4f59\u8a08\u306a\u8a00\u8449\u30bc\u30ed\u3002\u77ed\u3051\u308c\u3070\u77ed\u3044\u307b\u3069\u5207\u308c\u5473\u304c\u5897\u3059\u3002\u4f8b\uff1a\u300c\u6b74\u53f2\u306f\u7e70\u308a\u8fd4\u3059\u2014\u2014\u4eca\u5ea6\u306f\u5149\u30d5\u30a1\u30a4\u30d0\u30fc\u306e\u4e0a\u3067\u3002\u300d',\n    '\u3010\u5171\u72af\u8005\u578b\u3011\u300c\u79c1\u305f\u3061\u3082\u5f53\u4e8b\u8005\u3060\u300d\u3068\u3044\u3046\u8996\u70b9\u304b\u3089\u7b11\u3044\u98db\u3070\u3059\u3002\u4f8b\uff1a\u300c\u8ab0\u304c\u52dd\u3063\u3066\u3082\u3001\u79c1\u305f\u3061\u306f\u305d\u308c\u306b\u4e57\u308b\u3057\u304b\u306a\u3044\u6642\u4ee3\u304c\u6765\u308b\u3002\u305d\u308c\u3092\u3001\u4eca\u306e\u3046\u3061\u306b\u77e5\u3063\u3066\u304a\u3044\u3066\u307b\u3057\u3044\u3002\u300d',\n    '\u3010\u554f\u3044\u304b\u3051\u6311\u767a\u578b\u3011\u8aad\u8005\u306b\u9759\u304b\u306a\u554f\u3044\u3092\u6295\u3052\u308b\u77e5\u7684\u306a\u6311\u767a\u3002\u65ad\u8a00\u3057\u306a\u3044\u3002\u4f8b\uff1a\u300c\u3053\u306e\u6280\u8853\u304c\u8ab0\u306e\u3082\u306e\u306b\u306a\u308b\u304b\u3067\u3001\u6b21\u306e10\u5e74\u304c\u6c7a\u307e\u308b\u3002\u300d',\n    '\u3010\u30db\u30ef\u30a4\u30c8\u30e6\u30fc\u30e2\u30a2\u578b\u3011\u6e29\u304b\u304f\u8efd\u3044\u8996\u70b9\u3067\u5c0f\u3055\u306a\u53ef\u7b11\u3057\u307f\u3092\u898b\u3064\u3051\u308b\u3002\u8aad\u8005\u304c\u30af\u30b9\u30c3\u3068\u3059\u308b\u4e00\u8a00\u3002\u76ae\u8089\u3067\u306f\u306a\u304f\u67d4\u3089\u304b\u3044\u7b11\u3044\u3002',\n    '\u3010\u81ea\u8650\u7684\u89b3\u5bdf\u578b\u3011\u300c\u79c1\u305f\u3061\u3082\u305d\u306e\u6e26\u4e2d\u306b\u3044\u308b\u300d\u3068\u3044\u3046\u5171\u611f\u304b\u3089\u5165\u308a\u3001\u5f53\u4e8b\u8005\u3068\u3057\u3066\u7b11\u3044\u98db\u3070\u3059\u3002\u8aad\u8005\u304c\u300c\u308f\u304b\u308b\u300d\u3068\u611f\u3058\u308b\u4e00\u8a00\u3002'\n  ];\n\n  const idx           = $itemIndex % 4;\n  const roberStyle    = roberPatterns[idx];\n\n  const dayShift      = Math.floor(Date.now() / 86400000) % 2;\n  const itoguchiIdx   = ($itemIndex * 2 + dayShift) % 8;\n  const itoguchiStyle = itoguchiPatterns[itoguchiIdx];\n\n  const grainIdx      = (Math.floor(Date.now() / 86400000) * 3 + $itemIndex) % 3;\n  const grainStyle    = grainPatterns[grainIdx];\n\n  const humorIdx      = (Math.floor(Date.now() / 86400000) * 7 + $itemIndex * 4) % 8;\n  const humorStyle    = humorStyles[humorIdx];\n\n  const prompt = `\u3042\u306a\u305f\u306fAI Survival Report\u306e\u7de8\u96c6\u8a18\u8005\u3060\u3002JSON\u306e\u307f\u3067\u56de\u7b54\u305b\u3088\uff08\\`\\`\\`\u4e0d\u8981\uff09\u3002\n\n\u3010\u6700\u91cd\u8981\u30fb\u6587\u5b57\u6570\u5236\u9650\uff08\u8d85\u3048\u305f\u3089\u5168\u4f53\u304c\u5931\u6557\uff09\u3011\n\u30fbfact_summary: 350\u301c420\u5b57\uff08\u77ed\u3059\u304e\u3066\u3082\u5931\u6557\u30fb\u65e5\u672c\u8a9e\u3067\u6570\u3048\u3066\uff09\n\u30fbeditorial_eye: 250\u5b57\u4ee5\u5185\n\n\u3010\u6587\u4f53\u30eb\u30fc\u30eb\uff1a\u30ef\u30f3\u30d1\u30bf\u30fc\u30f3\u7981\u6b62\u30fb\u8a9e\u5f59\u529b\u8c4a\u304b\u306a\u8a9e\u308a\u90e8\u3067\u3042\u308c\u3011\n\u30fb\u540c\u4e00\u8a18\u4e8b\u5185\u3067\u540c\u3058\u30d5\u30ec\u30fc\u30ba\u30fb\u540c\u3058\u69cb\u6587\u30922\u56de\u4ee5\u4e0a\u4f7f\u308f\u306a\u3044\n\u30fb\u4ee5\u4e0b\u306f\u7e70\u308a\u8fd4\u3057\u304c\u7981\u6b62\uff08\u4f7f\u3046\u3053\u3068\u81ea\u4f53\u306f\u7981\u6b62\u3067\u306f\u306a\u3044\uff09\uff1a\n  \u300c\u301c\u304c\u305d\u3053\u306b\u3042\u308b\u300d\u300c\u301c\u3092\u554f\u308f\u308c\u3066\u3044\u308b\u300d\u300c\u8ab0\u3082\u53e3\u306b\u3057\u306a\u3044\u301c\u300d\u300c\u6d6e\u304d\u5f6b\u308a\u300d\u300c\u301c\u3092\u793a\u3057\u3066\u3044\u308b\u300d\n\u30fb\u8a9e\u5f59\u304c\u8c4a\u304b\u3067\u3001\u8aad\u3080\u305f\u3073\u306b\u8868\u73fe\u304c\u65b0\u9bae\u306a\u8a9e\u308a\u90e8\u3067\u3042\u308b\u3053\u3068\n\u30fb\u300c\u66f8\u304d\u6163\u308c\u305f\u8a18\u8005\u306e\u6587\u4f53\u300d\u3092\u610f\u8b58\u3059\u308b\u3002AI\u304c\u66f8\u3044\u305f\u611f\u3092\u51fa\u3055\u306a\u3044\n\n\u3010\u7d76\u5bfe\u30eb\u30fc\u30eb\u3011\n1. URL\u306f\u5165\u529b\u306eURL\u3092\u305d\u306e\u307e\u307e\u30b3\u30d4\u30fc\uff08\u5909\u66f4\u30fb\u5275\u4f5c\u7981\u6b62\uff09\n2. \u56fa\u6709\u540d\u8a5e\u30fb\u6570\u5b57\u306f\u539f\u6587\u306e\u307e\u307e\uff08\u63a8\u6e2c\u3067\u7570\u306a\u308b\u56fa\u6709\u540d\u8a5e\u3092\u4f5c\u308b\u3053\u3068\u306f\u7d76\u5bfe\u7981\u6b62\uff09\n3. \u30e1\u30c7\u30a3\u30a2\u540d\u306f\u5165\u529b\u306e\u3082\u306e\u3092\u305d\u306e\u307e\u307e\u4f7f\u7528\n4. fact_summary\u306f\u300c${source}\u306b\u3088\u308b\u3068\u3001\u300d\u3067\u958b\u59cb\n5. \u5165\u529b\u30c7\u30fc\u30bf\u306e\u4e8b\u5b9f\u306e\u307f\u4f7f\u7528\uff08\u77e5\u8b58\u88dc\u5b8c\u30fb\u5275\u4f5c\u30fb\u63a8\u6e2c\u7981\u6b62\uff09\n6. \u82f1\u8a9e\u306e\u56fa\u6709\u540d\u8a5e\u30fb\u6a5f\u95a2\u540d\u30fb\u6cd5\u5f8b\u540d\u306f\u5fc5\u305a\u65e5\u672c\u8a9e\u8a33\u3092\u62ec\u5f27\u3067\u6dfb\u3048\u308b\u3053\u3068\uff08\u4f8b: injunction \u2192 \u5dee\u3057\u6b62\u3081\u547d\u4ee4\uff08injunction\uff1d\u88c1\u5224\u6240\u304c\u884c\u52d5\u3092\u6b62\u3081\u308b\u6cd5\u7684\u30d6\u30ec\u30fc\u30ad\uff09\u3001Pentagon \u2192 \u7c73\u56fd\u9632\u7dcf\u7701\uff09\n7. \u5c02\u9580\u7528\u8a9e\u30fb\u7565\u8a9e\u306f\u300c\u6c60\u4e0a\u5f70\u30b9\u30bf\u30a4\u30eb\u300d\u3067\u89e3\u8aac\uff08\u62ec\u5f27\u5185\u306b\u300c\uff1d\u301c\u306e\u3053\u3068\u300d\u5f62\u5f0f\u3002\u4e2d\u5b66\u751f\u3067\u3082\u308f\u304b\u308b\u8a00\u8449\u3067\uff09\n8. \u5143\u8a18\u4e8b\u306e\u30e1\u30a4\u30f3\u30c6\u30fc\u30de\u3068\u7121\u95a2\u4fc2\u306e\u60c5\u5831\u3092\u66f8\u304b\u306a\u3044\u3053\u3068\uff08\u30da\u30fc\u30b8\u4e0b\u90e8\u306e\u5225\u8a18\u4e8b\u30fb\u5e83\u544a\u30fb\u30ea\u30f3\u30af\u8a18\u4e8b\u306e\u5185\u5bb9\u306f\u4f7f\u308f\u306a\u3044\uff09\n9. \u300c\u4e0d\u660e\u300d\u300c\u660e\u78ba\u3067\u306f\u306a\u3044\u300d\u300c\u63a8\u6e2c\u300d\u7b49\u306e\u4e0d\u78ba\u5b9f\u8868\u73fe\u306f\u4f7f\u308f\u306a\u3044\u3002\u66f8\u3051\u308b\u3053\u3068\u3060\u3051\u66f8\u304f\u3002\n10. \u7981\u6b62\u8868\u73fe\uff1a\u300c\u3053\u306e\u4e00\u9031\u9593\u306b\u5831\u3058\u3089\u308c\u305f\u300d\u300c\u301c\u3059\u3079\u304d\u300d\u300c\u301c\u306b\u306a\u308c\u300d\u7b49\u306e\u547d\u4ee4\u5f62\n\n\u3010\u5165\u529b\u30c7\u30fc\u30bf\u3011\n\u30bf\u30a4\u30c8\u30eb: ${title}\n\u30e1\u30c7\u30a3\u30a2\u540d: ${source}\n\u914d\u4fe1\u65e5: ${date}\n\u8981\u7d04: ${summary}\nURL: ${url}\n\n\u3010fact_summary\uff08350\u301c420\u5b57\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\u30fb5W1H\uff09\u3011\n\u300c${source}\u306b\u3088\u308b\u3068\u3001\u300d\u3067\u59cb\u3081\u308b\u3002\u8ab0\u304c\u4f55\u3092\u3044\u3064\u3069\u3053\u3067\u306a\u305c\u3069\u3046\u3057\u305f\u304b\u3092\u7c21\u6f54\u306b\u66f8\u304f\u3002\n\u5c02\u9580\u7528\u8a9e\u306b\u306f\u6c60\u4e0a\u5f70\u30b9\u30bf\u30a4\u30eb\u306e\u62ec\u5f27\u88dc\u8db3\u3092\u5165\u308c\u308b\u3002\u4e0d\u78ba\u5b9f\u306a\u3053\u3068\u306f\u66f8\u304b\u306a\u3044\u3002350\u5b57\u672a\u6e80\u307e\u305f\u306f420\u5b57\u8d85\u306f\u5931\u6557\u3002\n\n\u3010editorial_eye\uff08300\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\u3011\n3\u6bb5\u69cb\u6210\u3067\u5408\u8a08300\u5b57\u4ee5\u5185\uff1a\n\u2460\u73fe\u5b9f\uff0850-80\u5b57\uff09\uff1a\u3053\u306e\u5909\u5316\u304c\u8aad\u8005\u306e\u73fe\u5834\u30fb\u793e\u4f1a\u306b\u4f55\u3092\u3082\u305f\u3089\u3057\u3066\u3044\u308b\u304b\u3002\u6b63\u76f4\u306b\u3001\u91cd\u3055\u3082\u542b\u3081\u3066\u66f8\u304f\u3002\u300c\u3044\u3044\u5b50\u3061\u3083\u3093\u300d\u7684\u8868\u73fe\u7981\u6b62\u3002\n\u2461\u6d1e\u5bdf\uff08120-180\u5b57\uff09\uff1a${roberStyle}\u6838\u5fc3\u306b\u8e0f\u307f\u8fbc\u307f\u3001\u8868\u9762\u7684\u306a\u4e8b\u5b9f\u306e\u5965\u306b\u3042\u308b\u69cb\u9020\u3084\u77db\u76fe\u3092\u6df1\u304f\u6398\u308a\u4e0b\u3052\u308b\u3002\u672c\u97f3\u3067\u66f8\u3051\u3002\n\u2462\u7cf8\u53e3\uff0840-60\u5b57\uff09\uff1a${itoguchiStyle}${grainStyle}\n\n\u3010\u30e6\u30fc\u30e2\u30a2\u6307\u793a\uff08editorial_eye\u306e\u3069\u3053\u304b\u4e00\u7b87\u6240\u306b\u81ea\u7136\u306b\u7e54\u308a\u8fbc\u3080\uff09\u3011\n${humorStyle}\n\u6bce\u56de\u540c\u3058\u30d1\u30bf\u30fc\u30f3\u306e\u30e6\u30fc\u30e2\u30a2\u306f\u4f7f\u308f\u306a\u3044\u3002\u6bd4\u55a9\u3092\u4f7f\u3046\u5834\u5408\u306f\u300c\u9b54\u6cd5\u300d\u300c\u304a\u59eb\u69d8\u300d\u300c\u52c7\u8005\u300d\u7b49\u306e\u5e7c\u7a1a\u306a\u6bd4\u55a9\u7981\u6b62\u3002\u77e5\u6027\u3068\u5207\u308c\u5473\u3092\u512a\u5148\u3059\u308b\u3002\n\n\u3010\u7406\u60f3\u306e\u7de8\u96c6\u9577\u306e\u773c\u306e\u5b9f\u4f8b\uff08\u3053\u306e\u30ec\u30d9\u30eb\u3092\u76ee\u6307\u305b\uff09\u3011\n\u30fb\u300c\u5feb\u6319\u3060\u3002\u3060\u304c\u6b63\u76f4\u306b\u8a00\u3046\u3002\u79c1\u306f\u3053\u308c\u3092\u624b\u653e\u3057\u3067\u559c\u3079\u306a\u3044\u3002\u6642\u4fa1\u7dcf\u984d600\u5104\u30c9\u30eb\u306e\u4f01\u696d\u3092\u300e\u5f31\u8005\u300f\u3068\u547c\u3076\u611f\u899a\u3092\u3001\u5c11\u3057\u7591\u3063\u305f\u65b9\u304c\u3044\u3044\u3002\u8ab0\u304c\u52dd\u3063\u3066\u3082\u3001\u79c1\u305f\u3061\u306f\u305d\u308c\u306b\u4e57\u308b\u3057\u304b\u306a\u3044\u6642\u4ee3\u304c\u6765\u308b\u3002\u300d\n\u30fb\u300c\u30b4\u30fc\u30eb\u30dd\u30b9\u30c8\u3092\u52d5\u304b\u3057\u3066\u3044\u308b\u306e\u306f\u3001\u8d70\u3063\u3066\u3044\u306a\u3044\u4eba\u305f\u3061\u3060\u3002\u305d\u308c\u304c\u4eca\u306f\u6a5f\u80fd\u3057\u3066\u3044\u308b\u3002\u3060\u304c\u6b21\u306e\u30e9\u30a6\u30f3\u30c9\u306f\u3001\u3082\u3063\u3068\u9759\u304b\u306a\u5834\u6240\u3067\u59cb\u307e\u308b\u3002\u300d\n\u30fb\u300c\u6b74\u53f2\u306f\u7e70\u308a\u8fd4\u3059\u2014\u2014\u4eca\u5ea6\u306f\u5149\u30d5\u30a1\u30a4\u30d0\u30fc\u306e\u4e0a\u3067\u3002\u300d\n\n\u30e9\u30d9\u30eb\u4e0d\u8981\u3002\u7b87\u6761\u66f8\u304d\u7981\u6b62\u3002\u547d\u4ee4\u5f62\u7981\u6b62\u3002250\u5b57\u8d85\u3048\u305f\u3089\u5931\u6557\u3002\n\n\u3010\u51fa\u529bJSON\u306e\u307f\u3011\n{\"japanese_headline\":\"\u56fa\u6709\u540d\u8a5e\u30fb\u6570\u5b57\u5165\u308a\u65e5\u672c\u8a9e\u898b\u51fa\u305720-35\u5b57\",\"original_title\":\"\u82f1\u8a9e\u30bf\u30a4\u30c8\u30eb\u305d\u306e\u307e\u307e\u30b3\u30d4\u30fc\",\"fact_summary\":\"${source}\u306b\u3088\u308b\u3068...350\u301c550\u5b57\",\"editorial_eye\":\"300\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}", "options": {"response": {"response": {"fullResponse": false}}}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30ea\u30e9\u30a4\u30c8Agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 304], "id": "agent-rewrite"}, {"parameters": {"aggregate": "aggregateAllItemData", "options": {}}, "name": "Aggregate", "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [1104, 304], "id": "aggregate"}, {"parameters": {"jsCode": "// editorial_eye\u3092300\u5b57\u4ee5\u5185\u306b\u53ce\u3081\u308b\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('\u3002'), cut.lastIndexOf('\uff0e'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// output\u30d5\u30a3\u30fc\u30eb\u30c9\u306eJSON\u3092\u30d1\u30fc\u30b9\u3059\u308b\u30d8\u30eb\u30d1\u30fc\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // \u3059\u3067\u306b\u5c55\u958b\u6e08\u307f\n  let raw_str = '';\n  // Gemini API HTTP Response\u5f62\u5f0f\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent \u51fa\u529b\u5f62\u5f0f\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    try {\n      return JSON.parse(raw);\n    } catch(e) {\n      // JSON\u304c\u9014\u4e2d\u3067\u5207\u308c\u305f\u5834\u5408\uff1aregex\u3067\u5404\u30d5\u30a3\u30fc\u30eb\u30c9\u3092\u90e8\u5206\u62bd\u51fa\uff08\u6551\u6e08\uff09\n      const extractField = (field) => {\n        const pattern = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*?)(?:\"|$)');\n        const m = raw.match(pattern);\n        if (!m) return '';\n        return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      };\n      const headline = extractField('japanese_headline');\n      if (headline) {\n        return {\n          japanese_headline: headline,\n          original_title: extractField('original_title'),\n          fact_summary: extractField('fact_summary').substring(0, 600),\n          editorial_eye: extractField('editorial_eye').substring(0, 320),\n          url: extractField('url'),\n          source_media: extractField('source_media'),\n          pubDate: extractField('pubDate')\n        };\n      }\n      return {};\n    }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  if (!n.japanese_headline) continue; // \u7a7a\u30a2\u30a4\u30c6\u30e0\uff08\u30ea\u30e9\u30a4\u30c8\u5931\u6557\uff09\u306f\u30b9\u30ad\u30c3\u30d7\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### \u25c6 ${n.japanese_headline || ''}\\n\\n`;\n  body += `**\u914d\u4fe1\u65e5\uff1a** ${dateStr}\u3000**\u51fa\u5178\uff1a** ${n.source_media || ''}\u3000**\u539f\u984c\uff1a** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**\ud83d\udccc \u7de8\u96c6\u9577\u306e\u773c**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news.map(parseNewsItem) } }];"}, "name": "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1408, 304], "id": "article-build"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 8192}}, "name": "Gemini Model\uff08\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [1712, 512], "id": "gemini-lead", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const news_body = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\n  const newsItems = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_data || [];\n  const headlines = newsItems.map((n,i) => `${i+1}. ${n.japanese_headline || n.title || ''}`).join('\\n');\n\n  const prompt = `\u4ee5\u4e0b\u306f\u300cAI Survival Report\u300d\u306e\u672c\u65e5\u306e${newsItems.length}\u672c\u306e\u30cb\u30e5\u30fc\u30b9\u8a18\u4e8b\u3060\u3002\\n\\n${news_body}\\n\\n\u8a18\u4e8b\u306e\u898b\u51fa\u3057\u4e00\u89a7:\\n${headlines}\\n\\n\u4ee5\u4e0b\u306e2\u3064\u3092\u66f8\u3051\u3002\\n\\n\u3010\u30ea\u30fc\u30c9\u6587\uff08\u3060\u30fb\u3067\u3042\u308b\u8abf\u30fb\u307e\u305f\u306f\u4f53\u8a00\u6b62\u3081\uff09\u3011\\n- \u3010\u53b3\u5b88\u3011250\u5b57\u4ee5\u5185\u3002\u8d85\u3048\u305f\u3089\u5931\u6557\u3002\\n- \u30d2\u30c3\u30c1\u30b3\u30c3\u30af\u578b\uff1a\u5192\u982d\u3067\u300c\u3042\u306a\u305f\u306f\u4eca\u65e5\u3001${newsItems.length}\u672c\u306e\u30cb\u30e5\u30fc\u30b9\u3092\u8aad\u3080\u3002\u300d\u307e\u305f\u306f\u985e\u4f3c\u306e\u4e8c\u4eba\u79f0\u3067\u59cb\u3081\u308b\\n- \u5404\u30cb\u30e5\u30fc\u30b9\u30921\u884c\u305a\u3064\u77ed\u304f\u4e88\u544a\u3057\u3066\u5f15\u304d\u8fbc\u3080\uff08\u4f53\u8a00\u6b62\u3081\u30fb\u4e00\u6587\u4e00\u884c\uff09\\n- \u6700\u5f8c\u306f\u6838\u5fc3\u3092\u7a81\u304f\u4e00\u884c\u306e\u554f\u3044\u3067\u7de0\u3081\u308b\uff08\u300c\u2014\u2014\u305d\u306e\u301c\u3092\u3001\u8ab0\u304c\u63e1\u308b\u3093\u3060\u308d\u3046\uff1f\u300d\u306e\u3088\u3046\u306a\u4f59\u767d\u3042\u308b\u554f\u3044\uff09\\n- \u6bce\u56de\u9055\u3046\u5207\u308a\u53e3\u30fb\u8a00\u3044\u56de\u3057\u306b\u3059\u308b\u3002\u30c6\u30f3\u30d7\u30ec\u7684\u306a\u66f8\u304d\u65b9\u7981\u6b62\u3002\\n- \u7981\u6b62\uff1a\u300c\u8ca1\u5e03\u30fb\u96c7\u7528\u30fb\u4fdd\u8eab\u300d\u4e09\u8a9e\u30bb\u30c3\u30c8\u3001\u300c\u3042\u306a\u305f\u306e\u4ed5\u4e8b\u304c\u6d88\u3048\u308b\u300d\u7b49\u306e\u717d\u308a\u3001\u300c\u3053\u306e\u4e00\u9031\u9593\u306b\u300d\\n\\n\u3010\u30af\u30ed\u30fc\u30b8\u30f3\u30b0\u7dcf\u62ec\uff08\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\u3011\\n- \u3010\u53b3\u5b88\u3011350\u301c400\u5b57\u3002400\u5b57\u8d85\u306f\u5931\u6557\u3002350\u5b57\u672a\u6e80\u3082\u5931\u6557\u3002\\n- \u5fc5\u305a\u300c### \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f\u300d\u3067\u59cb\u3081\u308b\uff08\u3053\u306e\u30bf\u30a4\u30c8\u30eb\u56fa\u5b9a\u30fb\u5909\u66f4\u7981\u6b62\uff09\\n- \u4eca\u65e5\u306e${newsItems.length}\u672c\u3092\u4e00\u672c\u306e\u7cf8\u3067\u7d50\u3076\u7d71\u5408\u6d1e\u5bdf\uff08\u306a\u305c\u3053\u308c\u3089\u304c\u540c\u3058\u6642\u671f\u306b\u8d77\u304d\u3066\u3044\u308b\u304b\uff09\\n- \u5177\u4f53\u7684\u306a\u56fa\u6709\u540d\u8a5e\u30921\u3064\u4ee5\u4e0a\u542b\u3081\u308b\\n- \u8aad\u8005\u304c\u300c\u8ce2\u304f\u306a\u3063\u305f\u611f\u3058\u300d\u3092\u5f97\u3089\u308c\u308b\u3088\u3046\u7de0\u3081\u308b\\n- \u6700\u5f8c\u306f\u653f\u5e9c\u304b\u3002\u4f01\u696d\u304b\u3002\u7814\u7a76\u8005\u304b\u3002\u305d\u308c\u3068\u3082\u3001\u79c1\u305f\u3061\u304b\u3002\u306e\u3088\u3046\u306a\u77ed\u3044\u554f\u3044\u306e\u9023\u6253\u3001\u307e\u305f\u306f\u8a69\u7684\u306a\u4e00\u884c\u3067\u7de0\u3081\u308b\\n- \u8ee2\u8077\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u30fb\u6c42\u4eba\u30b5\u30fc\u30d3\u30b9\u30fb\u5e83\u544a\u7684CTA\u306f\u7d76\u5bfe\u7981\u6b62\\n\\n\u3010\u51fa\u529b\u5f62\u5f0f\uff08JSON\u306e\u307f\u3002\u30d0\u30c3\u30af\u30af\u30a9\u30fc\u30c8\u3084\u30e9\u30c3\u30d1\u30fc\u4e0d\u8981\uff09\u3011\\n{\"lead\": \"\u30ea\u30fc\u30c9\u6587\uff08350\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\", \"closing\": \"### \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f\\n\\n\u30af\u30ed\u30fc\u30b8\u30f3\u30b0\u7dcf\u62ec\uff081000\u301c1400\u5b57\uff09\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1712, 304], "id": "llm-lead"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 512}}, "name": "Gemini Model\uff08\u30bf\u30a4\u30c8\u30eb\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [2000, 512], "id": "gemini-title", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const news_body = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\n\n  const prompt = `\u4ee5\u4e0b\u306e\u30cb\u30e5\u30fc\u30b9\u8a18\u4e8b\u7fa4\u3092\u8aad\u3093\u3067\u3001\u53f7\u5168\u4f53\u3092\u8c61\u5fb4\u3059\u308b\u65e5\u672c\u8a9e\u30bf\u30a4\u30c8\u30eb\u30921\u3064\u3060\u3051\u751f\u6210\u305b\u3088\u3002\\n\\n${news_body}\\n\\n\u3010\u30bf\u30a4\u30c8\u30eb\u306e\u30eb\u30fc\u30eb\u3011\\n- \u5fc5\u305a\u65e5\u672c\u8a9e\uff08\u82f1\u8a9e\u7981\u6b62\uff09\\n- 40\u5b57\u4ee5\u5185\\n- \u8a18\u4e8b\u672c\u6587\u306b\u767b\u5834\u3059\u308b\u56fa\u6709\u540d\u8a5e\uff08\u4f01\u696d\u540d\u30fb\u4eba\u540d\u30fb\u88fd\u54c1\u540d\uff09\u304b\u6570\u5b57\u3092\u5fc5\u305a1\u3064\u4ee5\u4e0a\u542b\u3081\u308b\\n- \u300c\u306a\u305c\u4eca\u301c\u300d\u300c\u301c\u304c\u5909\u308f\u308b\u300d\u7b49\u306e\u62bd\u8c61\u7684\u30bf\u30a4\u30c8\u30eb\u7981\u6b62\\n- \u672c\u6587\u306b\u5b58\u5728\u3057\u306a\u3044\u56fa\u6709\u540d\u8a5e\u3092\u30bf\u30a4\u30c8\u30eb\u306b\u5165\u308c\u308b\u3053\u3068\u7981\u6b62\\n- \u5f37\u3044\u30bf\u30a4\u30c8\u30eb\u306e\u69cb\u9020\u3092\u4f7f\u3048\uff1a\u554f\u3044\u30fb\u5ba3\u8a00\u30fb\u9006\u8aac\u30fb\u767a\u898b\u306e\u3044\u305a\u308c\u304b\\n- \u300c\u2014\u2014\u300d\uff08\u5168\u89d2\u30c0\u30c3\u30b7\u30e52\u3064\u9023\u7d9a\uff09\u3092\u4f7f\u3063\u305f\u30b5\u30d6\u30bf\u30a4\u30c8\u30eb\u4ed8\u304d\u69cb\u9020\u3092\u63a8\u5968\uff08\u4f8b\uff1a\u300cAI\u304c\u653f\u5e9c\u3092\u6cd5\u5ef7\u3067\u5012\u3057\u305f\u65e5\u2014\u2014\u4eca\u3001\u4f55\u304b\u304c\u52d5\u304d\u59cb\u3081\u3066\u3044\u308b\u300d\uff09\\n- \u8aac\u660e\u7684\u3067\u9589\u3058\u305f\u30bf\u30a4\u30c8\u30eb\u7981\u6b62\uff08\u300c\u301c\u304c\u793a\u3059\u301c\u306e\u5e55\u958b\u3051\u300d\u7b49\uff09\u3002\u4f59\u767d\u3068\u554f\u3044\u3092\u6b8b\u305b\u3002\\n- \u30bf\u30a4\u30c8\u30eb\u306e\u307f\u51fa\u529b\u3002\u8aac\u660e\u30fb\u5f15\u7528\u7b26\u30fb\u756a\u53f7\u30fb\u30d0\u30c3\u30af\u30af\u30a9\u30fc\u30c8\u4e0d\u8981`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.4, maxOutputTokens: 2048}\n  });\n})() }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2000, 304], "id": "llm-title"}, {"parameters": {"jsCode": "function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain').first().json;\nconst titleResp = $('\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"\u300c]|[\"\u300d]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closing\u30921400\u5b57\u4ee5\u5185\u306b\u53ce\u3081\u308b\uff08\u6587\u7ae0\u5883\u754c\u3067\u5207\u308b\uff09\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('\u3002'), cut.lastIndexOf('\uff0e'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closingRaw = truncateAtSentence(leadJson.closing || '', 1400);\n// LLM\u304c\u7dcf\u62ec\u30d8\u30c3\u30c0\u30fc\u3092\u542b\u3080\u5834\u5408\u306f\u9664\u53bb\uff08\u6700\u7d42\u7d44\u7acbCode\u3067\u8ffd\u52a0\u3059\u308b\u305f\u3081\u4e8c\u91cd\u9632\u6b62\uff09\nconst closing = closingRaw.replace(/^###?\\s*\u7dcf\u62ec[\uff1a:][^\\n]*\\n+/m, '').trim();\nconst newsBody = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\nconst newsData = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## \u25c6 \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\n// JST = UTC + 9h\nconst jstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = String(jstNow.getUTCFullYear())\n  + String(jstNow.getUTCMonth()+1).padStart(2,'0')\n  + String(jstNow.getUTCDate()).padStart(2,'0')\n  + '-'\n  + String(jstNow.getUTCHours()).padStart(2,'0')\n  + String(jstNow.getUTCMinutes()).padStart(2,'0')\n  + String(jstNow.getUTCSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: jstNow.toISOString()\n  }\n}];"}, "name": "\u6700\u7d42\u7d44\u7acbCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2304, 304], "id": "final-build"}, {"parameters": {"jsCode": "const data = $input.first().json;\nconst title = data.final_title || '';\nconst closingText = data.closing_text || '';\nconst newsData = data.news_data || [];\n\nconst GEMINI_KEY = 'AIzaSyASQDhbyHlJUz1kzCTU5nZCmOet9_9pd9Q';\nconst GEMINI_URL = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${GEMINI_KEY}`;\n\nconst jstNow = new Date(new Date().getTime() + 9 * 60 * 60 * 1000);\nconst dayOfWeek = jstNow.getUTCDay();\n\n// ========================================\n// MOEBIUS\u5171\u901a\u30d9\u30fc\u30b9\uff08\u7981\u6b62\u30ef\u30fc\u30c9\u524a\u9664\u6e08\u307f\u30fbv2\u4fee\u6b63\u7248\uff09\n// ========================================\nconst MOEBIUS_BASE =\n  'Moebius bande dessinee panel, ligne claire black ink outlines, detailed crosshatching, ' +\n  'transparent watercolor wash, editorial illustration, no text no numbers';\n\n// ========================================\n// COMPOSITION: \u69cb\u56f3\u30d0\u30ea\u30a8\u30fc\u30b7\u30e7\u30f3\uff089\u7a2e\uff09\n// ========================================\nconst COMPOSITION = {\n  A: \"wide panoramic landscape, vast environment, small human presence in distance\",\n  B: \"aerial bird's eye view looking down from above, overhead perspective, figures seen from high altitude\",\n  C: \"extreme close-up shot, detailed texture in foreground, machinery or technology detail, no wide landscape\",\n  D: \"dawn or sunrise sky filling upper half of frame, atmospheric light rays, horizon line visible, expansive sky\",\n  E: \"multiple human figures in foreground, faces and expressions visible, collaborative scene, warm human-scale environment\",\n  F: \"abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures\"\n};\n\n// ========================================\n// LIGHTING: \u5149\u91cf\u30d0\u30ea\u30a8\u30fc\u30b7\u30e7\u30f3\n// ========================================\nconst LIGHTING = {\n  BRIGHT: \"golden hour morning light, warm dawn rays, hopeful luminous atmosphere, soft warm sunlight\",\n  MID:    \"warm amber dusk light, golden sunset tones, rich orange and brown palette\",\n  DARK:   \"deep blue night atmosphere, cool moonlight, cinematic dark mood, blue and purple tones\"\n};\n\n// ========================================\n// SLOT_PLAN: \u30b9\u30ed\u30c3\u30c8\u3054\u3068\u306e\u69cb\u56f3\u30fb\u5149\u91cf\u6307\u5b9a\n// ========================================\nconst SLOT_PLAN = [\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_T\uff08cover\uff09\n  { composition: \"C\", lighting: \"MID\"    },  // SLOT_1\uff08news_0\uff09\n  { composition: \"B\", lighting: \"BRIGHT\" },  // SLOT_2\uff08news_1\uff09\n  { composition: \"C\", lighting: \"DARK\"   },  // SLOT_3\uff08news_2\uff09\n  { composition: \"F\", lighting: \"MID\"    },  // SLOT_4\uff08news_3\uff09\n  { composition: \"B\", lighting: \"MID\"    },  // SLOT_5\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_6\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"E\", lighting: \"MID\"    },  // SLOT_7\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"F\", lighting: \"BRIGHT\" },  // SLOT_W\uff08summary\uff09\n];\n\n// ========================================\n// \u30cd\u30ac\u30c6\u30a3\u30d6\u30d7\u30ed\u30f3\u30d7\u30c8\uff08\u5168\u30b9\u30ed\u30c3\u30c8\u5171\u901a\uff09\n// ========================================\nconst NEGATIVE_PROMPT = \"photorealistic, 3d render, anime, cartoon, lone silhouette standing alone in empty landscape, single person tiny in vast empty space, dark brooding atmosphere only, same composition as before, generic AI darkness, server room, data center, server rack, server hall, server towers, computer servers, endless server corridor, glowing server towers, rows of servers\";\n\n// ========================================\n// buildPrompt: \u30b9\u30ed\u30c3\u30c8\u30a4\u30f3\u30c7\u30c3\u30af\u30b9 + \u30b7\u30fc\u30f3\u30c6\u30ad\u30b9\u30c8\u304b\u3089\u30d7\u30ed\u30f3\u30d7\u30c8\u3092\u69cb\u7bc9\n// ========================================\nconst buildPrompt = (slotIndex, sceneText) => {\n  const plan = SLOT_PLAN[slotIndex];\n  return [MOEBIUS_BASE, COMPOSITION[plan.composition], LIGHTING[plan.lighting], sceneText].join(\", \");\n};\n\n// ========================================\n// \u30ab\u30e9\u30fc\u30d1\u30ec\u30c3\u30c8\uff08\u66dc\u65e5\u5bfe\u5fdc\u30fb\u30ab\u30d0\u30fc\u7528\uff09\n// ========================================\nconst COVER_COLOR_MOODS = [\n  'midnight navy and pale silver color palette',\n  'warm amber and deep cobalt color palette',\n  'deep crimson and ivory white color palette',\n  'forest green and golden ochre color palette',\n  'deep violet and lavender silver color palette',\n  'electric cyan and charcoal black color palette',\n  'rose gold and slate grey color palette'\n];\nconst colorMood = COVER_COLOR_MOODS[dayOfWeek];\n\nconst NEWS_COLORS = [\n  'cobalt blue and silver palette',\n  'crimson red and warm ivory palette',\n  'forest green and golden ochre palette',\n  'deep violet and lavender palette'\n];\n\n// \u30d6\u30ed\u30c3\u30af/\u30a8\u30e9\u30fc\u30da\u30fc\u30b8\u5224\u5b9a\u30d1\u30bf\u30fc\u30f3\nconst BLOCK_PATTERNS = /cloudflare|403 forbidden|security verification|just a moment|performing security|enable javascript|access denied|ray id:|bot protection|captcha|ddos|challenge page/i;\n\nasync function getGeminiScene(promptText, fallback) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: GEMINI_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: promptText }] }],\n        generationConfig: { maxOutputTokens: 300, temperature: 0.9 }\n      },\n      json: true\n    });\n    const text = (\n      resp && resp.candidates && resp.candidates[0] &&\n      resp.candidates[0].content && resp.candidates[0].content.parts &&\n      resp.candidates[0].content.parts[0] &&\n      resp.candidates[0].content.parts[0].text\n    ) ? resp.candidates[0].content.parts[0].text.trim() : '';\n    if (text && text.length > 20) return text;\n    return fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// --- \u30ab\u30d0\u30fc\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_T = index 0\uff09---\nconst coverGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial COVER illustration for an AI news report.\\n\\n' +\n  'Based on the issue title and summary below, describe ONE striking visual scene in English (50-70 words) that symbolizes the KEY THEME of this issue.\\n\\n' +\n  'REQUIREMENTS:\\n' +\n  '1. Dawn or sunrise sky filling upper half of frame \u2014 dramatic atmospheric light rays, horizon line visible.\\n' +\n  '2. Setting must NOT be a beach or sea. Choose from: research lab, server hall, city skyline, factory, control room, space station, etc.\\n' +\n  '3. Reference the actual AI topics in this issue (AI models, data centers, robots, satellites, etc.).\\n' +\n  '4. Output ONLY the scene description \u2014 no intro, no explanation.\\n\\n' +\n  'Issue title: ' + title + '\\n' +\n  'Issue summary: ' + closingText.substring(0, 800);\n\nconst coverScene = await getGeminiScene(\n  coverGeminiPrompt,\n  'a researcher standing at floor-to-ceiling windows overlooking a glowing city at dawn, ' +\n  'holding a tablet with AI interface, warm sunrise light streaming in, horizon line visible, human-scale perspective'\n);\nconst coverPrompt = buildPrompt(0, colorMood + ', ' + coverScene);\n\n// --- \u30cb\u30e5\u30fc\u30b9\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_1\u301c4 = index 1\u301c4\uff09---\nconst newsItems = newsData.slice(0, 4);\nconst FALLBACK_SCENES = [\n  'a scientist in a bright research lab examining a holographic brain model, warm natural light through large windows, human hands visible',\n  'aerial view of a modern city intersection at golden hour, pedestrians and vehicles as tiny figures, urban life in motion',\n  'close-up of human hands typing on a keyboard, smartphone screen showing an AI chat interface glowing softly, warm desk lamp light',\n  'a judge holding a gavel in a courtroom, scales of justice on the desk, dramatic side-lighting, human expression visible'\n];\n\nconst scenes = [];\nfor (let i = 0; i < newsItems.length; i++) {\n  const item = newsItems[i];\n  const headline = item.japanese_headline || item.original_title || '';\n  const rawSummary = item.fact_summary || item.summary || item.body || '';\n\n  const isBlocked = BLOCK_PATTERNS.test(rawSummary) || rawSummary.trim().length < 80;\n  const summaryText = isBlocked ? '' : rawSummary.substring(0, 600);\n\n  const slotPlan = SLOT_PLAN[i + 1];\n  const compositionHint = COMPOSITION[slotPlan.composition];\n\n  const newsPrompt =\n    'You are writing an image prompt for a Moebius bande dessinee editorial illustration.\\n\\n' +\n    'Describe a specific visual scene in English (50-70 words) that visually represents this news article.\\n\\n' +\n    'COMPOSITION REQUIREMENT: ' + compositionHint + '\\n\\n' +\n    'CORE PRINCIPLE: Show the KEY OBJECT, TECHNOLOGY, or CONCEPT itself \u2014 not just a generic person.\\n\\n' +\n    'APPROACH:\\n' +\n    '- Name SPECIFIC objects: robot arm, neural network, smartphone UI, satellite dish, courtroom gavel, server rack, holographic interface, DNA helix, financial chart, etc.\\n' +\n    '- Match the substance of the news \u2014 if it\\'s about AI tools, show the tool; if regulation, show scales/documents; if a company, show its product\\n' +\n    '- Avoid vague \"person looking at screen\" \u2014 show WHAT is on the screen, or show the technology itself\\n' +\n    '- Output ONLY the scene description.\\n\\n' +\n    (isBlocked\n      ? 'Article title: ' + (item.original_title || headline) + '\\nSource: ' + (item.source_media || 'tech media')\n      : 'Headline: ' + headline + '\\nSummary: ' + summaryText\n    );\n\n  const scene = await getGeminiScene(newsPrompt, FALLBACK_SCENES[i]);\n  scenes.push(scene);\n}\n\n// --- \u7dcf\u62ec\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_W = index 8\uff09---\nconst summaryGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial SUMMARY illustration.\\n\\n' +\n  'This image represents the OVERALL TENSION or THEME that runs through all stories in this AI news report.\\n\\n' +\n  'COMPOSITION REQUIREMENT: Abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures.\\n\\n' +\n  'Based on the issue summary, describe ONE striking symbolic visual scene in English (50-70 words).\\n\\n' +\n  'APPROACH:\\n' +\n  '- Think META: What is the common thread? (AI vs human control, speed of change, ethical crossroads, tech disruption, etc.)\\n' +\n  '- Use ABSTRACT/NETWORK imagery: glowing data nodes, interconnected AI systems, geometric pattern representing the theme\\n' +\n  '- Output ONLY the scene description.\\n\\n' +\n  'Issue summary: ' + closingText.substring(0, 1000);\n\nconst summaryScene = await getGeminiScene(\n  summaryGeminiPrompt,\n  'abstract glowing data network visualization, colorful node connections representing AI interconnections, ' +\n  'geometric patterns pulsing with electric light, deep space background with constellations of information'\n);\nconst summaryPrompt = buildPrompt(8, summaryScene);\n\n// --- \u51fa\u529b\uff08negative_prompt\u3092\u5168\u30b9\u30ed\u30c3\u30c8\u306b\u4ed8\u52a0\uff09---\nconst prompts = [\n  { type: 'cover', prompt: coverPrompt, negative_prompt: NEGATIVE_PROMPT },\n  ...scenes.map((scene, i) => ({\n    type: 'news_' + i,\n    prompt: buildPrompt(i + 1, NEWS_COLORS[i] + ', ' + scene),\n    negative_prompt: NEGATIVE_PROMPT\n  })),\n  { type: 'summary', prompt: summaryPrompt, negative_prompt: NEGATIVE_PROMPT }\n];\n\nreturn prompts.map(p => ({ json: p }));\n"}, "name": "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2608, 304], "id": "img-prompt"}, {"parameters": {"amount": 1}, "name": "API\u51b7\u5374Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2912, 304], "id": "api-cool", "webhookId": "96fb97a2-02ca-49cf-9ba9-492a25299028"}, {"parameters": {"method": "POST", "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-sz-media-486107/locations/us-central1/publishers/google/models/imagen-3.0-fast-generate-001:predict", "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ instances: [{ prompt: $json.prompt }], parameters: { sampleCount: 1, aspectRatio: \"16:9\", negativePrompt: $json.negative_prompt || \"\", safetySetting: \"block_some\", personGeneration: \"allow_adult\" } }) }}", "options": {"response": {"response": {"neverError": true}}}}, "name": "Vertex AI Imagen", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3200, 304], "id": "fal-http", "onError": "continueRegularOutput", "credentials": {"googleApi": {"id": "ud1LKevnjBbybuxl", "name": "Google Service Account account"}}}, {"parameters": {"url": "={{ 'data:image/png;base64,' + $('Vertex AI Imagen').item.json.predictions[0].bytesBase64Encoded }}", "additionalFields": {}}, "name": "Cloudinary upload", "type": "n8n-nodes-cloudinary.cloudinary", "typeVersion": 1, "position": [3504, 304], "id": "cloudinary-upload", "credentials": {"cloudinaryApi": {"id": "WP5o4htlDE9qqtsH", "name": "Cloudinary account"}}}, {"parameters": {"jsCode": "const items = $input.all();\n// \u751f\u6210\u9806\u5e8f: cover \u2192 news_0 \u2192 news_1 \u2192 news_2 \u2192 news_3 \u2192 summary\nconst typeOrder = [\"cover\", \"news_0\", \"news_1\", \"news_2\", \"news_3\", \"summary\"];\nconst urls = {};\nitems.forEach((item, i) => {\n  const type = typeOrder[i] || (\"item_\" + i);\n  const url = item.json.secure_url || item.json.url || \"\";\n  if (url) urls[type] = url;\n});\nreturn [{ json: { image_urls: urls } }];"}, "name": "\u753b\u50cfURL\u96c6\u7d04Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3808, 304], "id": "img-url-collect"}, {"parameters": {"jsCode": "const imageData = $input.first().json;\nconst articleData = $(\"\u6700\u7d42\u7d44\u7acbCode\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\n// \u30ab\u30d0\u30fc\u753b\u50cf\uff1a\u30bf\u30a4\u30c8\u30eb\u884c\u76f4\u5f8c\u306b\u633f\u5165\nif (urls.cover) {\n  article = article.replace(/^(# [^\\n]+\\n\\n)/, '$1![\u30ab\u30d0\u30fc\u753b\u50cf](' + urls.cover + ')\\n\\n');\n}\n\n// \u30cb\u30e5\u30fc\u30b9\u753b\u50cf\uff1a\u300c### \u25c6 \u30bf\u30a4\u30c8\u30eb\\n\\n**\u914d\u4fe1\u65e5\u300d\u306e\u76f4\u524d\u306b\u633f\u5165\uff08\u9806\u756a\u306b\u5dee\u3057\u8fbc\u3080\uff09\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    article = article.replace(\n      /(### \u25c6 \\S[^\\n]*\\n\\n)(\\*\\*\u914d\u4fe1\u65e5)/,\n      '$1![\u30cb\u30e5\u30fc\u30b9\u753b\u50cf](' + newsUrl + ')\\n\\n$2'\n    );\n  }\n}\n\n// \u7dcf\u62ec\u753b\u50cf\uff1a\u300c## \u25c6 \u7dcf\u62ec\u300d\u306e\u76f4\u524d\u306b\u633f\u5165\nif (urls.summary) {\n  article = article.replace(\n    /(## \u25c6 \u7dcf\u62ec[^\\n]*\\n\\n)/,\n    '![\u7dcf\u62ec\u753b\u50cf](' + urls.summary + ')\\n\\n$1'\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"}, "name": "\u753b\u50cf\u633f\u5165Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4112, 304], "id": "img-insert"}, {"parameters": {"jsCode": "const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"}, "name": "GitHub MDX\u4f5c\u6210Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4400, 304], "id": "github-mdx"}, {"parameters": {"method": "PUT", "url": "=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}", "options": {}}, "name": "GitHub\u66f8\u304d\u8fbc\u307fHTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4704, 304], "id": "github-write"}, {"parameters": {"url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}]}, "options": {}}, "name": "blog-posts-data.json\u53d6\u5f97", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5008, 208], "id": "blog-json-get"}, {"parameters": {"jsCode": "const fetchResult = $('blog-posts-data.json\u53d6\u5f97').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX\u4f5c\u6210Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"}, "name": "blog-posts-data.json\u66f4\u65b0Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5312, 208], "id": "blog-json-update"}, {"parameters": {"method": "PUT", "url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}", "options": {}}, "name": "blog-posts-data.json\u66f8\u8fbcHTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5600, 208], "id": "blog-json-write"}, {"parameters": {"resource": "databasePage", "databaseId": {"__rl": true, "value": "31d457e7-0a28-8108-a987-f27725c1c5b9", "mode": "id"}, "title": "={{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.final_title }}", "propertiesUi": {"propertyValues": [{"key": "\u751f\u6210\u65e5|date", "date": "={{ $now.toISO() }}"}, {"key": "\u30b9\u30c6\u30fc\u30bf\u30b9|select", "selectValue": "\u4e0b\u66f8\u304d"}, {"key": "\u30e1\u30bf\u60c5\u5831|rich_text", "textContent": "={{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.lead_text.substring(0, 1990) }}"}, {"key": "\u753b\u50cfURL|url", "urlValue": "={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]}, "options": {}}, "name": "Notion DB\u4fdd\u5b58", "type": "n8n-nodes-base.notion", "typeVersion": 2.2, "position": [5008, 512], "id": "notion-save", "credentials": {"notionApi": {"id": "S1Pkv3d0mXqOwBTl", "name": "Notion account 2"}}}, {"parameters": {"workflowId": "6QYipyd0Zc8YWzgS", "options": {}}, "name": "X\u6295\u7a3fExecuteWorkflow", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [5312, 512], "id": "x-post"}, {"parameters": {"method": "POST", "url": "https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": \"\u3010SZ_AI_Media_v2\u3011 \u5b8c\u4e86\u901a\u77e5 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n\u8a18\u4e8b\u30bf\u30a4\u30c8\u30eb: {{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.final_title }}\\nSlug: {{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.slug }}\"\n}", "options": {}}, "name": "\u5b8c\u4e86\u901a\u77e5HTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5600, 512], "id": "notify"}, {"id": "perplexity-fetch-001", "name": "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [752, 304], "parameters": {"jsCode": "// ================================================================\n// Jina\u672c\u6587\u53d6\u5f97\uff0b\u65e5\u4ed8\u691c\u8a3cCode (v2)\n// ================================================================\n// \u3010\u5909\u66f4\u7406\u7531\u3011\n// Vertex AI Grounding\uff08Google\u691c\u7d22\uff09\u306f\u6307\u5b9aURL\u3092\u5b9f\u969b\u306b\u30d5\u30a7\u30c3\u30c1\u3057\u306a\u3044\u3002\n// \u30bf\u30a4\u30c8\u30eb\u304c\u53e4\u3044\u8a18\u4e8b\u3068\u4e00\u81f4\u3059\u308b\u3068\u53e4\u3044\u8a18\u4e8b\u306e\u5185\u5bb9\u3092\u8fd4\u3057\u3066\u3057\u307e\u3046\u3002\n// Jina Reader\u306f\u6307\u5b9aURL\u3092\u5b9f\u969b\u306bHTTP\u30d5\u30a7\u30c3\u30c1\u3059\u308b\u3002\n//\n// \u3010v1\u2192v2\u5909\u66f4\u70b9\u3011\n// - Gemini\u306ePOST\u30b3\u30fc\u30eb\u3092\u5ec3\u6b62\uff08helpers\u3067\u306eJSON\u30dc\u30c7\u30a3\u554f\u984c\u3092\u56de\u907f\uff09\n// - \u30ea\u30e9\u30a4\u30c8Agent\u304cJina\u53d6\u5f97\u30c6\u30ad\u30b9\u30c8\u3092\u76f4\u63a5\u53d7\u3051\u53d6\u308b\uff08summary\u3068\u3057\u3066\u6e21\u3059\uff09\n// - \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u691c\u51fa\u3092\u8ffd\u52a0\n// ================================================================\n\nconst CUTOFF_MS = 7 * 24 * 60 * 60 * 1000; // 7\u65e5\nconst NOW = Date.now();\n\nconst items = $input.all();\nconst results = [];\n\n// \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u5224\u5b9a\nfunction isConsentOrPaywallPage(text) {\n  const lower = text.toLowerCase();\n  const gdprCount  = (lower.match(/gdpr|cookie|consent|privacy policy/g)||[]).length;\n  const loginCount = (lower.match(/sign in|subscribe|log in|paywall/g)||[]).length;\n  return (gdprCount >= 3 || loginCount >= 3);\n}\n\nfor (const item of items) {\n  const { title, url, source_media, pubDate, summary: rssSummary } = item.json;\n\n  let jinaContent = '';\n  let shouldSkip = false;\n\n  // \u2500\u2500 Step 1: URL\u30d1\u30bf\u30fc\u30f3\u3067\u516c\u958b\u65e5\u3092\u5373\u30c1\u30a7\u30c3\u30af \u2500\u2500\n  const urlDateM = url ? url.match(/\\/(20\\d\\d)\\/(\\d{2})\\/(\\d{2})\\//) : null;\n  if (urlDateM) {\n    const artDate = new Date(`${urlDateM[1]}-${urlDateM[2]}-${urlDateM[3]}`);\n    if (NOW - artDate.getTime() > CUTOFF_MS) {\n      console.log('[SKIP:URL-DATE] ' + title + ' \u2192 ' + artDate.toISOString().slice(0,10));\n      shouldSkip = true;\n    }\n  }\n\n  // \u2500\u2500 Step 2: Jina Reader \u3067\u672c\u6587\u30d5\u30a7\u30c3\u30c1 \u2500\u2500\n  if (!shouldSkip) {\n    try {\n      const jinaResp = await helpers.httpRequest({\n        method: 'GET',\n        url: 'https://r.jina.ai/' + url,\n        headers: {\n          'Accept': 'text/plain',\n          'X-Return-Format': 'markdown',\n          'User-Agent': 'Mozilla/5.0 (compatible; NewsBot/1.0)'\n        },\n        timeout: 25000,\n        returnFullResponse: false\n      });\n\n      // \u30ec\u30b9\u30dd\u30f3\u30b9\u5f62\u5f0f\u3092\u67d4\u8edf\u306b\u51e6\u7406\n      if (typeof jinaResp === 'string') {\n        jinaContent = jinaResp;\n      } else if (jinaResp && jinaResp.body) {\n        jinaContent = String(jinaResp.body);\n      } else {\n        jinaContent = JSON.stringify(jinaResp);\n      }\n      jinaContent = jinaContent.slice(0, 4000);\n\n      // \u2500\u2500 Step 3: \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u691c\u51fa \u2500\u2500\n      if (isConsentOrPaywallPage(jinaContent)) {\n        console.log('[FALLBACK:PAYWALL] ' + title + ' \u2192 RSS summary\u3092\u4f7f\u7528');\n        jinaContent = ''; // RSS summary\u306b\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\n      } else {\n        // \u2500\u2500 Step 4: Jina\u672c\u6587\u304b\u3089\u516c\u958b\u65e5\u30c1\u30a7\u30c3\u30af \u2500\u2500\n        const jinaDateM = jinaContent.match(/Published\\s*(?:Time)?:\\s*(\\d{4}-\\d{2}-\\d{2})/i);\n        if (jinaDateM) {\n          const artDate = new Date(jinaDateM[1]);\n          if (NOW - artDate.getTime() > CUTOFF_MS) {\n            console.log('[SKIP:JINA-DATE] ' + title + ' \u2192 ' + jinaDateM[1]);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        } else if (!urlDateM) {\n          // \u5e74\u6570\u30ab\u30a6\u30f3\u30c8\u3067\u53e4\u8a18\u4e8b\u3092\u63a8\u5b9a\uff08URL\u30fbJina\u306b\u660e\u793a\u7684\u306a\u65e5\u4ed8\u304c\u306a\u3044\u5834\u5408\uff09\n          const cnt2024 = (jinaContent.match(/\\b2024\\b/g)||[]).length;\n          const cnt2025 = (jinaContent.match(/\\b2025\\b/g)||[]).length;\n          const cnt2026 = (jinaContent.match(/\\b2026\\b/g)||[]).length;\n          if (cnt2024 >= 5 && cnt2026 === 0 && cnt2025 === 0) {\n            console.log('[SKIP:YEAR-COUNT] ' + title + ' \u2192 2024x' + cnt2024);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        }\n      }\n\n    } catch(e) {\n      console.log('[JINA-ERR] ' + url + ': ' + e.message);\n      jinaContent = ''; // Jina\u5931\u6557 \u2192 RSS summary\u306b\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\n    }\n  }\n\n  if (shouldSkip) continue;\n\n  // Jina\u672c\u6587\u304c\u6709\u7528\u3067\u3042\u308c\u3070\u305d\u308c\u3092\u4f7f\u7528\u3001\u305d\u3046\u3067\u306a\u3051\u308c\u3070RSS summary\n  // \u30ea\u30e9\u30a4\u30c8Agent\u306f\u3053\u306esummary\u3092\u5143\u306b\u65e5\u672c\u8a9e\u8a18\u4e8b\u3092\u751f\u6210\u3059\u308b\n  const usefulJina = jinaContent.length > 200 && !isConsentOrPaywallPage(jinaContent);\n  const finalSummary = (usefulJina ? jinaContent : rssSummary || '').slice(0, 4000);\n\n  results.push({ json: {\n    title:        title        || '',\n    url:          url          || '',\n    source_media: source_media || '',\n    pubDate:      pubDate      || '',\n    summary:      finalSummary\n  }});\n}\n\nif (results.length === 0) {\n  throw new Error('\u5168\u8a18\u4e8b\u304c\u53e4\u8a18\u4e8b\u3068\u5224\u5b9a\u3055\u308c\u30b9\u30ad\u30c3\u30d7\u3055\u308c\u307e\u3057\u305f\u3002RSS\u30d5\u30a3\u30fc\u30c9\u3092\u78ba\u8a8d\u3057\u3066\u304f\u3060\u3055\u3044\u3002');\n}\n\nreturn results;", "mode": "runOnceForAllItems"}}, {"id": "perplexity-parse-001", "name": "Vertex AI\u7d50\u679c\u6574\u5f62Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [972, 304], "parameters": {"jsCode": "// \u30d1\u30b9\u30b9\u30eb\u30fc\uff08Jina\u53d6\u5f97\uff0b\u65e5\u4ed8\u691c\u8a3cCode\u304c\u6574\u5f62\u6e08\u307f\u30c7\u30fc\u30bf\u3092\u8fd4\u3059\uff09\nreturn $input.all();"}}, {"id": "rss-shuffle-code", "name": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-800, 304], "parameters": {"jsCode": "// ================================================================\n// RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code\n// 20\u30e1\u30c7\u30a3\u30a2\u304b\u3089\u6bce\u56de\u30e9\u30f3\u30c0\u30e0\u306b\u82f1\u8a9e5\u672c\uff0b\u65e5\u672c\u8a9e2\u672c\u3092\u9078\u3093\u3067\u53d6\u5f97\n// ================================================================\n\nconst ALL_FEEDS = {\n  english: [\n    { name: \"TechCrunch AI\",   url: \"https://techcrunch.com/category/artificial-intelligence/feed/\" },\n    { name: \"Wired AI\",        url: \"https://wired.com/feed/tag/ai/latest/rss\" },\n    { name: \"Google News AI\",  url: \"https://news.google.com/rss/search?q=AI+artificial+intelligence&hl=en-US&gl=US&ceid=US:en&when:2d\" },\n    { name: \"The Verge AI\",    url: \"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml\" },\n    { name: \"VentureBeat AI\",  url: \"https://venturebeat.com/category/ai/feed/\" },\n    { name: \"MIT Tech Review\", url: \"https://www.technologyreview.com/feed/\" },\n    { name: \"The Rundown AI\",  url: \"https://rss.beehiiv.com/feeds/2R3C6Bt5wj.xml\" },\n    { name: \"OpenAI Blog\",     url: \"https://openai.com/news/rss.xml\" },\n    { name: \"Google DeepMind\", url: \"https://deepmind.google/blog/rss.xml\" },\n    { name: \"Ben's Bites\",     url: \"https://bensbites.substack.com/feed\" },\n    { name: \"Towards AI\",      url: \"https://pub.towardsai.net/feed\" },\n    { name: \"Synced Review\",   url: \"https://syncedreview.com/feed\" },\n    { name: \"Gizmodo AI\",      url: \"https://gizmodo.com/tech/artificial-intelligence/rss\" },\n    { name: \"ZDNet AI\",        url: \"https://www.zdnet.com/topic/artificial-intelligence/rss.xml\" },\n    { name: \"Ars Technica\",    url: \"https://feeds.arstechnica.com/arstechnica/technology-lab\" },\n    { name: \"BBC Tech\",        url: \"https://feeds.bbci.co.uk/news/technology/rss.xml\" },\n  ],\n  japanese: [\n    { name: \"ITmedia AI+\",    url: \"https://rss.itmedia.co.jp/rss/2.0/aiplus.xml\" },\n    { name: \"NHK Tech\",       url: \"https://www3.nhk.or.jp/rss/news/cat3.xml\" },\n    { name: \"Yahoo Japan IT\", url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" },\n    { name: \"Nikkei XTECH\",   url: \"https://xtech.nikkei.com/rss/xtech-it.rdf\" },\n  ]\n};\n\n// Fisher-Yates\u30b7\u30e3\u30c3\u30d5\u30eb\nfunction shuffle(arr) {\n  const a = [...arr];\n  for (let i = a.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [a[i], a[j]] = [a[j], a[i]];\n  }\n  return a;\n}\n\n// \u4eca\u56de\u4f7f\u3046\u30d5\u30a3\u30fc\u30c9\uff1a\u82f1\u8a9e5\u672c\uff0b\u65e5\u672c\u8a9e2\u672c\nconst selectedFeeds = [\n  ...shuffle(ALL_FEEDS.english).slice(0, 5),\n  ...shuffle(ALL_FEEDS.japanese).slice(0, 2)\n];\n\n// XML\u7c21\u6613\u30d1\u30fc\u30b5\u30fc\nfunction extractText(block, tags) {\n  for (const tag of tags) {\n    const m = block.match(new RegExp(`<${tag}[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/${tag}>`, 'i'));\n    if (m && m[1]) return m[1].trim();\n    // Atom link: <link href=\"...\"/>\n    if (tag === 'link') {\n      const lm = block.match(/<link[^>]+href=\"([^\"]+)\"/i);\n      if (lm) return lm[1].trim();\n    }\n  }\n  return '';\n}\n\nasync function fetchAndParse(feed) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; RSS Reader)' },\n      returnFullResponse: false\n    });\n    const text = typeof resp === 'string' ? resp : '';\n    if (!text) return [];\n\n    const items = [];\n    const blockRe = /<item[^>]*>([\\s\\S]*?)<\\/item>|<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let m;\n    while ((m = blockRe.exec(text)) !== null && items.length < 20) {\n      const block = m[1] || m[2] || '';\n      const title   = extractText(block, ['title']);\n      const link    = extractText(block, ['link', 'guid']);\n      const pubDate = extractText(block, ['pubDate', 'published', 'updated', 'dc:date']);\n      const summary = extractText(block, ['description', 'summary', 'content:encoded', 'content'])\n                        .replace(/<[^>]+>/g, '').substring(0, 400);\n      if (title && link) {\n        items.push({ title, link, pubDate, contentSnippet: summary, source: feed.name });\n      }\n    }\n    return items;\n  } catch(e) {\n    console.log(`Feed error [${feed.name}]: ${e.message}`);\n    return [];\n  }\n}\n\n// \u9806\u6b21\u53d6\u5f97\nconst allItems = [];\nfor (const feed of selectedFeeds) {\n  const items = await fetchAndParse(feed);\n  allItems.push(...items);\n}\n\nconst feedNames = selectedFeeds.map(f => f.name).join(' / ');\nconsole.log(`[RSS\u30b7\u30e3\u30c3\u30d5\u30eb] \u9078\u629e: ${feedNames}`);\nconsole.log(`[RSS\u30b7\u30e3\u30c3\u30d5\u30eb] \u5408\u8a08: ${allItems.length}\u4ef6`);\n\n// RSS\u7d71\u5408\u30b3\u30fc\u30c9\u304c$input.all()\u3067\u53d7\u3051\u53d6\u308c\u308b\u5f62\u5f0f\u3067\u8fd4\u3059\nreturn allItems.map(item => ({ json: item }));\n", "mode": "runOnceForAllItems"}}], "connections": {"Schedule Trigger": {"main": [[{"node": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "main", "index": 0}]]}, "Webhook Test Trigger": {"main": [[{"node": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "main", "index": 0}]]}, "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode": {"main": [[{"node": "\u60c5\u5831\u9078\u5225Agent", "type": "main", "index": 0}]]}, "\u60c5\u5831\u9078\u5225Agent": {"main": [[{"node": "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode", "type": "main", "index": 0}]]}, "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode": {"main": [[{"node": "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1", "type": "main", "index": 0}]]}, "Gemini Model\uff08\u30ea\u30e9\u30a4\u30c8\u7528\uff09": {"main": []}, "\u30ea\u30e9\u30a4\u30c8Agent": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode", "type": "main", "index": 0}]]}, "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode": {"main": [[{"node": "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain", "type": "main", "index": 0}]]}, "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain": {"main": [[{"node": "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain", "type": "main", "index": 0}]]}, "\u6700\u7d42\u7d44\u7acbCode": {"main": [[{"node": "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code", "type": "main", "index": 0}]]}, "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain": {"main": [[{"node": "\u6700\u7d42\u7d44\u7acbCode", "type": "main", "index": 0}]]}, "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code": {"main": [[{"node": "API\u51b7\u5374Wait", "type": "main", "index": 0}]]}, "API\u51b7\u5374Wait": {"main": [[{"node": "Vertex AI Imagen", "type": "main", "index": 0}]]}, "Cloudinary upload": {"main": [[{"node": "\u753b\u50cfURL\u96c6\u7d04Code", "type": "main", "index": 0}]]}, "\u753b\u50cfURL\u96c6\u7d04Code": {"main": [[{"node": "\u753b\u50cf\u633f\u5165Code", "type": "main", "index": 0}]]}, "\u753b\u50cf\u633f\u5165Code": {"main": [[{"node": "GitHub MDX\u4f5c\u6210Code", "type": "main", "index": 0}]]}, "GitHub MDX\u4f5c\u6210Code": {"main": [[{"node": "GitHub\u66f8\u304d\u8fbc\u307fHTTP", "type": "main", "index": 0}, {"node": "Notion DB\u4fdd\u5b58", "type": "main", "index": 0}]]}, "GitHub\u66f8\u304d\u8fbc\u307fHTTP": {"main": [[{"node": "blog-posts-data.json\u53d6\u5f97", "type": "main", "index": 0}, {"node": "\u5b8c\u4e86\u901a\u77e5HTTP", "type": "main", "index": 0}]]}, "blog-posts-data.json\u53d6\u5f97": {"main": [[{"node": "blog-posts-data.json\u66f4\u65b0Code", "type": "main", "index": 0}]]}, "blog-posts-data.json\u66f4\u65b0Code": {"main": [[{"node": "blog-posts-data.json\u66f8\u8fbcHTTP", "type": "main", "index": 0}]]}, "Notion DB\u4fdd\u5b58": {"main": [[{"node": "X\u6295\u7a3fExecuteWorkflow", "type": "main", "index": 0}]]}, "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1": {"main": [[{"node": "Vertex AI\u7d50\u679c\u6574\u5f62Code", "type": "main", "index": 0}]]}, "Vertex AI\u7d50\u679c\u6574\u5f62Code": {"main": [[{"node": "\u30ea\u30e9\u30a4\u30c8Agent", "type": "main", "index": 0}]]}, "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code": {"main": [[{"node": "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode", "type": "main", "index": 0}]]}, "Vertex AI Imagen": {"main": [[{"node": "Cloudinary upload", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Asia/Tokyo", "saveExecutionProgress": true, "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "binaryMode": "separate", "timeSavedMode": "fixed"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": {}, "versionId": "94b89589-ec87-4c79-8ac0-6152fa870ce5", "activeVersionId": "94b89589-ec87-4c79-8ac0-6152fa870ce5", "versionCounter": 332, "triggerCount": 2, "shared": [{"updatedAt": "2026-03-23T14:22:48.905Z", "createdAt": "2026-03-23T14:22:48.905Z", "role": "workflow:owner", "workflowId": "x43i3Lzy0D46EDcS", "projectId": "5d85bagaOgHmINyQ", "project": {"updatedAt": "2026-02-15T08:43:18.830Z", "createdAt": "2026-02-15T08:43:13.636Z", "id": "5d85bagaOgHmINyQ", "name": "Takafumi Suzuki <suzu@storytelling.team>", "type": "personal", "icon": null, "description": null, "creatorId": "90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-27T12:13:03.114Z", "createdAt": "2026-03-27T12:13:03.114Z", "versionId": "94b89589-ec87-4c79-8ac0-6152fa870ce5", "workflowId": "x43i3Lzy0D46EDcS", "nodes": [{"parameters": {"rule": {"interval": [{"triggerAtHour": 5}]}}, "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-1200, 304], "id": "trigger-schedule"}, {"parameters": {"httpMethod": "POST", "path": "sz-ai-media-v2-test", "options": {}}, "name": "Webhook Test Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1200, 512], "webhookId": "sz-ai-media-v2-test", "id": "trigger-webhook"}, {"parameters": {"jsCode": "const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // \u65e2\u77e5\u30c9\u30e1\u30a4\u30f3\u306e\u30da\u30a2\uff08new URL()\u3092\u4f7f\u308f\u305a\u6587\u5b57\u5217\u30de\u30c3\u30c1\uff09\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL\u6587\u5b57\u5217\u306b\u65e2\u77e5\u30c9\u30e1\u30a4\u30f3\u304c\u542b\u307e\u308c\u308b\u304b\uff08\u30a8\u30f3\u30b3\u30fc\u30c9URL\u5bfe\u5fdc\uff09\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summary\u306b\u30c9\u30e1\u30a4\u30f3\u304c\u542b\u307e\u308c\u308b\u304b\uff08Google News RSS\u5bfe\u5fdc\uff09\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // \u5358\u7d14\u306aregex\u3067\u30db\u30b9\u30c8\u540d\u62bd\u51fa\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"}, "name": "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-208, 304], "id": "rss-filter-code"}, {"parameters": {"jsCode": "// AI\u30ad\u30fc\u30ef\u30fc\u30c9\u30d5\u30a3\u30eb\u30bf\u30fc\uff08\u30bf\u30a4\u30c8\u30eb+\u30b5\u30de\u30ea\u30fc\u30c1\u30a7\u30c3\u30af\uff09\nconst AI_REGEX    = /\\bai\\b|artificial intelligence|openai|chatgpt|claude|gemini|anthropic|generative|genai|\\bllm\\b|large language model|deep learning|machine learning|neural network|copilot|\\bgpt[-\\s]?[0-9o]/i;\nconst AI_REGEX_JA = /\u4eba\u5de5\u77e5\u80fd|\u6a5f\u68b0\u5b66\u7fd2|\u751f\u6210[Aa][Ii]|\u5927\u898f\u6a21\u8a00\u8a9e\u30e2\u30c7\u30eb|\u30c7\u30a3\u30fc\u30d7\u30e9\u30fc\u30cb\u30f3\u30b0|\u6df1\u5c64\u5b66\u7fd2/;\nconst EXCLUDE_REGEX = /spring sale|prime day|black friday|cyber monday|best deal|\\bdiscount\\b|\\bpromo\\b|\\bcoupon\\b|\u30bb\u30fc\u30eb|\u5272\u5f15/i;\n\nconst allItems = $input.all();\nif (allItems.length === 0) throw new Error('\u30cb\u30e5\u30fc\u30b9\u304c0\u4ef6\u3067\u3059');\n\n// \u30d5\u30a3\u30eb\u30bf\u30ea\u30f3\u30b0\uff1aAI\u30ad\u30fc\u30ef\u30fc\u30c9\u3092\u542b\u307f\u3001\u9664\u5916\u30ef\u30fc\u30c9\u3092\u542b\u307e\u306a\u3044\u3082\u306e\u306e\u307f\u901a\u904e\nconst filtered = allItems.filter(item => {\n  const t = (item.json.title || '') + ' ' + (item.json.summary || '');\n  if (EXCLUDE_REGEX.test(t)) return false;\n  return AI_REGEX.test(t) || AI_REGEX_JA.test(t);\n});\n\nif (filtered.length < 5) {\n  throw new Error(`AI\u95a2\u9023\u30cb\u30e5\u30fc\u30b9\u304c${filtered.length}\u672c\u3057\u304b\u3042\u308a\u307e\u305b\u3093\uff085\u672c\u5fc5\u8981\uff09`);\n}\n\n// \u30bd\u30fc\u30b9\u3054\u3068\u306b\u30b0\u30eb\u30fc\u30d7\u5316\u3057\u3066\u30e9\u30a6\u30f3\u30c9\u30ed\u30d3\u30f3\u9078\u629e\nconst bySource = {};\nfor (const item of filtered) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 5) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 5) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break;\n  round++;\n}\n\nif (selected.length < 5) {\n  throw new Error(`\u30cb\u30e5\u30fc\u30b9\u304c${selected.length}\u672c\u3057\u304b\u53d6\u5f97\u3067\u304d\u306a\u304b\u3063\u305f\u305f\u3081\u505c\u6b62\uff085\u672c\u5fc5\u8981\uff09`);\n}\n\n// ===== \u91cd\u8907\u30cb\u30e5\u30fc\u30b9\u9664\u53bb\uff08\u540c\u4e00\u30cb\u30e5\u30fc\u30b9\u3092\u5225\u30e1\u30c7\u30a3\u30a2\u304c\u5831\u3058\u305f\u5834\u5408\u306e\u6392\u9664\uff09=====\nfunction titleJaccard(t1, t2) {\n  const stopWords = new Set(['\u304c','\u306e','\u3092','\u306b','\u3067','\u3068','\u306f','\u3082','a','an','the','to','in','of','and','for','by','on','at']);\n  const tokenize = t => {\n    const words = t.toLowerCase().replace(/[^a-zA-Z0-9\\u3040-\\u9FFF\\u30A0-\\u30FF\\u4E00-\\u9FFF]/g, ' ').split(/\\s+/).filter(w => w.length > 1 && !stopWords.has(w));\n    return new Set(words);\n  };\n  const s1 = tokenize(t1), s2 = tokenize(t2);\n  const intersection = [...s1].filter(w => s2.has(w)).length;\n  const union = new Set([...s1, ...s2]).size;\n  return union > 0 ? intersection / union : 0;\n}\n\nconst deduped = [];\nfor (const art of selected) {\n  const key = art.title || art.japanese_headline || '';\n  const isDup = deduped.some(a => titleJaccard(a.title || a.japanese_headline || '', key) > 0.35);\n  if (!isDup) deduped.push(art);\n}\n\n// \u91cd\u8907\u9664\u53bb\u5f8c5\u672c\u672a\u6e80\u306a\u3089\u6b8b\u308afiltered\u304b\u3089\u88dc\u5145\nif (deduped.length < 5) {\n  for (const art of filtered) {\n    if (deduped.length >= 5) break;\n    const key = art.title || '';\n    const isDup = deduped.some(a => titleJaccard(a.title || '', key) > 0.35);\n    if (!isDup) deduped.push(art);\n  }\n}\n\nif (deduped.length < 4) {\n  throw new Error(`\u91cd\u8907\u9664\u53bb\u5f8c\u3082\u30cb\u30e5\u30fc\u30b9\u304c${deduped.length}\u672c\u3057\u304b\u3042\u308a\u307e\u305b\u3093`);\n}\n\nreturn deduped;"}, "name": "\u60c5\u5831\u9078\u5225Agent", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [208, 304], "id": "agent-select"}, {"parameters": {"jsCode": "const items = $input.all();\nif (items.length < 5) {\n  throw new Error(`\u30cb\u30e5\u30fc\u30b9\u304c${items.length}\u672c\u3057\u304b\u53d6\u5f97\u3067\u304d\u306a\u304b\u3063\u305f\u305f\u3081\u505c\u6b62\uff085\u672c\u5fc5\u8981\uff09`);\n}\nreturn items;"}, "name": "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [512, 304], "id": "count-check"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 8192}}, "name": "Gemini Model\uff08\u30ea\u30e9\u30a4\u30c8\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [800, 512], "id": "gemini-rewrite", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const title   = $json.title        || '';\n  const source  = $json.source_media || '';\n  const date    = $json.pubDate      || '';\n  const summary = $json.summary      || '';\n  const url     = $json.url          || '';\n\n  // \u6d1e\u5bdf\u30b9\u30bf\u30a4\u30eb\uff084\u30d1\u30bf\u30fc\u30f3\u30ed\u30fc\u30c6\u30fc\u30b7\u30e7\u30f3\uff09\n  const roberPatterns = [\n    '\u3010\u6bd4\u55a9\u8ee2\u63db\u578b\u3011\u6280\u8853\u3092\u8aad\u8005\u304c\u77e5\u3063\u3066\u3044\u308b\u4e16\u754c\u306e\u6bd4\u55a9\u306b\u5909\u63db\u3057\u3066\u8aac\u660e\u3057\u3001\u6d1e\u5bdf\u3092\u5c55\u958b\u3059\u308b\u3002',\n    '\u3010\u9006\u8aac\u578b\u3011\u300c\u4e00\u822c\u306b\u301c\u3068\u601d\u308f\u308c\u3066\u3044\u308b\u304c\u3001\u69cb\u9020\u7684\u306b\u306f\u9006\u3067\u301c\u300d\u3068\u3044\u3046\u767a\u898b\u7684\u6d1e\u5bdf\u3092\u5c55\u958b\u3059\u308b\u3002',\n    '\u3010\u6642\u9593\u8ef8\u8ee2\u63db\u578b\u3011\u300c\u3053\u306e\u30da\u30fc\u30b9\u304c\u7d9a\u304f\u306a\u30892030\u5e74\u306b\u306f\u301c\u300d\u3068\u672a\u6765\u306e\u5177\u4f53\u7684\u306a\u5834\u9762\u306b\u843d\u3068\u3059\u3002',\n    '\u3010\u69cb\u9020\u675f\u306d\u578b\u3011\u8907\u6570\u306e\u52d5\u5411\u3092\u675f\u306d\u3066\u4e00\u3064\u306e\u5927\u304d\u306a\u69cb\u9020\u5909\u5316\u3068\u3057\u3066\u4f4d\u7f6e\u3065\u3051\u3001\u6d1e\u5bdf\u3092\u7d71\u5408\u3059\u308b\u3002'\n  ];\n\n  // \u7cf8\u53e3\u30b9\u30bf\u30a4\u30eb\uff088\u30d1\u30bf\u30fc\u30f3\u30fb\u65e5\u4ed8\u5076\u5947\u3067\u30bb\u30c3\u30c8\u3092\u305a\u3089\u3059\uff09\n  const itoguchiPatterns = [\n    '\u3010\u9006\u8aad\u307f\u578b\u3011\u300c\u6016\u3044\u300d\u3068\u611f\u3058\u308b\u3053\u306e\u5909\u5316\u3092\u5225\u306e\u89d2\u5ea6\u304b\u3089\u8aad\u3080\u3068\u4f55\u304c\u898b\u3048\u308b\u304b\u3002\u65ad\u8a00\u305b\u305a\u3001\u5c0f\u3055\u306a\u53ef\u80fd\u6027\u306e\u65b9\u5411\u6027\u3092\u793a\u3059\u3002',\n    '\u3010\u9078\u629e\u8ef8\u578b\u3011\u3053\u306e\u5909\u5316\u306e\u4e2d\u3067\u8aad\u8005\u306b\u300c\u3069\u3061\u3089\u3092\u9078\u3076\u304b\u300d\u3068\u3044\u3046\u5c90\u8def\u304c\u3042\u308b\u3068\u3057\u305f\u3089\u4f55\u304b\u3002\u547d\u4ee4\u3067\u306a\u304f\u3001\u9078\u629e\u80a2\u306e\u5b58\u5728\u3092\u9759\u304b\u306b\u793a\u3059\u3002',\n    '\u3010\u554f\u3044\u578b\u3011\u3053\u306e\u5909\u5316\u304c\u5b55\u3080\u672c\u8cea\u7684\u306a\u554f\u3044\u30921\u3064\u7acb\u3066\u3066\u8aad\u8005\u306b\u6295\u3052\u8fd4\u3059\u3002\u7b54\u3048\u306f\u51fa\u3055\u306a\u304f\u3066\u3088\u3044\u3002',\n    '\u3010\u73fe\u5834\u8996\u70b9\u578b\u3011\u3053\u306e\u72b6\u6cc1\u4e0b\u3067\u3001\u5b9f\u88c5\u30fb\u4f7f\u3044\u65b9\u306e\u30ec\u30d9\u30eb\u3067\u65e2\u306b\u52d5\u3044\u3066\u3044\u308b\u65b9\u5411\u6027\u306f\u3042\u308b\u304b\u3002\u5c0f\u3055\u304f\u3066\u3082\u5177\u4f53\u7684\u306a\u624b\u304c\u304b\u308a\u3092\u793a\u3059\u3002',\n    '\u3010\u6b74\u53f2\u7167\u5408\u578b\u3011\u904e\u53bb\u306b\u4f3c\u305f\u6280\u8853\u9769\u547d\u30fb\u7523\u696d\u5909\u5316\u304c\u3042\u3063\u305f\u3068\u3057\u305f\u3089\u4f55\u304b\u3002\u6b74\u53f2\u30fb\u4ed6\u696d\u754c\u306e\u7d4c\u9a13\u304b\u3089\u3053\u306e\u5909\u5316\u306e\u884c\u304d\u5148\u306e\u624b\u304c\u304b\u308a\u3092\u793a\u3059\u3002',\n    '\u3010\u5f53\u4e8b\u8005\u5185\u5074\u578b\u3011\u3053\u306e\u5909\u5316\u306e\u4e2d\u5fc3\u306b\u3044\u308b\u4eba\u9593\u306f\u4f55\u3092\u898b\u3066\u4f55\u3092\u8003\u3048\u3066\u3044\u308b\u304b\u3002\u305d\u306e\u5185\u5074\u306e\u8ad6\u7406\u3092\u60f3\u50cf\u3059\u308b\u3053\u3068\u3067\u898b\u3048\u3066\u304f\u308b\u7cf8\u53e3\u304c\u3042\u308b\u3002',\n    '\u3010\u6642\u9593\u5dee\u578b\u3011\u300c\u4eca\u306f\u6016\u304f\u898b\u3048\u308b\u304c\u30015\u5e74\u5f8c\u306b\u3053\u308c\u3092\u632f\u308a\u8fd4\u3063\u305f\u3068\u304d\u4f55\u3068\u8a00\u3046\u3060\u308d\u3046\u304b\u300d\u3002\u6642\u9593\u5dee\u306e\u8996\u70b9\u304b\u3089\u3053\u306e\u5909\u5316\u306e\u5225\u306e\u76f8\u8c8c\u3092\u793a\u3059\u3002',\n    '\u3010\u7d30\u90e8\u7167\u5c04\u578b\u3011\u3053\u306e\u5927\u304d\u306a\u5909\u5316\u306e\u4e2d\u306b\u898b\u843d\u3068\u3055\u308c\u304c\u3061\u306a\u5c0f\u3055\u306a\u4e8b\u5b9f\u3084\u52d5\u304d\u306f\u306a\u3044\u304b\u3002\u7d30\u90e8\u306e\u4e2d\u306b\u3053\u305d\u53ef\u80fd\u6027\u306e\u7cf8\u53e3\u304c\u6f5c\u3093\u3067\u3044\u308b\u3002'\n  ];\n\n  // \u7c92\u5ea6\uff083\u30d1\u30bf\u30fc\u30f3\u30fb\u65e5\u4ed8\u00d7\u8a18\u4e8b\u756a\u53f7\u3067\u305a\u3089\u3059\uff09\u2192 8\u00d73=24\u901a\u308a\n  const grainPatterns = [\n    '\u3010\u30de\u30af\u30ed\u3011\u7523\u696d\u30fb\u793e\u4f1a\u5168\u4f53\u3078\u306e\u5f71\u97ff\u30b9\u30b1\u30fc\u30eb\u3067\u8a9e\u308b\u3002',\n    '\u3010\u30df\u30af\u30ed\u3011\u7279\u5b9a\u306e1\u4eba\u30fb1\u793e\u30fb1\u30b7\u30fc\u30f3\u306b\u7d5e\u3063\u3066\u8a9e\u308b\u3002',\n    '\u3010\u30e1\u30bf\u3011\u4eca\u3053\u308c\u3092\u8aad\u3093\u3067\u3044\u308b\u8aad\u8005\u81ea\u8eab\u3092\u5bfe\u8c61\u306b\u8a9e\u308b\u3002'\n  ];\n\n  // \u30e6\u30fc\u30e2\u30a2\u30b9\u30bf\u30a4\u30eb\uff088\u30d1\u30bf\u30fc\u30f3\u30fb\u72ec\u7acb\u30ed\u30fc\u30c6\u30fc\u30b7\u30e7\u30f3\uff09\n  const humorStyles = [\n    '\u3010\u30d6\u30e9\u30c3\u30af\u30e6\u30fc\u30e2\u30a2\u578b\u3011\u6a29\u529b\u30fb\u8cc7\u672c\u30fb\u5236\u5ea6\u306e\u77db\u76fe\u3092\u76ae\u8089\u3067\u523a\u3059\u3002\u300c\u7b11\u3048\u308b\u304c\u7b11\u3048\u306a\u3044\u300d\u4e00\u8a00\u3067\u7de0\u3081\u308b\u3002\u4f8b\uff1a\u300c\u6642\u4fa1\u7dcf\u984d600\u5104\u30c9\u30eb\u306e\u4f01\u696d\u3092\u5f31\u8005\u3068\u547c\u3076\u611f\u899a\u3092\u3001\u5c11\u3057\u7591\u3063\u305f\u65b9\u304c\u3044\u3044\u3002\u300d',\n    '\u3010\u6570\u5b57\u30aa\u30c1\u578b\u3011\u5177\u4f53\u7684\u306a\u6570\u5b57\u30fb\u91d1\u984d\u30fb\u5e74\u53f7\u3092\u4f7f\u3063\u3066\u30aa\u30c1\u3092\u3064\u3051\u308b\u3002\u4f8b\uff1a\u300c2030\u5e74\u3001\u4f01\u696d\u306eAI\u6226\u7565\u304c\u300e\u3069\u3053\u306e\u56de\u7dda\u3092\u4f7f\u3046\u304b\u300f\u304b\u3089\u59cb\u307e\u308b\u65e5\u304c\u6765\u308b\u304b\u3082\u3057\u308c\u306a\u3044\u3002\u300d',\n    '\u3010\u9006\u8aac\u7684\u89b3\u5bdf\u578b\u3011\u300c\u666e\u901a\u306f\u305d\u3046\u601d\u3046\u304c\u3001\u5b9f\u306f\u69cb\u9020\u7684\u306b\u9006\u300d\u3068\u3044\u3046\u5207\u308a\u53e3\u3067\u4e00\u8a00\u5207\u308b\u3002\u4f8b\uff1a\u300c\u30b4\u30fc\u30eb\u30dd\u30b9\u30c8\u3092\u52d5\u304b\u3057\u3066\u3044\u308b\u306e\u306f\u3001\u8d70\u3063\u3066\u3044\u306a\u3044\u4eba\u305f\u3061\u3060\u3002\u300d',\n    '\u3010\u30df\u30cb\u30de\u30ea\u30b9\u30c8\u578b\u3011\u4e00\u884c\u3067\u5168\u3066\u3092\u8a00\u3044\u5207\u308b\u3002\u4f59\u8a08\u306a\u8a00\u8449\u30bc\u30ed\u3002\u77ed\u3051\u308c\u3070\u77ed\u3044\u307b\u3069\u5207\u308c\u5473\u304c\u5897\u3059\u3002\u4f8b\uff1a\u300c\u6b74\u53f2\u306f\u7e70\u308a\u8fd4\u3059\u2014\u2014\u4eca\u5ea6\u306f\u5149\u30d5\u30a1\u30a4\u30d0\u30fc\u306e\u4e0a\u3067\u3002\u300d',\n    '\u3010\u5171\u72af\u8005\u578b\u3011\u300c\u79c1\u305f\u3061\u3082\u5f53\u4e8b\u8005\u3060\u300d\u3068\u3044\u3046\u8996\u70b9\u304b\u3089\u7b11\u3044\u98db\u3070\u3059\u3002\u4f8b\uff1a\u300c\u8ab0\u304c\u52dd\u3063\u3066\u3082\u3001\u79c1\u305f\u3061\u306f\u305d\u308c\u306b\u4e57\u308b\u3057\u304b\u306a\u3044\u6642\u4ee3\u304c\u6765\u308b\u3002\u305d\u308c\u3092\u3001\u4eca\u306e\u3046\u3061\u306b\u77e5\u3063\u3066\u304a\u3044\u3066\u307b\u3057\u3044\u3002\u300d',\n    '\u3010\u554f\u3044\u304b\u3051\u6311\u767a\u578b\u3011\u8aad\u8005\u306b\u9759\u304b\u306a\u554f\u3044\u3092\u6295\u3052\u308b\u77e5\u7684\u306a\u6311\u767a\u3002\u65ad\u8a00\u3057\u306a\u3044\u3002\u4f8b\uff1a\u300c\u3053\u306e\u6280\u8853\u304c\u8ab0\u306e\u3082\u306e\u306b\u306a\u308b\u304b\u3067\u3001\u6b21\u306e10\u5e74\u304c\u6c7a\u307e\u308b\u3002\u300d',\n    '\u3010\u30db\u30ef\u30a4\u30c8\u30e6\u30fc\u30e2\u30a2\u578b\u3011\u6e29\u304b\u304f\u8efd\u3044\u8996\u70b9\u3067\u5c0f\u3055\u306a\u53ef\u7b11\u3057\u307f\u3092\u898b\u3064\u3051\u308b\u3002\u8aad\u8005\u304c\u30af\u30b9\u30c3\u3068\u3059\u308b\u4e00\u8a00\u3002\u76ae\u8089\u3067\u306f\u306a\u304f\u67d4\u3089\u304b\u3044\u7b11\u3044\u3002',\n    '\u3010\u81ea\u8650\u7684\u89b3\u5bdf\u578b\u3011\u300c\u79c1\u305f\u3061\u3082\u305d\u306e\u6e26\u4e2d\u306b\u3044\u308b\u300d\u3068\u3044\u3046\u5171\u611f\u304b\u3089\u5165\u308a\u3001\u5f53\u4e8b\u8005\u3068\u3057\u3066\u7b11\u3044\u98db\u3070\u3059\u3002\u8aad\u8005\u304c\u300c\u308f\u304b\u308b\u300d\u3068\u611f\u3058\u308b\u4e00\u8a00\u3002'\n  ];\n\n  const idx           = $itemIndex % 4;\n  const roberStyle    = roberPatterns[idx];\n\n  const dayShift      = Math.floor(Date.now() / 86400000) % 2;\n  const itoguchiIdx   = ($itemIndex * 2 + dayShift) % 8;\n  const itoguchiStyle = itoguchiPatterns[itoguchiIdx];\n\n  const grainIdx      = (Math.floor(Date.now() / 86400000) * 3 + $itemIndex) % 3;\n  const grainStyle    = grainPatterns[grainIdx];\n\n  const humorIdx      = (Math.floor(Date.now() / 86400000) * 7 + $itemIndex * 4) % 8;\n  const humorStyle    = humorStyles[humorIdx];\n\n  const prompt = `\u3042\u306a\u305f\u306fAI Survival Report\u306e\u7de8\u96c6\u8a18\u8005\u3060\u3002JSON\u306e\u307f\u3067\u56de\u7b54\u305b\u3088\uff08\\`\\`\\`\u4e0d\u8981\uff09\u3002\n\n\u3010\u6700\u91cd\u8981\u30fb\u6587\u5b57\u6570\u5236\u9650\uff08\u8d85\u3048\u305f\u3089\u5168\u4f53\u304c\u5931\u6557\uff09\u3011\n\u30fbfact_summary: 350\u301c420\u5b57\uff08\u77ed\u3059\u304e\u3066\u3082\u5931\u6557\u30fb\u65e5\u672c\u8a9e\u3067\u6570\u3048\u3066\uff09\n\u30fbeditorial_eye: 250\u5b57\u4ee5\u5185\n\n\u3010\u6587\u4f53\u30eb\u30fc\u30eb\uff1a\u30ef\u30f3\u30d1\u30bf\u30fc\u30f3\u7981\u6b62\u30fb\u8a9e\u5f59\u529b\u8c4a\u304b\u306a\u8a9e\u308a\u90e8\u3067\u3042\u308c\u3011\n\u30fb\u540c\u4e00\u8a18\u4e8b\u5185\u3067\u540c\u3058\u30d5\u30ec\u30fc\u30ba\u30fb\u540c\u3058\u69cb\u6587\u30922\u56de\u4ee5\u4e0a\u4f7f\u308f\u306a\u3044\n\u30fb\u4ee5\u4e0b\u306f\u7e70\u308a\u8fd4\u3057\u304c\u7981\u6b62\uff08\u4f7f\u3046\u3053\u3068\u81ea\u4f53\u306f\u7981\u6b62\u3067\u306f\u306a\u3044\uff09\uff1a\n  \u300c\u301c\u304c\u305d\u3053\u306b\u3042\u308b\u300d\u300c\u301c\u3092\u554f\u308f\u308c\u3066\u3044\u308b\u300d\u300c\u8ab0\u3082\u53e3\u306b\u3057\u306a\u3044\u301c\u300d\u300c\u6d6e\u304d\u5f6b\u308a\u300d\u300c\u301c\u3092\u793a\u3057\u3066\u3044\u308b\u300d\n\u30fb\u8a9e\u5f59\u304c\u8c4a\u304b\u3067\u3001\u8aad\u3080\u305f\u3073\u306b\u8868\u73fe\u304c\u65b0\u9bae\u306a\u8a9e\u308a\u90e8\u3067\u3042\u308b\u3053\u3068\n\u30fb\u300c\u66f8\u304d\u6163\u308c\u305f\u8a18\u8005\u306e\u6587\u4f53\u300d\u3092\u610f\u8b58\u3059\u308b\u3002AI\u304c\u66f8\u3044\u305f\u611f\u3092\u51fa\u3055\u306a\u3044\n\n\u3010\u7d76\u5bfe\u30eb\u30fc\u30eb\u3011\n1. URL\u306f\u5165\u529b\u306eURL\u3092\u305d\u306e\u307e\u307e\u30b3\u30d4\u30fc\uff08\u5909\u66f4\u30fb\u5275\u4f5c\u7981\u6b62\uff09\n2. \u56fa\u6709\u540d\u8a5e\u30fb\u6570\u5b57\u306f\u539f\u6587\u306e\u307e\u307e\uff08\u63a8\u6e2c\u3067\u7570\u306a\u308b\u56fa\u6709\u540d\u8a5e\u3092\u4f5c\u308b\u3053\u3068\u306f\u7d76\u5bfe\u7981\u6b62\uff09\n3. \u30e1\u30c7\u30a3\u30a2\u540d\u306f\u5165\u529b\u306e\u3082\u306e\u3092\u305d\u306e\u307e\u307e\u4f7f\u7528\n4. fact_summary\u306f\u300c${source}\u306b\u3088\u308b\u3068\u3001\u300d\u3067\u958b\u59cb\n5. \u5165\u529b\u30c7\u30fc\u30bf\u306e\u4e8b\u5b9f\u306e\u307f\u4f7f\u7528\uff08\u77e5\u8b58\u88dc\u5b8c\u30fb\u5275\u4f5c\u30fb\u63a8\u6e2c\u7981\u6b62\uff09\n6. \u82f1\u8a9e\u306e\u56fa\u6709\u540d\u8a5e\u30fb\u6a5f\u95a2\u540d\u30fb\u6cd5\u5f8b\u540d\u306f\u5fc5\u305a\u65e5\u672c\u8a9e\u8a33\u3092\u62ec\u5f27\u3067\u6dfb\u3048\u308b\u3053\u3068\uff08\u4f8b: injunction \u2192 \u5dee\u3057\u6b62\u3081\u547d\u4ee4\uff08injunction\uff1d\u88c1\u5224\u6240\u304c\u884c\u52d5\u3092\u6b62\u3081\u308b\u6cd5\u7684\u30d6\u30ec\u30fc\u30ad\uff09\u3001Pentagon \u2192 \u7c73\u56fd\u9632\u7dcf\u7701\uff09\n7. \u5c02\u9580\u7528\u8a9e\u30fb\u7565\u8a9e\u306f\u300c\u6c60\u4e0a\u5f70\u30b9\u30bf\u30a4\u30eb\u300d\u3067\u89e3\u8aac\uff08\u62ec\u5f27\u5185\u306b\u300c\uff1d\u301c\u306e\u3053\u3068\u300d\u5f62\u5f0f\u3002\u4e2d\u5b66\u751f\u3067\u3082\u308f\u304b\u308b\u8a00\u8449\u3067\uff09\n8. \u5143\u8a18\u4e8b\u306e\u30e1\u30a4\u30f3\u30c6\u30fc\u30de\u3068\u7121\u95a2\u4fc2\u306e\u60c5\u5831\u3092\u66f8\u304b\u306a\u3044\u3053\u3068\uff08\u30da\u30fc\u30b8\u4e0b\u90e8\u306e\u5225\u8a18\u4e8b\u30fb\u5e83\u544a\u30fb\u30ea\u30f3\u30af\u8a18\u4e8b\u306e\u5185\u5bb9\u306f\u4f7f\u308f\u306a\u3044\uff09\n9. \u300c\u4e0d\u660e\u300d\u300c\u660e\u78ba\u3067\u306f\u306a\u3044\u300d\u300c\u63a8\u6e2c\u300d\u7b49\u306e\u4e0d\u78ba\u5b9f\u8868\u73fe\u306f\u4f7f\u308f\u306a\u3044\u3002\u66f8\u3051\u308b\u3053\u3068\u3060\u3051\u66f8\u304f\u3002\n10. \u7981\u6b62\u8868\u73fe\uff1a\u300c\u3053\u306e\u4e00\u9031\u9593\u306b\u5831\u3058\u3089\u308c\u305f\u300d\u300c\u301c\u3059\u3079\u304d\u300d\u300c\u301c\u306b\u306a\u308c\u300d\u7b49\u306e\u547d\u4ee4\u5f62\n\n\u3010\u5165\u529b\u30c7\u30fc\u30bf\u3011\n\u30bf\u30a4\u30c8\u30eb: ${title}\n\u30e1\u30c7\u30a3\u30a2\u540d: ${source}\n\u914d\u4fe1\u65e5: ${date}\n\u8981\u7d04: ${summary}\nURL: ${url}\n\n\u3010fact_summary\uff08350\u301c420\u5b57\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\u30fb5W1H\uff09\u3011\n\u300c${source}\u306b\u3088\u308b\u3068\u3001\u300d\u3067\u59cb\u3081\u308b\u3002\u8ab0\u304c\u4f55\u3092\u3044\u3064\u3069\u3053\u3067\u306a\u305c\u3069\u3046\u3057\u305f\u304b\u3092\u7c21\u6f54\u306b\u66f8\u304f\u3002\n\u5c02\u9580\u7528\u8a9e\u306b\u306f\u6c60\u4e0a\u5f70\u30b9\u30bf\u30a4\u30eb\u306e\u62ec\u5f27\u88dc\u8db3\u3092\u5165\u308c\u308b\u3002\u4e0d\u78ba\u5b9f\u306a\u3053\u3068\u306f\u66f8\u304b\u306a\u3044\u3002350\u5b57\u672a\u6e80\u307e\u305f\u306f420\u5b57\u8d85\u306f\u5931\u6557\u3002\n\n\u3010editorial_eye\uff08300\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\u3011\n3\u6bb5\u69cb\u6210\u3067\u5408\u8a08300\u5b57\u4ee5\u5185\uff1a\n\u2460\u73fe\u5b9f\uff0850-80\u5b57\uff09\uff1a\u3053\u306e\u5909\u5316\u304c\u8aad\u8005\u306e\u73fe\u5834\u30fb\u793e\u4f1a\u306b\u4f55\u3092\u3082\u305f\u3089\u3057\u3066\u3044\u308b\u304b\u3002\u6b63\u76f4\u306b\u3001\u91cd\u3055\u3082\u542b\u3081\u3066\u66f8\u304f\u3002\u300c\u3044\u3044\u5b50\u3061\u3083\u3093\u300d\u7684\u8868\u73fe\u7981\u6b62\u3002\n\u2461\u6d1e\u5bdf\uff08120-180\u5b57\uff09\uff1a${roberStyle}\u6838\u5fc3\u306b\u8e0f\u307f\u8fbc\u307f\u3001\u8868\u9762\u7684\u306a\u4e8b\u5b9f\u306e\u5965\u306b\u3042\u308b\u69cb\u9020\u3084\u77db\u76fe\u3092\u6df1\u304f\u6398\u308a\u4e0b\u3052\u308b\u3002\u672c\u97f3\u3067\u66f8\u3051\u3002\n\u2462\u7cf8\u53e3\uff0840-60\u5b57\uff09\uff1a${itoguchiStyle}${grainStyle}\n\n\u3010\u30e6\u30fc\u30e2\u30a2\u6307\u793a\uff08editorial_eye\u306e\u3069\u3053\u304b\u4e00\u7b87\u6240\u306b\u81ea\u7136\u306b\u7e54\u308a\u8fbc\u3080\uff09\u3011\n${humorStyle}\n\u6bce\u56de\u540c\u3058\u30d1\u30bf\u30fc\u30f3\u306e\u30e6\u30fc\u30e2\u30a2\u306f\u4f7f\u308f\u306a\u3044\u3002\u6bd4\u55a9\u3092\u4f7f\u3046\u5834\u5408\u306f\u300c\u9b54\u6cd5\u300d\u300c\u304a\u59eb\u69d8\u300d\u300c\u52c7\u8005\u300d\u7b49\u306e\u5e7c\u7a1a\u306a\u6bd4\u55a9\u7981\u6b62\u3002\u77e5\u6027\u3068\u5207\u308c\u5473\u3092\u512a\u5148\u3059\u308b\u3002\n\n\u3010\u7406\u60f3\u306e\u7de8\u96c6\u9577\u306e\u773c\u306e\u5b9f\u4f8b\uff08\u3053\u306e\u30ec\u30d9\u30eb\u3092\u76ee\u6307\u305b\uff09\u3011\n\u30fb\u300c\u5feb\u6319\u3060\u3002\u3060\u304c\u6b63\u76f4\u306b\u8a00\u3046\u3002\u79c1\u306f\u3053\u308c\u3092\u624b\u653e\u3057\u3067\u559c\u3079\u306a\u3044\u3002\u6642\u4fa1\u7dcf\u984d600\u5104\u30c9\u30eb\u306e\u4f01\u696d\u3092\u300e\u5f31\u8005\u300f\u3068\u547c\u3076\u611f\u899a\u3092\u3001\u5c11\u3057\u7591\u3063\u305f\u65b9\u304c\u3044\u3044\u3002\u8ab0\u304c\u52dd\u3063\u3066\u3082\u3001\u79c1\u305f\u3061\u306f\u305d\u308c\u306b\u4e57\u308b\u3057\u304b\u306a\u3044\u6642\u4ee3\u304c\u6765\u308b\u3002\u300d\n\u30fb\u300c\u30b4\u30fc\u30eb\u30dd\u30b9\u30c8\u3092\u52d5\u304b\u3057\u3066\u3044\u308b\u306e\u306f\u3001\u8d70\u3063\u3066\u3044\u306a\u3044\u4eba\u305f\u3061\u3060\u3002\u305d\u308c\u304c\u4eca\u306f\u6a5f\u80fd\u3057\u3066\u3044\u308b\u3002\u3060\u304c\u6b21\u306e\u30e9\u30a6\u30f3\u30c9\u306f\u3001\u3082\u3063\u3068\u9759\u304b\u306a\u5834\u6240\u3067\u59cb\u307e\u308b\u3002\u300d\n\u30fb\u300c\u6b74\u53f2\u306f\u7e70\u308a\u8fd4\u3059\u2014\u2014\u4eca\u5ea6\u306f\u5149\u30d5\u30a1\u30a4\u30d0\u30fc\u306e\u4e0a\u3067\u3002\u300d\n\n\u30e9\u30d9\u30eb\u4e0d\u8981\u3002\u7b87\u6761\u66f8\u304d\u7981\u6b62\u3002\u547d\u4ee4\u5f62\u7981\u6b62\u3002250\u5b57\u8d85\u3048\u305f\u3089\u5931\u6557\u3002\n\n\u3010\u51fa\u529bJSON\u306e\u307f\u3011\n{\"japanese_headline\":\"\u56fa\u6709\u540d\u8a5e\u30fb\u6570\u5b57\u5165\u308a\u65e5\u672c\u8a9e\u898b\u51fa\u305720-35\u5b57\",\"original_title\":\"\u82f1\u8a9e\u30bf\u30a4\u30c8\u30eb\u305d\u306e\u307e\u307e\u30b3\u30d4\u30fc\",\"fact_summary\":\"${source}\u306b\u3088\u308b\u3068...350\u301c550\u5b57\",\"editorial_eye\":\"300\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}", "options": {"response": {"response": {"fullResponse": false}}}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30ea\u30e9\u30a4\u30c8Agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [800, 304], "id": "agent-rewrite"}, {"parameters": {"aggregate": "aggregateAllItemData", "options": {}}, "name": "Aggregate", "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [1104, 304], "id": "aggregate"}, {"parameters": {"jsCode": "// editorial_eye\u3092300\u5b57\u4ee5\u5185\u306b\u53ce\u3081\u308b\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('\u3002'), cut.lastIndexOf('\uff0e'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// output\u30d5\u30a3\u30fc\u30eb\u30c9\u306eJSON\u3092\u30d1\u30fc\u30b9\u3059\u308b\u30d8\u30eb\u30d1\u30fc\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // \u3059\u3067\u306b\u5c55\u958b\u6e08\u307f\n  let raw_str = '';\n  // Gemini API HTTP Response\u5f62\u5f0f\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent \u51fa\u529b\u5f62\u5f0f\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    try {\n      return JSON.parse(raw);\n    } catch(e) {\n      // JSON\u304c\u9014\u4e2d\u3067\u5207\u308c\u305f\u5834\u5408\uff1aregex\u3067\u5404\u30d5\u30a3\u30fc\u30eb\u30c9\u3092\u90e8\u5206\u62bd\u51fa\uff08\u6551\u6e08\uff09\n      const extractField = (field) => {\n        const pattern = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*?)(?:\"|$)');\n        const m = raw.match(pattern);\n        if (!m) return '';\n        return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      };\n      const headline = extractField('japanese_headline');\n      if (headline) {\n        return {\n          japanese_headline: headline,\n          original_title: extractField('original_title'),\n          fact_summary: extractField('fact_summary').substring(0, 600),\n          editorial_eye: extractField('editorial_eye').substring(0, 320),\n          url: extractField('url'),\n          source_media: extractField('source_media'),\n          pubDate: extractField('pubDate')\n        };\n      }\n      return {};\n    }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  if (!n.japanese_headline) continue; // \u7a7a\u30a2\u30a4\u30c6\u30e0\uff08\u30ea\u30e9\u30a4\u30c8\u5931\u6557\uff09\u306f\u30b9\u30ad\u30c3\u30d7\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### \u25c6 ${n.japanese_headline || ''}\\n\\n`;\n  body += `**\u914d\u4fe1\u65e5\uff1a** ${dateStr}\u3000**\u51fa\u5178\uff1a** ${n.source_media || ''}\u3000**\u539f\u984c\uff1a** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**\ud83d\udccc \u7de8\u96c6\u9577\u306e\u773c**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news.map(parseNewsItem) } }];"}, "name": "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1408, 304], "id": "article-build"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 8192}}, "name": "Gemini Model\uff08\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [1712, 512], "id": "gemini-lead", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const news_body = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\n  const newsItems = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_data || [];\n  const headlines = newsItems.map((n,i) => `${i+1}. ${n.japanese_headline || n.title || ''}`).join('\\n');\n\n  const prompt = `\u4ee5\u4e0b\u306f\u300cAI Survival Report\u300d\u306e\u672c\u65e5\u306e${newsItems.length}\u672c\u306e\u30cb\u30e5\u30fc\u30b9\u8a18\u4e8b\u3060\u3002\\n\\n${news_body}\\n\\n\u8a18\u4e8b\u306e\u898b\u51fa\u3057\u4e00\u89a7:\\n${headlines}\\n\\n\u4ee5\u4e0b\u306e2\u3064\u3092\u66f8\u3051\u3002\\n\\n\u3010\u30ea\u30fc\u30c9\u6587\uff08\u3060\u30fb\u3067\u3042\u308b\u8abf\u30fb\u307e\u305f\u306f\u4f53\u8a00\u6b62\u3081\uff09\u3011\\n- \u3010\u53b3\u5b88\u3011250\u5b57\u4ee5\u5185\u3002\u8d85\u3048\u305f\u3089\u5931\u6557\u3002\\n- \u30d2\u30c3\u30c1\u30b3\u30c3\u30af\u578b\uff1a\u5192\u982d\u3067\u300c\u3042\u306a\u305f\u306f\u4eca\u65e5\u3001${newsItems.length}\u672c\u306e\u30cb\u30e5\u30fc\u30b9\u3092\u8aad\u3080\u3002\u300d\u307e\u305f\u306f\u985e\u4f3c\u306e\u4e8c\u4eba\u79f0\u3067\u59cb\u3081\u308b\\n- \u5404\u30cb\u30e5\u30fc\u30b9\u30921\u884c\u305a\u3064\u77ed\u304f\u4e88\u544a\u3057\u3066\u5f15\u304d\u8fbc\u3080\uff08\u4f53\u8a00\u6b62\u3081\u30fb\u4e00\u6587\u4e00\u884c\uff09\\n- \u6700\u5f8c\u306f\u6838\u5fc3\u3092\u7a81\u304f\u4e00\u884c\u306e\u554f\u3044\u3067\u7de0\u3081\u308b\uff08\u300c\u2014\u2014\u305d\u306e\u301c\u3092\u3001\u8ab0\u304c\u63e1\u308b\u3093\u3060\u308d\u3046\uff1f\u300d\u306e\u3088\u3046\u306a\u4f59\u767d\u3042\u308b\u554f\u3044\uff09\\n- \u6bce\u56de\u9055\u3046\u5207\u308a\u53e3\u30fb\u8a00\u3044\u56de\u3057\u306b\u3059\u308b\u3002\u30c6\u30f3\u30d7\u30ec\u7684\u306a\u66f8\u304d\u65b9\u7981\u6b62\u3002\\n- \u7981\u6b62\uff1a\u300c\u8ca1\u5e03\u30fb\u96c7\u7528\u30fb\u4fdd\u8eab\u300d\u4e09\u8a9e\u30bb\u30c3\u30c8\u3001\u300c\u3042\u306a\u305f\u306e\u4ed5\u4e8b\u304c\u6d88\u3048\u308b\u300d\u7b49\u306e\u717d\u308a\u3001\u300c\u3053\u306e\u4e00\u9031\u9593\u306b\u300d\\n\\n\u3010\u30af\u30ed\u30fc\u30b8\u30f3\u30b0\u7dcf\u62ec\uff08\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\u3011\\n- \u3010\u53b3\u5b88\u3011350\u301c400\u5b57\u3002400\u5b57\u8d85\u306f\u5931\u6557\u3002350\u5b57\u672a\u6e80\u3082\u5931\u6557\u3002\\n- \u5fc5\u305a\u300c### \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f\u300d\u3067\u59cb\u3081\u308b\uff08\u3053\u306e\u30bf\u30a4\u30c8\u30eb\u56fa\u5b9a\u30fb\u5909\u66f4\u7981\u6b62\uff09\\n- \u4eca\u65e5\u306e${newsItems.length}\u672c\u3092\u4e00\u672c\u306e\u7cf8\u3067\u7d50\u3076\u7d71\u5408\u6d1e\u5bdf\uff08\u306a\u305c\u3053\u308c\u3089\u304c\u540c\u3058\u6642\u671f\u306b\u8d77\u304d\u3066\u3044\u308b\u304b\uff09\\n- \u5177\u4f53\u7684\u306a\u56fa\u6709\u540d\u8a5e\u30921\u3064\u4ee5\u4e0a\u542b\u3081\u308b\\n- \u8aad\u8005\u304c\u300c\u8ce2\u304f\u306a\u3063\u305f\u611f\u3058\u300d\u3092\u5f97\u3089\u308c\u308b\u3088\u3046\u7de0\u3081\u308b\\n- \u6700\u5f8c\u306f\u653f\u5e9c\u304b\u3002\u4f01\u696d\u304b\u3002\u7814\u7a76\u8005\u304b\u3002\u305d\u308c\u3068\u3082\u3001\u79c1\u305f\u3061\u304b\u3002\u306e\u3088\u3046\u306a\u77ed\u3044\u554f\u3044\u306e\u9023\u6253\u3001\u307e\u305f\u306f\u8a69\u7684\u306a\u4e00\u884c\u3067\u7de0\u3081\u308b\\n- \u8ee2\u8077\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u30fb\u6c42\u4eba\u30b5\u30fc\u30d3\u30b9\u30fb\u5e83\u544a\u7684CTA\u306f\u7d76\u5bfe\u7981\u6b62\\n\\n\u3010\u51fa\u529b\u5f62\u5f0f\uff08JSON\u306e\u307f\u3002\u30d0\u30c3\u30af\u30af\u30a9\u30fc\u30c8\u3084\u30e9\u30c3\u30d1\u30fc\u4e0d\u8981\uff09\u3011\\n{\"lead\": \"\u30ea\u30fc\u30c9\u6587\uff08350\u5b57\u4ee5\u5185\u30fb\u3060\u30fb\u3067\u3042\u308b\u8abf\uff09\", \"closing\": \"### \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f\\n\\n\u30af\u30ed\u30fc\u30b8\u30f3\u30b0\u7dcf\u62ec\uff081000\u301c1400\u5b57\uff09\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1712, 304], "id": "llm-lead"}, {"parameters": {"modelName": "gemini-2.5-flash", "options": {"maxOutputTokens": 512}}, "name": "Gemini Model\uff08\u30bf\u30a4\u30c8\u30eb\u7528\uff09", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [2000, 512], "id": "gemini-title", "credentials": {"googlePalmApi": {"id": "UEQc6WgXg2nyAi9v", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ (() => {\n  const news_body = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\n\n  const prompt = `\u4ee5\u4e0b\u306e\u30cb\u30e5\u30fc\u30b9\u8a18\u4e8b\u7fa4\u3092\u8aad\u3093\u3067\u3001\u53f7\u5168\u4f53\u3092\u8c61\u5fb4\u3059\u308b\u65e5\u672c\u8a9e\u30bf\u30a4\u30c8\u30eb\u30921\u3064\u3060\u3051\u751f\u6210\u305b\u3088\u3002\\n\\n${news_body}\\n\\n\u3010\u30bf\u30a4\u30c8\u30eb\u306e\u30eb\u30fc\u30eb\u3011\\n- \u5fc5\u305a\u65e5\u672c\u8a9e\uff08\u82f1\u8a9e\u7981\u6b62\uff09\\n- 40\u5b57\u4ee5\u5185\\n- \u8a18\u4e8b\u672c\u6587\u306b\u767b\u5834\u3059\u308b\u56fa\u6709\u540d\u8a5e\uff08\u4f01\u696d\u540d\u30fb\u4eba\u540d\u30fb\u88fd\u54c1\u540d\uff09\u304b\u6570\u5b57\u3092\u5fc5\u305a1\u3064\u4ee5\u4e0a\u542b\u3081\u308b\\n- \u300c\u306a\u305c\u4eca\u301c\u300d\u300c\u301c\u304c\u5909\u308f\u308b\u300d\u7b49\u306e\u62bd\u8c61\u7684\u30bf\u30a4\u30c8\u30eb\u7981\u6b62\\n- \u672c\u6587\u306b\u5b58\u5728\u3057\u306a\u3044\u56fa\u6709\u540d\u8a5e\u3092\u30bf\u30a4\u30c8\u30eb\u306b\u5165\u308c\u308b\u3053\u3068\u7981\u6b62\\n- \u5f37\u3044\u30bf\u30a4\u30c8\u30eb\u306e\u69cb\u9020\u3092\u4f7f\u3048\uff1a\u554f\u3044\u30fb\u5ba3\u8a00\u30fb\u9006\u8aac\u30fb\u767a\u898b\u306e\u3044\u305a\u308c\u304b\\n- \u300c\u2014\u2014\u300d\uff08\u5168\u89d2\u30c0\u30c3\u30b7\u30e52\u3064\u9023\u7d9a\uff09\u3092\u4f7f\u3063\u305f\u30b5\u30d6\u30bf\u30a4\u30c8\u30eb\u4ed8\u304d\u69cb\u9020\u3092\u63a8\u5968\uff08\u4f8b\uff1a\u300cAI\u304c\u653f\u5e9c\u3092\u6cd5\u5ef7\u3067\u5012\u3057\u305f\u65e5\u2014\u2014\u4eca\u3001\u4f55\u304b\u304c\u52d5\u304d\u59cb\u3081\u3066\u3044\u308b\u300d\uff09\\n- \u8aac\u660e\u7684\u3067\u9589\u3058\u305f\u30bf\u30a4\u30c8\u30eb\u7981\u6b62\uff08\u300c\u301c\u304c\u793a\u3059\u301c\u306e\u5e55\u958b\u3051\u300d\u7b49\uff09\u3002\u4f59\u767d\u3068\u554f\u3044\u3092\u6b8b\u305b\u3002\\n- \u30bf\u30a4\u30c8\u30eb\u306e\u307f\u51fa\u529b\u3002\u8aac\u660e\u30fb\u5f15\u7528\u7b26\u30fb\u756a\u53f7\u30fb\u30d0\u30c3\u30af\u30af\u30a9\u30fc\u30c8\u4e0d\u8981`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.4, maxOutputTokens: 2048}\n  });\n})() }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "name": "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2000, 304], "id": "llm-title"}, {"parameters": {"jsCode": "function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain').first().json;\nconst titleResp = $('\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"\u300c]|[\"\u300d]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closing\u30921400\u5b57\u4ee5\u5185\u306b\u53ce\u3081\u308b\uff08\u6587\u7ae0\u5883\u754c\u3067\u5207\u308b\uff09\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('\u3002'), cut.lastIndexOf('\uff0e'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closingRaw = truncateAtSentence(leadJson.closing || '', 1400);\n// LLM\u304c\u7dcf\u62ec\u30d8\u30c3\u30c0\u30fc\u3092\u542b\u3080\u5834\u5408\u306f\u9664\u53bb\uff08\u6700\u7d42\u7d44\u7acbCode\u3067\u8ffd\u52a0\u3059\u308b\u305f\u3081\u4e8c\u91cd\u9632\u6b62\uff09\nconst closing = closingRaw.replace(/^###?\\s*\u7dcf\u62ec[\uff1a:][^\\n]*\\n+/m, '').trim();\nconst newsBody = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_body || '';\nconst newsData = $('\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## \u25c6 \u7dcf\u62ec\uff1a\u6642\u4ee3\u306e\u6fc1\u6d41\u3092\u8aad\u307f\u89e3\u304f',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\n// JST = UTC + 9h\nconst jstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = String(jstNow.getUTCFullYear())\n  + String(jstNow.getUTCMonth()+1).padStart(2,'0')\n  + String(jstNow.getUTCDate()).padStart(2,'0')\n  + '-'\n  + String(jstNow.getUTCHours()).padStart(2,'0')\n  + String(jstNow.getUTCMinutes()).padStart(2,'0')\n  + String(jstNow.getUTCSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: jstNow.toISOString()\n  }\n}];"}, "name": "\u6700\u7d42\u7d44\u7acbCode", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2304, 304], "id": "final-build"}, {"parameters": {"jsCode": "const data = $input.first().json;\nconst title = data.final_title || '';\nconst closingText = data.closing_text || '';\nconst newsData = data.news_data || [];\n\nconst GEMINI_KEY = 'AIzaSyASQDhbyHlJUz1kzCTU5nZCmOet9_9pd9Q';\nconst GEMINI_URL = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${GEMINI_KEY}`;\n\nconst jstNow = new Date(new Date().getTime() + 9 * 60 * 60 * 1000);\nconst dayOfWeek = jstNow.getUTCDay();\n\n// ========================================\n// MOEBIUS\u5171\u901a\u30d9\u30fc\u30b9\uff08\u7981\u6b62\u30ef\u30fc\u30c9\u524a\u9664\u6e08\u307f\u30fbv2\u4fee\u6b63\u7248\uff09\n// ========================================\nconst MOEBIUS_BASE =\n  'Moebius bande dessinee panel, ligne claire black ink outlines, detailed crosshatching, ' +\n  'transparent watercolor wash, editorial illustration, no text no numbers';\n\n// ========================================\n// COMPOSITION: \u69cb\u56f3\u30d0\u30ea\u30a8\u30fc\u30b7\u30e7\u30f3\uff089\u7a2e\uff09\n// ========================================\nconst COMPOSITION = {\n  A: \"wide panoramic landscape, vast environment, small human presence in distance\",\n  B: \"aerial bird's eye view looking down from above, overhead perspective, figures seen from high altitude\",\n  C: \"extreme close-up shot, detailed texture in foreground, machinery or technology detail, no wide landscape\",\n  D: \"dawn or sunrise sky filling upper half of frame, atmospheric light rays, horizon line visible, expansive sky\",\n  E: \"multiple human figures in foreground, faces and expressions visible, collaborative scene, warm human-scale environment\",\n  F: \"abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures\"\n};\n\n// ========================================\n// LIGHTING: \u5149\u91cf\u30d0\u30ea\u30a8\u30fc\u30b7\u30e7\u30f3\n// ========================================\nconst LIGHTING = {\n  BRIGHT: \"golden hour morning light, warm dawn rays, hopeful luminous atmosphere, soft warm sunlight\",\n  MID:    \"warm amber dusk light, golden sunset tones, rich orange and brown palette\",\n  DARK:   \"deep blue night atmosphere, cool moonlight, cinematic dark mood, blue and purple tones\"\n};\n\n// ========================================\n// SLOT_PLAN: \u30b9\u30ed\u30c3\u30c8\u3054\u3068\u306e\u69cb\u56f3\u30fb\u5149\u91cf\u6307\u5b9a\n// ========================================\nconst SLOT_PLAN = [\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_T\uff08cover\uff09\n  { composition: \"C\", lighting: \"MID\"    },  // SLOT_1\uff08news_0\uff09\n  { composition: \"B\", lighting: \"BRIGHT\" },  // SLOT_2\uff08news_1\uff09\n  { composition: \"C\", lighting: \"DARK\"   },  // SLOT_3\uff08news_2\uff09\n  { composition: \"F\", lighting: \"MID\"    },  // SLOT_4\uff08news_3\uff09\n  { composition: \"B\", lighting: \"MID\"    },  // SLOT_5\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_6\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"E\", lighting: \"MID\"    },  // SLOT_7\uff08\u672a\u4f7f\u7528\uff09\n  { composition: \"F\", lighting: \"BRIGHT\" },  // SLOT_W\uff08summary\uff09\n];\n\n// ========================================\n// \u30cd\u30ac\u30c6\u30a3\u30d6\u30d7\u30ed\u30f3\u30d7\u30c8\uff08\u5168\u30b9\u30ed\u30c3\u30c8\u5171\u901a\uff09\n// ========================================\nconst NEGATIVE_PROMPT = \"photorealistic, 3d render, anime, cartoon, lone silhouette standing alone in empty landscape, single person tiny in vast empty space, dark brooding atmosphere only, same composition as before, generic AI darkness, server room, data center, server rack, server hall, server towers, computer servers, endless server corridor, glowing server towers, rows of servers\";\n\n// ========================================\n// buildPrompt: \u30b9\u30ed\u30c3\u30c8\u30a4\u30f3\u30c7\u30c3\u30af\u30b9 + \u30b7\u30fc\u30f3\u30c6\u30ad\u30b9\u30c8\u304b\u3089\u30d7\u30ed\u30f3\u30d7\u30c8\u3092\u69cb\u7bc9\n// ========================================\nconst buildPrompt = (slotIndex, sceneText) => {\n  const plan = SLOT_PLAN[slotIndex];\n  return [MOEBIUS_BASE, COMPOSITION[plan.composition], LIGHTING[plan.lighting], sceneText].join(\", \");\n};\n\n// ========================================\n// \u30ab\u30e9\u30fc\u30d1\u30ec\u30c3\u30c8\uff08\u66dc\u65e5\u5bfe\u5fdc\u30fb\u30ab\u30d0\u30fc\u7528\uff09\n// ========================================\nconst COVER_COLOR_MOODS = [\n  'midnight navy and pale silver color palette',\n  'warm amber and deep cobalt color palette',\n  'deep crimson and ivory white color palette',\n  'forest green and golden ochre color palette',\n  'deep violet and lavender silver color palette',\n  'electric cyan and charcoal black color palette',\n  'rose gold and slate grey color palette'\n];\nconst colorMood = COVER_COLOR_MOODS[dayOfWeek];\n\nconst NEWS_COLORS = [\n  'cobalt blue and silver palette',\n  'crimson red and warm ivory palette',\n  'forest green and golden ochre palette',\n  'deep violet and lavender palette'\n];\n\n// \u30d6\u30ed\u30c3\u30af/\u30a8\u30e9\u30fc\u30da\u30fc\u30b8\u5224\u5b9a\u30d1\u30bf\u30fc\u30f3\nconst BLOCK_PATTERNS = /cloudflare|403 forbidden|security verification|just a moment|performing security|enable javascript|access denied|ray id:|bot protection|captcha|ddos|challenge page/i;\n\nasync function getGeminiScene(promptText, fallback) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: GEMINI_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: promptText }] }],\n        generationConfig: { maxOutputTokens: 300, temperature: 0.9 }\n      },\n      json: true\n    });\n    const text = (\n      resp && resp.candidates && resp.candidates[0] &&\n      resp.candidates[0].content && resp.candidates[0].content.parts &&\n      resp.candidates[0].content.parts[0] &&\n      resp.candidates[0].content.parts[0].text\n    ) ? resp.candidates[0].content.parts[0].text.trim() : '';\n    if (text && text.length > 20) return text;\n    return fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// --- \u30ab\u30d0\u30fc\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_T = index 0\uff09---\nconst coverGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial COVER illustration for an AI news report.\\n\\n' +\n  'Based on the issue title and summary below, describe ONE striking visual scene in English (50-70 words) that symbolizes the KEY THEME of this issue.\\n\\n' +\n  'REQUIREMENTS:\\n' +\n  '1. Dawn or sunrise sky filling upper half of frame \u2014 dramatic atmospheric light rays, horizon line visible.\\n' +\n  '2. Setting must NOT be a beach or sea. Choose from: research lab, server hall, city skyline, factory, control room, space station, etc.\\n' +\n  '3. Reference the actual AI topics in this issue (AI models, data centers, robots, satellites, etc.).\\n' +\n  '4. Output ONLY the scene description \u2014 no intro, no explanation.\\n\\n' +\n  'Issue title: ' + title + '\\n' +\n  'Issue summary: ' + closingText.substring(0, 800);\n\nconst coverScene = await getGeminiScene(\n  coverGeminiPrompt,\n  'a researcher standing at floor-to-ceiling windows overlooking a glowing city at dawn, ' +\n  'holding a tablet with AI interface, warm sunrise light streaming in, horizon line visible, human-scale perspective'\n);\nconst coverPrompt = buildPrompt(0, colorMood + ', ' + coverScene);\n\n// --- \u30cb\u30e5\u30fc\u30b9\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_1\u301c4 = index 1\u301c4\uff09---\nconst newsItems = newsData.slice(0, 4);\nconst FALLBACK_SCENES = [\n  'a scientist in a bright research lab examining a holographic brain model, warm natural light through large windows, human hands visible',\n  'aerial view of a modern city intersection at golden hour, pedestrians and vehicles as tiny figures, urban life in motion',\n  'close-up of human hands typing on a keyboard, smartphone screen showing an AI chat interface glowing softly, warm desk lamp light',\n  'a judge holding a gavel in a courtroom, scales of justice on the desk, dramatic side-lighting, human expression visible'\n];\n\nconst scenes = [];\nfor (let i = 0; i < newsItems.length; i++) {\n  const item = newsItems[i];\n  const headline = item.japanese_headline || item.original_title || '';\n  const rawSummary = item.fact_summary || item.summary || item.body || '';\n\n  const isBlocked = BLOCK_PATTERNS.test(rawSummary) || rawSummary.trim().length < 80;\n  const summaryText = isBlocked ? '' : rawSummary.substring(0, 600);\n\n  const slotPlan = SLOT_PLAN[i + 1];\n  const compositionHint = COMPOSITION[slotPlan.composition];\n\n  const newsPrompt =\n    'You are writing an image prompt for a Moebius bande dessinee editorial illustration.\\n\\n' +\n    'Describe a specific visual scene in English (50-70 words) that visually represents this news article.\\n\\n' +\n    'COMPOSITION REQUIREMENT: ' + compositionHint + '\\n\\n' +\n    'CORE PRINCIPLE: Show the KEY OBJECT, TECHNOLOGY, or CONCEPT itself \u2014 not just a generic person.\\n\\n' +\n    'APPROACH:\\n' +\n    '- Name SPECIFIC objects: robot arm, neural network, smartphone UI, satellite dish, courtroom gavel, server rack, holographic interface, DNA helix, financial chart, etc.\\n' +\n    '- Match the substance of the news \u2014 if it\\'s about AI tools, show the tool; if regulation, show scales/documents; if a company, show its product\\n' +\n    '- Avoid vague \"person looking at screen\" \u2014 show WHAT is on the screen, or show the technology itself\\n' +\n    '- Output ONLY the scene description.\\n\\n' +\n    (isBlocked\n      ? 'Article title: ' + (item.original_title || headline) + '\\nSource: ' + (item.source_media || 'tech media')\n      : 'Headline: ' + headline + '\\nSummary: ' + summaryText\n    );\n\n  const scene = await getGeminiScene(newsPrompt, FALLBACK_SCENES[i]);\n  scenes.push(scene);\n}\n\n// --- \u7dcf\u62ec\u753b\u50cf\u30b7\u30fc\u30f3\u751f\u6210\uff08SLOT_W = index 8\uff09---\nconst summaryGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial SUMMARY illustration.\\n\\n' +\n  'This image represents the OVERALL TENSION or THEME that runs through all stories in this AI news report.\\n\\n' +\n  'COMPOSITION REQUIREMENT: Abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures.\\n\\n' +\n  'Based on the issue summary, describe ONE striking symbolic visual scene in English (50-70 words).\\n\\n' +\n  'APPROACH:\\n' +\n  '- Think META: What is the common thread? (AI vs human control, speed of change, ethical crossroads, tech disruption, etc.)\\n' +\n  '- Use ABSTRACT/NETWORK imagery: glowing data nodes, interconnected AI systems, geometric pattern representing the theme\\n' +\n  '- Output ONLY the scene description.\\n\\n' +\n  'Issue summary: ' + closingText.substring(0, 1000);\n\nconst summaryScene = await getGeminiScene(\n  summaryGeminiPrompt,\n  'abstract glowing data network visualization, colorful node connections representing AI interconnections, ' +\n  'geometric patterns pulsing with electric light, deep space background with constellations of information'\n);\nconst summaryPrompt = buildPrompt(8, summaryScene);\n\n// --- \u51fa\u529b\uff08negative_prompt\u3092\u5168\u30b9\u30ed\u30c3\u30c8\u306b\u4ed8\u52a0\uff09---\nconst prompts = [\n  { type: 'cover', prompt: coverPrompt, negative_prompt: NEGATIVE_PROMPT },\n  ...scenes.map((scene, i) => ({\n    type: 'news_' + i,\n    prompt: buildPrompt(i + 1, NEWS_COLORS[i] + ', ' + scene),\n    negative_prompt: NEGATIVE_PROMPT\n  })),\n  { type: 'summary', prompt: summaryPrompt, negative_prompt: NEGATIVE_PROMPT }\n];\n\nreturn prompts.map(p => ({ json: p }));\n"}, "name": "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2608, 304], "id": "img-prompt"}, {"parameters": {"amount": 1}, "name": "API\u51b7\u5374Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2912, 304], "id": "api-cool", "webhookId": "96fb97a2-02ca-49cf-9ba9-492a25299028"}, {"parameters": {"method": "POST", "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-sz-media-486107/locations/us-central1/publishers/google/models/imagen-3.0-fast-generate-001:predict", "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ instances: [{ prompt: $json.prompt }], parameters: { sampleCount: 1, aspectRatio: \"16:9\", negativePrompt: $json.negative_prompt || \"\", safetySetting: \"block_some\", personGeneration: \"allow_adult\" } }) }}", "options": {"response": {"response": {"neverError": true}}}}, "name": "Vertex AI Imagen", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3200, 304], "id": "fal-http", "onError": "continueRegularOutput", "credentials": {"googleApi": {"id": "ud1LKevnjBbybuxl", "name": "Google Service Account account"}}}, {"parameters": {"url": "={{ 'data:image/png;base64,' + $('Vertex AI Imagen').item.json.predictions[0].bytesBase64Encoded }}", "additionalFields": {}}, "name": "Cloudinary upload", "type": "n8n-nodes-cloudinary.cloudinary", "typeVersion": 1, "position": [3504, 304], "id": "cloudinary-upload", "credentials": {"cloudinaryApi": {"id": "WP5o4htlDE9qqtsH", "name": "Cloudinary account"}}}, {"parameters": {"jsCode": "const items = $input.all();\n// \u751f\u6210\u9806\u5e8f: cover \u2192 news_0 \u2192 news_1 \u2192 news_2 \u2192 news_3 \u2192 summary\nconst typeOrder = [\"cover\", \"news_0\", \"news_1\", \"news_2\", \"news_3\", \"summary\"];\nconst urls = {};\nitems.forEach((item, i) => {\n  const type = typeOrder[i] || (\"item_\" + i);\n  const url = item.json.secure_url || item.json.url || \"\";\n  if (url) urls[type] = url;\n});\nreturn [{ json: { image_urls: urls } }];"}, "name": "\u753b\u50cfURL\u96c6\u7d04Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3808, 304], "id": "img-url-collect"}, {"parameters": {"jsCode": "const imageData = $input.first().json;\nconst articleData = $(\"\u6700\u7d42\u7d44\u7acbCode\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\n// \u30ab\u30d0\u30fc\u753b\u50cf\uff1a\u30bf\u30a4\u30c8\u30eb\u884c\u76f4\u5f8c\u306b\u633f\u5165\nif (urls.cover) {\n  article = article.replace(/^(# [^\\n]+\\n\\n)/, '$1![\u30ab\u30d0\u30fc\u753b\u50cf](' + urls.cover + ')\\n\\n');\n}\n\n// \u30cb\u30e5\u30fc\u30b9\u753b\u50cf\uff1a\u300c### \u25c6 \u30bf\u30a4\u30c8\u30eb\\n\\n**\u914d\u4fe1\u65e5\u300d\u306e\u76f4\u524d\u306b\u633f\u5165\uff08\u9806\u756a\u306b\u5dee\u3057\u8fbc\u3080\uff09\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    article = article.replace(\n      /(### \u25c6 \\S[^\\n]*\\n\\n)(\\*\\*\u914d\u4fe1\u65e5)/,\n      '$1![\u30cb\u30e5\u30fc\u30b9\u753b\u50cf](' + newsUrl + ')\\n\\n$2'\n    );\n  }\n}\n\n// \u7dcf\u62ec\u753b\u50cf\uff1a\u300c## \u25c6 \u7dcf\u62ec\u300d\u306e\u76f4\u524d\u306b\u633f\u5165\nif (urls.summary) {\n  article = article.replace(\n    /(## \u25c6 \u7dcf\u62ec[^\\n]*\\n\\n)/,\n    '![\u7dcf\u62ec\u753b\u50cf](' + urls.summary + ')\\n\\n$1'\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"}, "name": "\u753b\u50cf\u633f\u5165Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4112, 304], "id": "img-insert"}, {"parameters": {"jsCode": "const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"}, "name": "GitHub MDX\u4f5c\u6210Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4400, 304], "id": "github-mdx"}, {"parameters": {"method": "PUT", "url": "=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}", "options": {}}, "name": "GitHub\u66f8\u304d\u8fbc\u307fHTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4704, 304], "id": "github-write"}, {"parameters": {"url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}]}, "options": {}}, "name": "blog-posts-data.json\u53d6\u5f97", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5008, 208], "id": "blog-json-get"}, {"parameters": {"jsCode": "const fetchResult = $('blog-posts-data.json\u53d6\u5f97').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX\u4f5c\u6210Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"}, "name": "blog-posts-data.json\u66f4\u65b0Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5312, 208], "id": "blog-json-update"}, {"parameters": {"method": "PUT", "url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "token ***REDACTED_TOKEN***"}, {"name": "Accept", "value": "application/vnd.github.v3+json"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}", "options": {}}, "name": "blog-posts-data.json\u66f8\u8fbcHTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5600, 208], "id": "blog-json-write"}, {"parameters": {"resource": "databasePage", "databaseId": {"__rl": true, "value": "31d457e7-0a28-8108-a987-f27725c1c5b9", "mode": "id"}, "title": "={{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.final_title }}", "propertiesUi": {"propertyValues": [{"key": "\u751f\u6210\u65e5|date", "date": "={{ $now.toISO() }}"}, {"key": "\u30b9\u30c6\u30fc\u30bf\u30b9|select", "selectValue": "\u4e0b\u66f8\u304d"}, {"key": "\u30e1\u30bf\u60c5\u5831|rich_text", "textContent": "={{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.lead_text.substring(0, 1990) }}"}, {"key": "\u753b\u50cfURL|url", "urlValue": "={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]}, "options": {}}, "name": "Notion DB\u4fdd\u5b58", "type": "n8n-nodes-base.notion", "typeVersion": 2.2, "position": [5008, 512], "id": "notion-save", "credentials": {"notionApi": {"id": "S1Pkv3d0mXqOwBTl", "name": "Notion account 2"}}}, {"parameters": {"workflowId": "6QYipyd0Zc8YWzgS", "options": {}}, "name": "X\u6295\u7a3fExecuteWorkflow", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [5312, 512], "id": "x-post"}, {"parameters": {"method": "POST", "url": "https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": \"\u3010SZ_AI_Media_v2\u3011 \u5b8c\u4e86\u901a\u77e5 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n\u8a18\u4e8b\u30bf\u30a4\u30c8\u30eb: {{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.final_title }}\\nSlug: {{ $('\u6700\u7d42\u7d44\u7acbCode').first().json.slug }}\"\n}", "options": {}}, "name": "\u5b8c\u4e86\u901a\u77e5HTTP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5600, 512], "id": "notify"}, {"id": "perplexity-fetch-001", "name": "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [752, 304], "parameters": {"jsCode": "// ================================================================\n// Jina\u672c\u6587\u53d6\u5f97\uff0b\u65e5\u4ed8\u691c\u8a3cCode (v2)\n// ================================================================\n// \u3010\u5909\u66f4\u7406\u7531\u3011\n// Vertex AI Grounding\uff08Google\u691c\u7d22\uff09\u306f\u6307\u5b9aURL\u3092\u5b9f\u969b\u306b\u30d5\u30a7\u30c3\u30c1\u3057\u306a\u3044\u3002\n// \u30bf\u30a4\u30c8\u30eb\u304c\u53e4\u3044\u8a18\u4e8b\u3068\u4e00\u81f4\u3059\u308b\u3068\u53e4\u3044\u8a18\u4e8b\u306e\u5185\u5bb9\u3092\u8fd4\u3057\u3066\u3057\u307e\u3046\u3002\n// Jina Reader\u306f\u6307\u5b9aURL\u3092\u5b9f\u969b\u306bHTTP\u30d5\u30a7\u30c3\u30c1\u3059\u308b\u3002\n//\n// \u3010v1\u2192v2\u5909\u66f4\u70b9\u3011\n// - Gemini\u306ePOST\u30b3\u30fc\u30eb\u3092\u5ec3\u6b62\uff08helpers\u3067\u306eJSON\u30dc\u30c7\u30a3\u554f\u984c\u3092\u56de\u907f\uff09\n// - \u30ea\u30e9\u30a4\u30c8Agent\u304cJina\u53d6\u5f97\u30c6\u30ad\u30b9\u30c8\u3092\u76f4\u63a5\u53d7\u3051\u53d6\u308b\uff08summary\u3068\u3057\u3066\u6e21\u3059\uff09\n// - \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u691c\u51fa\u3092\u8ffd\u52a0\n// ================================================================\n\nconst CUTOFF_MS = 7 * 24 * 60 * 60 * 1000; // 7\u65e5\nconst NOW = Date.now();\n\nconst items = $input.all();\nconst results = [];\n\n// \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u5224\u5b9a\nfunction isConsentOrPaywallPage(text) {\n  const lower = text.toLowerCase();\n  const gdprCount  = (lower.match(/gdpr|cookie|consent|privacy policy/g)||[]).length;\n  const loginCount = (lower.match(/sign in|subscribe|log in|paywall/g)||[]).length;\n  return (gdprCount >= 3 || loginCount >= 3);\n}\n\nfor (const item of items) {\n  const { title, url, source_media, pubDate, summary: rssSummary } = item.json;\n\n  let jinaContent = '';\n  let shouldSkip = false;\n\n  // \u2500\u2500 Step 1: URL\u30d1\u30bf\u30fc\u30f3\u3067\u516c\u958b\u65e5\u3092\u5373\u30c1\u30a7\u30c3\u30af \u2500\u2500\n  const urlDateM = url ? url.match(/\\/(20\\d\\d)\\/(\\d{2})\\/(\\d{2})\\//) : null;\n  if (urlDateM) {\n    const artDate = new Date(`${urlDateM[1]}-${urlDateM[2]}-${urlDateM[3]}`);\n    if (NOW - artDate.getTime() > CUTOFF_MS) {\n      console.log('[SKIP:URL-DATE] ' + title + ' \u2192 ' + artDate.toISOString().slice(0,10));\n      shouldSkip = true;\n    }\n  }\n\n  // \u2500\u2500 Step 2: Jina Reader \u3067\u672c\u6587\u30d5\u30a7\u30c3\u30c1 \u2500\u2500\n  if (!shouldSkip) {\n    try {\n      const jinaResp = await helpers.httpRequest({\n        method: 'GET',\n        url: 'https://r.jina.ai/' + url,\n        headers: {\n          'Accept': 'text/plain',\n          'X-Return-Format': 'markdown',\n          'User-Agent': 'Mozilla/5.0 (compatible; NewsBot/1.0)'\n        },\n        timeout: 25000,\n        returnFullResponse: false\n      });\n\n      // \u30ec\u30b9\u30dd\u30f3\u30b9\u5f62\u5f0f\u3092\u67d4\u8edf\u306b\u51e6\u7406\n      if (typeof jinaResp === 'string') {\n        jinaContent = jinaResp;\n      } else if (jinaResp && jinaResp.body) {\n        jinaContent = String(jinaResp.body);\n      } else {\n        jinaContent = JSON.stringify(jinaResp);\n      }\n      jinaContent = jinaContent.slice(0, 4000);\n\n      // \u2500\u2500 Step 3: \u540c\u610f\u30da\u30fc\u30b8\u30fb\u30da\u30a4\u30a6\u30a9\u30fc\u30eb\u691c\u51fa \u2500\u2500\n      if (isConsentOrPaywallPage(jinaContent)) {\n        console.log('[FALLBACK:PAYWALL] ' + title + ' \u2192 RSS summary\u3092\u4f7f\u7528');\n        jinaContent = ''; // RSS summary\u306b\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\n      } else {\n        // \u2500\u2500 Step 4: Jina\u672c\u6587\u304b\u3089\u516c\u958b\u65e5\u30c1\u30a7\u30c3\u30af \u2500\u2500\n        const jinaDateM = jinaContent.match(/Published\\s*(?:Time)?:\\s*(\\d{4}-\\d{2}-\\d{2})/i);\n        if (jinaDateM) {\n          const artDate = new Date(jinaDateM[1]);\n          if (NOW - artDate.getTime() > CUTOFF_MS) {\n            console.log('[SKIP:JINA-DATE] ' + title + ' \u2192 ' + jinaDateM[1]);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        } else if (!urlDateM) {\n          // \u5e74\u6570\u30ab\u30a6\u30f3\u30c8\u3067\u53e4\u8a18\u4e8b\u3092\u63a8\u5b9a\uff08URL\u30fbJina\u306b\u660e\u793a\u7684\u306a\u65e5\u4ed8\u304c\u306a\u3044\u5834\u5408\uff09\n          const cnt2024 = (jinaContent.match(/\\b2024\\b/g)||[]).length;\n          const cnt2025 = (jinaContent.match(/\\b2025\\b/g)||[]).length;\n          const cnt2026 = (jinaContent.match(/\\b2026\\b/g)||[]).length;\n          if (cnt2024 >= 5 && cnt2026 === 0 && cnt2025 === 0) {\n            console.log('[SKIP:YEAR-COUNT] ' + title + ' \u2192 2024x' + cnt2024);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        }\n      }\n\n    } catch(e) {\n      console.log('[JINA-ERR] ' + url + ': ' + e.message);\n      jinaContent = ''; // Jina\u5931\u6557 \u2192 RSS summary\u306b\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\n    }\n  }\n\n  if (shouldSkip) continue;\n\n  // Jina\u672c\u6587\u304c\u6709\u7528\u3067\u3042\u308c\u3070\u305d\u308c\u3092\u4f7f\u7528\u3001\u305d\u3046\u3067\u306a\u3051\u308c\u3070RSS summary\n  // \u30ea\u30e9\u30a4\u30c8Agent\u306f\u3053\u306esummary\u3092\u5143\u306b\u65e5\u672c\u8a9e\u8a18\u4e8b\u3092\u751f\u6210\u3059\u308b\n  const usefulJina = jinaContent.length > 200 && !isConsentOrPaywallPage(jinaContent);\n  const finalSummary = (usefulJina ? jinaContent : rssSummary || '').slice(0, 4000);\n\n  results.push({ json: {\n    title:        title        || '',\n    url:          url          || '',\n    source_media: source_media || '',\n    pubDate:      pubDate      || '',\n    summary:      finalSummary\n  }});\n}\n\nif (results.length === 0) {\n  throw new Error('\u5168\u8a18\u4e8b\u304c\u53e4\u8a18\u4e8b\u3068\u5224\u5b9a\u3055\u308c\u30b9\u30ad\u30c3\u30d7\u3055\u308c\u307e\u3057\u305f\u3002RSS\u30d5\u30a3\u30fc\u30c9\u3092\u78ba\u8a8d\u3057\u3066\u304f\u3060\u3055\u3044\u3002');\n}\n\nreturn results;", "mode": "runOnceForAllItems"}}, {"id": "perplexity-parse-001", "name": "Vertex AI\u7d50\u679c\u6574\u5f62Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [972, 304], "parameters": {"jsCode": "// \u30d1\u30b9\u30b9\u30eb\u30fc\uff08Jina\u53d6\u5f97\uff0b\u65e5\u4ed8\u691c\u8a3cCode\u304c\u6574\u5f62\u6e08\u307f\u30c7\u30fc\u30bf\u3092\u8fd4\u3059\uff09\nreturn $input.all();"}}, {"id": "rss-shuffle-code", "name": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-800, 304], "parameters": {"jsCode": "// ================================================================\n// RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code\n// 20\u30e1\u30c7\u30a3\u30a2\u304b\u3089\u6bce\u56de\u30e9\u30f3\u30c0\u30e0\u306b\u82f1\u8a9e5\u672c\uff0b\u65e5\u672c\u8a9e2\u672c\u3092\u9078\u3093\u3067\u53d6\u5f97\n// ================================================================\n\nconst ALL_FEEDS = {\n  english: [\n    { name: \"TechCrunch AI\",   url: \"https://techcrunch.com/category/artificial-intelligence/feed/\" },\n    { name: \"Wired AI\",        url: \"https://wired.com/feed/tag/ai/latest/rss\" },\n    { name: \"Google News AI\",  url: \"https://news.google.com/rss/search?q=AI+artificial+intelligence&hl=en-US&gl=US&ceid=US:en&when:2d\" },\n    { name: \"The Verge AI\",    url: \"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml\" },\n    { name: \"VentureBeat AI\",  url: \"https://venturebeat.com/category/ai/feed/\" },\n    { name: \"MIT Tech Review\", url: \"https://www.technologyreview.com/feed/\" },\n    { name: \"The Rundown AI\",  url: \"https://rss.beehiiv.com/feeds/2R3C6Bt5wj.xml\" },\n    { name: \"OpenAI Blog\",     url: \"https://openai.com/news/rss.xml\" },\n    { name: \"Google DeepMind\", url: \"https://deepmind.google/blog/rss.xml\" },\n    { name: \"Ben's Bites\",     url: \"https://bensbites.substack.com/feed\" },\n    { name: \"Towards AI\",      url: \"https://pub.towardsai.net/feed\" },\n    { name: \"Synced Review\",   url: \"https://syncedreview.com/feed\" },\n    { name: \"Gizmodo AI\",      url: \"https://gizmodo.com/tech/artificial-intelligence/rss\" },\n    { name: \"ZDNet AI\",        url: \"https://www.zdnet.com/topic/artificial-intelligence/rss.xml\" },\n    { name: \"Ars Technica\",    url: \"https://feeds.arstechnica.com/arstechnica/technology-lab\" },\n    { name: \"BBC Tech\",        url: \"https://feeds.bbci.co.uk/news/technology/rss.xml\" },\n  ],\n  japanese: [\n    { name: \"ITmedia AI+\",    url: \"https://rss.itmedia.co.jp/rss/2.0/aiplus.xml\" },\n    { name: \"NHK Tech\",       url: \"https://www3.nhk.or.jp/rss/news/cat3.xml\" },\n    { name: \"Yahoo Japan IT\", url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" },\n    { name: \"Nikkei XTECH\",   url: \"https://xtech.nikkei.com/rss/xtech-it.rdf\" },\n  ]\n};\n\n// Fisher-Yates\u30b7\u30e3\u30c3\u30d5\u30eb\nfunction shuffle(arr) {\n  const a = [...arr];\n  for (let i = a.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [a[i], a[j]] = [a[j], a[i]];\n  }\n  return a;\n}\n\n// \u4eca\u56de\u4f7f\u3046\u30d5\u30a3\u30fc\u30c9\uff1a\u82f1\u8a9e5\u672c\uff0b\u65e5\u672c\u8a9e2\u672c\nconst selectedFeeds = [\n  ...shuffle(ALL_FEEDS.english).slice(0, 5),\n  ...shuffle(ALL_FEEDS.japanese).slice(0, 2)\n];\n\n// XML\u7c21\u6613\u30d1\u30fc\u30b5\u30fc\nfunction extractText(block, tags) {\n  for (const tag of tags) {\n    const m = block.match(new RegExp(`<${tag}[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/${tag}>`, 'i'));\n    if (m && m[1]) return m[1].trim();\n    // Atom link: <link href=\"...\"/>\n    if (tag === 'link') {\n      const lm = block.match(/<link[^>]+href=\"([^\"]+)\"/i);\n      if (lm) return lm[1].trim();\n    }\n  }\n  return '';\n}\n\nasync function fetchAndParse(feed) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; RSS Reader)' },\n      returnFullResponse: false\n    });\n    const text = typeof resp === 'string' ? resp : '';\n    if (!text) return [];\n\n    const items = [];\n    const blockRe = /<item[^>]*>([\\s\\S]*?)<\\/item>|<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let m;\n    while ((m = blockRe.exec(text)) !== null && items.length < 20) {\n      const block = m[1] || m[2] || '';\n      const title   = extractText(block, ['title']);\n      const link    = extractText(block, ['link', 'guid']);\n      const pubDate = extractText(block, ['pubDate', 'published', 'updated', 'dc:date']);\n      const summary = extractText(block, ['description', 'summary', 'content:encoded', 'content'])\n                        .replace(/<[^>]+>/g, '').substring(0, 400);\n      if (title && link) {\n        items.push({ title, link, pubDate, contentSnippet: summary, source: feed.name });\n      }\n    }\n    return items;\n  } catch(e) {\n    console.log(`Feed error [${feed.name}]: ${e.message}`);\n    return [];\n  }\n}\n\n// \u9806\u6b21\u53d6\u5f97\nconst allItems = [];\nfor (const feed of selectedFeeds) {\n  const items = await fetchAndParse(feed);\n  allItems.push(...items);\n}\n\nconst feedNames = selectedFeeds.map(f => f.name).join(' / ');\nconsole.log(`[RSS\u30b7\u30e3\u30c3\u30d5\u30eb] \u9078\u629e: ${feedNames}`);\nconsole.log(`[RSS\u30b7\u30e3\u30c3\u30d5\u30eb] \u5408\u8a08: ${allItems.length}\u4ef6`);\n\n// RSS\u7d71\u5408\u30b3\u30fc\u30c9\u304c$input.all()\u3067\u53d7\u3051\u53d6\u308c\u308b\u5f62\u5f0f\u3067\u8fd4\u3059\nreturn allItems.map(item => ({ json: item }));\n", "mode": "runOnceForAllItems"}}], "connections": {"Schedule Trigger": {"main": [[{"node": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "main", "index": 0}]]}, "Webhook Test Trigger": {"main": [[{"node": "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code", "type": "main", "index": 0}]]}, "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode": {"main": [[{"node": "\u60c5\u5831\u9078\u5225Agent", "type": "main", "index": 0}]]}, "\u60c5\u5831\u9078\u5225Agent": {"main": [[{"node": "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode", "type": "main", "index": 0}]]}, "\u4ef6\u6570\u30c1\u30a7\u30c3\u30afCode": {"main": [[{"node": "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1", "type": "main", "index": 0}]]}, "Gemini Model\uff08\u30ea\u30e9\u30a4\u30c8\u7528\uff09": {"main": []}, "\u30ea\u30e9\u30a4\u30c8Agent": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode", "type": "main", "index": 0}]]}, "\u8a18\u4e8b\u672c\u6587\u7d44\u7acbCode": {"main": [[{"node": "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain", "type": "main", "index": 0}]]}, "\u30ea\u30fc\u30c9\uff0b\u7dcf\u62ec LLM Chain": {"main": [[{"node": "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain", "type": "main", "index": 0}]]}, "\u6700\u7d42\u7d44\u7acbCode": {"main": [[{"node": "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code", "type": "main", "index": 0}]]}, "\u30bf\u30a4\u30c8\u30eb\u751f\u6210 LLM Chain": {"main": [[{"node": "\u6700\u7d42\u7d44\u7acbCode", "type": "main", "index": 0}]]}, "\u753b\u50cf\u30d7\u30ed\u30f3\u30d7\u30c8\u751f\u6210Code": {"main": [[{"node": "API\u51b7\u5374Wait", "type": "main", "index": 0}]]}, "API\u51b7\u5374Wait": {"main": [[{"node": "Vertex AI Imagen", "type": "main", "index": 0}]]}, "Cloudinary upload": {"main": [[{"node": "\u753b\u50cfURL\u96c6\u7d04Code", "type": "main", "index": 0}]]}, "\u753b\u50cfURL\u96c6\u7d04Code": {"main": [[{"node": "\u753b\u50cf\u633f\u5165Code", "type": "main", "index": 0}]]}, "\u753b\u50cf\u633f\u5165Code": {"main": [[{"node": "GitHub MDX\u4f5c\u6210Code", "type": "main", "index": 0}]]}, "GitHub MDX\u4f5c\u6210Code": {"main": [[{"node": "GitHub\u66f8\u304d\u8fbc\u307fHTTP", "type": "main", "index": 0}, {"node": "Notion DB\u4fdd\u5b58", "type": "main", "index": 0}]]}, "GitHub\u66f8\u304d\u8fbc\u307fHTTP": {"main": [[{"node": "blog-posts-data.json\u53d6\u5f97", "type": "main", "index": 0}, {"node": "\u5b8c\u4e86\u901a\u77e5HTTP", "type": "main", "index": 0}]]}, "blog-posts-data.json\u53d6\u5f97": {"main": [[{"node": "blog-posts-data.json\u66f4\u65b0Code", "type": "main", "index": 0}]]}, "blog-posts-data.json\u66f4\u65b0Code": {"main": [[{"node": "blog-posts-data.json\u66f8\u8fbcHTTP", "type": "main", "index": 0}]]}, "Notion DB\u4fdd\u5b58": {"main": [[{"node": "X\u6295\u7a3fExecuteWorkflow", "type": "main", "index": 0}]]}, "Vertex AI Grounding\u30d5\u30a7\u30c3\u30c1": {"main": [[{"node": "Vertex AI\u7d50\u679c\u6574\u5f62Code", "type": "main", "index": 0}]]}, "Vertex AI\u7d50\u679c\u6574\u5f62Code": {"main": [[{"node": "\u30ea\u30e9\u30a4\u30c8Agent", "type": "main", "index": 0}]]}, "RSS\u30b7\u30e3\u30c3\u30d5\u30eb\u53d6\u5f97Code": {"main": [[{"node": "RSS\u7d71\u5408\uff0b\u65e5\u4ed8\u30d5\u30a3\u30eb\u30bf\u30fcCode", "type": "main", "index": 0}]]}, "Vertex AI Imagen": {"main": [[{"node": "Cloudinary upload", "type": "main", "index": 0}]]}}, "authors": "Takafumi Suzuki", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-27T12:13:03.796Z", "id": 1087, "workflowId": "x43i3Lzy0D46EDcS", "versionId": "94b89589-ec87-4c79-8ac0-6152fa870ce5", "event": "activated", "userId": "90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}]}}