docs/workflow/backup_20260328_0551_reizoko-answer.json
{"updatedAt":"2026-03-27T21:03:29.270Z","createdAt":"2026-03-23T14:22:48.901Z","id":"x43i3Lzy0D46EDcS","name":"SZ_AI_Media_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,304],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"sz-ai-media-v2-test","options":{}},"name":"Webhook Test Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,512],"webhookId":"sz-ai-media-v2-test","id":"trigger-webhook"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\n// 重複チェック: 過去に配信済みのURLセットを静的データから取得\nconst staticData = $getWorkflowStaticData('global');\nconst publishedUrls = new Set(staticData.publishedUrls || []);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // 既知ドメインのペア（new URL()を使わず文字列マッチ）\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL文字列に既知ドメインが含まれるか（エンコードURL対応）\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summaryにドメインが含まれるか（Google News RSS対応）\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // 単純なregexでホスト名抽出\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  // 配信済みURLチェック（前日以前に配信済みの記事をスキップ）\n  if (publishedUrls.has(url)) continue;\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"},"name":"RSS統合＋日付フィルターCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"rss-filter-code"},{"parameters":{"jsCode":"// AIキーワードフィルター（タイトル+サマリーチェック）\nconst AI_REGEX    = /\\bai\\b|artificial intelligence|openai|chatgpt|claude|gemini|anthropic|generative|genai|\\bllm\\b|large language model|deep learning|machine learning|neural network|copilot|\\bgpt[-\\s]?[0-9o]/i;\nconst AI_REGEX_JA = /人工知能|機械学習|生成[Aa][Ii]|大規模言語モデル|ディープラーニング|深層学習/;\nconst EXCLUDE_REGEX = /spring sale|prime day|black friday|cyber monday|best deal|\\bdiscount\\b|\\bpromo\\b|\\bcoupon\\b|セール|割引/i;\n\nconst allItems = $input.all();\nif (allItems.length === 0) throw new Error('ニュースが0件です');\n\n// フィルタリング：AIキーワードを含み、除外ワードを含まないもののみ通過\nconst filtered = allItems.filter(item => {\n  const t = (item.json.title || '') + ' ' + (item.json.summary || '');\n  if (EXCLUDE_REGEX.test(t)) return false;\n  return AI_REGEX.test(t) || AI_REGEX_JA.test(t);\n});\n\nif (filtered.length < 5) {\n  throw new Error(`AI関連ニュースが${filtered.length}本しかありません（5本必要）`);\n}\n\n// ソースごとにグループ化してラウンドロビン選択\nconst bySource = {};\nfor (const item of filtered) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 5) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 5) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break;\n  round++;\n}\n\nif (selected.length < 5) {\n  throw new Error(`ニュースが${selected.length}本しか取得できなかったため停止（5本必要）`);\n}\n\n// ===== 重複ニュース除去（同一ニュースを別メディアが報じた場合の排除）=====\nfunction titleJaccard(t1, t2) {\n  const stopWords = new Set(['が','の','を','に','で','と','は','も','a','an','the','to','in','of','and','for','by','on','at']);\n  const tokenize = t => {\n    const words = t.toLowerCase().replace(/[^a-zA-Z0-9\\u3040-\\u9FFF\\u30A0-\\u30FF\\u4E00-\\u9FFF]/g, ' ').split(/\\s+/).filter(w => w.length > 1 && !stopWords.has(w));\n    return new Set(words);\n  };\n  const s1 = tokenize(t1), s2 = tokenize(t2);\n  const intersection = [...s1].filter(w => s2.has(w)).length;\n  const union = new Set([...s1, ...s2]).size;\n  return union > 0 ? intersection / union : 0;\n}\n\nconst deduped = [];\nfor (const art of selected) {\n  const key = art.title || art.japanese_headline || '';\n  const isDup = deduped.some(a => titleJaccard(a.title || a.japanese_headline || '', key) > 0.35);\n  if (!isDup) deduped.push(art);\n}\n\n// 重複除去後5本未満なら残りfilteredから補充\nif (deduped.length < 5) {\n  for (const art of filtered) {\n    if (deduped.length >= 5) break;\n    const key = art.title || '';\n    const isDup = deduped.some(a => titleJaccard(a.title || '', key) > 0.35);\n    if (!isDup) deduped.push(art);\n  }\n}\n\nif (deduped.length < 4) {\n  throw new Error(`重複除去後もニュースが${deduped.length}本しかありません`);\n}\n\nreturn deduped;"},"name":"情報選別Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304],"id":"agent-select"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length < 5) {\n  throw new Error(`ニュースが${items.length}本しか取得できなかったため停止（5本必要）`);\n}\nreturn items;"},"name":"件数チェックCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"id":"count-check"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リライト用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,512],"id":"gemini-rewrite","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const title   = $json.title        || '';\n  const source  = $json.source_media || '';\n  const date    = $json.pubDate      || '';\n  const summary = $json.summary      || '';\n  const url     = $json.url          || '';\n\n  // 洞察スタイル（4パターンローテーション）\n  const roberPatterns = [\n    '【比喩転換型】技術を読者が知っている世界の比喩に変換して説明し、洞察を展開する。',\n    '【逆説型】「一般に〜と思われているが、構造的には逆で〜」という発見的洞察を展開する。',\n    '【時間軸転換型】「このペースが続くなら2030年には〜」と未来の具体的な場面に落とす。',\n    '【構造束ね型】複数の動向を束ねて一つの大きな構造変化として位置づけ、洞察を統合する。'\n  ];\n\n  // 糸口スタイル（8パターン・日付偶奇でセットをずらす）\n  const itoguchiPatterns = [\n    '【逆読み型】「怖い」と感じるこの変化を別の角度から読むと何が見えるか。断言せず、小さな可能性の方向性を示す。',\n    '【選択軸型】この変化の中で読者に「どちらを選ぶか」という岐路があるとしたら何か。命令でなく、選択肢の存在を静かに示す。',\n    '【問い型】この変化が孕む本質的な問いを1つ立てて読者に投げ返す。答えは出さなくてよい。',\n    '【現場視点型】この状況下で、実装・使い方のレベルで既に動いている方向性はあるか。小さくても具体的な手がかりを示す。',\n    '【歴史照合型】過去に似た技術革命・産業変化があったとしたら何か。歴史・他業界の経験からこの変化の行き先の手がかりを示す。',\n    '【当事者内側型】この変化の中心にいる人間は何を見て何を考えているか。その内側の論理を想像することで見えてくる糸口がある。',\n    '【時間差型】「今は怖く見えるが、5年後にこれを振り返ったとき何と言うだろうか」。時間差の視点からこの変化の別の相貌を示す。',\n    '【細部照射型】この大きな変化の中に見落とされがちな小さな事実や動きはないか。細部の中にこそ可能性の糸口が潜んでいる。'\n  ];\n\n  // 粒度（3パターン・日付×記事番号でずらす）→ 8×3=24通り\n  const grainPatterns = [\n    '【マクロ】産業・社会全体への影響スケールで語る。',\n    '【ミクロ】特定の1人・1社・1シーンに絞って語る。',\n    '【メタ】今これを読んでいる読者自身を対象に語る。'\n  ];\n\n  // ユーモアスタイル（8パターン・独立ローテーション）\n  const humorStyles = [\n    '【ブラックユーモア型】権力・資本・制度の矛盾を皮肉で刺す。「笑えるが笑えない」一言で締める。例：「時価総額600億ドルの企業を弱者と呼ぶ感覚を、少し疑った方がいい。」',\n    '【数字オチ型】具体的な数字・金額・年号を使ってオチをつける。例：「2030年、企業のAI戦略が『どこの回線を使うか』から始まる日が来るかもしれない。」',\n    '【逆説的観察型】「普通はそう思うが、実は構造的に逆」という切り口で一言切る。例：「ゴールポストを動かしているのは、走っていない人たちだ。」',\n    '【ミニマリスト型】一行で全てを言い切る。余計な言葉ゼロ。短ければ短いほど切れ味が増す。例：「歴史は繰り返す——今度は光ファイバーの上で。」',\n    '【共犯者型】「私たちも当事者だ」という視点から笑い飛ばす。例：「誰が勝っても、私たちはそれに乗るしかない時代が来る。それを、今のうちに知っておいてほしい。」',\n    '【問いかけ挑発型】読者に静かな問いを投げる知的な挑発。断言しない。例：「この技術が誰のものになるかで、次の10年が決まる。」',\n    '【ホワイトユーモア型】温かく軽い視点で小さな可笑しみを見つける。読者がクスッとする一言。皮肉ではなく柔らかい笑い。',\n    '【自虐的観察型】「私たちもその渦中にいる」という共感から入り、当事者として笑い飛ばす。読者が「わかる」と感じる一言。'\n  ];\n\n  const idx           = $itemIndex % 4;\n  const roberStyle    = roberPatterns[idx];\n\n  const dayShift      = Math.floor(Date.now() / 86400000) % 2;\n  const itoguchiIdx   = ($itemIndex * 2 + dayShift) % 8;\n  const itoguchiStyle = itoguchiPatterns[itoguchiIdx];\n\n  const grainIdx      = (Math.floor(Date.now() / 86400000) * 3 + $itemIndex) % 3;\n  const grainStyle    = grainPatterns[grainIdx];\n\n  const humorIdx      = (Math.floor(Date.now() / 86400000) * 7 + $itemIndex * 4) % 8;\n  const humorStyle    = humorStyles[humorIdx];\n\n  const prompt = `あなたはAI Survival Reportの編集記者だ。JSONのみで回答せよ（\\`\\`\\`不要）。\n\n【最重要・文字数制限（超えたら全体が失敗）】\n・fact_summary: 350〜420字（短すぎても失敗・日本語で数えて）\n・editorial_eye: 250字以内\n\n【文体ルール：ワンパターン禁止・語彙力豊かな語り部であれ】\n・同一記事内で同じフレーズ・同じ構文を2回以上使わない\n・以下は繰り返しが禁止（使うこと自体は禁止ではない）：\n  「〜がそこにある」「〜を問われている」「誰も口にしない〜」「浮き彫り」「〜を示している」\n・語彙が豊かで、読むたびに表現が新鮮な語り部であること\n・「書き慣れた記者の文体」を意識する。AIが書いた感を出さない\n\n【絶対ルール】\n1. URLは入力のURLをそのままコピー（変更・創作禁止）\n2. 固有名詞・数字は原文のまま（推測で異なる固有名詞を作ることは絶対禁止）\n3. メディア名は入力のものをそのまま使用\n4. fact_summaryは「${source}によると、」で開始\n5. 入力データの事実のみ使用（知識補完・創作・推測禁止）\n6. 英語の固有名詞・機関名・法律名は必ず日本語訳を括弧で添えること（例: injunction → 差し止め命令（injunction＝裁判所が行動を止める法的ブレーキ）、Pentagon → 米国防総省）\n7. 専門用語・略語は「池上彰スタイル」で解説（括弧内に「＝〜のこと」形式。中学生でもわかる言葉で）。ただし「AI」「人工知能」「機械学習」「ChatGPT」「アルゴリズム」等、中学生でも知っている概念の括弧書き解説は絶対不要。\n8. 元記事のメインテーマと無関係の情報を書かないこと（ページ下部の別記事・広告・リンク記事の内容は使わない）\n9. 「不明」「明確ではない」「推測」等の不確実表現は使わない。書けることだけ書く。\n10. 禁止表現：「この一週間に報じられた」「〜すべき」「〜になれ」等の命令形\n\n【入力データ】\nタイトル: ${title}\nメディア名: ${source}\n配信日: ${date}\n要約: ${summary}\nURL: ${url}\n\n【fact_summary（350〜420字・だ・である調・5W1H）】\n「${source}によると、」で始める。誰が何をいつどこでなぜどうしたかを簡潔に書く。\n専門用語には池上彰スタイルの括弧補足を入れる。不確実なことは書かない。350字未満または420字超は失敗。\n\n【editorial_eye（250字以内・です・ます調）】\n3段構成で合計250字以内：\n①現実（40-70字）：この変化が読者の現場・社会に何をもたらしているか。正直に、重さも含めて書く。「いい子ちゃん」的表現禁止。\n②洞察（100-150字）：${roberStyle}核心に踏み込み、表面的な事実の奥にある構造や矛盾を深く掘り下げる。本音で書く。\n③糸口（30-50字）：${itoguchiStyle}${grainStyle}\n\n【ユーモア指示（editorial_eyeのどこか一箇所に自然に織り込む）】\n${humorStyle}\n毎回同じパターンのユーモアは使わない。比喩を使う場合は「魔法」「お姫様」「勇者」等の幼稚な比喩禁止。知性と切れ味を優先する。\n\n【理想の編集長の眼の実例（このレベルを目指せ）】\n・「快挙だ。だが正直に言う。私はこれを手放しで喜べない。時価総額600億ドルの企業を『弱者』と呼ぶ感覚を、少し疑った方がいい。誰が勝っても、私たちはそれに乗るしかない時代が来る。」\n・「ゴールポストを動かしているのは、走っていない人たちだ。それが今は機能している。だが次のラウンドは、もっと静かな場所で始まる。」\n・「歴史は繰り返す——今度は光ファイバーの上で。」\n\nラベル不要。箇条書き禁止。命令形禁止。250字超えたら失敗。【文体必須：です・ます調で書くこと。「だ。」「である。」で終わる文は禁止。】\n\n【出力JSONのみ】\n{\"japanese_headline\":\"固有名詞・数字入り日本語見出し20-35字\",\"original_title\":\"英語タイトルそのままコピー\",\"fact_summary\":\"${source}によると...350〜550字\",\"editorial_eye\":\"250字以内・です・ます調\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}","options":{"response":{"response":{"fullResponse":false}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"リライトAgent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,304],"id":"agent-rewrite"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1104,304],"id":"aggregate"},{"parameters":{"jsCode":"// editorial_eyeを300字以内に収める\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// outputフィールドのJSONをパースするヘルパー\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // すでに展開済み\n  let raw_str = '';\n  // Gemini API HTTP Response形式\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent 出力形式\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    try {\n      return JSON.parse(raw);\n    } catch(e) {\n      // JSONが途中で切れた場合：regexで各フィールドを部分抽出（救済）\n      const extractField = (field) => {\n        const pattern = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*?)(?:\"|$)');\n        const m = raw.match(pattern);\n        if (!m) return '';\n        return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      };\n      const headline = extractField('japanese_headline');\n      if (headline) {\n        return {\n          japanese_headline: headline,\n          original_title: extractField('original_title'),\n          fact_summary: extractField('fact_summary').substring(0, 600),\n          editorial_eye: extractField('editorial_eye').substring(0, 320),\n          url: extractField('url'),\n          source_media: extractField('source_media'),\n          pubDate: extractField('pubDate')\n        };\n      }\n      return {};\n    }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  if (!n.japanese_headline) continue; // 空アイテム（リライト失敗）はスキップ\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### ◆ ${n.japanese_headline || ''}\\n\\n`;\n  body += `**配信日：** ${dateStr}　**出典：** ${n.source_media || ''}　**原題：** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**📌 編集長の眼**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news.map(parseNewsItem) } }];"},"name":"記事本文組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304],"id":"article-build"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リード＋総括用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,512],"id":"gemini-lead","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const newsItems = $('記事本文組立Code').first().json.news_data || [];\n  const headlines = newsItems.map((n,i) => `${i+1}. ${n.japanese_headline || n.title || ''}`).join('\\n');\n\n  const prompt = `以下は「AI Survival Report」の本日の${newsItems.length}本のニュース記事だ。\\n\\n${news_body}\\n\\n記事の見出し一覧:\\n${headlines}\\n\\n以下の2つを書け。\\n\\n【リード文（です・ます調）】\\n- 【厳守】250字以内。超えたら失敗。\\n- ヒッチコック型：冒頭で「あなたは今日、${newsItems.length}本のニュースを読みます。」または類似の二人称で始める\\n- 各ニュースを1行ずつ短く予告して引き込む（です・ます調または体言止め・一文一行）\\n- 最後は核心を突く一行の問いかけで締める（「——その〜を、誰が握るのでしょう？」のような余白ある問い）\\n- 毎回違う切り口・言い回しにする。テンプレ的な書き方禁止。\\n- 禁止：「財布・雇用・保身」三語セット、「あなたの仕事が消える」等の煽り、「この一週間に」\\n- 知的ユーモアを1文自然に織り込む（切れ味のある比喩、逆説的観察、軽い皮肉のどれか）\\n\\n【クロージング総括（です・ます調）】\\n- 【厳守】350〜400字。400字超は失敗。350字未満も失敗。\\n- 必ず「### 総括：時代の濁流を読み解く」で始める（このタイトル固定・変更禁止）\\n- 今日の${newsItems.length}本を一本の糸で結ぶ統合洞察（なぜこれらが同じ時期に起きているか）\\n- 具体的な固有名詞を1つ以上含める\\n- 読者が「賢くなった感じ」を得られるよう締める\\n- 知的ユーモアを1文自然に織り込む（切れ味のある比喩、逆説的観察、軽い皮肉のどれか）\\n- 最後は政府でしょうか。企業でしょうか。研究者でしょうか。それとも、私たちでしょうか。のような問いの連打、または詩的な一行で締める\\n- 転職エージェント・求人サービス・広告的CTAは絶対禁止\\n\\n【出力形式（JSONのみ。バッククォートやラッパー不要）】\\n{\"lead\": \"リード文（250字以内・です・ます調）\", \"closing\": \"### 総括：時代の濁流を読み解く\\n\\nクロージング総括（1000〜1400字）\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"リード＋総括 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,304],"id":"llm-lead"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":512}},"name":"Gemini Model（タイトル用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,512],"id":"gemini-title","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n\n  const prompt = `以下のニュース記事群を読んで、号全体を象徴する日本語タイトルを1つだけ生成せよ。\\n\\n${news_body}\\n\\n【タイトルのルール】\\n- 必ず日本語（英語禁止）\\n- 40字以内\\n- 記事本文に登場する固有名詞（企業名・人名・製品名）か数字を必ず1つ以上含める\\n- 「なぜ今〜」「〜が変わる」等の抽象的タイトル禁止\\n- 本文に存在しない固有名詞をタイトルに入れること禁止\\n- 強いタイトルの構造を使え：問い・宣言・逆説・発見のいずれか\\n- 「——」（全角ダッシュ2つ連続）を使ったサブタイトル付き構造を推奨（例：「AIが政府を法廷で倒した日——今、何かが動き始めている」）\\n- 説明的で閉じたタイトル禁止（「〜が示す〜の幕開け」等）。余白と問いを残せ。\\n- タイトルのみ出力。説明・引用符・番号・バッククォート不要`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.4, maxOutputTokens: 2048}\n  });\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"タイトル生成 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,304],"id":"llm-title"},{"parameters":{"jsCode":"function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('リード＋総括 LLM Chain').first().json;\nconst titleResp = $('タイトル生成 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"「]|[\"」]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closingを1400字以内に収める（文章境界で切る）\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closingRaw = truncateAtSentence(leadJson.closing || '', 1400);\n// LLMが総括ヘッダーを含む場合は除去（最終組立Codeで追加するため二重防止）\nconst closing = closingRaw.replace(/^###?\\s*総括[：:][^\\n]*\\n+/m, '').trim();\nconst newsBody = $('記事本文組立Code').first().json.news_body || '';\nconst newsData = $('記事本文組立Code').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## ◆ 総括：時代の濁流を読み解く',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\n// JST = UTC + 9h\nconst jstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = String(jstNow.getUTCFullYear())\n  + String(jstNow.getUTCMonth()+1).padStart(2,'0')\n  + String(jstNow.getUTCDate()).padStart(2,'0')\n  + '-'\n  + String(jstNow.getUTCHours()).padStart(2,'0')\n  + String(jstNow.getUTCMinutes()).padStart(2,'0')\n  + String(jstNow.getUTCSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: jstNow.toISOString()\n  }\n}];"},"name":"最終組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,304],"id":"final-build"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst title = data.final_title || '';\nconst closingText = data.closing_text || '';\nconst newsData = data.news_data || [];\n\nconst GEMINI_KEY = 'AIzaSyASQDhbyHlJUz1kzCTU5nZCmOet9_9pd9Q';\nconst GEMINI_URL = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${GEMINI_KEY}`;\n\nconst jstNow = new Date(new Date().getTime() + 9 * 60 * 60 * 1000);\nconst dayOfWeek = jstNow.getUTCDay();\n\n// ========================================\n// MOEBIUS共通ベース（禁止ワード削除済み・v2修正版）\n// ========================================\nconst MOEBIUS_BASE =\n  'Moebius bande dessinee panel, ligne claire black ink outlines, detailed crosshatching, ' +\n  'transparent watercolor wash, editorial illustration, no text no numbers';\n\n// ========================================\n// COMPOSITION: 構図バリエーション（9種）\n// ========================================\nconst COMPOSITION = {\n  A: \"wide panoramic landscape, vast environment, small human presence in distance\",\n  B: \"aerial bird's eye view looking down from above, overhead perspective, figures seen from high altitude\",\n  C: \"extreme close-up shot, detailed texture in foreground, machinery or technology detail, no wide landscape\",\n  D: \"wide open cityscape from above, blue sky with white clouds filling upper frame, horizon line visible, expansive urban view\",\n  E: \"multiple human figures in foreground, faces and expressions visible, collaborative scene, warm human-scale environment\",\n  F: \"abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures\"\n};\n\n// ========================================\n// LIGHTING: 光量バリエーション\n// ========================================\nconst LIGHTING = {\n  BRIGHT: \"bright studio lighting, soft warm overhead light, hopeful luminous atmosphere, clean natural daylight\",\n  MID:    \"warm amber dusk light, golden sunset tones, rich orange and brown palette\",\n  DARK:   \"deep blue night atmosphere, cool moonlight, cinematic dark mood, blue and purple tones\"\n};\n\n// ========================================\n// SLOT_PLAN: スロットごとの構図・光量指定\n// ========================================\nconst SLOT_PLAN = [\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_T（cover）\n  { composition: \"C\", lighting: \"MID\"    },  // SLOT_1（news_0）\n  { composition: \"B\", lighting: \"BRIGHT\" },  // SLOT_2（news_1）\n  { composition: \"C\", lighting: \"DARK\"   },  // SLOT_3（news_2）\n  { composition: \"F\", lighting: \"MID\"    },  // SLOT_4（news_3）\n  { composition: \"B\", lighting: \"MID\"    },  // SLOT_5（未使用）\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_6（未使用）\n  { composition: \"E\", lighting: \"MID\"    },  // SLOT_7（未使用）\n  { composition: \"F\", lighting: \"BRIGHT\" },  // SLOT_W（summary）\n];\n\n// ========================================\n// ネガティブプロンプト（全スロット共通）\n// ========================================\nconst NEGATIVE_PROMPT = \"photorealistic, 3d render, anime, cartoon, lone silhouette standing alone in empty landscape, single person tiny in vast empty space, dark brooding atmosphere only, same composition as before, generic AI darkness, server room, data center, server rack, server hall, server towers, computer servers, endless server corridor, glowing server towers, rows of servers, dawn, sunrise, sun rising over horizon, golden sunrise, morning sunrise, sunrise sky, atmospheric light rays from sun, sun rays, sunbeams through clouds, bright sunrise, dramatic sunrise, warm dawn rays, dawn sky, sunrise background, morning glow\";\n\n// ========================================\n// buildPrompt: スロットインデックス + シーンテキストからプロンプトを構築\n// ========================================\nconst buildPrompt = (slotIndex, sceneText) => {\n  const plan = SLOT_PLAN[slotIndex];\n  return [MOEBIUS_BASE, COMPOSITION[plan.composition], LIGHTING[plan.lighting], sceneText].join(\", \");\n};\n\n// ========================================\n// カラーパレット（曜日対応・カバー用）\n// ========================================\nconst COVER_COLOR_MOODS = [\n  'midnight navy and pale silver color palette',\n  'warm amber and deep cobalt color palette',\n  'deep crimson and ivory white color palette',\n  'forest green and golden ochre color palette',\n  'deep violet and lavender silver color palette',\n  'electric cyan and charcoal black color palette',\n  'rose gold and slate grey color palette'\n];\nconst colorMood = COVER_COLOR_MOODS[dayOfWeek];\n\nconst NEWS_COLORS = [\n  'cobalt blue and silver palette',\n  'crimson red and warm ivory palette',\n  'forest green and golden ochre palette',\n  'deep violet and lavender palette'\n];\n\n// ブロック/エラーページ判定パターン\nconst BLOCK_PATTERNS = /cloudflare|403 forbidden|security verification|just a moment|performing security|enable javascript|access denied|ray id:|bot protection|captcha|ddos|challenge page/i;\n\nasync function getGeminiScene(promptText, fallback) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: GEMINI_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: promptText }] }],\n        generationConfig: { maxOutputTokens: 300, temperature: 0.9 }\n      },\n      json: true\n    });\n    const text = (\n      resp && resp.candidates && resp.candidates[0] &&\n      resp.candidates[0].content && resp.candidates[0].content.parts &&\n      resp.candidates[0].content.parts[0] &&\n      resp.candidates[0].content.parts[0].text\n    ) ? resp.candidates[0].content.parts[0].text.trim() : '';\n    if (text && text.length > 20) return text;\n    return fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// --- カバー画像シーン生成（SLOT_T = index 0）---\nconst coverGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial COVER illustration for an AI news report.\\n\\n' +\n  'Based on the issue title and summary below, describe ONE striking visual scene in English (50-70 words) that symbolizes the KEY THEME of this issue.\\n\\n' +\n  'REQUIREMENTS:\\n' +\n  '1. Wide open space composition — dramatic sky with clouds, city skyline or landscape visible at horizon, expansive perspective.\\n' +\n  '2. Setting must NOT be a beach or sea. Choose from: research lab, server hall, city skyline, factory, control room, space station, etc.\\n' +\n  '3. Reference the actual AI topics in this issue (AI models, data centers, robots, satellites, etc.).\\n' +\n  '4. Output ONLY the scene description — no intro, no explanation.\\n\\n' +\n  'Issue title: ' + title + '\\n' +\n  'Issue summary: ' + closingText.substring(0, 800);\n\nconst coverScene = await getGeminiScene(\n  coverGeminiPrompt,\n  'a researcher standing at floor-to-ceiling windows overlooking a glowing city at midday, ' +\n  'holding a tablet with AI interface, soft natural daylight streaming in, horizon line visible, human-scale perspective'\n);\nconst coverPrompt = buildPrompt(0, colorMood + ', ' + coverScene);\n\n// --- ニュース画像シーン生成（SLOT_1〜4 = index 1〜4）---\nconst newsItems = newsData.slice(0, 4);\nconst FALLBACK_SCENES = [\n  'a scientist in a bright research lab examining a holographic brain model, warm natural light through large windows, human hands visible',\n  'aerial view of a modern city intersection at golden hour, pedestrians and vehicles as tiny figures, urban life in motion',\n  'close-up of human hands typing on a keyboard, smartphone screen showing an AI chat interface glowing softly, warm desk lamp light',\n  'a judge holding a gavel in a courtroom, scales of justice on the desk, dramatic side-lighting, human expression visible'\n];\n\nconst scenes = [];\nfor (let i = 0; i < newsItems.length; i++) {\n  const item = newsItems[i];\n  const headline = item.japanese_headline || item.original_title || '';\n  const rawSummary = item.fact_summary || item.summary || item.body || '';\n\n  const isBlocked = BLOCK_PATTERNS.test(rawSummary) || rawSummary.trim().length < 80;\n  const summaryText = isBlocked ? '' : rawSummary.substring(0, 600);\n\n  const slotPlan = SLOT_PLAN[i + 1];\n  const compositionHint = COMPOSITION[slotPlan.composition];\n\n  const newsPrompt =\n    'You are writing an image prompt for a Moebius bande dessinee editorial illustration.\\n\\n' +\n    'Describe a specific visual scene in English (50-70 words) that visually represents this news article.\\n\\n' +\n    'COMPOSITION REQUIREMENT: ' + compositionHint + '\\n\\n' +\n    'CORE PRINCIPLE: Show the KEY OBJECT, TECHNOLOGY, or CONCEPT itself — not just a generic person.\\n\\n' +\n    'APPROACH:\\n' +\n    '- Name SPECIFIC objects: robot arm, neural network, smartphone UI, satellite dish, courtroom gavel, server rack, holographic interface, DNA helix, financial chart, etc.\\n' +\n    '- Match the substance of the news — if it\\'s about AI tools, show the tool; if regulation, show scales/documents; if a company, show its product\\n' +\n    '- Avoid vague \"person looking at screen\" — show WHAT is on the screen, or show the technology itself\\n' +\n    '- Output ONLY the scene description.\\n\\n' +\n    (isBlocked\n      ? 'Article title: ' + (item.original_title || headline) + '\\nSource: ' + (item.source_media || 'tech media')\n      : 'Headline: ' + headline + '\\nSummary: ' + summaryText\n    );\n\n  const scene = await getGeminiScene(newsPrompt, FALLBACK_SCENES[i]);\n  scenes.push(scene);\n}\n\n// --- 総括画像シーン生成（SLOT_W = index 8）---\nconst summaryGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial SUMMARY illustration.\\n\\n' +\n  'This image represents the OVERALL TENSION or THEME that runs through all stories in this AI news report.\\n\\n' +\n  'COMPOSITION REQUIREMENT: Abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures.\\n\\n' +\n  'Based on the issue summary, describe ONE striking symbolic visual scene in English (50-70 words).\\n\\n' +\n  'APPROACH:\\n' +\n  '- Think META: What is the common thread? (AI vs human control, speed of change, ethical crossroads, tech disruption, etc.)\\n' +\n  '- Use ABSTRACT/NETWORK imagery: glowing data nodes, interconnected AI systems, geometric pattern representing the theme\\n' +\n  '- Output ONLY the scene description.\\n\\n' +\n  'Issue summary: ' + closingText.substring(0, 1000);\n\nconst summaryScene = await getGeminiScene(\n  summaryGeminiPrompt,\n  'abstract glowing data network visualization, colorful node connections representing AI interconnections, ' +\n  'geometric patterns pulsing with electric light, deep space background with constellations of information'\n);\nconst summaryPrompt = buildPrompt(8, summaryScene);\n\n// --- 出力（negative_promptを全スロットに付加）---\nconst prompts = [\n  { type: 'cover', prompt: coverPrompt, negative_prompt: NEGATIVE_PROMPT },\n  ...scenes.map((scene, i) => ({\n    type: 'news_' + i,\n    prompt: buildPrompt(i + 1, NEWS_COLORS[i] + ', ' + scene),\n    negative_prompt: NEGATIVE_PROMPT\n  })),\n  { type: 'summary', prompt: summaryPrompt, negative_prompt: NEGATIVE_PROMPT }\n];\n\nreturn prompts.map(p => ({ json: p }));\n"},"name":"画像プロンプト生成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"img-prompt"},{"parameters":{"amount":1},"name":"API冷却Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2912,304],"id":"api-cool","webhookId":"96fb97a2-02ca-49cf-9ba9-492a25299028"},{"parameters":{"method":"POST","url":"https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-sz-media-486107/locations/us-central1/publishers/google/models/imagen-3.0-fast-generate-001:predict","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ instances: [{ prompt: $json.prompt }], parameters: { sampleCount: 1, aspectRatio: \"16:9\", negativePrompt: $json.negative_prompt || \"\", safetySetting: \"block_some\", personGeneration: \"allow_adult\" } }) }}","options":{"response":{"response":{"neverError":true}}}},"name":"Vertex AI Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,304],"id":"fal-http","onError":"continueRegularOutput","credentials":{"googleApi":{"id":"ud1LKevnjBbybuxl","name":"Google Service Account account"}}},{"parameters":{"url":"={{ 'data:image/png;base64,' + $('Vertex AI Imagen').item.json.predictions[0].bytesBase64Encoded }}","additionalFields":{}},"name":"Cloudinary upload","type":"n8n-nodes-cloudinary.cloudinary","typeVersion":1,"position":[3504,304],"id":"cloudinary-upload","credentials":{"cloudinaryApi":{"id":"WP5o4htlDE9qqtsH","name":"Cloudinary account"}}},{"parameters":{"jsCode":"const items = $input.all();\n// 生成順序: cover → news_0 → news_1 → news_2 → news_3 → summary\nconst typeOrder = [\"cover\", \"news_0\", \"news_1\", \"news_2\", \"news_3\", \"summary\"];\nconst urls = {};\nitems.forEach((item, i) => {\n  const type = typeOrder[i] || (\"item_\" + i);\n  const url = item.json.secure_url || item.json.url || \"\";\n  if (url) urls[type] = url;\n});\nreturn [{ json: { image_urls: urls } }];"},"name":"画像URL集約Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,304],"id":"img-url-collect"},{"parameters":{"jsCode":"const imageData = $input.first().json;\nconst articleData = $(\"最終組立Code\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\n// カバー画像：タイトル行直後に挿入\nif (urls.cover) {\n  article = article.replace(/^(# [^\\n]+\\n\\n)/, '$1![カバー画像](' + urls.cover + ')\\n\\n');\n}\n\n// ニュース画像：「### ◆ タイトル\\n\\n**配信日」の直前に挿入（順番に差し込む）\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    article = article.replace(\n      /(### ◆ \\S[^\\n]*\\n\\n)(\\*\\*配信日)/,\n      '$1![ニュース画像](' + newsUrl + ')\\n\\n$2'\n    );\n  }\n}\n\n// 総括画像：「## ◆ 総括」の直前に挿入\nif (urls.summary) {\n  article = article.replace(\n    /(## ◆ 総括[^\\n]*\\n\\n)/,\n    '![総括画像](' + urls.summary + ')\\n\\n$1'\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"},"name":"画像挿入Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,304],"id":"img-insert"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"},"name":"GitHub MDX作成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,304],"id":"github-mdx"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}","options":{}},"name":"GitHub書き込みHTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,304],"id":"github-write"},{"parameters":{"url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"name":"blog-posts-data.json取得","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,208],"id":"blog-json-get"},{"parameters":{"jsCode":"const fetchResult = $('blog-posts-data.json取得').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX作成Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\n// 配信済みURLを静的データに記録（次回実行での重複スキップ用）\nconst staticData = $getWorkflowStaticData('global');\ntry {\n  const newsData = $('記事本文組立Code').first().json.news_data || [];\n  const articleUrls = newsData.map(item => item.url).filter(Boolean);\n  const existingPublished = staticData.publishedUrls || [];\n  const combined = [...new Set([...existingPublished, ...articleUrls])];\n  staticData.publishedUrls = combined.slice(-500); // 最新500件を保持\n} catch(e) {\n  // news_dataが取得できない場合はスキップ\n}\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"},"name":"blog-posts-data.json更新Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,208],"id":"blog-json-update"},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}","options":{}},"name":"blog-posts-data.json書込HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,208],"id":"blog-json-write"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"31d457e7-0a28-8108-a987-f27725c1c5b9","mode":"id"},"title":"={{ $('最終組立Code').first().json.final_title }}","propertiesUi":{"propertyValues":[{"key":"生成日|date","date":"={{ $now.toISO() }}"},{"key":"ステータス|select","selectValue":"下書き"},{"key":"メタ情報|rich_text","textContent":"={{ $('最終組立Code').first().json.lead_text.substring(0, 1990) }}"},{"key":"画像URL|url","urlValue":"={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]},"options":{}},"name":"Notion DB保存","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[5008,512],"id":"notion-save","credentials":{"notionApi":{"id":"S1Pkv3d0mXqOwBTl","name":"Notion account 2"}}},{"parameters":{"workflowId":"6QYipyd0Zc8YWzgS","options":{}},"name":"X投稿ExecuteWorkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5312,512],"id":"x-post"},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"【SZ_AI_Media_v2】 完了通知 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n記事タイトル: {{ $('最終組立Code').first().json.final_title }}\\nSlug: {{ $('最終組立Code').first().json.slug }}\"\n}","options":{}},"name":"完了通知HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,512],"id":"notify"},{"id":"perplexity-fetch-001","name":"Vertex AI Groundingフェッチ","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304],"parameters":{"jsCode":"// ================================================================\n// Jina本文取得＋日付検証Code (v2)\n// ================================================================\n// 【変更理由】\n// Vertex AI Grounding（Google検索）は指定URLを実際にフェッチしない。\n// タイトルが古い記事と一致すると古い記事の内容を返してしまう。\n// Jina Readerは指定URLを実際にHTTPフェッチする。\n//\n// 【v1→v2変更点】\n// - GeminiのPOSTコールを廃止（helpersでのJSONボディ問題を回避）\n// - リライトAgentがJina取得テキストを直接受け取る（summaryとして渡す）\n// - 同意ページ・ペイウォール検出を追加\n// ================================================================\n\nconst CUTOFF_MS = 7 * 24 * 60 * 60 * 1000; // 7日\nconst NOW = Date.now();\n\nconst items = $input.all();\nconst results = [];\n\n// 同意ページ・ペイウォール判定\nfunction isConsentOrPaywallPage(text) {\n  const lower = text.toLowerCase();\n  const gdprCount  = (lower.match(/gdpr|cookie|consent|privacy policy/g)||[]).length;\n  const loginCount = (lower.match(/sign in|subscribe|log in|paywall/g)||[]).length;\n  return (gdprCount >= 3 || loginCount >= 3);\n}\n\nfor (const item of items) {\n  const { title, url, source_media, pubDate, summary: rssSummary } = item.json;\n\n  let jinaContent = '';\n  let shouldSkip = false;\n\n  // ── Step 1: URLパターンで公開日を即チェック ──\n  const urlDateM = url ? url.match(/\\/(20\\d\\d)\\/(\\d{2})\\/(\\d{2})\\//) : null;\n  if (urlDateM) {\n    const artDate = new Date(`${urlDateM[1]}-${urlDateM[2]}-${urlDateM[3]}`);\n    if (NOW - artDate.getTime() > CUTOFF_MS) {\n      console.log('[SKIP:URL-DATE] ' + title + ' → ' + artDate.toISOString().slice(0,10));\n      shouldSkip = true;\n    }\n  }\n\n  // ── Step 2: Jina Reader で本文フェッチ ──\n  if (!shouldSkip) {\n    try {\n      const jinaResp = await helpers.httpRequest({\n        method: 'GET',\n        url: 'https://r.jina.ai/' + url,\n        headers: {\n          'Accept': 'text/plain',\n          'X-Return-Format': 'markdown',\n          'User-Agent': 'Mozilla/5.0 (compatible; NewsBot/1.0)'\n        },\n        timeout: 25000,\n        returnFullResponse: false\n      });\n\n      // レスポンス形式を柔軟に処理\n      if (typeof jinaResp === 'string') {\n        jinaContent = jinaResp;\n      } else if (jinaResp && jinaResp.body) {\n        jinaContent = String(jinaResp.body);\n      } else {\n        jinaContent = JSON.stringify(jinaResp);\n      }\n      jinaContent = jinaContent.slice(0, 4000);\n\n      // ── Step 3: 同意ページ・ペイウォール検出 ──\n      if (isConsentOrPaywallPage(jinaContent)) {\n        console.log('[FALLBACK:PAYWALL] ' + title + ' → RSS summaryを使用');\n        jinaContent = ''; // RSS summaryにフォールバック\n      } else {\n        // ── Step 4: Jina本文から公開日チェック ──\n        const jinaDateM = jinaContent.match(/Published\\s*(?:Time)?:\\s*(\\d{4}-\\d{2}-\\d{2})/i);\n        if (jinaDateM) {\n          const artDate = new Date(jinaDateM[1]);\n          if (NOW - artDate.getTime() > CUTOFF_MS) {\n            console.log('[SKIP:JINA-DATE] ' + title + ' → ' + jinaDateM[1]);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        } else if (!urlDateM) {\n          // 年数カウントで古記事を推定（URL・Jinaに明示的な日付がない場合）\n          const cnt2024 = (jinaContent.match(/\\b2024\\b/g)||[]).length;\n          const cnt2025 = (jinaContent.match(/\\b2025\\b/g)||[]).length;\n          const cnt2026 = (jinaContent.match(/\\b2026\\b/g)||[]).length;\n          if (cnt2024 >= 5 && cnt2026 === 0 && cnt2025 === 0) {\n            console.log('[SKIP:YEAR-COUNT] ' + title + ' → 2024x' + cnt2024);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        }\n      }\n\n    } catch(e) {\n      console.log('[JINA-ERR] ' + url + ': ' + e.message);\n      jinaContent = ''; // Jina失敗 → RSS summaryにフォールバック\n    }\n  }\n\n  if (shouldSkip) continue;\n\n  // Jina本文が有用であればそれを使用、そうでなければRSS summary\n  // リライトAgentはこのsummaryを元に日本語記事を生成する\n  const usefulJina = jinaContent.length > 200 && !isConsentOrPaywallPage(jinaContent);\n  const finalSummary = (usefulJina ? jinaContent : rssSummary || '').slice(0, 4000);\n\n  results.push({ json: {\n    title:        title        || '',\n    url:          url          || '',\n    source_media: source_media || '',\n    pubDate:      pubDate      || '',\n    summary:      finalSummary\n  }});\n}\n\nif (results.length === 0) {\n  throw new Error('全記事が古記事と判定されスキップされました。RSSフィードを確認してください。');\n}\n\nreturn results;","mode":"runOnceForAllItems"}},{"id":"perplexity-parse-001","name":"Vertex AI結果整形Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[972,304],"parameters":{"jsCode":"// パススルー（Jina取得＋日付検証Codeが整形済みデータを返す）\nreturn $input.all();"}},{"id":"rss-shuffle-code","name":"RSSシャッフル取得Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,304],"parameters":{"jsCode":"// ================================================================\n// RSSシャッフル取得Code\n// 20メディアから毎回ランダムに英語5本＋日本語2本を選んで取得\n// ================================================================\n\nconst ALL_FEEDS = {\n  english: [\n    { name: \"TechCrunch AI\",   url: \"https://techcrunch.com/category/artificial-intelligence/feed/\" },\n    { name: \"Wired AI\",        url: \"https://wired.com/feed/tag/ai/latest/rss\" },\n    { name: \"Google News AI\",  url: \"https://news.google.com/rss/search?q=AI+artificial+intelligence&hl=en-US&gl=US&ceid=US:en&when:2d\" },\n    { name: \"The Verge AI\",    url: \"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml\" },\n    { name: \"VentureBeat AI\",  url: \"https://venturebeat.com/category/ai/feed/\" },\n    { name: \"MIT Tech Review\", url: \"https://www.technologyreview.com/feed/\" },\n    { name: \"The Rundown AI\",  url: \"https://rss.beehiiv.com/feeds/2R3C6Bt5wj.xml\" },\n    { name: \"OpenAI Blog\",     url: \"https://openai.com/news/rss.xml\" },\n    { name: \"Google DeepMind\", url: \"https://deepmind.google/blog/rss.xml\" },\n    { name: \"Ben's Bites\",     url: \"https://bensbites.substack.com/feed\" },\n    { name: \"Towards AI\",      url: \"https://pub.towardsai.net/feed\" },\n    { name: \"Synced Review\",   url: \"https://syncedreview.com/feed\" },\n    { name: \"Gizmodo AI\",      url: \"https://gizmodo.com/tech/artificial-intelligence/rss\" },\n    { name: \"ZDNet AI\",        url: \"https://www.zdnet.com/topic/artificial-intelligence/rss.xml\" },\n    { name: \"Ars Technica\",    url: \"https://feeds.arstechnica.com/arstechnica/technology-lab\" },\n    { name: \"BBC Tech\",        url: \"https://feeds.bbci.co.uk/news/technology/rss.xml\" },\n    { name: \"Reuters Tech\",     url: \"https://feeds.reuters.com/reuters/technologyNews\" },\n    { name: \"Bloomberg Tech\",   url: \"https://feeds.bloomberg.com/technology/news.rss\" },\n    { name: \"Guardian Tech\",    url: \"https://www.theguardian.com/us/technology/rss\" },\n    { name: \"Axios AI\",         url: \"https://api.axios.com/feed/?terms=artificial+intelligence\" },\n    { name: \"Scientific Am.\",   url: \"https://www.scientificamerican.com/feed/thescientist-news/\" },\n    { name: \"IEEE Spectrum\",    url: \"https://spectrum.ieee.org/feeds/feed.rss\" },\n    { name: \"AI Business\",      url: \"https://aibusiness.com/rss.xml\" },\n  ],\n  japanese: [\n    { name: \"ITmedia AI+\",    url: \"https://rss.itmedia.co.jp/rss/2.0/aiplus.xml\" },\n    { name: \"NHK Tech\",       url: \"https://www3.nhk.or.jp/rss/news/cat3.xml\" },\n    { name: \"Yahoo Japan IT\", url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" },\n    { name: \"Nikkei XTECH\",   url: \"https://xtech.nikkei.com/rss/xtech-it.rdf\" },\n  ]\n};\n\n// Fisher-Yatesシャッフル\nfunction shuffle(arr) {\n  const a = [...arr];\n  for (let i = a.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [a[i], a[j]] = [a[j], a[i]];\n  }\n  return a;\n}\n\n// 今回使うフィード：英語5本＋日本語2本\nconst selectedFeeds = [\n  ...shuffle(ALL_FEEDS.english).slice(0, 7),\n  ...shuffle(ALL_FEEDS.japanese).slice(0, 3)\n];\n\n// XML簡易パーサー\nfunction extractText(block, tags) {\n  for (const tag of tags) {\n    const m = block.match(new RegExp(`<${tag}[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/${tag}>`, 'i'));\n    if (m && m[1]) return m[1].trim();\n    // Atom link: <link href=\"...\"/>\n    if (tag === 'link') {\n      const lm = block.match(/<link[^>]+href=\"([^\"]+)\"/i);\n      if (lm) return lm[1].trim();\n    }\n  }\n  return '';\n}\n\nasync function fetchAndParse(feed) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; RSS Reader)' },\n      returnFullResponse: false\n    });\n    const text = typeof resp === 'string' ? resp : '';\n    if (!text) return [];\n\n    const items = [];\n    const blockRe = /<item[^>]*>([\\s\\S]*?)<\\/item>|<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let m;\n    while ((m = blockRe.exec(text)) !== null && items.length < 20) {\n      const block = m[1] || m[2] || '';\n      const title   = extractText(block, ['title']);\n      const link    = extractText(block, ['link', 'guid']);\n      const pubDate = extractText(block, ['pubDate', 'published', 'updated', 'dc:date']);\n      const summary = extractText(block, ['description', 'summary', 'content:encoded', 'content'])\n                        .replace(/<[^>]+>/g, '').substring(0, 400);\n      if (title && link) {\n        items.push({ title, link, pubDate, contentSnippet: summary, source: feed.name });\n      }\n    }\n    return items;\n  } catch(e) {\n    console.log(`Feed error [${feed.name}]: ${e.message}`);\n    return [];\n  }\n}\n\n// 順次取得\nconst allItems = [];\nfor (const feed of selectedFeeds) {\n  const items = await fetchAndParse(feed);\n  allItems.push(...items);\n}\n\nconst feedNames = selectedFeeds.map(f => f.name).join(' / ');\nconsole.log(`[RSSシャッフル] 選択: ${feedNames}`);\nconsole.log(`[RSSシャッフル] 合計: ${allItems.length}件`);\n\n// RSS統合コードが$input.all()で受け取れる形式で返す\nreturn allItems.map(item => ({ json: item }));\n","mode":"runOnceForAllItems"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"RSSシャッフル取得Code","type":"main","index":0}]]},"Webhook Test Trigger":{"main":[[{"node":"RSSシャッフル取得Code","type":"main","index":0}]]},"RSS統合＋日付フィルターCode":{"main":[[{"node":"情報選別Agent","type":"main","index":0}]]},"情報選別Agent":{"main":[[{"node":"件数チェックCode","type":"main","index":0}]]},"件数チェックCode":{"main":[[{"node":"Vertex AI Groundingフェッチ","type":"main","index":0}]]},"Gemini Model（リライト用）":{"main":[]},"リライトAgent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"記事本文組立Code","type":"main","index":0}]]},"記事本文組立Code":{"main":[[{"node":"リード＋総括 LLM Chain","type":"main","index":0}]]},"リード＋総括 LLM Chain":{"main":[[{"node":"タイトル生成 LLM Chain","type":"main","index":0}]]},"最終組立Code":{"main":[[{"node":"画像プロンプト生成Code","type":"main","index":0}]]},"タイトル生成 LLM Chain":{"main":[[{"node":"最終組立Code","type":"main","index":0}]]},"画像プロンプト生成Code":{"main":[[{"node":"API冷却Wait","type":"main","index":0}]]},"API冷却Wait":{"main":[[{"node":"Vertex AI Imagen","type":"main","index":0}]]},"Cloudinary upload":{"main":[[{"node":"画像URL集約Code","type":"main","index":0}]]},"画像URL集約Code":{"main":[[{"node":"画像挿入Code","type":"main","index":0}]]},"画像挿入Code":{"main":[[{"node":"GitHub MDX作成Code","type":"main","index":0}]]},"GitHub MDX作成Code":{"main":[[{"node":"GitHub書き込みHTTP","type":"main","index":0},{"node":"Notion DB保存","type":"main","index":0}]]},"GitHub書き込みHTTP":{"main":[[{"node":"blog-posts-data.json取得","type":"main","index":0},{"node":"完了通知HTTP","type":"main","index":0}]]},"blog-posts-data.json取得":{"main":[[{"node":"blog-posts-data.json更新Code","type":"main","index":0}]]},"blog-posts-data.json更新Code":{"main":[[{"node":"blog-posts-data.json書込HTTP","type":"main","index":0}]]},"Notion DB保存":{"main":[[{"node":"X投稿ExecuteWorkflow","type":"main","index":0}]]},"Vertex AI Groundingフェッチ":{"main":[[{"node":"Vertex AI結果整形Code","type":"main","index":0}]]},"Vertex AI結果整形Code":{"main":[[{"node":"リライトAgent","type":"main","index":0}]]},"RSSシャッフル取得Code":{"main":[[{"node":"RSS統合＋日付フィルターCode","type":"main","index":0}]]},"Vertex AI Imagen":{"main":[[{"node":"Cloudinary upload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataSuccessExecution":"all","saveDataErrorExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate","timeSavedMode":"fixed"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"4914d756-5092-4ec6-9c31-74408618c5ce","activeVersionId":"4914d756-5092-4ec6-9c31-74408618c5ce","versionCounter":337,"triggerCount":2,"shared":[{"updatedAt":"2026-03-23T14:22:48.905Z","createdAt":"2026-03-23T14:22:48.905Z","role":"workflow:owner","workflowId":"x43i3Lzy0D46EDcS","projectId":"5d85bagaOgHmINyQ","project":{"updatedAt":"2026-02-15T08:43:18.830Z","createdAt":"2026-02-15T08:43:13.636Z","id":"5d85bagaOgHmINyQ","name":"Takafumi Suzuki <suzu@storytelling.team>","type":"personal","icon":null,"description":null,"creatorId":"90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T21:03:21.779Z","createdAt":"2026-03-27T21:03:21.779Z","versionId":"4914d756-5092-4ec6-9c31-74408618c5ce","workflowId":"x43i3Lzy0D46EDcS","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,304],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"sz-ai-media-v2-test","options":{}},"name":"Webhook Test Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,512],"webhookId":"sz-ai-media-v2-test","id":"trigger-webhook"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 2);\n\n// 重複チェック: 過去に配信済みのURLセットを静的データから取得\nconst staticData = $getWorkflowStaticData('global');\nconst publishedUrls = new Set(staticData.publishedUrls || []);\n\nfunction getMediaName(url, rawSource, summary) {\n  const clean = (s) => s && s !== 'Unknown' && s !== 'unknown' && s.trim() !== '';\n  if (clean(rawSource)) return rawSource;\n\n  // 既知ドメインのペア（new URL()を使わず文字列マッチ）\n  const pairs = [\n    ['techcrunch.com','TechCrunch'],['wired.com','Wired'],['reuters.com','Reuters'],\n    ['bloomberg.com','Bloomberg'],['theverge.com','The Verge'],['venturebeat.com','VentureBeat'],\n    ['arstechnica.com','Ars Technica'],['zdnet.com','ZDNet'],['engadget.com','Engadget'],\n    ['thenextweb.com','The Next Web'],['businessinsider.com','Business Insider'],\n    ['forbes.com','Forbes'],['wsj.com','Wall Street Journal'],\n    ['nytimes.com','New York Times'],['washingtonpost.com','Washington Post'],\n    ['ft.com','Financial Times'],['openai.com','OpenAI'],['anthropic.com','Anthropic'],\n    ['microsoft.com','Microsoft'],['apple.com','Apple'],['nvidia.com','NVIDIA'],\n    ['mit.edu','MIT Technology Review'],['ieee.org','IEEE Spectrum']\n  ];\n\n  // URL文字列に既知ドメインが含まれるか（エンコードURL対応）\n  const urlL = (url || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (urlL.includes(domain)) return name;\n  }\n\n  // summaryにドメインが含まれるか（Google News RSS対応）\n  const sumL = (summary || '').toLowerCase();\n  for (const [domain, name] of pairs) {\n    if (sumL.includes(domain)) return name;\n  }\n\n  // 単純なregexでホスト名抽出\n  const m = urlL.match(/https?:\\/\\/(?:www\\.)?([^\\/\\s?#]+)/);\n  if (m) {\n    const host = m[1];\n    if (host.includes('google.com')) return 'Google News';\n    const base = host.split('.')[0];\n    return base.charAt(0).toUpperCase() + base.slice(1);\n  }\n\n  return 'Unknown';\n}\n\nfunction isNonTargetLanguage(text) {\n  const korean = (text.match(/[\\uAC00-\\uD7AF]/g) || []).length;\n  const arabic = (text.match(/[\\u0600-\\u06FF]/g) || []).length;\n  return korean > 3 || arabic > 3;\n}\n\nconst seen = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const url = d.link || d.url || d.guid || '';\n  const pubDateRaw = d.pubDate || d.isoDate || d.date || d.original_pubDate || '';\n  const summary = d.summary || d.description || d.content || d.contentSnippet || '';\n\n  if (!title || !url) continue;\n  if (isNonTargetLanguage(title)) continue;\n\n  const key = title.substring(0, 30).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  // 配信済みURLチェック（前日以前に配信済みの記事をスキップ）\n  if (publishedUrls.has(url)) continue;\n\n  let pubDate = null;\n  try { pubDate = pubDateRaw ? new Date(pubDateRaw) : null; } catch(e) {}\n  if (pubDate && pubDate < cutoff) continue;\n\n  const source_media = getMediaName(url, d.source || d.Source || d.feedTitle || '', summary);\n\n  result.push({ json: {\n    title,\n    url,\n    pubDate: pubDateRaw,\n    summary,\n    source_media\n  }});\n}\n\nreturn result;"},"name":"RSS統合＋日付フィルターCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"rss-filter-code"},{"parameters":{"jsCode":"// AIキーワードフィルター（タイトル+サマリーチェック）\nconst AI_REGEX    = /\\bai\\b|artificial intelligence|openai|chatgpt|claude|gemini|anthropic|generative|genai|\\bllm\\b|large language model|deep learning|machine learning|neural network|copilot|\\bgpt[-\\s]?[0-9o]/i;\nconst AI_REGEX_JA = /人工知能|機械学習|生成[Aa][Ii]|大規模言語モデル|ディープラーニング|深層学習/;\nconst EXCLUDE_REGEX = /spring sale|prime day|black friday|cyber monday|best deal|\\bdiscount\\b|\\bpromo\\b|\\bcoupon\\b|セール|割引/i;\n\nconst allItems = $input.all();\nif (allItems.length === 0) throw new Error('ニュースが0件です');\n\n// フィルタリング：AIキーワードを含み、除外ワードを含まないもののみ通過\nconst filtered = allItems.filter(item => {\n  const t = (item.json.title || '') + ' ' + (item.json.summary || '');\n  if (EXCLUDE_REGEX.test(t)) return false;\n  return AI_REGEX.test(t) || AI_REGEX_JA.test(t);\n});\n\nif (filtered.length < 5) {\n  throw new Error(`AI関連ニュースが${filtered.length}本しかありません（5本必要）`);\n}\n\n// ソースごとにグループ化してラウンドロビン選択\nconst bySource = {};\nfor (const item of filtered) {\n  const source = item.json.source_media || 'Unknown';\n  if (!bySource[source]) bySource[source] = [];\n  bySource[source].push(item);\n}\n\nconst selected = [];\nconst sources = Object.keys(bySource);\nlet round = 0;\nwhile (selected.length < 5) {\n  let added = false;\n  for (const src of sources) {\n    if (selected.length >= 5) break;\n    if (bySource[src].length > round) {\n      selected.push(bySource[src][round]);\n      added = true;\n    }\n  }\n  if (!added) break;\n  round++;\n}\n\nif (selected.length < 5) {\n  throw new Error(`ニュースが${selected.length}本しか取得できなかったため停止（5本必要）`);\n}\n\n// ===== 重複ニュース除去（同一ニュースを別メディアが報じた場合の排除）=====\nfunction titleJaccard(t1, t2) {\n  const stopWords = new Set(['が','の','を','に','で','と','は','も','a','an','the','to','in','of','and','for','by','on','at']);\n  const tokenize = t => {\n    const words = t.toLowerCase().replace(/[^a-zA-Z0-9\\u3040-\\u9FFF\\u30A0-\\u30FF\\u4E00-\\u9FFF]/g, ' ').split(/\\s+/).filter(w => w.length > 1 && !stopWords.has(w));\n    return new Set(words);\n  };\n  const s1 = tokenize(t1), s2 = tokenize(t2);\n  const intersection = [...s1].filter(w => s2.has(w)).length;\n  const union = new Set([...s1, ...s2]).size;\n  return union > 0 ? intersection / union : 0;\n}\n\nconst deduped = [];\nfor (const art of selected) {\n  const key = art.title || art.japanese_headline || '';\n  const isDup = deduped.some(a => titleJaccard(a.title || a.japanese_headline || '', key) > 0.35);\n  if (!isDup) deduped.push(art);\n}\n\n// 重複除去後5本未満なら残りfilteredから補充\nif (deduped.length < 5) {\n  for (const art of filtered) {\n    if (deduped.length >= 5) break;\n    const key = art.title || '';\n    const isDup = deduped.some(a => titleJaccard(a.title || '', key) > 0.35);\n    if (!isDup) deduped.push(art);\n  }\n}\n\nif (deduped.length < 4) {\n  throw new Error(`重複除去後もニュースが${deduped.length}本しかありません`);\n}\n\nreturn deduped;"},"name":"情報選別Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304],"id":"agent-select"},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length < 5) {\n  throw new Error(`ニュースが${items.length}本しか取得できなかったため停止（5本必要）`);\n}\nreturn items;"},"name":"件数チェックCode","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"id":"count-check"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リライト用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,512],"id":"gemini-rewrite","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const title   = $json.title        || '';\n  const source  = $json.source_media || '';\n  const date    = $json.pubDate      || '';\n  const summary = $json.summary      || '';\n  const url     = $json.url          || '';\n\n  // 洞察スタイル（4パターンローテーション）\n  const roberPatterns = [\n    '【比喩転換型】技術を読者が知っている世界の比喩に変換して説明し、洞察を展開する。',\n    '【逆説型】「一般に〜と思われているが、構造的には逆で〜」という発見的洞察を展開する。',\n    '【時間軸転換型】「このペースが続くなら2030年には〜」と未来の具体的な場面に落とす。',\n    '【構造束ね型】複数の動向を束ねて一つの大きな構造変化として位置づけ、洞察を統合する。'\n  ];\n\n  // 糸口スタイル（8パターン・日付偶奇でセットをずらす）\n  const itoguchiPatterns = [\n    '【逆読み型】「怖い」と感じるこの変化を別の角度から読むと何が見えるか。断言せず、小さな可能性の方向性を示す。',\n    '【選択軸型】この変化の中で読者に「どちらを選ぶか」という岐路があるとしたら何か。命令でなく、選択肢の存在を静かに示す。',\n    '【問い型】この変化が孕む本質的な問いを1つ立てて読者に投げ返す。答えは出さなくてよい。',\n    '【現場視点型】この状況下で、実装・使い方のレベルで既に動いている方向性はあるか。小さくても具体的な手がかりを示す。',\n    '【歴史照合型】過去に似た技術革命・産業変化があったとしたら何か。歴史・他業界の経験からこの変化の行き先の手がかりを示す。',\n    '【当事者内側型】この変化の中心にいる人間は何を見て何を考えているか。その内側の論理を想像することで見えてくる糸口がある。',\n    '【時間差型】「今は怖く見えるが、5年後にこれを振り返ったとき何と言うだろうか」。時間差の視点からこの変化の別の相貌を示す。',\n    '【細部照射型】この大きな変化の中に見落とされがちな小さな事実や動きはないか。細部の中にこそ可能性の糸口が潜んでいる。'\n  ];\n\n  // 粒度（3パターン・日付×記事番号でずらす）→ 8×3=24通り\n  const grainPatterns = [\n    '【マクロ】産業・社会全体への影響スケールで語る。',\n    '【ミクロ】特定の1人・1社・1シーンに絞って語る。',\n    '【メタ】今これを読んでいる読者自身を対象に語る。'\n  ];\n\n  // ユーモアスタイル（8パターン・独立ローテーション）\n  const humorStyles = [\n    '【ブラックユーモア型】権力・資本・制度の矛盾を皮肉で刺す。「笑えるが笑えない」一言で締める。例：「時価総額600億ドルの企業を弱者と呼ぶ感覚を、少し疑った方がいい。」',\n    '【数字オチ型】具体的な数字・金額・年号を使ってオチをつける。例：「2030年、企業のAI戦略が『どこの回線を使うか』から始まる日が来るかもしれない。」',\n    '【逆説的観察型】「普通はそう思うが、実は構造的に逆」という切り口で一言切る。例：「ゴールポストを動かしているのは、走っていない人たちだ。」',\n    '【ミニマリスト型】一行で全てを言い切る。余計な言葉ゼロ。短ければ短いほど切れ味が増す。例：「歴史は繰り返す——今度は光ファイバーの上で。」',\n    '【共犯者型】「私たちも当事者だ」という視点から笑い飛ばす。例：「誰が勝っても、私たちはそれに乗るしかない時代が来る。それを、今のうちに知っておいてほしい。」',\n    '【問いかけ挑発型】読者に静かな問いを投げる知的な挑発。断言しない。例：「この技術が誰のものになるかで、次の10年が決まる。」',\n    '【ホワイトユーモア型】温かく軽い視点で小さな可笑しみを見つける。読者がクスッとする一言。皮肉ではなく柔らかい笑い。',\n    '【自虐的観察型】「私たちもその渦中にいる」という共感から入り、当事者として笑い飛ばす。読者が「わかる」と感じる一言。'\n  ];\n\n  const idx           = $itemIndex % 4;\n  const roberStyle    = roberPatterns[idx];\n\n  const dayShift      = Math.floor(Date.now() / 86400000) % 2;\n  const itoguchiIdx   = ($itemIndex * 2 + dayShift) % 8;\n  const itoguchiStyle = itoguchiPatterns[itoguchiIdx];\n\n  const grainIdx      = (Math.floor(Date.now() / 86400000) * 3 + $itemIndex) % 3;\n  const grainStyle    = grainPatterns[grainIdx];\n\n  const humorIdx      = (Math.floor(Date.now() / 86400000) * 7 + $itemIndex * 4) % 8;\n  const humorStyle    = humorStyles[humorIdx];\n\n  const prompt = `あなたはAI Survival Reportの編集記者だ。JSONのみで回答せよ（\\`\\`\\`不要）。\n\n【最重要・文字数制限（超えたら全体が失敗）】\n・fact_summary: 350〜420字（短すぎても失敗・日本語で数えて）\n・editorial_eye: 250字以内\n\n【文体ルール：ワンパターン禁止・語彙力豊かな語り部であれ】\n・同一記事内で同じフレーズ・同じ構文を2回以上使わない\n・以下は繰り返しが禁止（使うこと自体は禁止ではない）：\n  「〜がそこにある」「〜を問われている」「誰も口にしない〜」「浮き彫り」「〜を示している」\n・語彙が豊かで、読むたびに表現が新鮮な語り部であること\n・「書き慣れた記者の文体」を意識する。AIが書いた感を出さない\n\n【絶対ルール】\n1. URLは入力のURLをそのままコピー（変更・創作禁止）\n2. 固有名詞・数字は原文のまま（推測で異なる固有名詞を作ることは絶対禁止）\n3. メディア名は入力のものをそのまま使用\n4. fact_summaryは「${source}によると、」で開始\n5. 入力データの事実のみ使用（知識補完・創作・推測禁止）\n6. 英語の固有名詞・機関名・法律名は必ず日本語訳を括弧で添えること（例: injunction → 差し止め命令（injunction＝裁判所が行動を止める法的ブレーキ）、Pentagon → 米国防総省）\n7. 専門用語・略語は「池上彰スタイル」で解説（括弧内に「＝〜のこと」形式。中学生でもわかる言葉で）。ただし「AI」「人工知能」「機械学習」「ChatGPT」「アルゴリズム」等、中学生でも知っている概念の括弧書き解説は絶対不要。\n8. 元記事のメインテーマと無関係の情報を書かないこと（ページ下部の別記事・広告・リンク記事の内容は使わない）\n9. 「不明」「明確ではない」「推測」等の不確実表現は使わない。書けることだけ書く。\n10. 禁止表現：「この一週間に報じられた」「〜すべき」「〜になれ」等の命令形\n\n【入力データ】\nタイトル: ${title}\nメディア名: ${source}\n配信日: ${date}\n要約: ${summary}\nURL: ${url}\n\n【fact_summary（350〜420字・だ・である調・5W1H）】\n「${source}によると、」で始める。誰が何をいつどこでなぜどうしたかを簡潔に書く。\n専門用語には池上彰スタイルの括弧補足を入れる。不確実なことは書かない。350字未満または420字超は失敗。\n\n【editorial_eye（250字以内・です・ます調）】\n3段構成で合計250字以内：\n①現実（40-70字）：この変化が読者の現場・社会に何をもたらしているか。正直に、重さも含めて書く。「いい子ちゃん」的表現禁止。\n②洞察（100-150字）：${roberStyle}核心に踏み込み、表面的な事実の奥にある構造や矛盾を深く掘り下げる。本音で書く。\n③糸口（30-50字）：${itoguchiStyle}${grainStyle}\n\n【ユーモア指示（editorial_eyeのどこか一箇所に自然に織り込む）】\n${humorStyle}\n毎回同じパターンのユーモアは使わない。比喩を使う場合は「魔法」「お姫様」「勇者」等の幼稚な比喩禁止。知性と切れ味を優先する。\n\n【理想の編集長の眼の実例（このレベルを目指せ）】\n・「快挙だ。だが正直に言う。私はこれを手放しで喜べない。時価総額600億ドルの企業を『弱者』と呼ぶ感覚を、少し疑った方がいい。誰が勝っても、私たちはそれに乗るしかない時代が来る。」\n・「ゴールポストを動かしているのは、走っていない人たちだ。それが今は機能している。だが次のラウンドは、もっと静かな場所で始まる。」\n・「歴史は繰り返す——今度は光ファイバーの上で。」\n\nラベル不要。箇条書き禁止。命令形禁止。250字超えたら失敗。【文体必須：です・ます調で書くこと。「だ。」「である。」で終わる文は禁止。】\n\n【出力JSONのみ】\n{\"japanese_headline\":\"固有名詞・数字入り日本語見出し20-35字\",\"original_title\":\"英語タイトルそのままコピー\",\"fact_summary\":\"${source}によると...350〜550字\",\"editorial_eye\":\"250字以内・です・ます調\",\"url\":\"${url}\",\"source_media\":\"${source}\",\"pubDate\":\"${date}\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}","options":{"response":{"response":{"fullResponse":false}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"リライトAgent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,304],"id":"agent-rewrite"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1104,304],"id":"aggregate"},{"parameters":{"jsCode":"// editorial_eyeを300字以内に収める\nfunction truncateEye(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'));\n  return lastPeriod > maxLen * 0.6 ? cut.substring(0, lastPeriod + 1) : cut;\n}\n\nconst aggregated = $input.first().json;\nconst news = Array.isArray(aggregated.data) ? aggregated.data : \n             Array.isArray(aggregated) ? aggregated : [];\n\n// outputフィールドのJSONをパースするヘルパー\nfunction parseNewsItem(n) {\n  if (n.japanese_headline) return n; // すでに展開済み\n  let raw_str = '';\n  // Gemini API HTTP Response形式\n  if (n.candidates && n.candidates[0]) {\n    raw_str = (n.candidates[0].content && n.candidates[0].content.parts && n.candidates[0].content.parts[0]) \n              ? n.candidates[0].content.parts[0].text || '' : '';\n  }\n  // chainLlm / agent 出力形式\n  if (!raw_str) raw_str = n.text || n.output || '';\n  if (raw_str) {\n    const raw = raw_str.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n    try {\n      return JSON.parse(raw);\n    } catch(e) {\n      // JSONが途中で切れた場合：regexで各フィールドを部分抽出（救済）\n      const extractField = (field) => {\n        const pattern = new RegExp('\"' + field + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*?)(?:\"|$)');\n        const m = raw.match(pattern);\n        if (!m) return '';\n        return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n      };\n      const headline = extractField('japanese_headline');\n      if (headline) {\n        return {\n          japanese_headline: headline,\n          original_title: extractField('original_title'),\n          fact_summary: extractField('fact_summary').substring(0, 600),\n          editorial_eye: extractField('editorial_eye').substring(0, 320),\n          url: extractField('url'),\n          source_media: extractField('source_media'),\n          pubDate: extractField('pubDate')\n        };\n      }\n      return {};\n    }\n  }\n  return n;\n}\n\nlet body = '';\nfor (let i = 0; i < news.length; i++) {\n  const n = parseNewsItem(news[i]);\n  if (!n.japanese_headline) continue; // 空アイテム（リライト失敗）はスキップ\n  const pubDate = n.pubDate || n.pub_date || '';\n  const dateStr = pubDate ? new Date(pubDate).toLocaleDateString('ja-JP', {year:'numeric',month:'long',day:'numeric'}) : '';\n  \n  body += `### ◆ ${n.japanese_headline || ''}\\n\\n`;\n  body += `**配信日：** ${dateStr}　**出典：** ${n.source_media || ''}　**原題：** ${n.original_title || ''}\\n\\n`;\n  body += `${n.fact_summary || ''}\\n\\n`;\n  body += `**📌 編集長の眼**\\n\\n${truncateEye(n.editorial_eye || '', 300)}\\n\\n`;\n  body += `---\\n\\n`;\n}\n\nreturn [{ json: { news_body: body, news_count: news.length, news_data: news.map(parseNewsItem) } }];"},"name":"記事本文組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304],"id":"article-build"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":8192}},"name":"Gemini Model（リード＋総括用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,512],"id":"gemini-lead","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n  const newsItems = $('記事本文組立Code').first().json.news_data || [];\n  const headlines = newsItems.map((n,i) => `${i+1}. ${n.japanese_headline || n.title || ''}`).join('\\n');\n\n  const prompt = `以下は「AI Survival Report」の本日の${newsItems.length}本のニュース記事だ。\\n\\n${news_body}\\n\\n記事の見出し一覧:\\n${headlines}\\n\\n以下の2つを書け。\\n\\n【リード文（です・ます調）】\\n- 【厳守】250字以内。超えたら失敗。\\n- ヒッチコック型：冒頭で「あなたは今日、${newsItems.length}本のニュースを読みます。」または類似の二人称で始める\\n- 各ニュースを1行ずつ短く予告して引き込む（です・ます調または体言止め・一文一行）\\n- 最後は核心を突く一行の問いかけで締める（「——その〜を、誰が握るのでしょう？」のような余白ある問い）\\n- 毎回違う切り口・言い回しにする。テンプレ的な書き方禁止。\\n- 禁止：「財布・雇用・保身」三語セット、「あなたの仕事が消える」等の煽り、「この一週間に」\\n- 知的ユーモアを1文自然に織り込む（切れ味のある比喩、逆説的観察、軽い皮肉のどれか）\\n\\n【クロージング総括（です・ます調）】\\n- 【厳守】350〜400字。400字超は失敗。350字未満も失敗。\\n- 必ず「### 総括：時代の濁流を読み解く」で始める（このタイトル固定・変更禁止）\\n- 今日の${newsItems.length}本を一本の糸で結ぶ統合洞察（なぜこれらが同じ時期に起きているか）\\n- 具体的な固有名詞を1つ以上含める\\n- 読者が「賢くなった感じ」を得られるよう締める\\n- 知的ユーモアを1文自然に織り込む（切れ味のある比喩、逆説的観察、軽い皮肉のどれか）\\n- 最後は政府でしょうか。企業でしょうか。研究者でしょうか。それとも、私たちでしょうか。のような問いの連打、または詩的な一行で締める\\n- 転職エージェント・求人サービス・広告的CTAは絶対禁止\\n\\n【出力形式（JSONのみ。バッククォートやラッパー不要）】\\n{\"lead\": \"リード文（250字以内・です・ます調）\", \"closing\": \"### 総括：時代の濁流を読み解く\\n\\nクロージング総括（1000〜1400字）\"}`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.5, maxOutputTokens: 16384}\n  });\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"リード＋総括 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,304],"id":"llm-lead"},{"parameters":{"modelName":"gemini-2.5-flash","options":{"maxOutputTokens":512}},"name":"Gemini Model（タイトル用）","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,512],"id":"gemini-title","credentials":{"googlePalmApi":{"id":"UEQc6WgXg2nyAi9v","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCwYVDhiTVusu-ArdQvMPRgcrlWF731ozk","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const news_body = $('記事本文組立Code').first().json.news_body || '';\n\n  const prompt = `以下のニュース記事群を読んで、号全体を象徴する日本語タイトルを1つだけ生成せよ。\\n\\n${news_body}\\n\\n【タイトルのルール】\\n- 必ず日本語（英語禁止）\\n- 40字以内\\n- 記事本文に登場する固有名詞（企業名・人名・製品名）か数字を必ず1つ以上含める\\n- 「なぜ今〜」「〜が変わる」等の抽象的タイトル禁止\\n- 本文に存在しない固有名詞をタイトルに入れること禁止\\n- 強いタイトルの構造を使え：問い・宣言・逆説・発見のいずれか\\n- 「——」（全角ダッシュ2つ連続）を使ったサブタイトル付き構造を推奨（例：「AIが政府を法廷で倒した日——今、何かが動き始めている」）\\n- 説明的で閉じたタイトル禁止（「〜が示す〜の幕開け」等）。余白と問いを残せ。\\n- タイトルのみ出力。説明・引用符・番号・バッククォート不要`;\n\n  return JSON.stringify({\n    contents: [{role:'user', parts:[{text: prompt}]}],\n    generationConfig: {temperature: 0.4, maxOutputTokens: 2048}\n  });\n})() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"name":"タイトル生成 LLM Chain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,304],"id":"llm-title"},{"parameters":{"jsCode":"function extractGeminiText(resp) {\n  if (!resp) return '';\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) {\n    return resp.candidates[0].content.parts[0].text || '';\n  }\n  return resp.text || '';\n}\n\nconst leadResp = $('リード＋総括 LLM Chain').first().json;\nconst titleResp = $('タイトル生成 LLM Chain').first().json;\n\nconst leadRawStr = extractGeminiText(leadResp);\nconst titleText = extractGeminiText(titleResp).trim().replace(/^[\"「]|[\"」]$/g, '').split('\\n')[0].trim();\n\nlet leadJson;\ntry {\n  const cleaned = leadRawStr.replace(/^```json\\s*/,'').replace(/\\s*```$/,'').trim();\n  leadJson = JSON.parse(cleaned);\n} catch(e) { leadJson = {lead:'', closing:''}; }\n\n\n// closingを1400字以内に収める（文章境界で切る）\nfunction truncateAtSentence(text, maxLen) {\n  if (!text || text.length <= maxLen) return text;\n  const cut = text.substring(0, maxLen);\n  const lastPeriod = Math.max(cut.lastIndexOf('。'), cut.lastIndexOf('．'), cut.lastIndexOf('\\n\\n'));\n  return lastPeriod > maxLen * 0.5 ? cut.substring(0, lastPeriod + 1) : cut;\n}\nconst lead = leadJson.lead || '';\nconst closingRaw = truncateAtSentence(leadJson.closing || '', 1400);\n// LLMが総括ヘッダーを含む場合は除去（最終組立Codeで追加するため二重防止）\nconst closing = closingRaw.replace(/^###?\\s*総括[：:][^\\n]*\\n+/m, '').trim();\nconst newsBody = $('記事本文組立Code').first().json.news_body || '';\nconst newsData = $('記事本文組立Code').first().json.news_data || [];\n\nconst nl = '\\n';\nconst finalArticle = [\n  '# ' + titleText,\n  '',\n  lead,\n  '',\n  newsBody,\n  '## ◆ 総括：時代の濁流を読み解く',\n  '',\n  closing,\n  ''\n].join(nl);\n\nconst now = new Date();\n// JST = UTC + 9h\nconst jstNow = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = String(jstNow.getUTCFullYear())\n  + String(jstNow.getUTCMonth()+1).padStart(2,'0')\n  + String(jstNow.getUTCDate()).padStart(2,'0')\n  + '-'\n  + String(jstNow.getUTCHours()).padStart(2,'0')\n  + String(jstNow.getUTCMinutes()).padStart(2,'0')\n  + String(jstNow.getUTCSeconds()).padStart(2,'0');\n\nreturn [{\n  json: {\n    final_article: finalArticle,\n    final_title: titleText,\n    lead_text: lead,\n    closing_text: closing,\n    news_data: newsData,\n    slug: dateStr,\n    publishDate: jstNow.toISOString()\n  }\n}];"},"name":"最終組立Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,304],"id":"final-build"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst title = data.final_title || '';\nconst closingText = data.closing_text || '';\nconst newsData = data.news_data || [];\n\nconst GEMINI_KEY = 'AIzaSyASQDhbyHlJUz1kzCTU5nZCmOet9_9pd9Q';\nconst GEMINI_URL = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${GEMINI_KEY}`;\n\nconst jstNow = new Date(new Date().getTime() + 9 * 60 * 60 * 1000);\nconst dayOfWeek = jstNow.getUTCDay();\n\n// ========================================\n// MOEBIUS共通ベース（禁止ワード削除済み・v2修正版）\n// ========================================\nconst MOEBIUS_BASE =\n  'Moebius bande dessinee panel, ligne claire black ink outlines, detailed crosshatching, ' +\n  'transparent watercolor wash, editorial illustration, no text no numbers';\n\n// ========================================\n// COMPOSITION: 構図バリエーション（9種）\n// ========================================\nconst COMPOSITION = {\n  A: \"wide panoramic landscape, vast environment, small human presence in distance\",\n  B: \"aerial bird's eye view looking down from above, overhead perspective, figures seen from high altitude\",\n  C: \"extreme close-up shot, detailed texture in foreground, machinery or technology detail, no wide landscape\",\n  D: \"wide open cityscape from above, blue sky with white clouds filling upper frame, horizon line visible, expansive urban view\",\n  E: \"multiple human figures in foreground, faces and expressions visible, collaborative scene, warm human-scale environment\",\n  F: \"abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures\"\n};\n\n// ========================================\n// LIGHTING: 光量バリエーション\n// ========================================\nconst LIGHTING = {\n  BRIGHT: \"bright studio lighting, soft warm overhead light, hopeful luminous atmosphere, clean natural daylight\",\n  MID:    \"warm amber dusk light, golden sunset tones, rich orange and brown palette\",\n  DARK:   \"deep blue night atmosphere, cool moonlight, cinematic dark mood, blue and purple tones\"\n};\n\n// ========================================\n// SLOT_PLAN: スロットごとの構図・光量指定\n// ========================================\nconst SLOT_PLAN = [\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_T（cover）\n  { composition: \"C\", lighting: \"MID\"    },  // SLOT_1（news_0）\n  { composition: \"B\", lighting: \"BRIGHT\" },  // SLOT_2（news_1）\n  { composition: \"C\", lighting: \"DARK\"   },  // SLOT_3（news_2）\n  { composition: \"F\", lighting: \"MID\"    },  // SLOT_4（news_3）\n  { composition: \"B\", lighting: \"MID\"    },  // SLOT_5（未使用）\n  { composition: \"D\", lighting: \"BRIGHT\" },  // SLOT_6（未使用）\n  { composition: \"E\", lighting: \"MID\"    },  // SLOT_7（未使用）\n  { composition: \"F\", lighting: \"BRIGHT\" },  // SLOT_W（summary）\n];\n\n// ========================================\n// ネガティブプロンプト（全スロット共通）\n// ========================================\nconst NEGATIVE_PROMPT = \"photorealistic, 3d render, anime, cartoon, lone silhouette standing alone in empty landscape, single person tiny in vast empty space, dark brooding atmosphere only, same composition as before, generic AI darkness, server room, data center, server rack, server hall, server towers, computer servers, endless server corridor, glowing server towers, rows of servers, dawn, sunrise, sun rising over horizon, golden sunrise, morning sunrise, sunrise sky, atmospheric light rays from sun, sun rays, sunbeams through clouds, bright sunrise, dramatic sunrise, warm dawn rays, dawn sky, sunrise background, morning glow\";\n\n// ========================================\n// buildPrompt: スロットインデックス + シーンテキストからプロンプトを構築\n// ========================================\nconst buildPrompt = (slotIndex, sceneText) => {\n  const plan = SLOT_PLAN[slotIndex];\n  return [MOEBIUS_BASE, COMPOSITION[plan.composition], LIGHTING[plan.lighting], sceneText].join(\", \");\n};\n\n// ========================================\n// カラーパレット（曜日対応・カバー用）\n// ========================================\nconst COVER_COLOR_MOODS = [\n  'midnight navy and pale silver color palette',\n  'warm amber and deep cobalt color palette',\n  'deep crimson and ivory white color palette',\n  'forest green and golden ochre color palette',\n  'deep violet and lavender silver color palette',\n  'electric cyan and charcoal black color palette',\n  'rose gold and slate grey color palette'\n];\nconst colorMood = COVER_COLOR_MOODS[dayOfWeek];\n\nconst NEWS_COLORS = [\n  'cobalt blue and silver palette',\n  'crimson red and warm ivory palette',\n  'forest green and golden ochre palette',\n  'deep violet and lavender palette'\n];\n\n// ブロック/エラーページ判定パターン\nconst BLOCK_PATTERNS = /cloudflare|403 forbidden|security verification|just a moment|performing security|enable javascript|access denied|ray id:|bot protection|captcha|ddos|challenge page/i;\n\nasync function getGeminiScene(promptText, fallback) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: GEMINI_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: promptText }] }],\n        generationConfig: { maxOutputTokens: 300, temperature: 0.9 }\n      },\n      json: true\n    });\n    const text = (\n      resp && resp.candidates && resp.candidates[0] &&\n      resp.candidates[0].content && resp.candidates[0].content.parts &&\n      resp.candidates[0].content.parts[0] &&\n      resp.candidates[0].content.parts[0].text\n    ) ? resp.candidates[0].content.parts[0].text.trim() : '';\n    if (text && text.length > 20) return text;\n    return fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// --- カバー画像シーン生成（SLOT_T = index 0）---\nconst coverGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial COVER illustration for an AI news report.\\n\\n' +\n  'Based on the issue title and summary below, describe ONE striking visual scene in English (50-70 words) that symbolizes the KEY THEME of this issue.\\n\\n' +\n  'REQUIREMENTS:\\n' +\n  '1. Wide open space composition — dramatic sky with clouds, city skyline or landscape visible at horizon, expansive perspective.\\n' +\n  '2. Setting must NOT be a beach or sea. Choose from: research lab, server hall, city skyline, factory, control room, space station, etc.\\n' +\n  '3. Reference the actual AI topics in this issue (AI models, data centers, robots, satellites, etc.).\\n' +\n  '4. Output ONLY the scene description — no intro, no explanation.\\n\\n' +\n  'Issue title: ' + title + '\\n' +\n  'Issue summary: ' + closingText.substring(0, 800);\n\nconst coverScene = await getGeminiScene(\n  coverGeminiPrompt,\n  'a researcher standing at floor-to-ceiling windows overlooking a glowing city at midday, ' +\n  'holding a tablet with AI interface, soft natural daylight streaming in, horizon line visible, human-scale perspective'\n);\nconst coverPrompt = buildPrompt(0, colorMood + ', ' + coverScene);\n\n// --- ニュース画像シーン生成（SLOT_1〜4 = index 1〜4）---\nconst newsItems = newsData.slice(0, 4);\nconst FALLBACK_SCENES = [\n  'a scientist in a bright research lab examining a holographic brain model, warm natural light through large windows, human hands visible',\n  'aerial view of a modern city intersection at golden hour, pedestrians and vehicles as tiny figures, urban life in motion',\n  'close-up of human hands typing on a keyboard, smartphone screen showing an AI chat interface glowing softly, warm desk lamp light',\n  'a judge holding a gavel in a courtroom, scales of justice on the desk, dramatic side-lighting, human expression visible'\n];\n\nconst scenes = [];\nfor (let i = 0; i < newsItems.length; i++) {\n  const item = newsItems[i];\n  const headline = item.japanese_headline || item.original_title || '';\n  const rawSummary = item.fact_summary || item.summary || item.body || '';\n\n  const isBlocked = BLOCK_PATTERNS.test(rawSummary) || rawSummary.trim().length < 80;\n  const summaryText = isBlocked ? '' : rawSummary.substring(0, 600);\n\n  const slotPlan = SLOT_PLAN[i + 1];\n  const compositionHint = COMPOSITION[slotPlan.composition];\n\n  const newsPrompt =\n    'You are writing an image prompt for a Moebius bande dessinee editorial illustration.\\n\\n' +\n    'Describe a specific visual scene in English (50-70 words) that visually represents this news article.\\n\\n' +\n    'COMPOSITION REQUIREMENT: ' + compositionHint + '\\n\\n' +\n    'CORE PRINCIPLE: Show the KEY OBJECT, TECHNOLOGY, or CONCEPT itself — not just a generic person.\\n\\n' +\n    'APPROACH:\\n' +\n    '- Name SPECIFIC objects: robot arm, neural network, smartphone UI, satellite dish, courtroom gavel, server rack, holographic interface, DNA helix, financial chart, etc.\\n' +\n    '- Match the substance of the news — if it\\'s about AI tools, show the tool; if regulation, show scales/documents; if a company, show its product\\n' +\n    '- Avoid vague \"person looking at screen\" — show WHAT is on the screen, or show the technology itself\\n' +\n    '- Output ONLY the scene description.\\n\\n' +\n    (isBlocked\n      ? 'Article title: ' + (item.original_title || headline) + '\\nSource: ' + (item.source_media || 'tech media')\n      : 'Headline: ' + headline + '\\nSummary: ' + summaryText\n    );\n\n  const scene = await getGeminiScene(newsPrompt, FALLBACK_SCENES[i]);\n  scenes.push(scene);\n}\n\n// --- 総括画像シーン生成（SLOT_W = index 8）---\nconst summaryGeminiPrompt =\n  'You are writing an image prompt for a Moebius bande dessinee editorial SUMMARY illustration.\\n\\n' +\n  'This image represents the OVERALL TENSION or THEME that runs through all stories in this AI news report.\\n\\n' +\n  'COMPOSITION REQUIREMENT: Abstract geometric patterns, glowing data network visualization, colorful node connections, no human figures.\\n\\n' +\n  'Based on the issue summary, describe ONE striking symbolic visual scene in English (50-70 words).\\n\\n' +\n  'APPROACH:\\n' +\n  '- Think META: What is the common thread? (AI vs human control, speed of change, ethical crossroads, tech disruption, etc.)\\n' +\n  '- Use ABSTRACT/NETWORK imagery: glowing data nodes, interconnected AI systems, geometric pattern representing the theme\\n' +\n  '- Output ONLY the scene description.\\n\\n' +\n  'Issue summary: ' + closingText.substring(0, 1000);\n\nconst summaryScene = await getGeminiScene(\n  summaryGeminiPrompt,\n  'abstract glowing data network visualization, colorful node connections representing AI interconnections, ' +\n  'geometric patterns pulsing with electric light, deep space background with constellations of information'\n);\nconst summaryPrompt = buildPrompt(8, summaryScene);\n\n// --- 出力（negative_promptを全スロットに付加）---\nconst prompts = [\n  { type: 'cover', prompt: coverPrompt, negative_prompt: NEGATIVE_PROMPT },\n  ...scenes.map((scene, i) => ({\n    type: 'news_' + i,\n    prompt: buildPrompt(i + 1, NEWS_COLORS[i] + ', ' + scene),\n    negative_prompt: NEGATIVE_PROMPT\n  })),\n  { type: 'summary', prompt: summaryPrompt, negative_prompt: NEGATIVE_PROMPT }\n];\n\nreturn prompts.map(p => ({ json: p }));\n"},"name":"画像プロンプト生成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"img-prompt"},{"parameters":{"amount":1},"name":"API冷却Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2912,304],"id":"api-cool","webhookId":"96fb97a2-02ca-49cf-9ba9-492a25299028"},{"parameters":{"method":"POST","url":"https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-sz-media-486107/locations/us-central1/publishers/google/models/imagen-3.0-fast-generate-001:predict","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ instances: [{ prompt: $json.prompt }], parameters: { sampleCount: 1, aspectRatio: \"16:9\", negativePrompt: $json.negative_prompt || \"\", safetySetting: \"block_some\", personGeneration: \"allow_adult\" } }) }}","options":{"response":{"response":{"neverError":true}}}},"name":"Vertex AI Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,304],"id":"fal-http","onError":"continueRegularOutput","credentials":{"googleApi":{"id":"ud1LKevnjBbybuxl","name":"Google Service Account account"}}},{"parameters":{"url":"={{ 'data:image/png;base64,' + $('Vertex AI Imagen').item.json.predictions[0].bytesBase64Encoded }}","additionalFields":{}},"name":"Cloudinary upload","type":"n8n-nodes-cloudinary.cloudinary","typeVersion":1,"position":[3504,304],"id":"cloudinary-upload","credentials":{"cloudinaryApi":{"id":"WP5o4htlDE9qqtsH","name":"Cloudinary account"}}},{"parameters":{"jsCode":"const items = $input.all();\n// 生成順序: cover → news_0 → news_1 → news_2 → news_3 → summary\nconst typeOrder = [\"cover\", \"news_0\", \"news_1\", \"news_2\", \"news_3\", \"summary\"];\nconst urls = {};\nitems.forEach((item, i) => {\n  const type = typeOrder[i] || (\"item_\" + i);\n  const url = item.json.secure_url || item.json.url || \"\";\n  if (url) urls[type] = url;\n});\nreturn [{ json: { image_urls: urls } }];"},"name":"画像URL集約Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,304],"id":"img-url-collect"},{"parameters":{"jsCode":"const imageData = $input.first().json;\nconst articleData = $(\"最終組立Code\").first().json;\nlet article = articleData.final_article || '';\nconst urls = imageData.image_urls || {};\n\n// カバー画像：タイトル行直後に挿入\nif (urls.cover) {\n  article = article.replace(/^(# [^\\n]+\\n\\n)/, '$1![カバー画像](' + urls.cover + ')\\n\\n');\n}\n\n// ニュース画像：「### ◆ タイトル\\n\\n**配信日」の直前に挿入（順番に差し込む）\nfor (let i = 0; i < 4; i++) {\n  const newsUrl = urls['news_' + i];\n  if (newsUrl) {\n    article = article.replace(\n      /(### ◆ \\S[^\\n]*\\n\\n)(\\*\\*配信日)/,\n      '$1![ニュース画像](' + newsUrl + ')\\n\\n$2'\n    );\n  }\n}\n\n// 総括画像：「## ◆ 総括」の直前に挿入\nif (urls.summary) {\n  article = article.replace(\n    /(## ◆ 総括[^\\n]*\\n\\n)/,\n    '![総括画像](' + urls.summary + ')\\n\\n$1'\n  );\n}\n\nreturn [{ json: { ...articleData, final_article: article, image_urls: urls } }];"},"name":"画像挿入Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,304],"id":"img-insert"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst article = data.final_article || '';\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\nconst dateFormatted = publishDate.substring(0, 10) + ' ' + publishDate.substring(11, 16);\n\nconst mdx = `---\ntitle: \"${title.replace(/\"/g, '\\\\\"')}\"\nlead: \"${lead.replace(/\"/g, '\\\\\"')}\"\ndate: \"${dateFormatted}\"\ncategory: \"AI\"\nimage: \"${coverUrl}\"\n---\n\n${article}\n`;\n\nconst encoded = Buffer.from(mdx).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    mdx_content: mdx,\n    mdx_base64: encoded,\n    github_path: `src/content/blog/${slug}.md`,\n    github_message: `feat: AI Survival Report ${dateFormatted}`\n  }\n}];"},"name":"GitHub MDX作成Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,304],"id":"github-mdx"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/paperexplosion/ai-survival-media/contents/{{ $json.github_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: $json.github_message, content: $json.mdx_base64 }) }}","options":{}},"name":"GitHub書き込みHTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,304],"id":"github-write"},{"parameters":{"url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"name":"blog-posts-data.json取得","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,208],"id":"blog-json-get"},{"parameters":{"jsCode":"const fetchResult = $('blog-posts-data.json取得').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\nconst data = $('GitHub MDX作成Code').first().json;\nconst title = data.final_title || '';\nconst lead = data.lead_text || '';\nconst slug = data.slug || '';\nconst coverUrl = (data.image_urls || {}).cover || (data.image_urls || {}).upload || '';\nconst publishDate = data.publishDate || new Date().toISOString();\n\nconst newPost = {\n  slug: slug,\n  title: title,\n  lead: lead.substring(0, 200),\n  date: publishDate.substring(0, 10),\n  category: 'AI',\n  image: coverUrl\n};\n\nexistingPosts.unshift(newPost);\nconst updatedJson = JSON.stringify(existingPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\n// 配信済みURLを静的データに記録（次回実行での重複スキップ用）\nconst staticData = $getWorkflowStaticData('global');\ntry {\n  const newsData = $('記事本文組立Code').first().json.news_data || [];\n  const articleUrls = newsData.map(item => item.url).filter(Boolean);\n  const existingPublished = staticData.publishedUrls || [];\n  const combined = [...new Set([...existingPublished, ...articleUrls])];\n  staticData.publishedUrls = combined.slice(-500); // 最新500件を保持\n} catch(e) {\n  // news_dataが取得できない場合はスキップ\n}\n\nreturn [{ json: { updatedBase64, currentSha, slug } }];"},"name":"blog-posts-data.json更新Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,208],"id":"blog-json-update"},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token ***REDACTED_TOKEN***"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}","options":{}},"name":"blog-posts-data.json書込HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,208],"id":"blog-json-write"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"31d457e7-0a28-8108-a987-f27725c1c5b9","mode":"id"},"title":"={{ $('最終組立Code').first().json.final_title }}","propertiesUi":{"propertyValues":[{"key":"生成日|date","date":"={{ $now.toISO() }}"},{"key":"ステータス|select","selectValue":"下書き"},{"key":"メタ情報|rich_text","textContent":"={{ $('最終組立Code').first().json.lead_text.substring(0, 1990) }}"},{"key":"画像URL|url","urlValue":"={{ ($json.image_urls || {}).cover || ($json.image_urls || {}).upload || null }}"}]},"options":{}},"name":"Notion DB保存","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[5008,512],"id":"notion-save","credentials":{"notionApi":{"id":"S1Pkv3d0mXqOwBTl","name":"Notion account 2"}}},{"parameters":{"workflowId":"6QYipyd0Zc8YWzgS","options":{}},"name":"X投稿ExecuteWorkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5312,512],"id":"x-post"},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"【SZ_AI_Media_v2】 完了通知 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n記事タイトル: {{ $('最終組立Code').first().json.final_title }}\\nSlug: {{ $('最終組立Code').first().json.slug }}\"\n}","options":{}},"name":"完了通知HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,512],"id":"notify"},{"id":"perplexity-fetch-001","name":"Vertex AI Groundingフェッチ","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304],"parameters":{"jsCode":"// ================================================================\n// Jina本文取得＋日付検証Code (v2)\n// ================================================================\n// 【変更理由】\n// Vertex AI Grounding（Google検索）は指定URLを実際にフェッチしない。\n// タイトルが古い記事と一致すると古い記事の内容を返してしまう。\n// Jina Readerは指定URLを実際にHTTPフェッチする。\n//\n// 【v1→v2変更点】\n// - GeminiのPOSTコールを廃止（helpersでのJSONボディ問題を回避）\n// - リライトAgentがJina取得テキストを直接受け取る（summaryとして渡す）\n// - 同意ページ・ペイウォール検出を追加\n// ================================================================\n\nconst CUTOFF_MS = 7 * 24 * 60 * 60 * 1000; // 7日\nconst NOW = Date.now();\n\nconst items = $input.all();\nconst results = [];\n\n// 同意ページ・ペイウォール判定\nfunction isConsentOrPaywallPage(text) {\n  const lower = text.toLowerCase();\n  const gdprCount  = (lower.match(/gdpr|cookie|consent|privacy policy/g)||[]).length;\n  const loginCount = (lower.match(/sign in|subscribe|log in|paywall/g)||[]).length;\n  return (gdprCount >= 3 || loginCount >= 3);\n}\n\nfor (const item of items) {\n  const { title, url, source_media, pubDate, summary: rssSummary } = item.json;\n\n  let jinaContent = '';\n  let shouldSkip = false;\n\n  // ── Step 1: URLパターンで公開日を即チェック ──\n  const urlDateM = url ? url.match(/\\/(20\\d\\d)\\/(\\d{2})\\/(\\d{2})\\//) : null;\n  if (urlDateM) {\n    const artDate = new Date(`${urlDateM[1]}-${urlDateM[2]}-${urlDateM[3]}`);\n    if (NOW - artDate.getTime() > CUTOFF_MS) {\n      console.log('[SKIP:URL-DATE] ' + title + ' → ' + artDate.toISOString().slice(0,10));\n      shouldSkip = true;\n    }\n  }\n\n  // ── Step 2: Jina Reader で本文フェッチ ──\n  if (!shouldSkip) {\n    try {\n      const jinaResp = await helpers.httpRequest({\n        method: 'GET',\n        url: 'https://r.jina.ai/' + url,\n        headers: {\n          'Accept': 'text/plain',\n          'X-Return-Format': 'markdown',\n          'User-Agent': 'Mozilla/5.0 (compatible; NewsBot/1.0)'\n        },\n        timeout: 25000,\n        returnFullResponse: false\n      });\n\n      // レスポンス形式を柔軟に処理\n      if (typeof jinaResp === 'string') {\n        jinaContent = jinaResp;\n      } else if (jinaResp && jinaResp.body) {\n        jinaContent = String(jinaResp.body);\n      } else {\n        jinaContent = JSON.stringify(jinaResp);\n      }\n      jinaContent = jinaContent.slice(0, 4000);\n\n      // ── Step 3: 同意ページ・ペイウォール検出 ──\n      if (isConsentOrPaywallPage(jinaContent)) {\n        console.log('[FALLBACK:PAYWALL] ' + title + ' → RSS summaryを使用');\n        jinaContent = ''; // RSS summaryにフォールバック\n      } else {\n        // ── Step 4: Jina本文から公開日チェック ──\n        const jinaDateM = jinaContent.match(/Published\\s*(?:Time)?:\\s*(\\d{4}-\\d{2}-\\d{2})/i);\n        if (jinaDateM) {\n          const artDate = new Date(jinaDateM[1]);\n          if (NOW - artDate.getTime() > CUTOFF_MS) {\n            console.log('[SKIP:JINA-DATE] ' + title + ' → ' + jinaDateM[1]);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        } else if (!urlDateM) {\n          // 年数カウントで古記事を推定（URL・Jinaに明示的な日付がない場合）\n          const cnt2024 = (jinaContent.match(/\\b2024\\b/g)||[]).length;\n          const cnt2025 = (jinaContent.match(/\\b2025\\b/g)||[]).length;\n          const cnt2026 = (jinaContent.match(/\\b2026\\b/g)||[]).length;\n          if (cnt2024 >= 5 && cnt2026 === 0 && cnt2025 === 0) {\n            console.log('[SKIP:YEAR-COUNT] ' + title + ' → 2024x' + cnt2024);\n            shouldSkip = true;\n            jinaContent = '';\n          }\n        }\n      }\n\n    } catch(e) {\n      console.log('[JINA-ERR] ' + url + ': ' + e.message);\n      jinaContent = ''; // Jina失敗 → RSS summaryにフォールバック\n    }\n  }\n\n  if (shouldSkip) continue;\n\n  // Jina本文が有用であればそれを使用、そうでなければRSS summary\n  // リライトAgentはこのsummaryを元に日本語記事を生成する\n  const usefulJina = jinaContent.length > 200 && !isConsentOrPaywallPage(jinaContent);\n  const finalSummary = (usefulJina ? jinaContent : rssSummary || '').slice(0, 4000);\n\n  results.push({ json: {\n    title:        title        || '',\n    url:          url          || '',\n    source_media: source_media || '',\n    pubDate:      pubDate      || '',\n    summary:      finalSummary\n  }});\n}\n\nif (results.length === 0) {\n  throw new Error('全記事が古記事と判定されスキップされました。RSSフィードを確認してください。');\n}\n\nreturn results;","mode":"runOnceForAllItems"}},{"id":"perplexity-parse-001","name":"Vertex AI結果整形Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[972,304],"parameters":{"jsCode":"// パススルー（Jina取得＋日付検証Codeが整形済みデータを返す）\nreturn $input.all();"}},{"id":"rss-shuffle-code","name":"RSSシャッフル取得Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,304],"parameters":{"jsCode":"// ================================================================\n// RSSシャッフル取得Code\n// 20メディアから毎回ランダムに英語5本＋日本語2本を選んで取得\n// ================================================================\n\nconst ALL_FEEDS = {\n  english: [\n    { name: \"TechCrunch AI\",   url: \"https://techcrunch.com/category/artificial-intelligence/feed/\" },\n    { name: \"Wired AI\",        url: \"https://wired.com/feed/tag/ai/latest/rss\" },\n    { name: \"Google News AI\",  url: \"https://news.google.com/rss/search?q=AI+artificial+intelligence&hl=en-US&gl=US&ceid=US:en&when:2d\" },\n    { name: \"The Verge AI\",    url: \"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml\" },\n    { name: \"VentureBeat AI\",  url: \"https://venturebeat.com/category/ai/feed/\" },\n    { name: \"MIT Tech Review\", url: \"https://www.technologyreview.com/feed/\" },\n    { name: \"The Rundown AI\",  url: \"https://rss.beehiiv.com/feeds/2R3C6Bt5wj.xml\" },\n    { name: \"OpenAI Blog\",     url: \"https://openai.com/news/rss.xml\" },\n    { name: \"Google DeepMind\", url: \"https://deepmind.google/blog/rss.xml\" },\n    { name: \"Ben's Bites\",     url: \"https://bensbites.substack.com/feed\" },\n    { name: \"Towards AI\",      url: \"https://pub.towardsai.net/feed\" },\n    { name: \"Synced Review\",   url: \"https://syncedreview.com/feed\" },\n    { name: \"Gizmodo AI\",      url: \"https://gizmodo.com/tech/artificial-intelligence/rss\" },\n    { name: \"ZDNet AI\",        url: \"https://www.zdnet.com/topic/artificial-intelligence/rss.xml\" },\n    { name: \"Ars Technica\",    url: \"https://feeds.arstechnica.com/arstechnica/technology-lab\" },\n    { name: \"BBC Tech\",        url: \"https://feeds.bbci.co.uk/news/technology/rss.xml\" },\n    { name: \"Reuters Tech\",     url: \"https://feeds.reuters.com/reuters/technologyNews\" },\n    { name: \"Bloomberg Tech\",   url: \"https://feeds.bloomberg.com/technology/news.rss\" },\n    { name: \"Guardian Tech\",    url: \"https://www.theguardian.com/us/technology/rss\" },\n    { name: \"Axios AI\",         url: \"https://api.axios.com/feed/?terms=artificial+intelligence\" },\n    { name: \"Scientific Am.\",   url: \"https://www.scientificamerican.com/feed/thescientist-news/\" },\n    { name: \"IEEE Spectrum\",    url: \"https://spectrum.ieee.org/feeds/feed.rss\" },\n    { name: \"AI Business\",      url: \"https://aibusiness.com/rss.xml\" },\n  ],\n  japanese: [\n    { name: \"ITmedia AI+\",    url: \"https://rss.itmedia.co.jp/rss/2.0/aiplus.xml\" },\n    { name: \"NHK Tech\",       url: \"https://www3.nhk.or.jp/rss/news/cat3.xml\" },\n    { name: \"Yahoo Japan IT\", url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" },\n    { name: \"Nikkei XTECH\",   url: \"https://xtech.nikkei.com/rss/xtech-it.rdf\" },\n  ]\n};\n\n// Fisher-Yatesシャッフル\nfunction shuffle(arr) {\n  const a = [...arr];\n  for (let i = a.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [a[i], a[j]] = [a[j], a[i]];\n  }\n  return a;\n}\n\n// 今回使うフィード：英語5本＋日本語2本\nconst selectedFeeds = [\n  ...shuffle(ALL_FEEDS.english).slice(0, 7),\n  ...shuffle(ALL_FEEDS.japanese).slice(0, 3)\n];\n\n// XML簡易パーサー\nfunction extractText(block, tags) {\n  for (const tag of tags) {\n    const m = block.match(new RegExp(`<${tag}[^>]*>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\\\/${tag}>`, 'i'));\n    if (m && m[1]) return m[1].trim();\n    // Atom link: <link href=\"...\"/>\n    if (tag === 'link') {\n      const lm = block.match(/<link[^>]+href=\"([^\"]+)\"/i);\n      if (lm) return lm[1].trim();\n    }\n  }\n  return '';\n}\n\nasync function fetchAndParse(feed) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; RSS Reader)' },\n      returnFullResponse: false\n    });\n    const text = typeof resp === 'string' ? resp : '';\n    if (!text) return [];\n\n    const items = [];\n    const blockRe = /<item[^>]*>([\\s\\S]*?)<\\/item>|<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let m;\n    while ((m = blockRe.exec(text)) !== null && items.length < 20) {\n      const block = m[1] || m[2] || '';\n      const title   = extractText(block, ['title']);\n      const link    = extractText(block, ['link', 'guid']);\n      const pubDate = extractText(block, ['pubDate', 'published', 'updated', 'dc:date']);\n      const summary = extractText(block, ['description', 'summary', 'content:encoded', 'content'])\n                        .replace(/<[^>]+>/g, '').substring(0, 400);\n      if (title && link) {\n        items.push({ title, link, pubDate, contentSnippet: summary, source: feed.name });\n      }\n    }\n    return items;\n  } catch(e) {\n    console.log(`Feed error [${feed.name}]: ${e.message}`);\n    return [];\n  }\n}\n\n// 順次取得\nconst allItems = [];\nfor (const feed of selectedFeeds) {\n  const items = await fetchAndParse(feed);\n  allItems.push(...items);\n}\n\nconst feedNames = selectedFeeds.map(f => f.name).join(' / ');\nconsole.log(`[RSSシャッフル] 選択: ${feedNames}`);\nconsole.log(`[RSSシャッフル] 合計: ${allItems.length}件`);\n\n// RSS統合コードが$input.all()で受け取れる形式で返す\nreturn allItems.map(item => ({ json: item }));\n","mode":"runOnceForAllItems"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"RSSシャッフル取得Code","type":"main","index":0}]]},"Webhook Test Trigger":{"main":[[{"node":"RSSシャッフル取得Code","type":"main","index":0}]]},"RSS統合＋日付フィルターCode":{"main":[[{"node":"情報選別Agent","type":"main","index":0}]]},"情報選別Agent":{"main":[[{"node":"件数チェックCode","type":"main","index":0}]]},"件数チェックCode":{"main":[[{"node":"Vertex AI Groundingフェッチ","type":"main","index":0}]]},"Gemini Model（リライト用）":{"main":[]},"リライトAgent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"記事本文組立Code","type":"main","index":0}]]},"記事本文組立Code":{"main":[[{"node":"リード＋総括 LLM Chain","type":"main","index":0}]]},"リード＋総括 LLM Chain":{"main":[[{"node":"タイトル生成 LLM Chain","type":"main","index":0}]]},"最終組立Code":{"main":[[{"node":"画像プロンプト生成Code","type":"main","index":0}]]},"タイトル生成 LLM Chain":{"main":[[{"node":"最終組立Code","type":"main","index":0}]]},"画像プロンプト生成Code":{"main":[[{"node":"API冷却Wait","type":"main","index":0}]]},"API冷却Wait":{"main":[[{"node":"Vertex AI Imagen","type":"main","index":0}]]},"Cloudinary upload":{"main":[[{"node":"画像URL集約Code","type":"main","index":0}]]},"画像URL集約Code":{"main":[[{"node":"画像挿入Code","type":"main","index":0}]]},"画像挿入Code":{"main":[[{"node":"GitHub MDX作成Code","type":"main","index":0}]]},"GitHub MDX作成Code":{"main":[[{"node":"GitHub書き込みHTTP","type":"main","index":0},{"node":"Notion DB保存","type":"main","index":0}]]},"GitHub書き込みHTTP":{"main":[[{"node":"blog-posts-data.json取得","type":"main","index":0},{"node":"完了通知HTTP","type":"main","index":0}]]},"blog-posts-data.json取得":{"main":[[{"node":"blog-posts-data.json更新Code","type":"main","index":0}]]},"blog-posts-data.json更新Code":{"main":[[{"node":"blog-posts-data.json書込HTTP","type":"main","index":0}]]},"Notion DB保存":{"main":[[{"node":"X投稿ExecuteWorkflow","type":"main","index":0}]]},"Vertex AI Groundingフェッチ":{"main":[[{"node":"Vertex AI結果整形Code","type":"main","index":0}]]},"Vertex AI結果整形Code":{"main":[[{"node":"リライトAgent","type":"main","index":0}]]},"RSSシャッフル取得Code":{"main":[[{"node":"RSS統合＋日付フィルターCode","type":"main","index":0}]]},"Vertex AI Imagen":{"main":[[{"node":"Cloudinary upload","type":"main","index":0}]]}},"authors":"Takafumi Suzuki","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-27T21:03:37.223Z","id":1089,"workflowId":"x43i3Lzy0D46EDcS","versionId":"4914d756-5092-4ec6-9c31-74408618c5ce","event":"activated","userId":"90b8d3fb-7c7f-4da4-b43b-3bda66ab48b3"}]}}