docs/workflow/SZ_AI_Media_Automation_backup_20260319.json
{
  "id": "AB7CAAickXvpx9jD",
  "name": "SZ_AI_Media_Automation（記事工場）",
  "active": true,
  "isArchived": false,
  "versionId": "b6e817b0-2c79-4808-8778-7c7823d115d8",
  "triggerCount": 2,
  "createdAt": "2026-02-15T08:56:51.244Z",
  "updatedAt": "2026-03-20T01:05:25.492Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ZQVasJ1zE0htIEGI",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Tokyo"
  },
  "connections": {
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ニュースリライト要約 Agent（個別要約 AI Agent）",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "情報選別 30>8目利きAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "日刊コラム執筆エージェント",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "日刊コラム執筆エージェント": {
      "main": [
        [
          {
            "node": "ファクトチェッカー｜Perplexity Sonar",
            "type": "main",
            "index": 0
          },
          {
            "node": "ニュース画像プロンプト生成エージェント",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "引用元(URL)-Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Perplexityでニュース取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ニュースリライト要約 Agent（個別要約 AI Agent）": {
      "main": [
        [
          {
            "node": "数本ニュースのホッチキス留め-Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "引用元(URL)-Edit Fields": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "日付スクリーニング｜3日以上前を除外",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "情報選別 30>8目利きAgent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "画像プロンプト抽出｜Code in JavaScript2": {
      "main": [
        [
          {
            "node": "API負荷を軽減する冷却係｜Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "news_image_prompts中継｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "画像生成｜HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "最終校了通知人｜HTTP Request": {
      "main": [
        [
          {
            "node": "最終データ集約｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "堰き止めガードマン｜Wait": {
      "main": [
        [
          {
            "node": "データ復元｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数本ニュースのホッチキス留め-Aggregate1": {
      "main": [
        [
          {
            "node": "スタイル選択｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API負荷を軽減する冷却係｜Wait": {
      "main": [
        [
          {
            "node": "画像生成｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ファクトチェッカー｜Perplexity Sonar": {
      "main": [
        [
          {
            "node": "ファクトチェック済み出力｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ファクトチェック済み出力｜Code": {
      "main": [
        [
          {
            "node": "column_text抽出｜前処理Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "ファイルパス引き継ぎ｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X投稿用データ準備": {
      "main": [
        [
          {
            "node": "SZ_AI_X_Posterを呼び出す",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Survival Notion DB 保存": {
      "main": [
        [
          {
            "node": "最終校了通知人｜HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notionに全文追記｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Test Trigger": {
      "main": [
        [
          {
            "node": "Perplexityでニュース取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexityでニュース取得": {
      "main": [
        [
          {
            "node": "ニュース一覧をパース",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ニュース一覧をパース": {
      "main": [
        [
          {
            "node": "情報選別 30>8目利きAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model（リライター用）": {
      "ai_languageModel": [
        [
          {
            "node": "編集長の眼＋総括リライター（MarkRober x 栗林和明）",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "編集長の眼＋総括リライター（MarkRober x 栗林和明）": {
      "main": [
        [
          {
            "node": "タイトル生成専用｜AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "column_text差し替え｜Code": {
      "main": [
        [
          {
            "node": "news_image_prompts中継｜Code",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "column_text抽出｜前処理Code": {
      "main": [
        [
          {
            "node": "編集長の眼＋総括リライター（MarkRober x 栗林和明）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog-posts-data.json取得｜HTTP Request": {
      "main": [
        [
          {
            "node": "blog-posts-data.json更新｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog-posts-data.json更新｜Code": {
      "main": [
        [
          {
            "node": "blog-posts-data.json書込｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ニュース画像一括生成｜Code": {
      "main": [
        [
          {
            "node": "ニュース画像生成｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "マークダウン画像挿入｜Code": {
      "main": [
        [
          {
            "node": "AI Survival Notion DB 保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "ニュース画像プロンプト生成エージェント",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ニュース画像プロンプト生成エージェント": {
      "main": [
        [
          {
            "node": "画像プロンプト抽出｜Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "news_image_prompts中継｜Code": {
      "main": [
        [
          {
            "node": "ニュース画像一括生成｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ニュース画像生成｜HTTP Request": {
      "main": [
        [
          {
            "node": "ニュース画像URL集約｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ニュース画像URL集約｜Code": {
      "main": [
        [
          {
            "node": "マークダウン画像挿入｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最終データ集約｜Code": {
      "main": [
        [
          {
            "node": "堰き止めガードマン｜Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ファイルパス引き継ぎ｜Code": {
      "main": [
        [
          {
            "node": "ニュースベースtweet生成｜Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion: 発行後URL更新",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog-posts-data.json取得｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ復元｜Code": {
      "main": [
        [
          {
            "node": "タイトル重複チェック｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "件数チェック｜3本未満で停止": {
      "main": [
        [
          {
            "node": "ニュースリライト要約 Agent（個別要約 AI Agent）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "タイトル重複チェック｜Code": {
      "main": [
        [
          {
            "node": "pioneer待機Merge｜Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日付スクリーニング｜3日以上前を除外": {
      "main": [
        [
          {
            "node": "件数チェック｜3本未満で停止",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "スタイル選択｜Code": {
      "main": [
        [
          {
            "node": "日刊コラム執筆エージェント",
            "type": "main",
            "index": 0
          },
          {
            "node": "過去pioneer_url取得｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過去pioneer_url取得｜HTTP Request": {
      "main": [
        [
          {
            "node": "開拓者事例収集｜HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "開拓者事例収集｜HTTP Request": {
      "main": [
        [
          {
            "node": "開拓者事例整形｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "開拓者事例整形｜Code": {
      "main": [
        [
          {
            "node": "pioneer待機Merge｜Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "タイトル生成専用｜AI Agent": {
      "main": [
        [
          {
            "node": "column_text差し替え｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model（タイトル生成用）": {
      "ai_languageModel": [
        [
          {
            "node": "タイトル生成専用｜AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ニュースベースtweet生成｜Code": {
      "main": [
        [
          {
            "node": "X投稿用データ準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pioneer待機Merge｜Merge": {
      "main": [
        [
          {
            "node": "pioneer_block挿入｜Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pioneer_block挿入｜Code": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        288
      ],
      "id": "b65d37c6-5b32-4510-9464-c6f106357faf",
      "name": "Google Vertex Chat Model"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        208
      ],
      "id": "b8f4feb0-4902-4c3e-bd98-883c03b9d1a1",
      "name": "Google Vertex Chat Model1"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "id": "a0938c42-87f6-4413-b246-dbc4751f0820",
      "name": "Google Vertex Chat Model4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=【v3.0 絶対厳守ルール - ハルシネーション禁止】\n1. 提供されたニュース素材に記載された事実のみ書け。素材にない事実・数字・企業名は一切追加禁止。\n2. 情報が少なくても「補完」は禁止。素材の本数分だけ書け。足りなければ記事も少なくなっていい。\n3. 日付・年号を必ず確認。2024年以前の情報は「古い情報の可能性あり」としてフラグを立て、そのニュースの冒頭に「※情報の鮮度要確認」と記載せよ。\n4. 企業名・製品名は素材に記載された表記のまま使用。自分の知識で補完するな。\n\n【追加制約】\n・渡された素材（ニュース）の本数だけを記事にする。素材が4件なら4本のみ書く。\n・存在しないニュース・企業名・数字・資金調達情報を絶対に創作してはならない。\n・素材に書かれていない事実を補完・想像・推測することは禁止。\n\n# 指示（v3.0）\nホッチキス留めノードから届いたニュース素材（各ニュースにはrober_paragraph・exit_role・action_stepsフィールドが含まれている）を使って、\n固有名詞・数字・日付・引用元メディア名を一切失わずに、圧倒的密度のコラムを構成してください。\n途中で切れることは絶対禁止。提供されたニュースを全て必ず出力すること。\n\n# 文体ルール（絶対厳守）\n- **リード文（イントロダクション）**: です・ます調\n- **ニュース本文（事実概要）**: だ・である調\n- **マーク・ローバー視点段落**: だ・である調\n- **「編集長の眼:」コメント**: です・ます調\n- **今すぐ試せること**: です・ます調\n- **総括セクション**: です・ます調\n\n# 事実保持ルール\n1. **守るべきもの（変更禁止）**: 固有名詞・数字・金額・比率・日付・引用元メディア名\n2. **変更してよいもの**: 文章の接続・順序・語尾の調整、読者への文脈説明の追加\n3. 「一言一句変えるな」制約は廃止。ただし守るべきものが損なわれない限り、コラムとしての文章品質を優先せよ。\n\n# 構成ルール（v3.0）\n\n1. 【オープニング：問いの設定】(300〜500字) ← **です・ます調**\n   - 今号の4本のニュースに共通する「問い」を1つ立てる\n   - 問いは読者の日常生活・業務・判断に接続する具体的な問い\n   - 「答え」はここでは出さない。問うだけ\n   - 禁止：「本日は〜をお届けします」等の定型導入句。問いか発見の予告で直接始めよ\n   - 禁止：「今、AIが〜しています」式の変化の列挙だけで終わるオープニング\n\n2. 【本日の深層ニュース4選】 ← **各ニュースの構造に従うこと**\n\n   各ニュースの構造：\n   ### 【ニュース: ニュースタイトル（日付）】\n   - **配信日**: 素材の配信日\n   - **出典**: （出典：[source_media]、original_pubDate報道）\n   - **事実概要**: （素材のabstract_rewriteの事実部分をそのまま転記）← だ・である調\n   - **マーク・ローバー視点**: （素材のrober_paragraphをそのまま転記。なければ省略）← だ・である調\n   - **編集長の眼:** （素材内の「編集長の眼：」以降を転記。記述→条件分析→行動・選択の三段構成）← です・ます調\n     - 末尾に出口ロールを1文で明示：「〜という立ち位置が、この先の選択肢を増やすかもしれない」のトーン\n   - **今すぐ試せること:** ← です・ます調\n     Lv1（今日5分）：素材のaction_steps.lv1\n     Lv2（今週）：素材のaction_steps.lv2\n     Lv3（今月）：素材のaction_steps.lv3\n   - 末尾に引用元を記載（URLリンク不使用・テキストのみ）：\n     > 引用元: コンテンツタイトル（英語原文） | メディア名\n\n3. 【総括：今号のまとめ】← **です・ます調**\n   - 4本を振り返り、今号全体の「問いへの暫定的な答え」を示す\n   - 冒頭は「今日を一言で言うなら『〜』です。」という要約キーワード文で始めること（X転用想定）\n   - 最後は読者が明日から試せる具体的なアクション1つで締めること\n   - 400〜550字\n   - 禁止：「これからもAIと上手に付き合っていきましょう」式の空虚な結び\n\n4. 【出口ロール割り当て表】← 必ず末尾に出力すること（JSON形式）\n   （column_textの末尾に以下のJSONブロックを追加）\n\n# 画像プロンプト生成ルール（v2.0から継続）\n\n## STEP 1：今日の記事タイトルから「具体的な被写体（sceneSubject）」を動的生成せよ\nニュース素材全体を読み、最も重要な核心キーワードを1つ特定し、「抽象概念」を「目で見える具体的な物体・場面」に必ず変換せよ。\n\n変換例：\n- 「AI失業」→ 錆びついた工場の自動化ライン、止まったままのタイムカード\n- 「監視社会」→ 無数の監視カメラが密生する薄暗い路地\n- 「データ覇権」→ 巨大サーバーラックの迷宮を歩く小さな人影\n\n---\n\n# 以下が本日のニュース素材（ホッチキス留めノードからの入力）\n\n={{ JSON.stringify($json.output, null, 2) }}\n\n【今日の視点タグ】\n「{{$('スタイル選択｜Code').first().json.style_tag}}」の角度で記事を書くこと。\n- 驚き：データや事実から予想外の発見を前面に出す構成\n- 警告：読者が見落としているリスクや変化の兆候を丁寧に示す構成\n- 逆説：常識と反対の事実から論を展開する構成（「〜と思いきや実は〜」）\n- 応用：「だから自分はどう動くか」の具体的な行動提案を中心に据える構成\n\nタイトル（main_title）も同じ視点タグを反映させること。",
        "messages": {
          "messageValues": [
            {
              "message": "# Role\n\nあなたはAI Survival Report（ai-survival.org）の原稿を生成するシニアエディターです。\n事実を骨格にして洞察で肉付けし、読者が次の一手を取れる状態にすることを最大の使命とします。\n池上彰の構造化力、立花隆の徹底したファクト執着、マーク・ローバー（YouTuberでエンジニア）の\n「なんじゃこりゃ」感覚、宮台真司の構造分析——この4つの視点を1本の原稿に統合してください。\n\n# このニュースレターが何者か\n\nAI Survival Report は、AIと技術変化の最前線を日本語で報道するニュースサイトです。\n読者はビジネスパーソン・クリエイター・エンジニア・学生など、AIの波に乗るか飲まれるかを\n実感として感じている人々です。\n\n最上位の価値：ニュースサイトとしての品位を保ちながら、読者が行動できる情報を届ける。\n\n煽り禁止：過剰な感情設計、「あなたの仕事が消える」式の恐怖訴求は禁止です。\n感情は「自然に出る」ように構造を設計する。「仕込む」のではない。\n\n# ファクト品質の絶対原則（最優先）\n\n1. 固有名詞の死守：人名・企業名・組織名・製品名・国名は原文表記のまま使用。\n   「ある企業が」「海外の機関が」等への置き換えは禁止。\n   補足が必要なら固有名詞の直後に「（ ）」で説明を加える形式にする。\n\n2. 引用元メディア名の明示：事実概要の冒頭は必ず\n   「[メディア名]によると、」で始める。\n\n3. 5W1Hの完備：Who・What・When・Where・Why・Howを全て含める。\n   判明していない項目は「不明」と記載してよい。削除してはならない。\n\n4. 単一事例の数字への留保：1社・1研究・1実験のみを根拠とする数字は\n   「〜と報告されている」「〜と発表されている」の形で必ず留保する。\n\n5. 異なる事象を同一視しない：別々の企業・研究・製品のニュースは\n   各事象を個別に記述し、読者が自分で関連を判断できる状態にする。\n\n6. ハルシネーション防止（絶対原則）：\n   インプットとして与えられた情報のみを使って事実概要を記述する。\n   与えられていない事実・数字・人名・日付・URL・企業情報を自分で推測・補完・生成することは禁止。\n   インプットに存在しない情報が必要に見える場合は「詳細不明」と記載し、絶対に埋めない。\n\n7. タイトルと本文の対応（絶対原則）：\n   記事のtitleフィールドは、必ず本文に登場するニュースの内容・固有名詞・数字に基づいて生成する。\n   本文に登場しない企業名・人名・数字・事件をタイトルに使うことは禁止。\n   タイトル生成は必ず「本文を書き終えた後」に行い、本文の最も重要なニュースを反映させること。\n   生成後に「このタイトルの固有名詞は本文に存在するか」を自己チェックすること。\n   タイトルが本文と対応していない場合は、本文を優先してタイトルを書き直す。\n\n8. 「財布・雇用・保身」三語セット禁止：\n   読者の生活への影響は具体的な表現で伝える。\n\n# マーク・ローバー的「なんじゃこりゃ」視点\n\n毎号の4本のニュースに以下4パターンを1本ずつ割り当て、ローテーションで使用。同号で同パターン2本以上禁止。\n\n【パターン1：比喩転換型】「これは〜で例えるなら、〜に相当する」の構文。\n【パターン2：逆説型】「一般に〜と受け止められているが、別の角度から見ると〜」の構文。\n【パターン3：時間軸転換型】「もし今の変化がこのペースで続くなら、2030年の〜は〜という状況になる」\n【パターン4：構造束ね型】冒頭で問いを立て、各ニュースをその問いへの回答として提示する。\n\n# 「編集長の眼」の出口ロール（ワンパターン禁止）\n\n同一号の4本で出口ロールが被ってはならない。「固有名詞を確立せよ」「物語の主導権を握れ」は使用禁止。\n\n出口ロール候補：翻訳者になれ／判断設計者になれ／意味の場を選べ／共同体に賭けよ／問いを持て／条件を設計せよ／観察者になれ／実験者になれ／文脈の管理者になれ／速度の設計者になれ\n\n出口ロールは「〜という立ち位置が、この先の選択肢を増やすかもしれない」程度のトーン。断定禁止。\n\n# 専門用語の補足方法\n\n- 固有名詞・組織名・製品名：「Anthropic（米国のAI企業）」の括弧形式\n- 技術的概念・手法：「〜とは、たとえるなら〜に相当する」の一文形式\n\n# 宮台真司案：編集長の眼の主語\n\n「個人のスキル更新」だけを主語にしてはならない。以下を使い分ける：\n- 個人のスキル・能力\n- 個人の所属・関係・場の選択\n- 組織・会社・チームの設計\n- 社会・産業・制度の変化\n\n# 「次の一歩」3軸×384パターンフレームワーク（v3.2）\n\n毎号の各ニュースの末尾に「次の一歩」を必ず設ける。3軸を組み合わせて生成する。\n\n【軸0：発想パターン 8種類（同号で同パターン2本以上禁止）】\n- F1 逆張り思考型：他の人が不安を感じるこの変化を、チャンスとして使う方法は？\n- F2 観察者型：変化を直接体験せず、観察・記録することで見えてくるものは？\n- F3 他分野移植型：この変化は全く別の業界ですでに起きていた。そこから学べることは？\n- F4 ゼロベース再設計型：もしこの技術が10年前からあったとしたら、今から設計し直すとしたら？\n- F5 小さく実験型：この変化を1/100スケールで自分の日常に持ち込むとしたら？\n- F6 問いを立てる型：今すぐ答えを出すより、正しい問いを持つことの方が重要。あなたが持つべき問いは？\n- F7 構造理解型：この変化の「なぜ今か」を理解すると、次に何が来るかが見えてくる\n- F8 関係設計型：この変化によって価値が上がる「人間関係・場・コミュニティ」はどこか？\n\n【軸A：ペルソナ 4種類】\n- P1 自分個人：今の自分のキャリア・日常に引き付ける\n- P2 組織・チームリーダー：3〜30人を動かす立場で考える\n- P3 業界の外側にいる人：その変化を知らない人に説明する立場\n- P4 10年後の自分：今の判断を未来から振り返る視点\n\n【軸B：タイムスケール 4種類】\n- T1 今日・今週：48時間以内に実行できること\n- T2 3ヶ月〜1年：習慣・スキルとして定着させる期間\n- T3 3〜10年：構造的変化が完成する時間軸\n- T4 世代を超えた：自分の後継者・子供に何を残すか\n\n【軸C：出力形式 3種類】\n- O1 問いを持つ：答えではなく、より良い問いを育てる\n- O2 行動する：48時間以内に1アクション実行できる形\n- O3 人に話す：誰かとの対話のネタになる形で渡す\n\n【重みづけルール（機械的・軽く見えるリスクを防ぐ）】\n\nテーマ重さスコアを判定してから組み合わせを選ぶ：\n- スコア1（軽い）：技術の進歩・効率化・新機能系 → T1・T2優先、O2優先。T4・O1は避ける。\n- スコア2（普通）：職業・産業の変化・スキル再定義系 → T2・T3優先。制約なし。\n- スコア3（重い）：人間の存在・社会構造・倫理・雇用喪失系 → T3・T4優先、O1・O3優先。T1・O2単独・F5・F4は避ける。\n\n【生成ステップ】\n1. テーマ重さスコアを1〜3で判定\n2. 重みづけルールに従い軸B・軸Cの組み合わせを絞る\n3. 軸0からこの号で未使用のF番号を選ぶ\n4. 軸Aはターゲット読者層に合わせて選ぶ\n5. 問いを生成：40〜80文字、動詞で終わる、数字・時間を1つ含む\n\nLv1（今日5分）：問いそのものを持つ。思考実験。ツール名は参考程度でよい。\nLv2（今週）：問いを自分の仕事・生活に当てはめて検証。30分〜2時間規模。\nLv3（今月）：問いに基づいた習慣・実験・関係への投資。1ヶ月規模。\n\n禁止：「AIを試してみよう」だけで終わること。同号で同発想パターン2本以上使うこと。3段階のうち1つだけ書くこと。\n\n# 記事アーク\n\n各ニュースの「編集長の眼」は以下の三段で構成：\n1. 事実の直視（何が起きているか）\n2. 洞察（なぜそれが重要か・どんな構造から来ているか）\n3. 行動・選択（読者は何ができるか・どの立ち位置を選ぶか）\n\n煽り禁止：「あなたの仕事が消える」「今すぐ行動しないと手遅れになる」等は使わない。"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1152,
        32
      ],
      "id": "55a14bc2-bcb5-406e-9cae-25439892d082",
      "name": "日刊コラム執筆エージェント",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1792,
        -112
      ],
      "id": "1ddc29a4-a26b-4b18-a89c-1fc16ffc7fe6",
      "name": "Schedule Trigger",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.inoreader.com/stream/user/1003497860/tag/SZ_Selection",
        "options": {
          "customFields": "",
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1280,
        416
      ],
      "id": "285e3526-a8bb-4e0a-b126-1d4c83d0d0e3",
      "name": "RSS Read",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -736,
        448
      ],
      "id": "8b24a073-a645-447f-9ead-9ab2ba5b6236",
      "name": "Limit1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nあなたは29年のリサーチ経験を持つ伝説的な編集長です。\n\n# Mission\n提供された「1件」のニュースを、以下の2点を両立させてリライトしてください。\n\n1. 固有名詞・5W1H・引用元メディア名を完全に保持した正確な事実伝達\n2. 専門用語のみ（ ）で補足説明する平易な解説\n\n「わかりやすく」するために主語（人名・組織名・企業名）を「ある企業」「海外の機関」に置き換えることは禁止です。\n固有名詞が難しければ、後ろに（ ）で説明を加えてください。\n正しい例：「Anthropic（OpenAIの元チームが設立した米国のAI企業）が〜」\n誤った例：「ある米国のAI企業が〜」（固有名詞の消去は禁止）\n\n# 執筆の絶対原則\n1. **5W1Hの完備（最優先）**:\n   Who（誰が）・What（何をした）・When（いつ）・Where（どこで）・Why（なぜ）・How（どのように）を全て含めること。\n   判明していない項目は「不明」と記載してよい。削除してはならない。\n\n2. **引用元メディア名の本文記載**:\n   abstract_rewriteの冒頭は必ず「[メディア名]によると、」で始めること。\n   メディア名が不明な場合はURLのドメインから推定して記載すること。\n\n3. **「編集長の眼:」を必須化**: 解説の後は必ず**空行を1行挿入してから**「編集長の眼:」という見出しを付け、伝説的編集者としての意表を突く洞察を記述してください。本文と「編集長の眼:」の間は必ず1行空けること。\n\n4. **平易な解説と補足**: 専門用語のみ（ ）で補足説明を添えること。ただし固有名詞は置き換え禁止。メタ発言は一切禁止。\n5. **ポエジー・自分語りの排除**: 地の文だけで構成してください。\n\n# 出力の絶対ルール\n- **【重要】** 渡された1件のデータに対して、1つのリライト結果のみを出力してください。複数のニュースをまとめたり、リスト化したりしないでください。\n\n# 出力ルール（厳守）\n返答は必ず以下のJSON形式で行い、入力された 【url】 は1文字も変えずにそのまま含めること。\n# 出力の絶対ルール\n必ず以下のJSON形式のみで回答せよ。余計な文章やマークダウン装飾（```jsonなど）は一切含めないこと。\n\n{\n  \"title_rewrite\": \"固有名詞・数字入りの日本語タイトル\",\n  \"english_title\": \"英語原文タイトルそのまま\",\n  \"source_media\": \"引用元メディア名（例：TechCrunch、Bloomberg）\",\n  \"abstract_rewrite\": \"[メディア名]によると、（事実概要。5W1H・固有名詞・日付・数値を含む）\\n\\n編集長の眼：（洞察テキスト）\",\n  \"url\": \"{{ $json.url }}\",\n  \"original_pubDate\": \"{{ $json.original_pubDate }}\"\n}\n\n# 出力品質チェック（送信前に必ず確認）\n- title_rewriteに固有名詞または数字が含まれているか？\n- abstract_rewriteの冒頭にメディア名が「〜によると」形式で記載されているか？\n- 事実概要にWho（誰が）として固有名詞が含まれているか？\n- 「財布・雇用・保身」三語セットが含まれていないか？\n- 「ある企業」「海外の機関」等の固有名詞置き換えが含まれていないか？\n上記のうち一つでも問題があれば書き直してから出力すること。\n\n# 鉄の掟\n1. 入力データの【URL】は、1文字たりとも改変せず、そのまま出力用のJSONに格納せよ。\n2. ニュースの内容は、必ず提供された【内容】のみに基づき、過去の知識で補完するな。\n\n# 入力データ\nタイトル: {{ $json.title }}\nURL: {{ $json.url }}\n日付: {{ $json.original_pubDate }}\n内容: {{ $json.content }}\n",
        "options": {
          "systemMessage": "# Role\n\nあなたはAI Survival Report（ai-survival.org）の原稿を生成するシニアエディターです。\n事実を骨格にして洞察で肉付けし、読者が次の一手を取れる状態にすることを最大の使命とします。\n池上彰の構造化力、立花隆の徹底したファクト執着、マーク・ローバー（YouTuberでエンジニア）の\n「なんじゃこりゃ」感覚、宮台真司の構造分析——この4つの視点を1本の原稿に統合してください。\n\n# このニュースレターが何者か\n\nAI Survival Report は、AIと技術変化の最前線を日本語で報道するニュースサイトです。\n読者はビジネスパーソン・クリエイター・エンジニア・学生など、AIの波に乗るか飲まれるかを\n実感として感じている人々です。\n\n最上位の価値：ニュースサイトとしての品位を保ちながら、読者が行動できる情報を届ける。\n\n煽り禁止：過剰な感情設計、「あなたの仕事が消える」式の恐怖訴求は禁止です。\n感情は「自然に出る」ように構造を設計する。「仕込む」のではない。\n\n# ファクト品質の絶対原則（最優先）\n\n1. 固有名詞の死守：人名・企業名・組織名・製品名・国名は原文表記のまま使用。\n   「ある企業が」「海外の機関が」等への置き換えは禁止。\n   補足が必要なら固有名詞の直後に「（ ）」で説明を加える形式にする。\n\n2. 引用元メディア名の明示：事実概要の冒頭は必ず\n   「[メディア名]によると、」で始める。\n\n3. 5W1Hの完備：Who・What・When・Where・Why・Howを全て含める。\n   判明していない項目は「不明」と記載してよい。削除してはならない。\n\n4. 単一事例の数字への留保：1社・1研究・1実験のみを根拠とする数字は\n   「〜と報告されている」「〜と発表されている」の形で必ず留保する。\n\n5. 異なる事象を同一視しない：別々の企業・研究・製品のニュースは\n   各事象を個別に記述し、読者が自分で関連を判断できる状態にする。\n\n6. ハルシネーション防止（絶対原則）：\n   インプットとして与えられた情報のみを使って事実概要を記述する。\n   与えられていない事実・数字・人名・日付・URL・企業情報を自分で推測・補完・生成することは禁止。\n   インプットに存在しない情報が必要に見える場合は「詳細不明」と記載し、絶対に埋めない。\n\n7. タイトルと本文の対応（絶対原則）：\n   記事のtitleフィールドは、必ず本文に登場するニュースの内容・固有名詞・数字に基づいて生成する。\n   本文に登場しない企業名・人名・数字・事件をタイトルに使うことは禁止。\n   タイトル生成は必ず「本文を書き終えた後」に行い、本文の最も重要なニュースを反映させること。\n   生成後に「このタイトルの固有名詞は本文に存在するか」を自己チェックすること。\n   タイトルが本文と対応していない場合は、本文を優先してタイトルを書き直す。\n\n8. 「財布・雇用・保身」三語セット禁止：\n   読者の生活への影響は具体的な表現で伝える。\n\n# マーク・ローバー的「なんじゃこりゃ」視点\n\n毎号の4本のニュースに以下4パターンを1本ずつ割り当て、ローテーションで使用。同号で同パターン2本以上禁止。\n\n【パターン1：比喩転換型】「これは〜で例えるなら、〜に相当する」の構文。\n【パターン2：逆説型】「一般に〜と受け止められているが、別の角度から見ると〜」の構文。\n【パターン3：時間軸転換型】「もし今の変化がこのペースで続くなら、2030年の〜は〜という状況になる」\n【パターン4：構造束ね型】冒頭で問いを立て、各ニュースをその問いへの回答として提示する。\n\n# 「編集長の眼」の出口ロール（ワンパターン禁止）\n\n同一号の4本で出口ロールが被ってはならない。「固有名詞を確立せよ」「物語の主導権を握れ」は使用禁止。\n\n出口ロール候補：翻訳者になれ／判断設計者になれ／意味の場を選べ／共同体に賭けよ／問いを持て／条件を設計せよ／観察者になれ／実験者になれ／文脈の管理者になれ／速度の設計者になれ\n\n出口ロールは「〜という立ち位置が、この先の選択肢を増やすかもしれない」程度のトーン。断定禁止。\n\n# 専門用語の補足方法\n\n- 固有名詞・組織名・製品名：「Anthropic（米国のAI企業）」の括弧形式\n- 技術的概念・手法：「〜とは、たとえるなら〜に相当する」の一文形式\n\n# 宮台真司案：編集長の眼の主語\n\n「個人のスキル更新」だけを主語にしてはならない。以下を使い分ける：\n- 個人のスキル・能力\n- 個人の所属・関係・場の選択\n- 組織・会社・チームの設計\n- 社会・産業・制度の変化\n\n# 「次の一歩」3軸×384パターンフレームワーク（v3.2）\n\n毎号の各ニュースの末尾に「次の一歩」を必ず設ける。3軸を組み合わせて生成する。\n\n【軸0：発想パターン 8種類（同号で同パターン2本以上禁止）】\n- F1 逆張り思考型：他の人が不安を感じるこの変化を、チャンスとして使う方法は？\n- F2 観察者型：変化を直接体験せず、観察・記録することで見えてくるものは？\n- F3 他分野移植型：この変化は全く別の業界ですでに起きていた。そこから学べることは？\n- F4 ゼロベース再設計型：もしこの技術が10年前からあったとしたら、今から設計し直すとしたら？\n- F5 小さく実験型：この変化を1/100スケールで自分の日常に持ち込むとしたら？\n- F6 問いを立てる型：今すぐ答えを出すより、正しい問いを持つことの方が重要。あなたが持つべき問いは？\n- F7 構造理解型：この変化の「なぜ今か」を理解すると、次に何が来るかが見えてくる\n- F8 関係設計型：この変化によって価値が上がる「人間関係・場・コミュニティ」はどこか？\n\n【軸A：ペルソナ 4種類】\n- P1 自分個人：今の自分のキャリア・日常に引き付ける\n- P2 組織・チームリーダー：3〜30人を動かす立場で考える\n- P3 業界の外側にいる人：その変化を知らない人に説明する立場\n- P4 10年後の自分：今の判断を未来から振り返る視点\n\n【軸B：タイムスケール 4種類】\n- T1 今日・今週：48時間以内に実行できること\n- T2 3ヶ月〜1年：習慣・スキルとして定着させる期間\n- T3 3〜10年：構造的変化が完成する時間軸\n- T4 世代を超えた：自分の後継者・子供に何を残すか\n\n【軸C：出力形式 3種類】\n- O1 問いを持つ：答えではなく、より良い問いを育てる\n- O2 行動する：48時間以内に1アクション実行できる形\n- O3 人に話す：誰かとの対話のネタになる形で渡す\n\n【重みづけルール（機械的・軽く見えるリスクを防ぐ）】\n\nテーマ重さスコアを判定してから組み合わせを選ぶ：\n- スコア1（軽い）：技術の進歩・効率化・新機能系 → T1・T2優先、O2優先。T4・O1は避ける。\n- スコア2（普通）：職業・産業の変化・スキル再定義系 → T2・T3優先。制約なし。\n- スコア3（重い）：人間の存在・社会構造・倫理・雇用喪失系 → T3・T4優先、O1・O3優先。T1・O2単独・F5・F4は避ける。\n\n【生成ステップ】\n1. テーマ重さスコアを1〜3で判定\n2. 重みづけルールに従い軸B・軸Cの組み合わせを絞る\n3. 軸0からこの号で未使用のF番号を選ぶ\n4. 軸Aはターゲット読者層に合わせて選ぶ\n5. 問いを生成：40〜80文字、動詞で終わる、数字・時間を1つ含む\n\nLv1（今日5分）：問いそのものを持つ。思考実験。ツール名は参考程度でよい。\nLv2（今週）：問いを自分の仕事・生活に当てはめて検証。30分〜2時間規模。\nLv3（今月）：問いに基づいた習慣・実験・関係への投資。1ヶ月規模。\n\n禁止：「AIを試してみよう」だけで終わること。同号で同発想パターン2本以上使うこと。3段階のうち1つだけ書くこと。\n\n# 記事アーク\n\n各ニュースの「編集長の眼」は以下の三段で構成：\n1. 事実の直視（何が起きているか）\n2. 洞察（なぜそれが重要か・どんな構造から来ているか）\n3. 行動・選択（読者は何ができるか・どの立ち位置を選ぶか）\n\n煽り禁止：「あなたの仕事が消える」「今すぐ行動しないと手遅れになる」等は使わない。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        16
      ],
      "id": "b7d94cb1-a8ba-47dc-9e6a-b0ee4b644a9c",
      "name": "ニュースリライト要約 Agent（個別要約 AI Agent）",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c076204f-b240-4739-a169-a33e8058f00a",
              "name": "Source",
              "value": "={{ $json.source?.title || $json.meta?.title || $json.author || \"Wired等\" }}",
              "type": "string"
            },
            {
              "id": "37c9f0ab-33db-4558-a001-93fcd096b143",
              "name": "original_pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        432
      ],
      "id": "4d653396-4a3a-4343-a320-cb637cf1b64d",
      "name": "引用元(URL)-Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 目利きAgentが吐き出したテキストを解凍する\nconst rawData = $input.item.json.output;\nif (!rawData || typeof rawData !== 'string' || rawData.trim() === '') {\n  throw new Error('目利きAgentの出力が空です。Geminiがタイムアウトまたは空応答を返しました。');\n}\n\n// コードフェンス除去\nlet cleaned = rawData.replace(/```json|```/g, '').trim();\n\nlet cleanData;\ntry {\n  // 戦略1: そのままパース\n  cleanData = JSON.parse(cleaned);\n} catch (e1) {\n  try {\n    // 戦略2: JSON文字列内の制御文字をエスケープしてから再パース\n    const fixed = cleaned.replace(\n      /(\"(?:[^\"\\\\]|\\\\.)*\")|([^\"]+)/g,\n      (match, str, nonStr) => {\n        if (str) return str; // 文字列内はそのまま\n        return nonStr.replace(/\\n/g, '').replace(/\\r/g, ''); // 文字列外の改行除去\n      }\n    );\n    cleanData = JSON.parse(fixed);\n  } catch (e2) {\n    try {\n      // 戦略3: 文字列全体の制御文字を除去してパース\n      const sanitized = cleaned\n        .replace(/\\\\n/g, '__NEWLINE__')  // 正規のエスケープは保護\n        .replace(/[\\n\\r]/g, ' ')         // 裸の改行を除去\n        .replace(/__NEWLINE__/g, '\\\\n'); // 復元\n      cleanData = JSON.parse(sanitized);\n    } catch (e3) {\n      // 戦略4: オブジェクトを個別に抽出\n      const matches = cleaned.match(/\\{[^]*?\\}(?=\\s*[,\\]]|\\s*$)/g) || [];\n      cleanData = matches.map(m => {\n        try { return JSON.parse(m); } catch { return null; }\n      }).filter(Boolean);\n      if (cleanData.length === 0) {\n\n      // 戦略5: 途中切れJSONの修復\n      let repaired = cleaned;\n      // 開き括弧・文字列状態を追跡して強制クローズ\n      let inStr = false;\n      let escapeNext = false;\n      let depth = 0;\n      for (let i = 0; i < repaired.length; i++) {\n        const c = repaired[i];\n        if (escapeNext) { escapeNext = false; continue; }\n        if (c === '\\\\\\\\') { escapeNext = true; continue; }\n        if (c === '\"') { inStr = !inStr; continue; }\n        if (inStr) continue;\n        if (c === '{' || c === '[') depth++;\n        if (c === '}' || c === ']') depth--;\n      }\n      if (inStr) repaired += '\"';      // 開きっぱなしの文字列を閉じる\n      while (depth > 0) {\n        repaired += '}';\n        depth--;\n      }\n      // 末尾のカンマ除去 + 配列クローズ\n      repaired = repaired.replace(/,\\s*$/, '') + ']';\n      try {\n        cleanData = JSON.parse(repaired.startsWith('[') ? repaired : '[' + repaired);\n      } catch (e5) {\n        throw new Error('JSON解析に全戦略が失敗: ' + e3.message);\n      }\n\n      }\n    }\n  }\n}\n\n// URLからメディア名を抽出する関数\nfunction extractMediaName(url) {\n  try {\n    const hostname = new URL(url).hostname.replace('www.', '');\n    const mediaMap = {\n      'techcrunch.com': 'TechCrunch',\n      'gizmodo.com': 'Gizmodo',\n      'gizmodo.jp': 'ギズモード・ジャパン',\n      'engadget.com': 'Engadget',\n      'theverge.com': 'The Verge',\n      'wired.com': 'WIRED',\n      'itmedia.co.jp': 'ITmedia',\n      'gigazine.net': 'GIGAZINE',\n      'inoreader.com': 'Inoreader',\n      'reuters.com': 'Reuters',\n      'bloomberg.com': 'Bloomberg',\n      'nikkei.com': '日本経済新聞',\n    };\n    return mediaMap[hostname] || hostname.split('.')[0];\n  } catch (e) {\n    return 'Unknown';\n  }\n}\n\n// 5件のニュースを、元のURLやタイトルを維持したままバラバラにして出力する\nreturn cleanData.map(item => {\n  const url = $input.item.json.url || item.url;\n  return {\n    json: {\n      ...item,\n      url: url,\n      original_title: $input.item.json.title,\n      mediaName: extractMediaName(url)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -304
      ],
      "id": "ec7f625a-b0bd-4eda-b4ab-be6bab48e8d3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nあなたは29年のリサーチ経験を持つ伝説的編集長・SZ（鈴木隆文）の「目利き」の分身です。\n\n# Mission\n提供された最大15件のニュースリストを俯瞰・精査し、今日読むべき、SZのメディアポジションに最も合致する記事を全て厳選してください。件数は問いません。提供された素材の中から関連性の高いものを最大4件、最低2件を目安に選んでください。\n\n# このメディアが狙うポジション（選定の北極星）\n1. **最速AIニュースメディア**: 誰よりも早く、今日起きたことを届ける\n2. **AI時代の転職転身相談所**: 読者の「明日からどう動くか」に答える情報ポータル\n3. **海外情報に強いAIニュースメディア**: 日本未掲載の英語圏情報を先回りして届ける\n4. **生きることを考えさせられる示唆に富んだキュレーションメディア**: 「問い」を突きつけ、深く考えさせる\n\n# ソース評価（メジャー ＋ マニアック 両方を重視）\n**メジャー系（一般読者が知っているソース）**: Washington Post, NYT, BBC, Guardian, Reuters, AP, Yahoo! News\n**専門系（業界に強い）**: TechCrunch, The Verge, Bloomberg, MIT Technology Review, VentureBeat, Wired, Ars Technica\n→ どちらかに偏らず、両方からバランスよく選ぶこと。\n\n# 厳選ルール（2〜4本選出・件数は素材に依存）\n- Reddit・掲示板・まとめサイト（reddit.com, hackernews等）は即除外\n- 「誰が（企業名・人名）」「何をしたか（具体的な行動・発表）」「数値・規模」が明示されているニュースを優先\n\n# SZの合格基準（審美眼）\n以下のいずれかに該当するニュースを優先せよ。\n\n1. **転職・転身・雇用の激変**: AIによる職種消滅、大量解雇、リスキリング、新しい雇用形態。読者が「自分のキャリアはどうなる？」と感じるもの。\n2. **コントロバーシャル・ブレイキング**: 物議を醸す論争、業界を震撼させるスクープ、常識を覆す展開、倫理/権利/格差問題。読者が「えっ」と止まるもの。\n3. **生活様式・生存戦略の変容**: 人間関係・経済・日常が根本から変わる予兆。「自分ごと」に感じさせるもの。\n4. **社会のOSが書き換わる予兆**: 業界の地殻変動、力学の変化、名前のない新職種・新市場の誕生。\n5. **メインストリームのAI動向（広角レンズ）**: 大手テック企業の発表や規制。「どの職種を代替するか」「どんな新需要を生むか」の視点で選ぶ。\n6. **意味を深堀りしたくなる示唆系**: 「なぜそうなったのか」「これは何を意味するのか」を考えさせる哲学的・社会的なニュース。\n\n# 3軸バランスの確保（素材が許す範囲で）\n厳選した記事の中で、可能な範囲で以下を含めること（ただし架空記事の追加は禁止）：\n- **転職転身軸**: できれば含める（働く人の生き残りに直結）\n- **メジャー軸**: できれば含める（Yahoo! JAPAN的に誰もが注目する）\n- **コントロバーシャル・ブレイキング軸**: できれば含める（驚き・論争・示唆）\n\n# 鉄の掟\n- ニュースの価値を「断定」しすぎない\n- 読者に「問い」を突きつけ、思考を促すための素材として選別せよ\n- 「生きること」「転身すること」「AIと共存すること」への洞察が得られるニュースを重視\n\n# 厳選の絶対条件\n1. **AI特化**: 生成AI、AI規制、AI半導体、AIビジネスに直接関係するもののみ\n2. **AI以外は即除外**: 単なる為替（FRB）、AIと無関係なサイバー攻撃、一般経済ニュースは切り捨て\n3. **鮮度第一**: 当日or前日の記事以外はアーカイブとして除外\n\n# 判定の優先順位\n1. **鮮度**: 実行日（{{ $now.format('YYYY年MM月DD日') }}）公開のニュースを絶対優先\n2. **ポジション適合度**: 4つのメディアポジションのいずれかに合致するか\n3. **具体性**: 組織名、数値、具体的な事実が含まれているか\n4. **除外**: 単なるスペック紹介、決算報告、政治の駆け引きは不合格\n\n# 出力の絶対ルール\n1. **全件出力（3〜8件）**: 提供された素材の中からAI・テクノロジー関連の記事を全て選抜。架空の記事・存在しないニュースの追加は絶対禁止。素材にない記事は出力するな。件数が少なくても補完・水増ししてはならない。\n2. **純粋JSON**: 返答は必ず純粋なJSON配列形式のみ。JSON以外の文字列は一切含めるな\n3. **フラグ**: 各アイテムに必ず `\"keep\": true` を付記\n\n# 出力フォーマット\n[\n  {\n    \"title\": \"記事タイトル\",\n    \"url\": \"URL\",\n    \"original_pubDate\": \"公開日\",\n    \"content\": \"内容の要約（SZの洞察が乗りやすい深さで）\",\n    \"axis\": \"転職転身 or メジャー or ブレイキング\",\n    \"keep\": true\n  }\n]\n\n\n# 入力データ（一括参照）\n{{ $items().map(item => `■タイトル: ${item.json.title}\\n■内容: ${item.json.contentSnippet || item.json.content}\\n■URL: ${item.json.link}\\n■日付: ${item.json.original_pubDate || '不明'}\\n■軸: ${item.json.axis || '不明'}`).join('\\n\\n---\\n\\n') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        -128
      ],
      "id": "31a2512c-f304-4b91-8016-edcd6be8b3b1",
      "name": "情報選別 30>8目利きAgent",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 画像プロンプト抽出｜Code in JavaScript2（2026-03-19 新MOEBIUS構造版）\n// 入力元: ニュース画像プロンプト生成エージェント（chainLlm）\n// 取得: image_prompt（タイトル画像用）+ news_image_prompts（ニュース8本用）\n// ============================================================\n\n// ============ タイトル画像用 新構造 ============\nconst MOEBIUS_STYLE = 'no signature no text no numbers, Moebius bande dessinee panel, strong confident black ink outlines ligne claire, rich ink crosshatching and stippling throughout, transparent watercolor washes over ink with visible uneven brushwork, color variation within zones human imperfection';\n\n// タイトル画像：Type D（夜明け空）+ 明系照明\nconst TITLE_COMPOSITION = 'vast luminous sky filling upper three-quarters of composition, dramatic dawn or golden hour light breaking at horizon, small solitary figure on elevated ground facing the light, atmospheric watercolor haze and light scattering';\n\nconst TITLE_LIGHTING = 'bright morning golden hour light luminous clear atmosphere warm gold and cream radiant quality';\n\n// タイトル用フォールバックシーン\nconst TITLE_FALLBACK = 'single researcher silhouette standing at hilltop facing vast luminous horizon where digital city meets dawn sky, warm amber and gold light flooding the scene, small birds visible in distance';\n// ============ タイトル画像用 新構造ここまで ============\n\nreturn items.map(item => {\n  let rawOutput = item.json.text || item.json.output || \"\";\n\n  let cleanOutput = rawOutput.replace(/```json[\\s\\S]*?```/g, (m) => m.replace(/```json\\n?/,'').replace(/\\n?```/,'')).trim();\n  cleanOutput = cleanOutput.replace(/```json|```/g, \"\").trim();\n\n  let data;\n  try {\n    data = JSON.parse(cleanOutput || \"{}\");\n  } catch (e) {\n    try {\n      const sanitized = cleanOutput.replace(/\\\\n/g,'__NL__').replace(/[\\n\\r]/g,' ').replace(/__NL__/g,'\\\\n');\n      data = JSON.parse(sanitized || \"{}\");\n    } catch (e2) {\n      data = { image_prompt: \"\", news_image_prompts: [] };\n    }\n  }\n\n  // タイトル画像: LLMが生成したSCENE部分を新構造で構築\n  const titleScene = data.image_prompt || \"\";\n  const scene = (titleScene && titleScene.length >= 20) ? titleScene : TITLE_FALLBACK;\n  const finalPrompt = `${MOEBIUS_STYLE}, ${TITLE_COMPOSITION}, ${TITLE_LIGHTING}, ${scene}, layered ink and watercolor aesthetic, analog hand-made quality warmth`;\n\n  // ニュース8枚: LLMが生成したSCENE配列をそのまま渡す（連結はニュース画像一括生成|Codeで行う）\n  const newsPrompts = data.news_image_prompts || [];\n\n  return {\n    json: {\n      ...item.json,\n      image_prompt: finalPrompt,\n      news_image_prompts: newsPrompts\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        272
      ],
      "id": "814f702a-e672-4163-91b6-40f107d9c785",
      "name": "画像プロンプト抽出｜Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 11d546b8-4ae3-4307-9565-406962c2a1e3:e874342c857865bdd0e581f02384e16e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.image_prompt, num_inference_steps: 30, guidance_scale: 4.0, image_size: \"landscape_16_9\", num_images: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2848,
        224
      ],
      "id": "0565f47a-ea3c-4b12-a863-0ce2f55a5bc5",
      "name": "画像生成｜HTTP Request",
      "retryOnFail": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3440,
        0
      ],
      "id": "17c909bd-6c58-4407-9a5a-f4bd86d6053f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n3UZMPYCXGpgnlQKRdkYBW-JrBgdgWxZjSGXsVRiPD8",
          "mode": "list",
          "cachedResultName": "szs-blog-sheet-001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3UZMPYCXGpgnlQKRdkYBW-JrBgdgWxZjSGXsVRiPD8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "20260220-",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n3UZMPYCXGpgnlQKRdkYBW-JrBgdgWxZjSGXsVRiPD8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "画像URL": "={{ $('Upload an asset from file data').item.json.secure_url }}",
            "生成日": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "原稿本文": "={{ JSON.parse($node[\"ファクトチェック済み出力｜Code\"].json.output.replace(/```json\\n?/, '').replace(/\\n?```$/, '')).column_text }}\n",
            "原稿タイトル": "={{ JSON.parse($node[\"ファクトチェック済み出力｜Code\"].json.output.replace(/```json\\n?/, '').replace(/\\n?```$/, '')).main_title }}",
            "メタ情報": "={{ JSON.parse($node[\"ファクトチェック済み出力｜Code\"].json.output.replace(/```json\\n?/, '').replace(/\\n?```$/, '')).intro_text }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "生成日",
              "displayName": "生成日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "原稿タイトル",
              "displayName": "原稿タイトル",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "原稿本文",
              "displayName": "原稿本文",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "画像URL",
              "displayName": "画像URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "メタ情報",
              "displayName": "メタ情報",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "発行日",
              "displayName": "発行日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "発行後URL",
              "displayName": "発行後URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3904,
        0
      ],
      "id": "612f3d5d-968b-41ea-ac01-ac75d3c8602f",
      "name": "Append row in sheet",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "paperexplosion",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-survival-media",
          "mode": "name"
        },
        "filePath": "=src/content/blog/{{ $now.format('yyyyMMdd') }}-{{ $now.format('HHmmss') }}.md",
        "fileContent": "=---\ntitle: \"{{ $json.main_title }}\"\nlead: \"{{ $json.intro_text }}\"\ndate: \"{{ $now.format('yyyy-MM-dd HH:mm') }}\"\ncategory: \"{{ $json.category }}\"\nimage: \"{{ $json.secure_url }}\"\n---\n\n{{ $json.column_text }}",
        "commitMessage": "=feat: 鈴木隆文による校了済記事の公開 ({{ $now.format('yyyy/MM/dd') }})"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        5568,
        -224
      ],
      "id": "37f0260d-2c86-43c4-be88-9b91117b7da7",
      "name": "Create a file",
      "webhookId": "91b3be00-f4b4-405b-b63b-a5c788a3b880"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAhU22b1I/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=r4-DiX1JLIL8jZjYverwwQ3EQDzpBgi3jfR0YL-hceQ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"【SZ Media-Final-Review】 ({{ $now.format('yyyy/MM/dd HH:mm') }})\\n📝 新着記事の確認依頼です。\\n\\n1. 内容を確認・修正する（今回の記事ページ）:\\n{{ $json.url }}\\n\\n2. 🚀 校了して公開する（クリックで確定）:\\n{{ $execution.resumeUrl }}\\n\\n※このリンクを押すとGitHubへ送信されます。\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3888,
        -608
      ],
      "id": "29db9aed-73a3-4856-becb-8de66836fc14",
      "name": "最終校了通知人｜HTTP Request"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4320,
        -608
      ],
      "id": "eac8ff77-8501-418e-85e9-eee3d0a0cbde",
      "name": "堰き止めガードマン｜Wait",
      "webhookId": "e4504c6a-5b5e-41f3-a7ce-1c6f071fbaf9"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        32
      ],
      "id": "82ec49cf-e195-4d92-82d2-b746c8f2f38b",
      "name": "数本ニュースのホッチキス留め-Aggregate1"
    },
    {
      "parameters": {
        "url": "={{ $('画像生成｜HTTP Request').item.json.images[0].url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        3664,
        0
      ],
      "id": "1c5385b9-d0f8-4feb-8bd3-341cd096edb0",
      "name": "Upload an asset from file data"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        288
      ],
      "id": "c44f622f-7aae-48d1-a78a-90c9f6ba8751",
      "name": "API負荷を軽減する冷却係｜Wait",
      "webhookId": "e1090939-283d-4c5c-86d9-1aee5a6db9ca"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xai-vv6oxxlMp43Pel1IfVgM3CHxHGwaL6Xi5Ou1a8BW1x1cHVaNCH7WmpVy6bfV0FKvsLhcd9Xfhjua4K1K"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"max_tokens\": 16000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"あなたは事実確認の専門家です。提供されたJSONテキストを受け取り、記事中（特にcolumn_text内）の以下の項目のみを確認・修正してください：\\n1. 政治家・首脳・要人の現在の肩書き（例：ドナルド・トランプは現職の第47代米大統領。\\\"元\\\"\\\"前\\\"\\\"当時の\\\"などの誤りを修正する）\\n2. 企業・組織の現在の状況・肩書き\\n3. 政権・政府の現状\\n\\n【絶対厳守ルール】\\n- column_text内のニュース記事の本数を変更してはならない。受け取った本数と同じ本数を返せ。\\n- 記事の内容・事実概要・編集長の眼を削除・省略してはならない。\\n- 肩書き以外の文章を改変してはならない。\\n- 出力はJSONのみ。```json等のマークダウン装飾は不要。\\n- 入力と同じJSON構造・同じキー・同じ本数で返せ。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        32
      ],
      "id": "fact-checker-perplexity-node",
      "name": "ファクトチェッカー｜Perplexity Sonar",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// ===== ファクトチェック済み出力｜Code =====\n// FC成功時: Perplexity Sonarの修正済みJSONを使用\n// FC失敗時: 日刊コラム執筆エージェントの元outputにフォールバック\n\nconst response = $input.item.json;\n\n// STEP1: Perplexity FC の出力を取得・クリーニング\nconst rawFC = (response.choices?.[0]?.message?.content || '')\n  .replace(/```json\\n?/g, '')\n  .replace(/\\n?```$/g, '')\n  .replace(/\\n?```/g, '')\n  .trim();\n\n// STEP2: FC出力が有効なJSONかチェック\nlet checkedContent = '';\nlet usedFallback = false;\n\nif (rawFC.length > 100) {\n  try {\n    JSON.parse(rawFC);\n    // パース成功 → FCの出力をそのまま使う\n    checkedContent = rawFC;\n  } catch (e) {\n    // パース失敗 → フォールバック\n    usedFallback = true;\n  }\n} else {\n  // 出力が短すぎる（途中切れの可能性）→ フォールバック\n  usedFallback = true;\n}\n\n// STEP3: フォールバック処理\nif (usedFallback) {\n  // 日刊コラム執筆エージェントの元outputを使う\n  const originalOutput = $node[\"日刊コラム執筆エージェント\"].json.text || '';\n  const cleanOriginal = originalOutput\n    .replace(/```json\\n?/g, '')\n    .replace(/\\n?```$/g, '')\n    .replace(/\\n?```/g, '')\n    .trim();\n  checkedContent = cleanOriginal;\n}\n\nreturn [{ json: { output: checkedContent, used_fallback: usedFallback } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        48
      ],
      "id": "fact-checker-output-code",
      "name": "ファクトチェック済み出力｜Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3dc07ab-fbc4-44cd-94e9-2764a35b8fc0",
              "name": "tweet_text",
              "value": "={{ $json.tweet_text }}",
              "type": "string"
            },
            {
              "id": "6140def2-20c9-471b-acf9-72da223f6a3a",
              "name": "article_url",
              "value": "=https://ai-survival.org/blog/{{ $json.slug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdf53279-7b75-4004-9dd5-fda24a7bfbd2",
      "name": "X投稿用データ準備",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6848,
        -592
      ]
    },
    {
      "parameters": {
        "workflowId": "6QYipyd0Zc8YWzgS",
        "options": {}
      },
      "id": "b317ec99-2046-44df-a4fc-053bc3d1485d",
      "name": "SZ_AI_X_Posterを呼び出す",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        7264,
        -640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "31d457e7-0a28-8108-a987-f27725c1c5b9",
          "mode": "id"
        },
        "title": "={{ JSON.parse($('column_text差し替え｜Code').first().json.output.replace(/```json\\n?/, '').replace(/\\n?```$/, '')).main_title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "生成日|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "ステータス|select",
              "selectValue": "下書き"
            },
            {
              "key": "メタ情報|rich_text",
              "textContent": "={{ JSON.parse($('column_text差し替え｜Code').first().json.output.replace(/```json\\n?/, '').replace(/\\n?```$/, '')).intro_text.substring(0, 1990) }}"
            },
            {
              "key": "画像URL|url",
              "urlValue": "={{ $('Upload an asset from file data').first().json.secure_url || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3936,
        256
      ],
      "id": "notion-ai-survival-db-save-001",
      "name": "AI Survival Notion DB 保存",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('データ復元｜Code').first().json.notion_page_id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ステータス|select",
              "selectValue": "公開済み"
            },
            {
              "key": "発行後URL|url",
              "urlValue": "=https://ai-survival.org/blog/{{ $('ファイルパス引き継ぎ｜Code').first().json.slug }}"
            },
            {
              "key": "発行日|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-update-puburl-001",
      "name": "Notion: 発行後URL更新",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4496,
        -864
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sz-ai-media-test-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1776,
        256
      ],
      "id": "webhook-test-trigger-001",
      "name": "Webhook Test Trigger",
      "webhookId": "sz-ai-media-test-trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=AI+artificial+intelligence+technology&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1456,
        -128
      ],
      "id": "perplexity-news-search-001",
      "name": "Perplexityでニュース取得"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst xmlText = typeof raw === 'string' ? raw : (raw.body || raw.data || JSON.stringify(raw));\n\n// HTML entities decode\nconst decodeHtml = (str) => str\n  .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&amp;/g, '&').replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\").replace(/&apos;/g, \"'\");\n\n// タグ除去\nconst stripTags = (str) => str.replace(/<[^>]+>/g, '').trim();\n\nconst getTag = (xml, tag) => {\n  const m = xml.match(new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`));\n  if (!m) return '';\n  return decodeHtml(m[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1')).trim();\n};\n\nconst itemMatches = [...xmlText.matchAll(/<item>([\\s\\S]*?)<\\/item>/g)];\nif (itemMatches.length === 0) {\n  throw new Error('RSSアイテムが0件: ' + xmlText.substring(0, 200));\n}\n\nconst items = itemMatches.map(match => {\n  const item = match[1];\n  const title = stripTags(getTag(item, 'title'));\n  const rawDesc = getTag(item, 'description');\n  \n  // descriptionのHTMLから実URLを抽出\n  const decodedDesc = rawDesc;\n  const actualUrlMatch = decodedDesc.match(/href=[\"'](https?:\\/\\/[^\"'\\s>]+)[\"']/);\n  const actualUrl = actualUrlMatch ? actualUrlMatch[1] : '';\n  \n  // Google Newsリダイレクト以外のURLを優先\n  const googleNewsLink = (item.match(/<link>([^<]+)<\\/link>/) || [])[1] || '';\n  const finalLink = actualUrl && !actualUrl.includes('news.google.com/rss') ? actualUrl : googleNewsLink;\n  \n  // contentはdescriptionのリンクテキスト or title\n  const descText = stripTags(decodedDesc);\n  const content = descText.length > 20 ? descText : title;\n  \n  const pubDate = getTag(item, 'pubDate');\n  let dateStr = new Date().toISOString().split('T')[0];\n  if (pubDate) {\n    try { dateStr = new Date(pubDate).toISOString().split('T')[0]; } catch(e) {}\n  }\n  \n  const source = stripTags(getTag(item, 'source')) || 'Google News';\n  \n  return { title, content, finalLink, dateStr, source };\n}).filter(i => i.title.length > 5);\n\n// 最大25件（情報選別Agentに適切な量）\nconst limited = items.slice(0, 25);\n\nreturn limited.map(i => ({\n  json: {\n    title: i.title,\n    content: i.content,\n    contentSnippet: i.content,\n    link: i.finalLink,\n    url: i.finalLink,\n    original_pubDate: i.dateStr,\n    Source: i.source,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -96
      ],
      "id": "perplexity-parse-code-001",
      "name": "ニュース一覧をパース"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('AI Survival Notion DB 保存').first().json.id }}/children",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"children\": $('マークダウン画像挿入｜Code').first().json.notion_children }) }}",
        "options": {}
      },
      "id": "notion_full_text_append",
      "name": "Notionに全文追記｜HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        336
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "persona-rewriter-model-001",
      "name": "Google Vertex Chat Model（リライター用）",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3440,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.column_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "あなたはAI Survivalメディアの「編集長の眼」「総括」セクションのリライターです。\nマーク・ローバー（Mark Rober）100%のペルソナとして動作します。\n\n■ マーク・ローバー100%ペルソナ\nYouTubeで2000万人が見守る「なぜこれは動くのか」を解き明かすエンジニア兼ホスト。元NASA/Apple技術者。複雑な事象を第一原理から分解し、実験結果として視聴者に提示する。驚きを「設計」するプロフェッショナル。\n\n- 語り口：「実際に計測してみると〜でした」「これがどれだけすごいかというと〜」「つまり構造はこうです」\n- 武器：予想外のデータ/比較/スケール感の可視化。「〜年前は〜だったのに、今は〜」「〜個分の〜」\n- エネルギー：ワクワクさせる。脅さない。驚かせる。「えっ本当に？」を設計する\n- 着地：必ず「だから何をすればいいか」という具体的な一手で終わる\n- 数字ファースト：感想より先に数字。「多い」より「47%増」。「速い」より「18ヶ月で10倍」\n- 逆説を使う：常識の裏をかく。「〜と思いきや実は〜」「むしろ逆で〜」の構造を積極的に使う\n- なぜなぜ構造：一度で終わらず、「なぜそうなるか」をもう1段深く掘る\n\n■ 三つの禁止ルール（絶対厳守）\n1. 抽象的な主語禁止：「社会が」「人々が」「世界が」という主語で始まる文は書かない。必ず具体的な固有名詞（企業名・人名・製品名・数字）を主語にする\n2. 結論のない問いかけで終わること禁止：「〜ではないでしょうか？」「〜と言えるかもしれません」で締めない。必ず「だから〜してください」「答えは〜です」と結論を出す\n3. 2段落連続同一構造禁止：「〜です。〜ます。〜です」という同じ文末パターンを2段落以上続けない。構造に変化をつける（体言止め・数字起点・引用・比較のいずれかを毎段落に入れる）\n\n■ 文体ルール（全セクション厳守）\n- ニュース本文（事実概要・abstract_rewrite）: だ・である調のまま触らない（リライト対象外）\n- 「**編集長の眼:**」コメント: です・ます調。「〜だ」「〜である」「〜だろう」は絶対に使わない\n- 「## 【総括：時代の濁流を読み解く】」セクション: です・ます調。「〜だ」「〜である」「〜だろう」は絶対に使わない\n\n■ 必須トーナル・アーク（全セクション共通）\n[驚きの事実・数字（全体の20〜25%）] → [なぜなぜ構造解説（45〜55%）] → [具体的な行動1手（25〜30%）]\n- 恐怖は「驚き」「意外性」に変換して提示する。脅しの文体は使わない\n- 必ず具体的な行動提案または前向きな視点で締める\n- SNSで切り出して共有できる一文を各セクションに1つ以上埋め込む（「ポイントは〜です」「一言でいえば〜」の形式）\n- 必ず具体的な固有名詞を1つ、具体的な数字を1つ含めること\n\n■ リライト対象セクション（2種）\n\n【1】「**編集長の眼:**」セクション（各ニュース末尾、計4件）\n- 「**編集長の眼:**」という見出しはそのまま維持\n- 170〜230字でリライト。です・ます調を厳守。「〜だ」「〜である」「〜だろう」は絶対に使わない\n- 4件それぞれで以下の7パターンをローテーション（同じパターンを連続使用しない）：\n  A[発見報告型]「調べてみると〜でした。これが示すのは〜です」\n  B[逆説型]「〜と思っていた方、実は逆です。〜という構造が明らかになっています」\n  C[なぜなぜ型]「なぜこうなるか。答えは〜です。さらに掘ると〜という理由があります」\n  D[行動提案型]「この動きに対して今すぐできることが一つあります。〜です」\n  E[速度可視化型]「〜年前なら〜年かかったことが、今は〜ヶ月で起きています。その加速が意味するのは〜です」\n  F[構造解析型]「表面は〜に見えますが、本質は〜という力学です。〜が変わると〜も変わります」\n  G[数字ファースト型]「〜%。この数字が示すのは〜です。つまり〜ということです」\n\n【2】「## 【総括：時代の濁流を読み解く】」セクション\n- この見出し行はそのまま維持\n- 400〜550字でリライト。です・ます調を厳守。「〜だ」「〜である」「〜だろう」は絶対に使わない\n- 冒頭に「今日を一言で言うなら『〜』です。」という要約キーワード文を必ず置く（X転用想定）\n- 4本のニュースを串刺しにする俯瞰視点\n- Mark Rober的な「実験設計者が全体を振り返る」語り口で統一：「今日のデータを並べてみると〜」「これだけ見ると〜だが、実は〜」\n- 最後は必ず読者が明日から試せる具体的なアクション1つで締める\n- 【重要】入力テキストに「## 【総括：時代の濁流を読み解く】」セクションが存在しない場合でも、必ず自力で生成して末尾に追加せよ\n\n■ 絶対に変えてはいけない部分\n- 記事タイトル行\n- リード文（記事冒頭の導入部）\n- 各ニュースのタイトル行（### 【ニュース: ...（日付）】）\n- 配信日・事実概要のテキスト（ニュース本文）\n- 引用元リンク（> 引用元: [...]）\n- 記事末尾の画像プロンプト\n\n■ 出力\n指定の2セクション（編集長の眼×4件、総括×1件）を書き換えた、記事全文をそのまま出力せよ。余分な説明文・ラベル・マークダウン装飾（```など）は絶対に含めないこと。"
            }
          ]
        }
      },
      "id": "persona-rewriter-agent-001",
      "name": "編集長の眼＋総括リライター（MarkRober x 栗林和明）",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3184,
        1232
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// ファクトチェック済み出力|Code の元JSONを取得\nconst originalOutputStr = $node[\"ファクトチェック済み出力｜Code\"].json.output\n  .replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').replace(/\\n?```/g, '').trim();\n\nlet originalOutput;\ntry {\n  originalOutput = JSON.parse(originalOutputStr);\n} catch(e) {\n  const introMatches = [...originalOutputStr.matchAll(/\"intro_text\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/gs)];\n  const titleMatches = [...originalOutputStr.matchAll(/\"main_title\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/g)];\n  originalOutput = {\n    main_title: titleMatches.length > 0 ? titleMatches[0][1] : '',\n    intro_text: introMatches.length > 0 ? introMatches[0][1] : '',\n    column_text: ''\n  };\n}\n\nconst rewrittenText = $json.text || $json.output;\nif (rewrittenText && rewrittenText.length > 100) {\n  originalOutput.column_text = rewrittenText;\n}\n\n// news_image_prompts は ニュース画像一括生成|Code の input[1] から供給される\n// ここでは column_text を含む output のみ出力する\n// （news_image_prompts はこのノードでは設定しない）\n\n// Notion children blocks を事前に構築\nconst text = originalOutput.column_text || '';\nconst chunkSize = 1990;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({\n    object: 'block',\n    type: 'paragraph',\n    paragraph: {\n      rich_text: [{ type: 'text', text: { content: text.substring(i, i + chunkSize) } }]\n    }\n  });\n}\nif (chunks.length === 0) {\n  chunks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '（本文なし）' } }] } });\n}\n\n\n// タイトル生成専用ノードの出力でmain_titleを上書き\nconst newTitle = $('タイトル生成専用｜AI Agent').first()?.json?.text?.trim()\n  || $('タイトル生成専用｜AI Agent').first()?.json?.output?.trim();\nif (newTitle && newTitle.length > 5 && newTitle.length < 100) {\n  originalOutput.main_title = newTitle;\n}\n\nreturn [{ json: { output: JSON.stringify(originalOutput), notion_children: chunks } }];\n"
      },
      "id": "persona-rewriter-code-001",
      "name": "column_text差し替え｜Code",
      "type": "n8n-nodes-base.code",
      "position": [
        4144,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// column_text抽出｜前処理Code\n// 入力元: ファクトチェック済み出力｜Code ($json.output)\n// 役割: column_text を取り出して 編集長の眼+リライター に渡す\n\nconst outputStr = $json.output || $json.text || '';\nconst clean = outputStr\n  .replace(/```json\\n?/g, '')\n  .replace(/\\n?```$/g, '')\n  .replace(/\\n?```/g, '')\n  .trim();\n\nlet columnText = '';\ntry {\n  const parsed = JSON.parse(clean);\n  columnText = parsed.column_text || '';\n} catch(e) {\n  // JSONパース失敗: テキスト全体をフォールバックとして使用\n  columnText = clean.length > 50 ? clean : '';\n}\n\n// columnTextが空の場合は $json.text をそのまま使用\nif (!columnText || columnText.trim().length < 50) {\n  columnText = $json.text || $json.output || '（コラム本文の取得に失敗しました）';\n}\n\nreturn [{ json: { column_text: columnText } }];\n"
      },
      "id": "column-text-preprocess-001",
      "name": "column_text抽出｜前処理Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        1216
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "blogdata-fetch-001",
      "name": "blog-posts-data.json取得｜HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4608,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// blog-posts-data.json の現在の内容をBase64デコード\nconst fetchResult = $('blog-posts-data.json取得｜HTTP Request').first().json;\nconst currentJson = Buffer.from(fetchResult.content, 'base64').toString('utf-8');\nconst currentSha = fetchResult.sha;\nconst existingPosts = JSON.parse(currentJson);\n\n// ファクトチェック済み出力から新記事データを取得（ファイルパス引き継ぎノードから参照）\nconst rawOutput = $('ファイルパス引き継ぎ｜Code').first().json.fact_checked_raw;\nconst cleaned = rawOutput.replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').trim();\nconst articleData = JSON.parse(cleaned);\n\n// Create a file ノードから slug を取得（ファイルパスから抽出）\nconst filePath = $('ファイルパス引き継ぎ｜Code').first().json.file_path || '';\nconst slugMatch = filePath.match(/src\\/content\\/blog\\/(.+)\\.md$/);\nconst slug = slugMatch ? slugMatch[1] : '';\n\n// Cloudinary URL (Upload ノードから)\nconst imageUrl = $('ファイルパス引き継ぎ｜Code').first().json.secure_url || '';\n\n// column_text を content 配列に分割\nconst columnText = articleData.column_text || '';\n\n// セクションを分割（## または ### で始まる行をセクション区切りとする）\nconst sections = [];\nconst lines = columnText.split('\\n');\nlet currentSection = '';\nlet currentText = '';\n\nfor (const line of lines) {\n  if (line.match(/^#{1,3}\\s+/)) {\n    // 前のセクションを保存\n    if (currentText.trim()) {\n      sections.push({\n        section: currentSection,\n        text: currentText.trim()\n      });\n    }\n    currentSection = line.replace(/^#{1,3}\\s+/, '').trim();\n    currentText = '';\n  } else {\n    currentText += line + '\\n';\n  }\n}\n// 最後のセクションを保存\nif (currentText.trim()) {\n  sections.push({\n    section: currentSection,\n    text: currentText.trim()\n  });\n}\n\n// sections が0件の場合はcolumn_text全体を1セクションとして扱う\nconst contentArray = sections.length > 0 ? sections : [\n  { section: '', text: columnText }\n];\n\n// 日付フォーマット（YYYY-MM-DD HH:mm）\nconst now = new Date();\nconst dateStr = now.toISOString().replace('T', ' ').slice(0, 16);\n\n// 新記事エントリ\nconst newPost = {\n  slug: slug,\n  title: articleData.main_title || '',\n  lead: articleData.intro_text || '',\n  date: dateStr,\n  readTime: '1分',\n  category: articleData.category || 'AI時代のキャリア',\n  image: imageUrl,\n  content: contentArray\n};\n\n// 既存データの先頭に追加（slugが既に存在する場合は追加しない）\nconst alreadyExists = existingPosts.some(p => p.slug === slug);\nlet updatedPosts;\nif (alreadyExists) {\n  updatedPosts = existingPosts;\n} else {\n  updatedPosts = [newPost, ...existingPosts];\n}\n\nconst updatedJson = JSON.stringify(updatedPosts, null, 2);\nconst updatedBase64 = Buffer.from(updatedJson).toString('base64');\n\nreturn [{\n  json: {\n    updatedBase64: updatedBase64,\n    currentSha: currentSha,\n    slug: slug,\n    newPostTitle: newPost.title,\n    alreadyExists: alreadyExists\n  }\n}];\n"
      },
      "id": "blogdata-update-code-001",
      "name": "blog-posts-data.json更新｜Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/paperexplosion/ai-survival-media/contents/src/lib/blog-posts-data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore: update blog-posts-data.json with new article ' + $json.slug, content: $json.updatedBase64, sha: $json.currentSha }) }}",
        "options": {}
      },
      "id": "blogdata-write-001",
      "name": "blog-posts-data.json書込｜HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5008,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ニュース画像一括生成｜Code（2026-03-19 新MOEBIUS構造版）\n// news_image_prompts中継|Code から受け取った8本のプロンプト（SCENEのみ）を\n// 構図プール×照明システムと連結して個別アイテムに分割して出力する\n\n// ============ 新MOEBIUS構造 ============\nconst MOEBIUS_STYLE = 'no signature no text no numbers, Moebius bande dessinee panel, strong confident black ink outlines ligne claire, rich ink crosshatching and stippling throughout, transparent watercolor washes over ink with visible uneven brushwork, color variation within zones human imperfection';\n\nconst COMPOSITION_POOL = {\n  A: 'extremely tiny silhouette of single person barely visible in far distance, wide panoramic composition with human figure at only 2 percent of image height, overwhelming scale of environment versus humanity, tiny black kite bird high in sky',\n  B: 'dramatic overhead bird eye view looking directly down from above, human figures visible at natural scale from aerial perspective, architectural or technological grid pattern below, aerial composition revealing hidden order and structure',\n  C: 'extreme close-up of machine or technology surface detail filling entire frame, circuit board traces or mechanical gears or keyboard keys, single human hand or eye barely visible at frame edge, intimate tactile texture',\n  D: 'vast luminous sky filling upper three-quarters of composition, dramatic dawn or golden hour light breaking at horizon, small solitary figure on elevated ground facing the light, atmospheric watercolor haze and light scattering',\n  E: 'two or three human figures at natural human scale in conversation or focused collaboration, intimate interior or sheltered outdoor setting, faces partially visible showing concentration or wonder, warm inviting atmosphere',\n  F: 'abstract geometric data network pattern filling entire frame, luminous glowing nodes and flowing lines of information connecting throughout, no human figures present, pure conceptual information architecture beauty',\n  G: 'surreal humorous juxtaposition of ordinary human figure performing mundane task alongside enormous AI machine or robot, unexpected absurd scale contrast between tiny human domesticity and towering technological enormity, subtle ironic warmth, slightly askew off-kilter perspective'\n};\n\nconst LIGHTING_POOL = {\n  dark:   'night atmosphere deep shadows cool blue and teal dominant cold dramatic palette',\n  mid:    'amber golden twilight warm ochre and sienna tones balanced dusk glow soft shadows',\n  bright: 'bright morning golden hour light luminous clear atmosphere warm gold and cream radiant quality'\n};\n\n// 挿絵8枚の構図×照明割り当て（インデックス順）\nconst INSERT_PLAN = [\n  { comp: 'B', light: 'dark'   },\n  { comp: 'C', light: 'mid'    },\n  { comp: 'D', light: 'bright' },\n  { comp: 'E', light: 'mid'    },\n  { comp: 'F', light: 'dark'   },\n  { comp: 'A', light: 'mid'    },\n  { comp: 'C', light: 'bright' },\n  { comp: 'G', light: 'mid'    },\n];\n// ============ 新MOEBIUS構造ここまで ============\n\n// デフォルトSCENEフォールバック（各ニュース用・構図タイプ対応版）\nconst FALLBACK_SCENES = [\n  'vast automated warehouse floor seen from directly overhead, conveyor belts and robotic arms in precise geometric grid pattern, tiny worker figures visible at floor level',\n  'extreme close-up of AI processor chip surface, microscopic circuit traces and gold contact points filling frame, human fingerprint impression barely visible at corner edge',\n  'vast cloud-streaked dawn sky over digital city skyline, warm amber light breaking through morning mist, lone researcher silhouette on rooftop facing sunrise',\n  'three figures in glass-walled meeting room, holographic data visualization floating between them, faces intent with focused concentration, city skyline visible outside window',\n  'abstract glowing neural network filling entire frame, billions of luminous connection points pulsing with light, deep indigo fading to warm amber gradient, no human figures',\n  'lone figure stands before vast glowing data network stretching to horizon, tiny human dwarfed by luminous digital infrastructure, dusk atmosphere amber glow on concrete landscape',\n  'extreme close-up of surveillance camera lens rings reflecting distorted cityscape, concentric glass circles in morning light, human eye reflected at center of innermost lens',\n  'ordinary office worker sitting at comically tiny desk typing on laptop, surrounded by towering server racks stretching to ceiling like skyscrapers, absurd scale contrast between human mundanity and machine enormity, warm amber ironic lighting'\n];\n\nfunction buildMoebiusPrompt(scenePart, fallbackScene, plan) {\n  const scene = (scenePart && scenePart.trim().length > 20)\n    ? scenePart.trim()\n    : fallbackScene;\n  const comp = COMPOSITION_POOL[plan.comp];\n  const light = LIGHTING_POOL[plan.light];\n  const rawPrompt = `${MOEBIUS_STYLE}, ${comp}, ${light}, ${scene}, layered ink and watercolor aesthetic, analog hand-made quality warmth`;\n  return rawPrompt.replace(/\"/g, \"'\");\n}\n\nconst inputData = $input.first().json;\n\nlet prompts = inputData.news_image_prompts;\nif (!Array.isArray(prompts)) {\n  prompts = Object.values(prompts || {});\n}\n\nconst parsedOutput   = inputData.parsed_output   || {};\nconst columnText     = inputData.column_text     || '';\nconst totalCount     = prompts.length;\n\nif (prompts.length === 0) {\n  const plan0 = INSERT_PLAN[0];\n  const fallbackPrompt = buildMoebiusPrompt('', FALLBACK_SCENES[0], plan0);\n  return [{ json: { prompt: fallbackPrompt, index: 0, total: 0, parsed_output: parsedOutput, column_text: columnText } }];\n}\n\nreturn prompts.map(function(scenePart, i) {\n  const plan = INSERT_PLAN[i % INSERT_PLAN.length];\n  const fallback = FALLBACK_SCENES[i % FALLBACK_SCENES.length];\n  const fullPrompt = buildMoebiusPrompt(scenePart, fallback, plan);\n  return {\n    json: {\n      prompt: fullPrompt,\n      index: i,\n      total: totalCount,\n      parsed_output: parsedOutput,\n      column_text: columnText\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        672
      ],
      "id": "news-image-bulk-gen-001",
      "name": "ニュース画像一括生成｜Code"
    },
    {
      "parameters": {
        "jsCode": "// ========================================================\n// マークダウン画像挿入｜Code（2026-03-19 修正版）\n// 修正内容:\n//   1. 画像挿入対象を ### (h3) のニュースタイトル行のみに限定（##等は除外）\n//   2. pioneer_block挿入は専用ノードに委譲（このノードでは行わない）\n// ========================================================\n\nconst prevOutput = $json.output || \"{}\";\nlet parsedOutput;\ntry {\n  parsedOutput = JSON.parse(prevOutput.replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').trim());\n} catch(e) {\n  parsedOutput = {};\n}\n\nconst newsImageUrls = $json.news_image_urls || [];\nlet columnText = parsedOutput.column_text || \"\";\n\nif (newsImageUrls.length === 0 || !columnText) {\n  return [{ json: { output: prevOutput, notion_children: $json.notion_children || [] } }];\n}\n\n// ### (h3) で始まるニュースタイトル行の後にのみ画像を挿入\n// 除外条件: 「AI時代の開拓者」「編集長の眼」「総括」「逃げ道」「AIスキル」を含む行\nconst lines = columnText.split('\\n');\nconst newLines = [];\nlet imageIndex = 0;\n\nfor (let i = 0; i < lines.length; i++) {\n  newLines.push(lines[i]);\n  \n  // ### (h3レベルのみ) で始まり、除外キーワードを含まない行の後に画像を挿入\n  if (\n    lines[i].match(/^###\\s/) &&\n    !lines[i].includes('総括') &&\n    !lines[i].includes('AI時代の開拓者') &&\n    !lines[i].includes('編集長の眼') &&\n    !lines[i].includes('逃げ道') &&\n    !lines[i].includes('AIスキル') &&\n    imageIndex < newsImageUrls.length\n  ) {\n    const url = newsImageUrls[imageIndex];\n    if (url) {\n      newLines.push('');\n      newLines.push(`![ニュース${imageIndex + 1}の画像](${url})`);\n      newLines.push('');\n    }\n    imageIndex++;\n  }\n}\n\nconst newColumnText = newLines.join('\\n');\nparsedOutput.column_text = newColumnText;\n\n// notion_children再構築\nconst finalChunkSize = 1990;\nconst finalChunks = [];\nfor (let i = 0; i < newColumnText.length; i += finalChunkSize) {\n  finalChunks.push({\n    object: 'block',\n    type: 'paragraph',\n    paragraph: {\n      rich_text: [{ type: 'text', text: { content: newColumnText.substring(i, i + finalChunkSize) } }]\n    }\n  });\n}\nif (finalChunks.length === 0) {\n  finalChunks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: '（本文なし）' } }] } });\n}\n\nlet pioneerUrl = '';\ntry { pioneerUrl = $('開拓者事例整形｜Code').first().json.pioneer_url || ''; } catch(e) { pioneerUrl = ''; }\nreturn [{ json: { output: JSON.stringify(parsedOutput), notion_children: finalChunks, pioneer_url: pioneerUrl } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        416
      ],
      "id": "markdown-image-insert-001",
      "name": "マークダウン画像挿入｜Code"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "img-prompt-model-001",
      "name": "Google Vertex Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        432
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nあなたはMoebiusスタイルのビジュアルアーティストです。提供されたコラム本文（複数のAIニュース）を読み、各ニュースを象徴する英語の画像プロンプトを生成します。\n\n# Mission\nコラム本文から：\n1. **image_prompt**: 記事全体を代表するタイトル画像プロンプト（1段落・完全版）\n2. **news_image_prompts**: 各ニュースセクション（## 見出し）に対応する画像プロンプト（配列）\n\nを生成してください。\n\n# 画像スタイル（全プロンプト共通・必ず含める）\nMoebius (Jean Giraud) bande dessinee aesthetic. Strong confident black ink outlines ligne claire. Rich ink crosshatching and stippling. Transparent watercolor washes over ink with visible uneven brushwork. Color variation within zones, human imperfection. Analog hand-made quality warmth. Wide panoramic 16:9, hyper-detailed, no text no signature no numbers.\n\n# 各プロンプトの構成ルール\n1. **被写体（subject）**: そのニュースを象徴する「目で見える具体的な物体・場面」に変換\n   - 「AI失業」→ 錆びついた工場の自動化ライン、止まったままのタイムカード\n   - 「監視社会」→ 無数の監視カメラが密生する薄暗い路地\n   - 「データ覇権」→ 巨大サーバーラックの迷宮を歩く小さな人影\n2. **構図（composition）**: Wide cinematic panoramic / Close-up dramatic / Aerial overview から選択\n3. **配色（palette）**: 記事のトーンに合わせて選択\n   - 技術・未来系 → electric blue and silver metallic tones\n   - 危機・警告系 → deep crimson and ashen gray\n   - 社会変革系 → warm ochre and indigo shadows\n\n# 出力形式（JSON）- 絶対厳守\nJSONオブジェクトのみを出力せよ。説明文・```は一切含めるな。\n\n{\n  \"image_prompt\": \"タイトル画像プロンプト（英語・1段落・100語以上）\",\n  \"news_image_prompts\": [\n    \"ニュース1用プロンプト（英語・80〜120語）\",\n    \"ニュース2用プロンプト\",\n    \"ニュース3用プロンプト\",\n    \"ニュース4用プロンプト\",\n    \"ニュース5用プロンプト\",\n    \"ニュース6用プロンプト\",\n    \"ニュース7用プロンプト\",\n    \"ニュース8用プロンプト\"\n  ]\n}\n\n# 入力データ（コラム本文）\n{{ $json.text || $json.column_text || $json.output || \"\" }}"
      },
      "id": "img-prompt-agent-001",
      "name": "ニュース画像プロンプト生成エージェント",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1584,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================================\n// news_image_prompts中継｜Code（マージ版 2026-03-16）\n// input[0] = 画像プロンプト抽出|Code  → news_image_prompts（8本配列）\n// input[1] = column_text差し替え|Code → output JSON（column_text含む）\n// 出力: 両データをマージした1オブジェクト\n// ========================================================\n\n// --- input[0] から news_image_prompts を取得 ---\nconst prompts = $input.first().json.news_image_prompts || [];\n\n// --- column_text差し替え|Code から直接参照 ---\nlet parsedOutput = {};\nlet columnText = '';\n\ntry {\n  const colData = $('column_text差し替え｜Code').first().json;\n  const outputStr = colData.output || '{}';\n  const cleaned = outputStr.replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').trim();\n  try {\n    parsedOutput = JSON.parse(cleaned);\n  } catch(e) {\n    parsedOutput = {};\n  }\n  columnText = parsedOutput.column_text || '';\n} catch(e) {\n  parsedOutput = {};\n  columnText = '';\n}\n\nreturn [{\n  json: {\n    news_image_prompts: prompts,\n    column_text: columnText,\n    parsed_output: parsedOutput\n  }\n}];\n"
      },
      "id": "news-img-relay-001",
      "name": "news_image_prompts中継｜Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/dev",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 11d546b8-4ae3-4307-9565-406962c2a1e3:e874342c857865bdd0e581f02384e16e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"={{ $json.prompt }}\",\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"image_size\": \"landscape_16_9\",\n  \"num_images\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4608,
        704
      ],
      "id": "1a3bd7db-b071-479f-8e59-57af55e50d28",
      "name": "ニュース画像生成｜HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// ニュース画像URL集約｜Code（2026-03-16）\n// ニュース画像生成|HTTP Request の8アイテムを受け取り\n// URLをまとめて1アイテムに集約してマークダウン画像挿入|Codeへ渡す\n\nconst allItems = $input.all();\n\n// 各アイテムから画像URLを抽出\nconst newsImageUrls = allItems.map(function(item) {\n  const r = item.json;\n  // fal.ai レスポンス形式: { images: [{url: \"...\"}] }\n  if (r.images && r.images[0] && r.images[0].url) return r.images[0].url;\n  if (r.image && r.image.url) return r.image.url;\n  if (r.url) return r.url;\n  return '';\n});\n\n// parsed_output は各HTTPアイテムのinput側から取得できないため\n// $('ニュース画像一括生成｜Code') で最初のアイテムから引き継ぐ\nlet parsedOutput = {};\nlet prevOutput = '{}';\ntry {\n  const firstItem = $('ニュース画像一括生成｜Code').first().json;\n  parsedOutput   = firstItem.parsed_output   || {};\n  prevOutput     = JSON.stringify(parsedOutput);\n} catch(e) {\n  parsedOutput = {};\n}\n\nparsedOutput.news_image_urls = newsImageUrls;\n\nreturn [{\n  json: {\n    output:          JSON.stringify(parsedOutput),\n    news_image_urls: newsImageUrls,\n    notion_children: []\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        704
      ],
      "id": "ba2d5c71-16d7-4109-aa84-be96e7655f6e",
      "name": "ニュース画像URL集約｜Code"
    },
    {
      "parameters": {
        "jsCode": "// 曜日固定カテゴリ（2026-03-17）\nconst _dayCategories = {\n  0: '🌊 世界観',\n  1: '🧭 キャリア設計',\n  2: '💡 テクノロジー',\n  3: '🌊 世界観',\n  4: '🧭 キャリア設計',\n  5: '💡 テクノロジー',\n  6: '🌊 世界観'\n};\nconst _dayOfWeek = new Date().getDay();\nconst _fixedCategory = _dayCategories[_dayOfWeek];\n\n// 最終データ集約｜Code（2026-03-16 v3）\n// Wait ノード通過後も全データを参照できるよう、ここで全フィールドを集約する\n// マークダウン画像挿入｜Code の output（JSON文字列）から直接取得する\n\n// マークダウン画像挿入｜Code の output を解析\nlet mainTitle = '';\nlet introText = '';\nlet category = _fixedCategory;\nlet columnText = '';\nlet factCheckedRaw = '';\nlet columnTextRawOutput = '';\nlet secureUrl = '';\nlet notionPageId = '';\n\ntry {\n  const mdNode = $('マークダウン画像挿入｜Code').first().json;\n  const raw = mdNode.output || '{}';\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  mainTitle = parsed.main_title || '';\n  introText = parsed.intro_text || '';\n  category = _fixedCategory; // 曜日固定（LLM生成カテゴリを無視）\n  columnText = parsed.column_text || '';\n  factCheckedRaw = raw;\n  columnTextRawOutput = raw;\n} catch(e) {}\n\n// Cloudinary secure_url は Upload an asset from file data から直接取得\ntry {\n  secureUrl = $('Upload an asset from file data').first().json.secure_url || '';\n} catch(e) {}\n\n// Notion page id は AI Survival Notion DB 保存から\ntry {\n  notionPageId = $('AI Survival Notion DB 保存').first().json.id || '';\n} catch(e) {}\n\nreturn [{\n  json: {\n    secure_url: secureUrl,\n    main_title: mainTitle,\n    intro_text: introText,\n    category: category,\n    column_text: columnText,\n    column_text_raw_output: columnTextRawOutput,\n    fact_checked_raw: factCheckedRaw,\n    notion_page_id: notionPageId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        -608
      ],
      "id": "final-data-merge-code-001",
      "name": "最終データ集約｜Code"
    },
    {
      "parameters": {
        "jsCode": "// ファイルパス引き継ぎ｜Code（2026-03-16 v2）\n// Create a file の出力（ファイルパス）と、データ復元｜Code の全フィールドを合成する\n\n// Create a file の結果（$input = Create a file の output）\nlet filePath = '';\nlet slug = '';\ntry {\n  const cf = $input.first().json;\n  filePath = cf.content?.path || '';\n  const slugMatch = filePath.match(/src\\/content\\/blog\\/(.+)\\.md$/);\n  slug = slugMatch ? slugMatch[1] : '';\n} catch(e) {}\n\n// データ復元｜Code から全フィールドを取得\nconst restore = $('データ復元｜Code').first().json;\n\nreturn [{\n  json: {\n    file_path: filePath,\n    slug: slug,\n    secure_url: restore.secure_url || '',\n    main_title: restore.main_title || '',\n    intro_text: restore.intro_text || '',\n    category: restore.category || 'AI時代のキャリア',\n    column_text: restore.column_text || '',\n    column_text_raw_output: restore.column_text_raw_output || '',\n    fact_checked_raw: restore.fact_checked_raw || '',\n    notion_page_id: restore.notion_page_id || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        -416
      ],
      "id": "filepath-passthrough-code-001",
      "name": "ファイルパス引き継ぎ｜Code"
    },
    {
      "parameters": {
        "jsCode": "// データ復元｜Code（2026-03-19 修正版）\n// 堰き止めガードマン｜Wait は承認Webhookのデータを出力するため、\n// 上流の集約データが失われる。ここで最終データ集約｜Code から再取得して復元する。\n// pioneer_blockの挿入位置: ---区切り（総括セクション境界）の直前\n\nconst _dayCategories = {\n  0: '🌊 世界観',\n  1: '🧭 キャリア設計',\n  2: '💡 テクノロジー',\n  3: '🌊 世界観',\n  4: '🧭 キャリア設計',\n  5: '💡 テクノロジー',\n  6: '🌊 世界観'\n};\nconst _dayOfWeek = new Date().getDay();\nconst _fixedCategory = _dayCategories[_dayOfWeek];\n\nconst agg = $('最終データ集約｜Code').first().json;\n\nlet columnText = agg.column_text || '';\n\n// pioneer_blockを取得してcolumn_textに挿入（---区切りの直前）\nlet pioneer_block = '';\ntry {\n  pioneer_block = $('開拓者事例整形｜Code').first().json.pioneer_block || '';\n} catch(e) {\n  pioneer_block = '';\n}\n\nif (pioneer_block && columnText) {\n  // パターン1: ---区切り行がある場合（--- の前に挿入）\n  if (columnText.match(/---\\s*\\n.*##.*総括/s)) {\n    columnText = columnText.replace(/(---\\s*\\n)(.*##.*総括)/s, (m, dash, rest) => {\n      return pioneer_block + '\\n' + dash + rest;\n    });\n  }\n  // パターン2: ## 【総括 が直接ある場合\n  else if (columnText.includes('## 【総括') || columnText.includes('## 総括')) {\n    columnText = columnText.replace(/(?=---\\n|## 【総括|## 総括)/, pioneer_block + '\\n\\n');\n  }\n  // パターン3: どちらもない場合は末尾に追加\n  else {\n    columnText = columnText + '\\n\\n' + pioneer_block;\n  }\n}\n\nlet pioneer_url = '';\ntry {\n  pioneer_url = $('開拓者事例整形｜Code').first().json.pioneer_url || '';\n} catch(e) {\n  pioneer_url = '';\n}\n\nreturn [{\n  json: {\n    secure_url: agg.secure_url || '',\n    main_title: agg.main_title || '',\n    intro_text: agg.intro_text || '',\n    category: _fixedCategory,\n    column_text: columnText,\n    column_text_raw_output: agg.column_text_raw_output || '',\n    fact_checked_raw: agg.fact_checked_raw || '',\n    notion_page_id: agg.notion_page_id || '',\n    pioneer_url: pioneer_url\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        -560
      ],
      "id": "data-restore-after-wait-001",
      "name": "データ復元｜Code"
    },
    {
      "parameters": {
        "jsCode": "// 件数チェック: 3本以上 → 通過 / 2本以下 → パイプライン停止\nconst items = $input.all();\nconst count = items.length;\n\nif (count < 2) {\n  // 2本以下: エラーをスローしてパイプライン停止\n  throw new Error(`ニュース件数不足: ${count}本（最低3本必要）。パイプラインを停止します。`);\n}\n\n// 3本以上: 全アイテムをそのまま通過\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -336
      ],
      "id": "55dc8fe6-c479-41b8-95b6-c345b5ce68b4",
      "name": "件数チェック｜3本未満で停止"
    },
    {
      "parameters": {
        "jsCode": "// タイトル重複チェック｜Code（2026-03-17 rev2）\n// NOTE: blog-posts-data.json取得｜HTTP Request は後続ノードのため\n//       このノードからは参照不可。重複チェックはblog-posts-data更新Codeに委譲。\n//       このノードはタイトルのパス通過のみ実施。\n\nconst item = $input.first().json;\nconst mainTitle = item.main_title || '';\n\nif (!mainTitle) {\n  return [{ json: { ...item, title_check: 'skipped', reason: 'no main_title' } }];\n}\n\n// blog-posts-dataノードの取得はここでは実施不可（後続ノードのため）\n// title_check: 'pending' として後続のblog-posts-data更新Codeでチェックを完了させる\nreturn [{\n  json: {\n    ...item,\n    title_check: 'pending',\n    reason: 'will_check_in_blog_posts_update'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        -544
      ],
      "id": "9361452f-7932-46c3-9718-1fce09bebec7",
      "name": "タイトル重複チェック｜Code"
    },
    {
      "parameters": {
        "jsCode": "// 日付スクリーニング（2026-03-17）\n// 3日以上前のニュースを除外する（本番値に戻し 2026-03-18）\n\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 3);\ncutoffDate.setHours(0, 0, 0, 0);\n\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const raw = item.json.original_pubDate || item.json.pubDate || item.json.date || '';\n  if (!raw) return true; // 日付不明は通過（情報あり記事を捨てない）\n  const pubDate = new Date(raw);\n  if (isNaN(pubDate.getTime())) return true; // 解析不能は通過\n  return pubDate >= cutoffDate;\n});\n\nconst removed = items.length - filtered.length;\nif (removed > 0) {\n  // 除外情報をログ（最終出力には影響しない）\n  const removedItems = items.filter(item => {\n    const raw = item.json.original_pubDate || item.json.pubDate || item.json.date || '';\n    if (!raw) return false;\n    const d = new Date(raw);\n    return !isNaN(d.getTime()) && d < cutoffDate;\n  });\n  console.log(`日付スクリーニング: ${removed}件を除外 (14日以上前)`);\n  removedItems.forEach(i => console.log(`  除外: ${i.json.original_pubDate} - ${i.json.title || ''}`));\n}\n\nif (filtered.length === 0) {\n  throw new Error('有効な直近ニュースがありません（全て14日以上前）');\n}\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -320
      ],
      "id": "b2f582d9-ba32-4c65-90b1-3035845d9762",
      "name": "日付スクリーニング｜3日以上前を除外"
    },
    {
      "parameters": {
        "jsCode": "// スタイル選択｜Code（2026-03-18）\n// 実行日のUNIX秒を4で割った余りでラウンドロビン\n// [\"驚き\", \"警告\", \"逆説\", \"応用\"] をローテーション\n\nconst STYLE_TAGS = [\"驚き\", \"警告\", \"逆説\", \"応用\"];\nconst unixSec = Math.floor(Date.now() / 1000);\nconst idx = Math.floor(unixSec / 86400) % STYLE_TAGS.length; // 日単位でローテーション\nconst style_tag = STYLE_TAGS[idx];\n\n// 既存データを全て引き継ぎ + style_tag を追加\nconst input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    style_tag: style_tag,\n    style_idx: idx\n  }\n}];"
      },
      "id": "style-select-code-001",
      "name": "スタイル選択｜Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/31d457e7-0a28-8108-a987-f27725c1c5b9/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\":{\"property\":\"pioneer_url\",\"rich_text\":{\"is_not_empty\":true}},\"sorts\":[{\"property\":\"生成日\",\"direction\":\"descending\"}],\"page_size\":20}",
        "options": {}
      },
      "id": "pioneer-url-fetch-notion-001",
      "name": "過去pioneer_url取得｜HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        512
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xai-vv6oxxlMp43Pel1IfVgM3CHxHGwaL6Xi5Ou1a8BW1x1cHVaNCH7WmpVy6bfV0FKvsLhcd9Xfhjua4K1K"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"あなたはAI活用事例の調査員です。働き手・個人がAIを活用してポジティブな変化を経験した最新事例を1件だけ正確に報告してください。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ (() => { const results = $('過去pioneer_url取得｜HTTP Request').first().json; const pages = results.results || []; const usedUrls = pages.map(p => { const prop = p.properties && p.properties['pioneer_url']; if (!prop || !prop.rich_text || !prop.rich_text[0]) return ''; return prop.rich_text[0].plain_text || ''; }).filter(u => u); const excludeText = usedUrls.length > 0 ? '\\n\\n【除外条件】以下のURLと同じ事例・同じ記事は除外してください：\\n' + usedUrls.join('\\n') : ''; return JSON.stringify('以下のメディアから、「働き手・個人がAIを活用して仕事や生活が良くなった」最新事例を1件だけ探して教えてください。\\n\\n対象メディア（優先順）：\\nrestofworld.org, edutopia.org, oneusefulthing.org, medium.com, \\ngithub.blog, fastcompany.com, bbc.com/worklife, upwork.com/resources,\\nfiverr.com/news, ai.nejm.org, blog.khanacademy.org, simonwillison.net,\\nevery.to, lennysnewsletter.com, aismiley.co.jp, note.com,\\nledge.ai, qiita.com\\n\\n条件：\\n- 企業の人員削減・コスト削減の話は除外\\n- 個人・現場の働き手が主役の話\\n- できるだけ最新（直近1ヶ月以内）\\n- 日本語または英語どちらでもOK\\n\\n出力形式（必ずこの形式で）：\\n見出し：誰が・何をした（20字以内）\\n本文：誰が・何に困っていて・AIをどう使ったら・何が変わったか（200〜300字）\\n出典URL：https://...' + excludeText); })() }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "pioneer-case-fetch-001",
      "name": "開拓者事例収集｜HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 開拓者事例整形｜Code（2026-03-19 改修版）\n// 改修内容:\n//   1. H3見出しを追加（caseTitle → H3タイトルへ変換）\n//   2. Moebiusスタイル画像をfal.aiで生成\n//   3. GitHub assets-publicにアップロードしてRaw URLを取得\n//   4. 理想の構造で pioneer_block を出力\n// ============================================================\n\nconst GITHUB_TOKEN = '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';\nconst GITHUB_OWNER = 'paperexplosion';\nconst GITHUB_REPO  = 'assets-public';\nconst FAL_KEY      = 'Key 11d546b8-4ae3-4307-9565-406962c2a1e3:e874342c857865bdd0e581f02384e16e';\n\n// Moebiusベースプロンプト（ニュース画像と同じベース）\nconst MOEBIUS_BASE = \"no signature no text no numbers, Moebius bande dessinee panel, strong confident black ink outlines ligne claire, rich ink crosshatching and stippling throughout, transparent watercolor washes over ink with visible uneven brushwork, color variation within zones human imperfection, {SCENE}, extremely tiny silhouette of single person barely visible in distance like an ant, tiny black kite bird high in sky, distant silhouette barely visible faded grey, composition wide panoramic with human figure occupying only 2 percent of image height, overwhelming scale of nature versus tiny humanity, layered ink and watercolor aesthetic, analog hand-made quality warmth\";\n\n// 現在の日付（YYYYMMDD形式）\nconst now = new Date();\nconst dateStr = now.getFullYear().toString() +\n  String(now.getMonth() + 1).padStart(2, '0') +\n  String(now.getDate()).padStart(2, '0');\nconst timeStr = String(now.getHours()).padStart(2, '0') +\n  String(now.getMinutes()).padStart(2, '0') +\n  String(now.getSeconds()).padStart(2, '0');\nconst imageFilename = `pioneer_${dateStr}_${timeStr}.png`;\nconst githubFilePath = `napkin/pioneer/${imageFilename}`;\nconst rawUrl = `https://raw.githubusercontent.com/${GITHUB_OWNER}/${GITHUB_REPO}/main/${githubFilePath}`;\n\n// --- Step 1: Perplexityレスポンスから内容を抽出 ---\nconst response = $('開拓者事例収集｜HTTP Request').first().json;\nconst prevData = $('日刊コラム執筆エージェント').first().json;\n\nlet content = '';\nlet pioneerUrl = '';\n\ntry {\n  content = response.choices[0].message.content;\n  const urlMatch = content.match(/出典URL[：:]\\s*(https?:\\/\\/[^\\s\\n]+)/);\n  if (urlMatch) pioneerUrl = urlMatch[1].trim();\n} catch(e) {\n  content = '（事例の取得に失敗しました）';\n}\n\n// 見出し・本文を抽出\nlet caseTitle = '';\nlet caseBody = content;\n\nconst titleMatch = content.match(/見出し[：:]\\s*([^\\n]+)/);\nconst bodyMatch  = content.match(/本文[：:]\\s*([\\s\\S]*?)(?=出典URL[：:]|\\[\\d+\\]|$)/);\n\nif (titleMatch) caseTitle = titleMatch[1].trim();\nif (bodyMatch) {\n  caseBody = bodyMatch[1].trim();\n} else {\n  caseBody = content\n    .replace(/^見出し[：:].*$/gm, '')\n    .replace(/^本文[：:]/gm, '')\n    .replace(/^出典URL[：:]\\s*https?:\\/\\/[^\\s\\n]*/gm, '')\n    .replace(/\\[\\d+\\].*$/gm, '')\n    .trim();\n}\n\n// H3タイトルを構築（caseTitle をそのまま使用。空なら汎用タイトル）\nconst h3Title = caseTitle\n  ? caseTitle\n  : 'AI時代の開拓者が示す新しい働き方';\n\n// 編集長の前段（事例内容に応じた導入文）\nconst editorIntro = `この事例は、AI時代を生き抜く上で示唆に富んでいます。「${h3Title}」が問いかけるのは、私たちひとりひとりがAIとどう向き合うかという、極めて実践的な問いです。`;\n\n// 編集長の目\nconst editorEye = `**編集長の目：**\\nAIの真価は「奪う道具」ではなく「解放する道具」として機能し得るということです。重要なのは、AIをどんな問いに向けるかという、人間側の設計力です。あなたの日常業務の中にも、今日の事例と同様の「AIで解放できる制約」が必ずあります。それを見つけることが、AI時代の第一歩です。`;\n\n// --- Step 2: Moebiusスタイルで画像生成（fal.ai FLUX.dev） ---\n// シーンプロンプトを事例内容から構築\nlet scenePrompt = '';\nconst titleLower = h3Title.toLowerCase();\nif (titleLower.includes('bank') || titleLower.includes('バンク') || titleLower.includes('金融')) {\n  scenePrompt = 'glass tower financial district at dusk, tiny figure at reception desk with holographic interface, golden light through tall windows, business suits and data streams';\n} else if (titleLower.includes('hospital') || titleLower.includes('医療') || titleLower.includes('doctor') || titleLower.includes('medical')) {\n  scenePrompt = 'vast hospital corridor stretching to horizon, lone nurse figure at illuminated workstation, sterile white light, medical equipment silhouettes';\n} else if (titleLower.includes('school') || titleLower.includes('学校') || titleLower.includes('education') || titleLower.includes('teacher')) {\n  scenePrompt = 'enormous empty classroom at sunrise, single teacher at luminous whiteboard, rows of empty desks, warm morning light through tall windows';\n} else if (titleLower.includes('factory') || titleLower.includes('工場') || titleLower.includes('manufacturing')) {\n  scenePrompt = 'abandoned automated factory floor with rows of frozen robotic arms, single human worker silhouette at control panel, cold blue industrial light';\n} else {\n  // デフォルト：オフィス/デジタルワーク\n  scenePrompt = 'vast open-plan office at twilight, single worker at illuminated terminal surrounded by floating data windows, city skyline through glass walls, warm amber desk lamp';\n}\n\nconst imagePrompt = MOEBIUS_BASE.replace('{SCENE}', scenePrompt).replace(/\"/g, \"'\");\n\nlet pioneerImageUrl = '';\nlet imageGenSuccess = false;\n\ntry {\n  // fal.ai FLUX.devで画像生成\n  const falResponse = await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fal.run/fal-ai/flux/dev',\n    headers: {\n      'Authorization': FAL_KEY,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      prompt: imagePrompt,\n      num_inference_steps: 28,\n      guidance_scale: 3.5,\n      image_size: 'landscape_16_9',\n      num_images: 1\n    },\n    json: true\n  });\n\n  // 生成画像URLを取得\n  let generatedImageUrl = '';\n  if (falResponse.images && falResponse.images[0] && falResponse.images[0].url) {\n    generatedImageUrl = falResponse.images[0].url;\n  } else if (falResponse.image && falResponse.image.url) {\n    generatedImageUrl = falResponse.image.url;\n  }\n\n  if (generatedImageUrl) {\n    // --- Step 3: 画像をバイナリ取得してGitHubにアップロード ---\n    const imageBuffer = await helpers.httpRequest({\n      method: 'GET',\n      url: generatedImageUrl,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n\n    // base64エンコード\n    let base64Content = '';\n    if (imageBuffer && imageBuffer.body) {\n      const buf = Buffer.from(imageBuffer.body);\n      base64Content = buf.toString('base64');\n    }\n\n    if (base64Content) {\n      // GitHubにPUT（ファイル作成）\n      await helpers.httpRequest({\n        method: 'PUT',\n        url: `https://api.github.com/repos/${GITHUB_OWNER}/${GITHUB_REPO}/contents/${githubFilePath}`,\n        headers: {\n          'Authorization': `token ${GITHUB_TOKEN}`,\n          'Content-Type': 'application/json',\n          'User-Agent': 'n8n-workflow'\n        },\n        body: {\n          message: `feat: pioneer image ${imageFilename} (auto-generated by n8n)`,\n          content: base64Content\n        },\n        json: true\n      });\n\n      pioneerImageUrl = rawUrl;\n      imageGenSuccess = true;\n    }\n  }\n} catch(imgErr) {\n  // 画像生成失敗時はフォールバック（画像なしで続行）\n  console.log('Pioneer画像生成エラー:', imgErr.message || String(imgErr));\n  pioneerImageUrl = '';\n  imageGenSuccess = false;\n}\n\n// --- Step 4: 理想の構造でpioneer_blockを構築 ---\nconst imageMarkdown = pioneerImageUrl\n  ? `\\n![${h3Title}の事例イラスト](${pioneerImageUrl})\\n`\n  : '';\n\nconst sourceMarkdown = pioneerUrl\n  ? `\\n**出典：** [${pioneerUrl.replace(/^https?:\\/\\//, '').split('/')[0]}](${pioneerUrl})`\n  : '';\n\nconst pioneerBlock =\n`## AI時代の開拓者たちの事例\n\n### ${h3Title}\n${imageMarkdown}\n${editorIntro}\n\n${caseBody}\n\n${editorEye}\n${sourceMarkdown}\n`;\n\nreturn [{\n  json: {\n    ...prevData,\n    pioneer_block: pioneerBlock,\n    pioneer_url: pioneerUrl,\n    pioneer_image_url: pioneerImageUrl,\n    pioneer_image_success: imageGenSuccess,\n    pioneer_title: h3Title\n  }\n}];\n"
      },
      "id": "pioneer-case-format-001",
      "name": "開拓者事例整形｜Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        576
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "pioneer-merge-node-001",
      "name": "pioneer統合Merge｜Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5184,
        448
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {}
      },
      "id": "title-gen-model-001",
      "name": "Google Vertex Chat Model（タイトル生成用）",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3616,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "以下の記事本文（全文）を読み、タイトルを1本生成してください：\n\n=={{ (() => {\n  // ファクトチェック済み出力|Codeからcolumn_text全体を取得\n  try {\n    const factChecked = $('ファクトチェック済み出力｜Code').first().json.output || '';\n    const cleaned = factChecked.replace(/```json\\n?/g, '').replace(/\\n?```$/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    return parsed.column_text || $json.text || '';\n  } catch(e) {\n    return $json.text || '';\n  }\n})() }}",
        "messages": {
          "messageValues": [
            {
              "message": "あなたはAI Survivalメディアの見出し専門エディターです。\n渡された記事本文を読み、その記事を最もよく表す日本語タイトルを1本だけ生成してください。\n\n【絶対ルール】\n1. 記事本文に登場する具体的な企業名・人名・数字・金額を必ずタイトルに入れること\n2. 抽象的なテーマ語（「便利」「効率」「格差」「AI時代」単体）をタイトルの冒頭に使うことは禁止\n3. タイトル構造は以下のいずれかを使え（毎回ローテーション）：\n   - 「[企業名]が[数字/行動]——[本質的問い]」\n   - 「[固有名詞]の[決断/転換]が示す、[読者への影響]」\n   - 「なぜ[具体的事象]は[結果]をもたらすのか」\n   - 「[数字]が暴く、[業界/構造]の正体」\n   - 「[人名/企業名]が[行動]した日、[何かが変わった]」\n\n【出力形式】\nタイトルのみ1行で出力。前置き・説明・記号は不要。"
            }
          ]
        }
      },
      "id": "title-gen-agent-001",
      "name": "タイトル生成専用｜AI Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3584,
        1248
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// ニュースベースtweet生成｜Code（2026-03-19 イーロン・マスク実装）\n// column_textからニュースベースのtweetを生成する\n\n// 前ノード（ファイルパス引き継ぎ｜Code）の出力を取得\nconst data = $input.first().json;\nconst columnText = data.column_text || '';\nconst introText = data.intro_text || '';\n\n// tweet生成関数\nfunction generateNewsTweet(columnText, introText) {\n  // column_text から最初のニュース記事ブロックを抽出する\n  // パターン: ### 【ニュース: タイトル（日付）】\n  const newsBlockMatch = columnText.match(/###\\s*【ニュース[:\\s：]*([^【】]+?)(?:（[^）]*）)?】[\\s\\S]*?(?=###\\s*【ニュース|##\\s*【総括|$)/);\n  \n  let tweetText = '';\n  \n  if (newsBlockMatch) {\n    const newsBlock = newsBlockMatch[0];\n    \n    // 事実概要（abstract_rewrite部分）を抽出\n    // 「によると、」または最初の文章段落を取得\n    const abstractMatch = newsBlock.match(/によると、([\\s\\S]*?)(?:\\n\\n|編集長の眼|\\*\\*編集長の眼)/);\n    const factLine = abstractMatch ? ('によると、' + abstractMatch[1].trim()) : '';\n    \n    // ニュースタイトルを取得\n    const titleMatch = newsBlock.match(/###\\s*【ニュース[:\\s：]*([^（【】\\n]+)/);\n    const newsTitle = titleMatch ? titleMatch[1].trim() : '';\n    \n    if (newsTitle && newsTitle.length > 5) {\n      // タイトルを1行目に使用\n      const firstLine = newsTitle.length <= 60 ? newsTitle : newsTitle.substring(0, 58) + '。';\n      \n      // 意味（これが意味すること）をfactLineから生成\n      let meaningLine = '';\n      if (factLine.length > 10) {\n        // 「によると、」以降の最初の文（。まで）\n        const firstSentenceMatch = factLine.match(/によると、([^。]+。)/);\n        if (firstSentenceMatch) {\n          const fact = firstSentenceMatch[1].trim();\n          // 翻訳・解釈文として整形（40字以内）\n          meaningLine = fact.length <= 45 ? fact : fact.substring(0, 43) + '…';\n        }\n      }\n      \n      // フォーマット組み立て\n      if (meaningLine) {\n        tweetText = `${firstLine}\\n\\nこれが意味すること：${meaningLine}\\n\\n詳細 →\\n\\n#AI活用 #AIサバイバル`;\n      } else {\n        tweetText = `${firstLine}\\n\\n詳細 →\\n\\n#AI活用 #AIサバイバル`;\n      }\n    }\n  }\n  \n  // フォールバック: column_textから直接最初のニュースタイトルを抽出\n  if (!tweetText || tweetText.length < 20) {\n    const fallbackTitleMatch = columnText.match(/###\\s*【ニュース[:\\s：]*([^（【】\\n]{5,70})/);\n    if (fallbackTitleMatch) {\n      const fb = fallbackTitleMatch[1].trim();\n      tweetText = `${fb}\\n\\n詳細 →\\n\\n#AI活用 #AIサバイバル`;\n    }\n  }\n  \n  // 最終フォールバック: intro_textを加工（抽象文は禁止なので最低限の加工）\n  if (!tweetText || tweetText.length < 20) {\n    // intro_textから具体的な部分を探す（固有名詞・数字パターン）\n    const specificMatch = introText.match(/[A-Z][a-zA-Z]{2,}|[0-9０-９]+[%％万億兆円ドル]|\\d{4}年/);\n    if (specificMatch) {\n      tweetText = `${introText.substring(0, 100)}\\n\\n詳細 →\\n\\n#AI活用 #AIサバイバル`;\n    } else {\n      tweetText = `詳細 →\\n\\n#AI活用 #AIサバイバル`;\n    }\n  }\n  \n  // 130字制限（ハッシュタグ除く部分）\n  const withoutHashtags = tweetText.replace(/\\n\\n#AI活用 #AIサバイバル$/, '');\n  if (withoutHashtags.length > 130) {\n    // 切り詰めて再組み立て\n    const trimmed = withoutHashtags.substring(0, 127) + '…';\n    tweetText = trimmed + '\\n\\n#AI活用 #AIサバイバル';\n  }\n  \n  return tweetText;\n}\n\nconst tweetText = generateNewsTweet(columnText, introText);\n\n// 全フィールドを引き継ぎつつ tweet_text を追加\nreturn [{\n  json: {\n    ...data,\n    tweet_text: tweetText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6448,
        -512
      ],
      "id": "news-tweet-gen-code-001",
      "name": "ニュースベースtweet生成｜Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "pioneer-wait-merge-001",
      "name": "pioneer待機Merge｜Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        5056,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// pioneer_block挿入｜Code（2026-03-19 修正版）\n// 修正内容:\n//   - pioneer_blockを「---」区切り（総括セクション境界）の「前」に挿入\n//   - 結果: ニュース本文 → 開拓者事例 → (---) → 総括 の順序になる\n\nconst mainItem = $input.first().json;\nlet columnText = mainItem.column_text || '';\n\n// pioneer_blockを取得\nlet pioneer_block = '';\nlet pioneer_url = '';\ntry {\n  const pioneerData = $('開拓者事例整形｜Code').first().json;\n  pioneer_block = pioneerData.pioneer_block || '';\n  pioneer_url = pioneerData.pioneer_url || '';\n} catch(e) {\n  pioneer_block = '';\n  pioneer_url = '';\n}\n\n// pioneer_blockをcolumn_textに挿入\n// 挿入位置: 「---\\n\\n## 【総括」の直前（---区切りの前）\nif (pioneer_block && columnText) {\n  // パターン1: ---区切り行がある場合（--- の前に挿入）\n  if (columnText.match(/---\\s*\\n.*##.*総括/s)) {\n    columnText = columnText.replace(/(---\\s*\\n)(.*##.*総括)/s, (m, dash, rest) => {\n      return pioneer_block + '\\n' + dash + rest;\n    });\n  }\n  // パターン2: ## 【総括 が直接ある場合\n  else if (columnText.includes('## 【総括') || columnText.includes('## 総括')) {\n    columnText = columnText.replace(/(?=---\\n|## 【総括|## 総括)/, pioneer_block + '\\n\\n');\n  }\n  // パターン3: どちらもない場合は末尾に追加\n  else {\n    columnText = columnText + '\\n\\n' + pioneer_block;\n  }\n}\n\nreturn [{\n  json: {\n    ...mainItem,\n    column_text: columnText,\n    pioneer_url: pioneer_url\n  }\n}];\n"
      },
      "id": "pioneer-insert-code-001",
      "name": "pioneer_block挿入｜Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5296,
        -208
      ]
    }
  ],
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:update"
  ],
  "canExecute": true
}
